Repository aws/aws-cdk, pull requests merged in 2019-01, with the labels that each got.

#1367 feat(aws-s3-deployment): Cleanup temp directory after sync
  packages/@aws-cdk/aws-s3-deployment/lambda/src/index.py
Labels: feature-request

#1574 feat(aws-ecs): Add scaling ECS service on ALB Request Count
  packages/@aws-cdk/aws-ecs/README.md
  packages/@aws-cdk/aws-ecs/lib/base/scalable-task-count.ts
  packages/@aws-cdk/aws-ecs/test/fargate/test.fargate-service.ts
Labels: ecs, feature-request

#1570 fix(aws-events): ergonomics improvements to CloudWatch Events
  examples/cdk-examples-typescript/cloudwatch-events/cdk.json
  examples/cdk-examples-typescript/cloudwatch-events/index.ts
  examples/cdk-examples-typescript/package.json
  packages/@aws-cdk/aws-events/lib/rule.ts
  packages/@aws-cdk/aws-events/test/test.rule.ts
  packages/@aws-cdk/aws-stepfunctions/lib/state-machine.ts
  packages/@aws-cdk/aws-stepfunctions/test/test.state-machine-resources.ts
Labels: events

#1597 feat(apigateway): support function alias in LambdaIntegration
  packages/@aws-cdk/aws-apigateway/lib/lambda-api.ts
  packages/@aws-cdk/aws-apigateway/test/test.lambda-api.ts
Labels: apigateway

#1563 feat(lambda-event-sources) add DynamoEventSource
  packages/@aws-cdk/aws-dynamodb/lib/table.ts
  packages/@aws-cdk/aws-dynamodb/test/test.dynamodb.ts
  packages/@aws-cdk/aws-lambda-event-sources/README.md
  packages/@aws-cdk/aws-lambda-event-sources/lib/dynamodb.ts
  packages/@aws-cdk/aws-lambda-event-sources/lib/index.ts
  packages/@aws-cdk/aws-lambda-event-sources/package.json
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.dynamodb.expected.json
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.dynamodb.ts
  packages/@aws-cdk/aws-lambda-event-sources/test/test.dynamo.ts
Labels: lambda

#1569 feat(cdk): Add Dockerfile
  .dockerignore
  CONTRIBUTING.md
  Dockerfile
Labels: toolkit

#1641 fix(toolkit): disable colors if a text terminal is not attached to stdout
  packages/aws-cdk/bin/cdk.ts
Labels: toolkit
