Repository aws/aws-cdk, pull requests merged in 2019-06, with the labels that each got.

#2769 refactor(kms): Rename EncryptionKeyAlias to Alias
  packages/@aws-cdk/aws-kms/README.md
  packages/@aws-cdk/aws-kms/lib/alias.ts
  packages/@aws-cdk/aws-kms/lib/key.ts
  packages/@aws-cdk/aws-kms/test/integ.key-sharing.lit.ts
  packages/@aws-cdk/aws-kms/test/test.alias.ts
Labels: kms

#2792 feat(lambda): Expose $LATEST function version
  packages/@aws-cdk/aws-lambda/lib/function-base.ts
  packages/@aws-cdk/aws-lambda/test/test.alias.ts
Labels: lambda

#2686 feat(aws-stepfunctions-tasks): allow specifying waitForTaskToken suffix in resourceArn
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/index.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/invoke-function.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/publish-to-topic.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/run-lambda-task.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/send-to-queue.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/integ.invoke-function.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/integ.invoke-function.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/invoke-function.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/my-lambda-handler/index.py
Labels: p0

#2917 feat(issues): new format for issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/report-a-gap-in-the-aws-construct-library.md
  .github/ISSUE_TEMPLATE/request-sample-or-ask-a-question.md
Labels: needs-review

#2811 fix(sfn) Pass: support more types for result
  packages/@aws-cdk/aws-stepfunctions-tasks/test/integ.ec2-task.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/integ.fargate-task.ts
  packages/@aws-cdk/aws-stepfunctions/lib/states/pass.ts
  packages/@aws-cdk/aws-stepfunctions/test/test.pass.ts
Labels: p0

#2771 chore(cfn2ts): Annotate generated classes as '@stable'
  tools/cfn2ts/lib/codegen.ts
Labels: cfn

#3132 fix(init): Python blank app should call app.synth(), not app.run()
  packages/aws-cdk/lib/init-templates/app/python/app.template.py
Labels: python
