Repository aws/aws-cdk, pull requests merged in 2019-03, with the labels that each got.

#1932 fix(cloudfront): Pass `viewerProtocolPolicy` to the distribution's behaviors
  packages/@aws-cdk/aws-cloudfront/lib/web_distribution.ts
  packages/@aws-cdk/aws-cloudfront/test/test.basic.ts
Labels: cloudfront

#1737 ECS private registry support design
  design/aws-ecs-priv-registry-support.md
  packages/@aws-cdk/aws-ecs/README.md
  packages/@aws-cdk/aws-ecs/lib/container-definition.ts
  packages/@aws-cdk/aws-ecs/lib/container-image.ts
  packages/@aws-cdk/aws-ecs/lib/images/asset-image.ts
  packages/@aws-cdk/aws-ecs/lib/images/dockerhub.ts
  packages/@aws-cdk/aws-ecs/lib/images/ecr.ts
  packages/@aws-cdk/aws-ecs/lib/images/repository.ts
  packages/@aws-cdk/aws-ecs/lib/index.ts
  packages/@aws-cdk/aws-ecs/lib/load-balanced-fargate-service-applet.ts
  packages/@aws-cdk/aws-ecs/package.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.lb-awsvpc-nw.ts
  packages/@aws-cdk/aws-ecs/test/ec2/integ.lb-bridge-nw.ts
  packages/@aws-cdk/aws-ecs/test/ec2/test.ec2-event-rule-target.ts
  packages/@aws-cdk/aws-ecs/test/ec2/test.ec2-service.ts
  packages/@aws-cdk/aws-ecs/test/ec2/test.ec2-task-definition.ts
  packages/@aws-cdk/aws-ecs/test/fargate/integ.l3.ts
  packages/@aws-cdk/aws-ecs/test/fargate/integ.lb-awsvpc-nw.ts
  packages/@aws-cdk/aws-ecs/test/fargate/test.fargate-service.ts
  packages/@aws-cdk/aws-ecs/test/test.container-definition.ts
  packages/@aws-cdk/aws-ecs/test/test.l3s.ts
  packages/@aws-cdk/aws-ecs/test/test.load-balanced-fargate-service.ts
  packages/decdk/examples/ecs.json
  tools/cdk-build-tools/package-lock.json
Labels: ecs

#1988 feat(glue): add L2 resources for `Database` and `Table`
  packages/@aws-cdk/aws-glue/README.md
  packages/@aws-cdk/aws-glue/lib/data-format.ts
  packages/@aws-cdk/aws-glue/lib/database.ts
  packages/@aws-cdk/aws-glue/lib/index.ts
  packages/@aws-cdk/aws-glue/lib/schema.ts
  packages/@aws-cdk/aws-glue/lib/table.ts
  packages/@aws-cdk/aws-glue/package-lock.json
  packages/@aws-cdk/aws-glue/package.json
  packages/@aws-cdk/aws-glue/test/integ.table.expected.json
  packages/@aws-cdk/aws-glue/test/integ.table.ts
  packages/@aws-cdk/aws-glue/test/test.database.ts
  packages/@aws-cdk/aws-glue/test/test.glue.ts
  packages/@aws-cdk/aws-glue/test/test.schema.ts
  packages/@aws-cdk/aws-glue/test/test.table.ts
Labels: glue

#1940 feat(core): can use Constructs to model collections of Stacks
  package-lock.json
  packages/@aws-cdk/assert/lib/inspector.ts
  packages/@aws-cdk/assert/test/test.assertions.ts
  packages/@aws-cdk/aws-apigateway/test/test.restapi.ts
  packages/@aws-cdk/aws-codepipeline/test/integ.pipeline-cfn-cross-region.expected.json
  packages/@aws-cdk/aws-ecr/test/test.repository.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/alb/test.security-groups.ts
  packages/@aws-cdk/aws-events/test/test.rule.ts
  packages/@aws-cdk/aws-glue/test/test.database.ts
  packages/@aws-cdk/aws-glue/test/test.table.ts
  packages/@aws-cdk/aws-iam/test/test.auto-cross-stack-refs.ts
  packages/@aws-cdk/aws-iam/test/test.role.ts
  packages/@aws-cdk/aws-kinesis/test/test.stream.ts
  packages/@aws-cdk/aws-kms/test/test.key.ts
  packages/@aws-cdk/aws-lambda/test/test.vpc-lambda.ts
  packages/@aws-cdk/aws-rds/test/test.cluster.ts
  packages/@aws-cdk/aws-route53/test/test.route53.ts
  packages/@aws-cdk/aws-s3/test/test.bucket.ts
  packages/@aws-cdk/aws-ses/test/test.receipt-rule-set.ts
  packages/@aws-cdk/aws-ses/test/test.receipt-rule.ts
  packages/@aws-cdk/aws-sns/test/test.sns.ts
  packages/@aws-cdk/aws-sqs/test/test.sqs.ts
  packages/@aws-cdk/cdk/lib/app.ts
  packages/@aws-cdk/cdk/lib/construct.ts
  packages/@aws-cdk/cdk/lib/stack.ts
  packages/@aws-cdk/cdk/test/test.app.ts
  packages/@aws-cdk/cdk/test/test.context.ts
  packages/@aws-cdk/cdk/test/test.output.ts
  packages/@aws-cdk/cdk/test/test.stack.ts
  packages/@aws-cdk/cdk/test/test.synthesis.ts
  packages/aws-cdk/lib/init-templates/app/csharp/src/HelloCdk/HelloStack.cs
  packages/aws-cdk/lib/init-templates/app/csharp/src/HelloCdk/Program.cs
  packages/aws-cdk/lib/init-templates/app/fsharp/src/HelloCdk/HelloStack.fs
  packages/aws-cdk/lib/init-templates/app/fsharp/src/HelloCdk/Program.fs
  packages/aws-cdk/lib/init-templates/app/java/src/main/java/com/myorg/HelloApp.java
  packages/aws-cdk/lib/init-templates/app/java/src/main/java/com/myorg/HelloStack.java
  packages/aws-cdk/lib/init-templates/app/typescript/bin/%name%.template.ts
  packages/aws-cdk/lib/init-templates/app/typescript/lib/%name%-stack.template.ts
  packages/aws-cdk/lib/init-templates/sample-app/typescript/bin/%name%.template.ts
  scripts/foreach.sh
  tools/awslint/bin/awslint.ts
  tools/awslint/lib/linter.ts
Labels: documentation

#2074 fix(serverless): rename aws-serverless to aws-sam
  packages/@aws-cdk/aws-rds/lib/rotation-single-user.ts
  packages/@aws-cdk/aws-rds/package.json
  packages/@aws-cdk/aws-sam/.gitignore
  packages/@aws-cdk/aws-sam/.npmignore
  packages/@aws-cdk/aws-sam/LICENSE
  packages/@aws-cdk/aws-sam/NOTICE
  packages/@aws-cdk/aws-sam/README.md
  packages/@aws-cdk/aws-sam/lib/index.ts
  packages/@aws-cdk/aws-sam/package.json
  packages/@aws-cdk/aws-sam/test/test.sam.ts
  packages/@aws-cdk/aws-serverless/README.md
  packages/decdk/package.json
  packages/decdk/test/schema.test.ts
  tools/awslint/lib/rules/module.ts
  tools/cfn2ts/lib/genspec.ts
Labels: serverless
