Repository aws/aws-cdk, pull requests merged in 2019-02, with the labels that each got.

#1571 feat(aws-ecs): add support for Event Targets
  packages/@aws-cdk/aws-ecs/README.md
  packages/@aws-cdk/aws-ecs/lib/base/task-definition.ts
  packages/@aws-cdk/aws-ecs/lib/cluster.ts
  packages/@aws-cdk/aws-ecs/lib/ec2/ec2-event-rule-target.ts
  packages/@aws-cdk/aws-ecs/lib/index.ts
  packages/@aws-cdk/aws-ecs/package.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.event-task.lit.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.event-task.lit.ts
  packages/@aws-cdk/aws-ecs/test/ec2/test.ec2-event-rule-target.ts
  packages/@aws-cdk/aws-ecs/test/eventhandler-image/Dockerfile
  packages/@aws-cdk/aws-ecs/test/eventhandler-image/index.py
  packages/@aws-cdk/aws-iam/lib/role.ts
  packages/@aws-cdk/aws-iam/test/test.role.ts
  packages/aws-cdk/lib/docker.ts
Labels: ecs, events

#1634 feat(serverless): add AWS::Serverless::Application to CFN spec
  packages/@aws-cdk/aws-serverless/test/test.serverless.ts
  packages/@aws-cdk/cfnspec/CHANGELOG.md
  packages/@aws-cdk/cfnspec/spec-source/000_sam.spec.json
  packages/@aws-cdk/cfnspec/spec-source/500_SAM_Serverless_Api_Authorizer_patch.json
  packages/@aws-cdk/cfnspec/spec-source/500_SAM_Serverless_Application_Location_patch.json
  packages/@aws-cdk/cfnspec/spec-source/600_RefKinds_patch.json
  packages/aws-cdk/lib/api/deploy-stack.ts
Labels: serverless

#1686 feat(secretsmanager): L2 construct for Secret
  packages/@aws-cdk/aws-secretsmanager/README.md
  packages/@aws-cdk/aws-secretsmanager/lib/index.ts
  packages/@aws-cdk/aws-secretsmanager/lib/secret.ts
  packages/@aws-cdk/aws-secretsmanager/package.json
  packages/@aws-cdk/aws-secretsmanager/test/integ.secret.lit.expected.json
  packages/@aws-cdk/aws-secretsmanager/test/integ.secret.lit.ts
  packages/@aws-cdk/aws-secretsmanager/test/test.secret.ts
  packages/@aws-cdk/aws-secretsmanager/test/test.secretsmanager.ts
  tools/cdk-build-tools/config/nycrc
Labels: gap

#1726 fix(ssm): Generate correct SSM Parameter ARN
  packages/@aws-cdk/aws-ssm/lib/parameter.ts
  packages/@aws-cdk/aws-ssm/test/integ.parameter.lit.expected.json
  packages/@aws-cdk/aws-ssm/test/test.parameter.ts
  packages/@aws-cdk/cdk/lib/cloudformation/arn.ts
  packages/@aws-cdk/cdk/test/cloudformation/test.arn.ts
Labels: bug

#1572 feat(apigateway): add methodresponse support
  packages/@aws-cdk/aws-apigateway/README.md
  packages/@aws-cdk/aws-apigateway/lib/index.ts
  packages/@aws-cdk/aws-apigateway/lib/method.ts
  packages/@aws-cdk/aws-apigateway/lib/methodresponse.ts
  packages/@aws-cdk/aws-apigateway/lib/model.ts
  packages/@aws-cdk/aws-apigateway/test/test.method.ts
Labels: apigateway, needs-additional-reviewer

#1753 feat(core): Add `construct.node.stack` attribute
  packages/@aws-cdk/app-delivery/lib/pipeline-deploy-stack-action.ts
  packages/@aws-cdk/aws-apigateway/lib/integrations/aws.ts
  packages/@aws-cdk/aws-apigateway/lib/method.ts
  packages/@aws-cdk/aws-apigateway/lib/restapi.ts
  packages/@aws-cdk/aws-apigateway/lib/stage.ts
  packages/@aws-cdk/aws-cloudformation/lib/pipeline-actions.ts
  packages/@aws-cdk/aws-cloudformation/test/test.pipeline-actions.ts
  packages/@aws-cdk/aws-cloudtrail/lib/index.ts
  packages/@aws-cdk/aws-cloudwatch/lib/dashboard.ts
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codecommit/lib/repository.ts
  packages/@aws-cdk/aws-codedeploy/lib/server/deployment-group.ts
  packages/@aws-cdk/aws-codedeploy/lib/utils.ts
  packages/@aws-cdk/aws-codepipeline/lib/pipeline.ts
  packages/@aws-cdk/aws-dynamodb/lib/table.ts
  packages/@aws-cdk/aws-ec2/lib/machine-image.ts
  packages/@aws-cdk/aws-ec2/lib/security-group.ts
  packages/@aws-cdk/aws-ec2/lib/vpc-ref.ts
  packages/@aws-cdk/aws-ecr/lib/repository-ref.ts
  packages/@aws-cdk/aws-ecs/lib/base/base-service.ts
  packages/@aws-cdk/aws-ecs/lib/cluster.ts
  packages/@aws-cdk/aws-ecs/lib/log-drivers/aws-log-driver.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-load-balancer.ts
  packages/@aws-cdk/aws-iam/lib/managed-policy.ts
  packages/@aws-cdk/aws-iam/lib/policy-document.ts
  packages/@aws-cdk/aws-iam/lib/role.ts
  packages/@aws-cdk/aws-kinesis/lib/stream.ts
  packages/@aws-cdk/aws-lambda/lib/function-base.ts
  packages/@aws-cdk/aws-lambda/lib/function.ts
  packages/@aws-cdk/aws-lambda/lib/layers.ts
  packages/@aws-cdk/aws-lambda/lib/singleton-lambda.ts
  packages/@aws-cdk/aws-logs/lib/cross-account-destination.ts
  packages/@aws-cdk/aws-logs/lib/log-group.ts
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/aws-s3/lib/notifications-resource/notifications-resource-handler.ts
  packages/@aws-cdk/aws-s3/lib/util.ts
  packages/@aws-cdk/aws-secretsmanager/lib/secret.ts
  packages/@aws-cdk/aws-sqs/lib/queue.ts
  packages/@aws-cdk/aws-sqs/package-lock.json
  packages/@aws-cdk/aws-ssm/lib/parameter.ts
  packages/@aws-cdk/aws-stepfunctions/lib/state-machine.ts
  packages/@aws-cdk/cdk/lib/cloudformation/cfn-tokens.ts
  packages/@aws-cdk/cdk/lib/cloudformation/output.ts
  packages/@aws-cdk/cdk/lib/cloudformation/stack-element.ts
  packages/@aws-cdk/cdk/lib/cloudformation/stack.ts
  packages/@aws-cdk/cdk/lib/context.ts
  packages/@aws-cdk/cdk/lib/core/construct.ts
  packages/@aws-cdk/cdk/test/cloudformation/test.stack.ts
  packages/@aws-cdk/cdk/test/core/test.construct.ts
  packages/@aws-cdk/runtime-values/lib/rtv.ts
  packages/@aws-cdk/runtime-values/test/test.rtv.ts
  tools/cfn2ts/lib/codegen.ts
  tools/decdk/package.json
Labels: breaking-change, cdk-core

#1854 fix(cloudtrail): addS3EventSelector does not expose all options
  packages/@aws-cdk/aws-cloudtrail/README.md
  packages/@aws-cdk/aws-cloudtrail/lib/index.ts
  packages/@aws-cdk/aws-cloudtrail/package.json
  packages/@aws-cdk/aws-cloudtrail/test/integ.cloudtrail.lit.expected.json
  packages/@aws-cdk/aws-cloudtrail/test/integ.cloudtrail.lit.ts
  packages/@aws-cdk/aws-cloudtrail/test/test.cloudtrail.ts
  packages/@aws-cdk/aws-codepipeline/test/integ.lambda-pipeline.ts
  tools/decdk/package.json
Labels: breaking-change
