Repository aws/aws-cdk, pull requests merged in 2019-04, with the labels that each got.

#2090 feat(VpcNetwork): support reserved subnets in subnetConfiguration
  packages/@aws-cdk/aws-ec2/README.md
  packages/@aws-cdk/aws-ec2/lib/vpc.ts
  packages/@aws-cdk/aws-ec2/test/test.vpc.ts
Labels: ec2, feature-request

#2130 feat: Add python support to cdk init
  packages/aws-cdk/lib/init-templates/app/python/%name%/%name%_stack.template.py
  packages/aws-cdk/lib/init-templates/app/python/%name%/__init__.py
  packages/aws-cdk/lib/init-templates/app/python/.gitignore
  packages/aws-cdk/lib/init-templates/app/python/README.md
  packages/aws-cdk/lib/init-templates/app/python/app.template.py
  packages/aws-cdk/lib/init-templates/app/python/cdk.json
  packages/aws-cdk/lib/init-templates/app/python/requirements.txt
  packages/aws-cdk/lib/init-templates/app/python/setup.template.py
  packages/aws-cdk/lib/init-templates/sample-app/python/.gitignore
  packages/aws-cdk/lib/init-templates/sample-app/python/README.md
  packages/aws-cdk/lib/init-templates/sample-app/python/app.py
  packages/aws-cdk/lib/init-templates/sample-app/python/cdk.json
  packages/aws-cdk/lib/init-templates/sample-app/python/hello/__init__.py
  packages/aws-cdk/lib/init-templates/sample-app/python/hello/hello_construct.py
  packages/aws-cdk/lib/init-templates/sample-app/python/hello/hello_stack.py
  packages/aws-cdk/lib/init-templates/sample-app/python/requirements.txt
  packages/aws-cdk/lib/init-templates/sample-app/python/setup.py
  packages/aws-cdk/lib/init-templates/sample-app/python/tests/__init__.py
  packages/aws-cdk/lib/init-templates/sample-app/python/tests/unit/__init__.py
  packages/aws-cdk/lib/init-templates/sample-app/python/tests/unit/test_hello_construct.py
  packages/aws-cdk/lib/init.ts
Labels: python

#2173 Remove unnecessary line in instructions.
  packages/aws-cdk/lib/init-templates/app/python/README.md
Labels: python

#2189 Fixing issues #2180 and #2183 related to Python init templates
  packages/aws-cdk/lib/init-templates/app/python/%name.PythonModule%/%name.PythonModule%_stack.template.py
  packages/aws-cdk/lib/init-templates/app/python/%name.PythonModule%/__init__.py
  packages/aws-cdk/lib/init-templates/app/python/README.md
  packages/aws-cdk/lib/init-templates/app/python/app.template.py
  packages/aws-cdk/lib/init-templates/app/python/setup.template.py
  packages/aws-cdk/lib/init-templates/sample-app/python/README.md
  packages/aws-cdk/lib/init.ts
Labels: python

#2104 feat(ec2): add support for vpc endpoints
  packages/@aws-cdk/aws-autoscaling/lib/auto-scaling-group.ts
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-ec2/README.md
  packages/@aws-cdk/aws-ec2/lib/index.ts
  packages/@aws-cdk/aws-ec2/lib/vpc-endpoint.ts
  packages/@aws-cdk/aws-ec2/lib/vpc-ref.ts
  packages/@aws-cdk/aws-ec2/lib/vpc.ts
  packages/@aws-cdk/aws-ec2/package.json
  packages/@aws-cdk/aws-ec2/test/integ.vpc-endpoint.lit.expected.json
  packages/@aws-cdk/aws-ec2/test/integ.vpc-endpoint.lit.ts
  packages/@aws-cdk/aws-ec2/test/test.vpc-endpoint.ts
  packages/@aws-cdk/aws-ec2/test/test.vpc.ts
  packages/@aws-cdk/aws-ecs/lib/base/base-service.ts
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/shared/base-load-balancer.ts
  packages/@aws-cdk/aws-lambda/lib/function.ts
  packages/@aws-cdk/aws-rds/lib/cluster.ts
  packages/@aws-cdk/aws-rds/lib/rotation-single-user.ts
Labels: ec2, gap

#2247 Simple heuristics to determine python executable name across platforms
  packages/aws-cdk/lib/init-templates/app/python/README.template.md
  packages/aws-cdk/lib/init-templates/app/python/cdk.json
  packages/aws-cdk/lib/init-templates/app/python/cdk.template.json
  packages/aws-cdk/lib/init-templates/sample-app/python/README.template.md
  packages/aws-cdk/lib/init-templates/sample-app/python/cdk.json
  packages/aws-cdk/lib/init-templates/sample-app/python/cdk.template.json
  packages/aws-cdk/lib/init.ts
Labels: bug, p0, python

#2305 fix: Use different symbol for Stack.isStack versus CfnReference.isCfnReference
  packages/@aws-cdk/cdk/lib/cfn-reference.ts
  packages/@aws-cdk/cdk/lib/reference.ts
  packages/@aws-cdk/cdk/lib/stack.ts
Labels: bug
