Repository aws/aws-cdk, pull requests merged in 2020-12, with the labels that each got.

#11749 fix(stepfunctions-tasks): instance type cannot be provided to SageMakerCreateEndpointConfig as input path
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/sagemaker/create-endpoint-config.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/create-endpoint-config.test.ts
Labels: @aws-cdk/aws-stepfunctions-tasks

#11804 chore(cfnspec): add missing CodeArtifact properties
  packages/@aws-cdk/cfnspec/spec-source/710_CodeArtifact_patch.json
Labels: @aws-cdk/cfnspec, contribution/core

#11798 fix(kinesis): Unable to use retention periods longer than 7 days
  packages/@aws-cdk/aws-kinesis/lib/stream.ts
  packages/@aws-cdk/aws-kinesis/test/stream.test.ts
Labels: @aws-cdk/aws-kinesis

#11809 feat(lambda): container images
  packages/@aws-cdk/aws-lambda/README.md
  packages/@aws-cdk/aws-lambda/lib/code.ts
  packages/@aws-cdk/aws-lambda/lib/function.ts
  packages/@aws-cdk/aws-lambda/lib/handler.ts
  packages/@aws-cdk/aws-lambda/lib/image-function.ts
  packages/@aws-cdk/aws-lambda/lib/index.ts
  packages/@aws-cdk/aws-lambda/lib/runtime.ts
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-lambda/test/code.test.ts
  packages/@aws-cdk/aws-lambda/test/docker-lambda-handler/Dockerfile
  packages/@aws-cdk/aws-lambda/test/docker-lambda-handler/app.ts
  packages/@aws-cdk/aws-lambda/test/function.test.ts
  packages/@aws-cdk/aws-lambda/test/integ.lambda.docker.expected.json
  packages/@aws-cdk/aws-lambda/test/integ.lambda.docker.ts
  packages/@aws-cdk/cfnspec/spec-source/490_Lambda_Containers_patch.json
Labels: contribution/core

#11811 chore(release): 1.76.0
  CHANGELOG.md
  version.v1.json
Labels: contribution/core, pr/no-squash

#11816 chore(merge-back): 1.76.0
  CHANGELOG.md
  packages/@aws-cdk/aws-lambda/README.md
  packages/@aws-cdk/aws-lambda/lib/code.ts
  packages/@aws-cdk/aws-lambda/lib/function.ts
  packages/@aws-cdk/aws-lambda/lib/handler.ts
  packages/@aws-cdk/aws-lambda/lib/image-function.ts
  packages/@aws-cdk/aws-lambda/lib/index.ts
  packages/@aws-cdk/aws-lambda/lib/runtime.ts
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-lambda/test/code.test.ts
  packages/@aws-cdk/aws-lambda/test/docker-lambda-handler/Dockerfile
  packages/@aws-cdk/aws-lambda/test/docker-lambda-handler/app.ts
  packages/@aws-cdk/aws-lambda/test/function.test.ts
  packages/@aws-cdk/aws-lambda/test/integ.lambda.docker.expected.json
  packages/@aws-cdk/aws-lambda/test/integ.lambda.docker.ts
  packages/@aws-cdk/cfnspec/spec-source/490_Lambda_Containers_patch.json
  version.v1.json
Labels: pr/no-squash

#11823 feat(ecs-patterns): allow to select vpc subnets for LB fargate service
  packages/@aws-cdk/aws-ecs-patterns/README.md
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/application-load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/network-load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.load-balanced-fargate-service.ts
Labels: @aws-cdk/aws-ecs-patterns

#11829 Merge branch 'master' into v2-main
  CHANGELOG.md
  packages/@aws-cdk/aws-cloudfront-origins/package.json
  packages/@aws-cdk/aws-cloudfront/package.json
  packages/@aws-cdk/aws-cloudtrail/package.json
  packages/@aws-cdk/aws-codebuild/package.json
  packages/@aws-cdk/aws-codecommit/package.json
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-ecs-patterns/README.md
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/application-load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/network-load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-events-targets/package.json
  packages/@aws-cdk/aws-kinesis/lib/stream.ts
  packages/@aws-cdk/aws-kinesis/test/stream.test.ts
  packages/@aws-cdk/aws-lambda/README.md
  packages/@aws-cdk/aws-lambda/lib/code.ts
  packages/@aws-cdk/aws-lambda/lib/function.ts
  packages/@aws-cdk/aws-lambda/lib/handler.ts
  packages/@aws-cdk/aws-lambda/lib/image-function.ts
  packages/@aws-cdk/aws-lambda/lib/index.ts
  packages/@aws-cdk/aws-lambda/lib/runtime.ts
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-lambda/test/code.test.ts
  packages/@aws-cdk/aws-lambda/test/docker-lambda-handler/Dockerfile
  packages/@aws-cdk/aws-lambda/test/docker-lambda-handler/app.ts
  packages/@aws-cdk/aws-lambda/test/function.test.ts
  packages/@aws-cdk/aws-lambda/test/integ.lambda.docker.expected.json
  packages/@aws-cdk/aws-lambda/test/integ.lambda.docker.ts
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/aws-route53/package.json
  packages/@aws-cdk/aws-sqs/package.json
  packages/@aws-cdk/cfnspec/spec-source/490_Lambda_Containers_patch.json
  packages/@aws-cdk/cfnspec/spec-source/710_CodeArtifact_patch.json
  packages/@aws-cdk/core/lib/asset-staging.ts
  packages/@aws-cdk/core/package.json
  packages/@aws-cdk/core/test/staging.test.ts
  packages/@aws-cdk/custom-resources/package.json
  packages/@monocdk-experiment/assert/package.json
  packages/@monocdk-experiment/rewrite-imports/package.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml
  packages/aws-cdk/package.json
  packages/cdk-assets/package.json
  packages/monocdk/package.json
  tools/cdk-build-tools/package.json
  tools/eslint-plugin-cdk/package.json
  tools/nodeunit-shim/package.json
  tools/yarn-cling/package.json
  version.v1.json
  yarn.lock
Labels: pr/forward-merge

#11833 chore: fix integ tests leaking bootstrap buckets
  packages/aws-cdk/test/integ/cli/cdk-helpers.ts
Labels: contribution/core

#11744 fix(events): match values in event pattern array are not deduplicated
  packages/@aws-cdk/aws-events/lib/util.ts
  packages/@aws-cdk/aws-events/test/test.rule.ts
  packages/@aws-cdk/aws-events/test/test.util.ts
Labels: @aws-cdk/aws-events

#11661 feat(apigatewayv2): private integration with imported services
  packages/@aws-cdk/aws-apigatewayv2-integrations/README.md
  packages/@aws-cdk/aws-apigatewayv2-integrations/lib/http/alb.ts
  packages/@aws-cdk/aws-apigatewayv2-integrations/lib/http/nlb.ts
  packages/@aws-cdk/aws-apigatewayv2-integrations/lib/http/service-discovery.ts
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/alb.test.ts
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/nlb.test.ts
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/service-discovery.test.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/vpc-link.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/vpc-link.test.ts
Labels: @aws-cdk/aws-apigatewayv2, contribution/core

#11807 fix(core): custom resource providers cannot be used in CDK Pipelines
  packages/@aws-cdk/core/lib/asset-staging.ts
  packages/@aws-cdk/core/lib/custom-resource-provider/custom-resource-provider.ts
  packages/@aws-cdk/core/test/custom-resource-provider/custom-resource-provider.test.ts
Labels: @aws-cdk/core, contribution/core

#11789 fix(iam): OIDC provider cannot be imported from parameter
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-iam/lib/oidc-provider.ts
  packages/@aws-cdk/aws-iam/test/oidc-provider.test.ts
  packages/@aws-cdk/aws-s3/test/util.test.ts
  packages/@aws-cdk/core/lib/arn.ts
  packages/@aws-cdk/core/lib/stack.ts
  packages/@aws-cdk/core/test/arn.test.ts
  packages/@aws-cdk/core/test/evaluate-cfn.ts
Labels: @aws-cdk/aws-iam, contribution/core

#11741 feat(codepipeline-actions): support `executeBatchBuild` on `CodeBuildAction`
  packages/@aws-cdk/aws-codepipeline-actions/README.md
  packages/@aws-cdk/aws-codepipeline-actions/lib/codebuild/build-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/codebuild/test.codebuild-action.ts
Labels: @aws-cdk/aws-codepipeline-actions

#11691 chore: remove packaging prerequisites requirements from build
  build.sh
  pack.sh
  scripts/check-build-prerequisites.sh
  scripts/check-pack-prerequisites.sh
Labels: contribution/core

#11847 docs(lambda): fix link for bundling asset code
  packages/@aws-cdk/aws-lambda/README.md
Labels: @aws-cdk/aws-lambda, pr-linter/exempt-test

#11830 docs(lambda): fix docker image function example
  packages/@aws-cdk/aws-lambda/README.md
Labels: @aws-cdk/aws-lambda

#11752 feat(cognito): user pool client - token validity
  packages/@aws-cdk/aws-cognito/README.md
  packages/@aws-cdk/aws-cognito/lib/user-pool-client.ts
  packages/@aws-cdk/aws-cognito/test/user-pool-client.test.ts
Labels: @aws-cdk/aws-cognito

#11869 Merge branch 'master' into v2-main
  build.sh
  pack.sh
  packages/@aws-cdk/aws-cognito/README.md
  packages/@aws-cdk/aws-cognito/lib/user-pool-client.ts
  packages/@aws-cdk/aws-cognito/test/user-pool-client.test.ts
  packages/@aws-cdk/aws-lambda/README.md
  scripts/check-build-prerequisites.sh
  scripts/check-pack-prerequisites.sh
Labels: pr/forward-merge

#11850 feat(lambda-python): support poetry packaging for PythonFunction
  packages/@aws-cdk/aws-lambda-python/README.md
  packages/@aws-cdk/aws-lambda-python/lib/Dockerfile.dependencies
  packages/@aws-cdk/aws-lambda-python/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-python/test/bundling.test.ts
  packages/@aws-cdk/aws-lambda-python/test/integ.function.poetry.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.poetry.ts
  packages/@aws-cdk/aws-lambda-python/test/lambda-handler-poetry/index.py
  packages/@aws-cdk/aws-lambda-python/test/lambda-handler-poetry/poetry.lock
  packages/@aws-cdk/aws-lambda-python/test/lambda-handler-poetry/pyproject.toml
Labels: @aws-cdk/aws-lambda-python

#11822 feat(cfn-include): preserve properties of resources that are not in the current CFN schema
  packages/@aws-cdk/cloudformation-include/test/test-templates/properties-not-in-cfn-spec.json
  packages/@aws-cdk/cloudformation-include/test/valid-templates.test.ts
  packages/@aws-cdk/core/lib/cfn-parse.ts
  tools/cfn2ts/lib/codegen.ts
Labels: @aws-cdk/cloudformation-include, contribution/core, pr-linter/exempt-readme

#11882 feat: the cloudformation-include module is now Generally Available (stable)
  packages/@aws-cdk/cloudformation-include/README.md
  packages/@aws-cdk/cloudformation-include/package.json
  packages/@aws-cdk/core/lib/cfn-include.ts
Labels: contribution/core, pr-linter/exempt-test

#11888 Merge branch 'master' into v2-main
  packages/@aws-cdk/aws-cloudfront-origins/package.json
  packages/@aws-cdk/aws-cloudfront/package.json
  packages/@aws-cdk/aws-cloudtrail/package.json
  packages/@aws-cdk/aws-codebuild/package.json
  packages/@aws-cdk/aws-codecommit/package.json
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-events-targets/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-lambda-python/README.md
  packages/@aws-cdk/aws-lambda-python/lib/Dockerfile.dependencies
  packages/@aws-cdk/aws-lambda-python/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-python/test/bundling.test.ts
  packages/@aws-cdk/aws-lambda-python/test/integ.function.poetry.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.poetry.ts
  packages/@aws-cdk/aws-lambda-python/test/lambda-handler-poetry/index.py
  packages/@aws-cdk/aws-lambda-python/test/lambda-handler-poetry/poetry.lock
  packages/@aws-cdk/aws-lambda-python/test/lambda-handler-poetry/pyproject.toml
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/aws-route53/package.json
  packages/@aws-cdk/aws-sqs/package.json
  packages/@aws-cdk/cloud-assembly-schema/package.json
  packages/@aws-cdk/cloudformation-include/README.md
  packages/@aws-cdk/cloudformation-include/package.json
  packages/@aws-cdk/cloudformation-include/test/test-templates/properties-not-in-cfn-spec.json
  packages/@aws-cdk/cloudformation-include/test/valid-templates.test.ts
  packages/@aws-cdk/core/lib/cfn-include.ts
  packages/@aws-cdk/core/lib/cfn-parse.ts
  packages/@aws-cdk/custom-resources/package.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/package.json
  packages/cdk-assets/package.json
  packages/monocdk/package.json
  tools/cfn2ts/lib/codegen.ts
  yarn.lock
Labels: pr/forward-merge

#11891 test(aws-lambda-python): consolidate integration tests for pipenv
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv-inline.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv-inline.ts
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.py27.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.py27.ts
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.py38.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.py38.ts
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.ts
Labels: @aws-cdk/aws-lambda-python

#11894 Merge branch 'master' into v2-main
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv-inline.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv-inline.ts
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.py27.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.py27.ts
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.py38.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.py38.ts
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.ts
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-assets/package.json
  packages/decdk/package.json
  tools/cdk-build-tools/package.json
  tools/cdk-integ-tools/package.json
  tools/cfn2ts/package.json
  tools/pkglint/package.json
  tools/pkgtools/package.json
  yarn.lock
Labels: pr/forward-merge

#11899 fix(core): floating list tokens synthesize to template
  packages/@aws-cdk/core/lib/private/resolve.ts
  packages/@aws-cdk/core/test/tokens.test.ts
Labels: @aws-cdk/core, contribution/core

#11900 Merge branch 'master' into v2-main
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  yarn.lock
Labels: pr/forward-merge

#11879 feat(cloudfront): responseHttpStatus defaults to httpStatus in errorResponses
  packages/@aws-cdk/aws-cloudfront/lib/distribution.ts
  packages/@aws-cdk/aws-cloudfront/test/distribution.test.ts
Labels: @aws-cdk/aws-cloudfront, pr-linter/exempt-readme

#11907 chore(merge-back): 1.77.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash

#11909 fix(core): autogenerated exports do not account for stack name length
  packages/@aws-cdk/core/lib/cfn-output.ts
  packages/@aws-cdk/core/lib/private/refs.ts
  packages/@aws-cdk/core/test/output.test.ts
  packages/@aws-cdk/core/test/stack.test.ts
Labels: @aws-cdk/core, contribution/core

#11911 chore(kms): convert kms tests from nodeunit to jest
  packages/@aws-cdk/aws-kms/.gitignore
  packages/@aws-cdk/aws-kms/.npmignore
  packages/@aws-cdk/aws-kms/jest.config.js
  packages/@aws-cdk/aws-kms/lib/alias.ts
  packages/@aws-cdk/aws-kms/package.json
  packages/@aws-cdk/aws-kms/test/alias.test.ts
  packages/@aws-cdk/aws-kms/test/key.test.ts
  packages/@aws-cdk/aws-kms/test/test.alias.ts
  packages/@aws-cdk/aws-kms/test/test.key.ts
  packages/@aws-cdk/aws-kms/test/test.via-service-principal.ts
  packages/@aws-cdk/aws-kms/test/via-service-principal.test.ts
Labels: @aws-cdk/aws-kms, contribution/core

#11919 feat(cloudfront): the Distribution construct is now Generally Available (stable)
  packages/@aws-cdk/aws-cloudfront/README.md
  packages/@aws-cdk/aws-cloudfront/lib/cache-policy.ts
  packages/@aws-cdk/aws-cloudfront/lib/distribution.ts
  packages/@aws-cdk/aws-cloudfront/lib/origin-request-policy.ts
  packages/@aws-cdk/aws-cloudfront/lib/origin.ts
  packages/@aws-cdk/aws-cloudfront/lib/web_distribution.ts
  packages/@aws-cdk/aws-cloudfront/package.json
Labels: @aws-cdk/aws-cloudfront, contribution/core, pr-linter/exempt-test

#10111 feat(appsync): support appsync functions for pipelineConfig
  packages/@aws-cdk/aws-appsync/README.md
  packages/@aws-cdk/aws-appsync/lib/appsync-function.ts
  packages/@aws-cdk/aws-appsync/lib/data-source.ts
  packages/@aws-cdk/aws-appsync/lib/graphqlapi-base.ts
  packages/@aws-cdk/aws-appsync/lib/index.ts
  packages/@aws-cdk/aws-appsync/lib/resolver.ts
  packages/@aws-cdk/aws-appsync/lib/schema-base.ts
  packages/@aws-cdk/aws-appsync/lib/schema-field.ts
  packages/@aws-cdk/aws-appsync/lib/schema-intermediate.ts
  packages/@aws-cdk/aws-appsync/lib/schema.ts
  packages/@aws-cdk/aws-appsync/package.json
  packages/@aws-cdk/aws-appsync/test/appsync-lambda.test.ts
  packages/@aws-cdk/aws-appsync/test/appsync-object-type.test.ts
  packages/@aws-cdk/aws-appsync/test/appsync.test.ts
  packages/@aws-cdk/aws-appsync/test/integ.api-import.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.api-import.ts
  packages/@aws-cdk/aws-appsync/test/integ.auth-apikey.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-iam.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-schema.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-schema.ts
  packages/@aws-cdk/aws-appsync/test/integ.graphql.expected.json
Labels: @aws-cdk/aws-appsync, contribution/core

#11563 feat(appmesh): add ClientPolicy to VirtualNode, VirtualGateway and VirtualService
  packages/@aws-cdk/aws-acmpca/lib/certificate-authority.ts
  packages/@aws-cdk/aws-acmpca/lib/index.ts
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/client-policy.ts
  packages/@aws-cdk/aws-appmesh/lib/index.ts
  packages/@aws-cdk/aws-appmesh/lib/shared-interfaces.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-gateway.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-node.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-service.ts
  packages/@aws-cdk/aws-appmesh/package.json
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.expected.json
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-gateway.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-node.ts
Labels: @aws-cdk/aws-appmesh

#11795 feat(ecs): introduce a new Image type, TagParameterContainerImage, to be used in CodePipeline
  packages/@aws-cdk/aws-codepipeline-actions/README.md
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-ecs-separate-source.lit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-ecs-separate-source.lit.ts
  packages/@aws-cdk/aws-ecs/lib/images/tag-parameter-container-image.ts
  packages/@aws-cdk/aws-ecs/lib/index.ts
  packages/@aws-cdk/aws-ecs/test/images/test.tag-parameter-container-image.ts
Labels: @aws-cdk/aws-ecs, contribution/core

#11924 feat(codeguruprofiler): the CodeGuru Profiler Construct Library is now Generally Available (stable)
  packages/@aws-cdk/aws-codeguruprofiler/README.md
  packages/@aws-cdk/aws-codeguruprofiler/package.json
Labels: @aws-cdk/aws-codeguruprofiler, contribution/core, pr-linter/exempt-test

#11906 chore(pipelines): test to make sure environment variables behave sanely
  packages/@aws-cdk/pipelines/test/builds.test.ts
Labels: @aws-cdk/pipelines, contribution/core

#11717 chore: use "canned metrics" obtained from CloudWatch Explorer
  packages/@aws-cdk/aws-apigateway/lib/restapi.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/api.ts
  packages/@aws-cdk/aws-cloudwatch/lib/metric.ts
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-dynamodb/lib/table.ts
  packages/@aws-cdk/aws-ecs/lib/cluster.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-load-balancer.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-target-group.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/nlb/network-load-balancer.ts
  packages/@aws-cdk/aws-elasticsearch/lib/domain.ts
  packages/@aws-cdk/aws-stepfunctions/lib/activity.ts
  packages/@aws-cdk/aws-stepfunctions/lib/state-machine.ts
  packages/@aws-cdk/aws-synthetics/lib/canary.ts
  packages/@aws-cdk/cfnspec/build-tools/update-metrics.sh
  packages/@aws-cdk/cfnspec/lib/canned-metrics.ts
  packages/@aws-cdk/cfnspec/lib/canned-metrics/README.md
  packages/@aws-cdk/cfnspec/lib/canned-metrics/canned-metrics-schema.ts
  packages/@aws-cdk/cfnspec/lib/canned-metrics/services.json
  packages/@aws-cdk/cfnspec/lib/index.ts
  packages/@aws-cdk/cfnspec/package.json
  packages/@aws-cdk/cfnspec/test/test.canned-metrics.ts
  tools/cfn2ts/lib/augmentation-generator.ts
  tools/cfn2ts/lib/canned-metrics-generator.ts
  tools/cfn2ts/lib/index.ts
Labels: contribution/core

#11917 fix(codebuild): incorrect SSM Parameter ARN in Project's IAM permissions
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codebuild/test/test.project.ts
Labels: @aws-cdk/aws-codebuild

#11941 fix(synthetics): `metricFailed` uses `Average` instead of `Sum` by default
  packages/@aws-cdk/aws-synthetics/lib/canary.ts
  packages/@aws-cdk/aws-synthetics/test/metric.test.ts
Labels: @aws-cdk/aws-synthetics, contribution/core

#11955 Merge branch 'master' into v2-main
  packages/@aws-cdk/aws-apigateway/lib/restapi.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/api.ts
  packages/@aws-cdk/aws-cloudwatch/lib/metric.ts
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codebuild/test/test.project.ts
  packages/@aws-cdk/aws-dynamodb/lib/table.ts
  packages/@aws-cdk/aws-ecs/lib/cluster.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-load-balancer.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-target-group.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/nlb/network-load-balancer.ts
  packages/@aws-cdk/aws-elasticsearch/lib/domain.ts
  packages/@aws-cdk/aws-stepfunctions/lib/activity.ts
  packages/@aws-cdk/aws-stepfunctions/lib/state-machine.ts
  packages/@aws-cdk/aws-synthetics/lib/canary.ts
  packages/@aws-cdk/aws-synthetics/test/metric.test.ts
  packages/@aws-cdk/cfnspec/build-tools/update-metrics.sh
  packages/@aws-cdk/cfnspec/lib/canned-metrics.ts
  packages/@aws-cdk/cfnspec/lib/canned-metrics/README.md
  packages/@aws-cdk/cfnspec/lib/canned-metrics/canned-metrics-schema.ts
  packages/@aws-cdk/cfnspec/lib/canned-metrics/services.json
  packages/@aws-cdk/cfnspec/lib/index.ts
  packages/@aws-cdk/cfnspec/package.json
  packages/@aws-cdk/cfnspec/test/test.canned-metrics.ts
  packages/@aws-cdk/pipelines/test/builds.test.ts
  packages/aws-cdk/lib/init-templates/v1/app/java/pom.template.xml
  packages/aws-cdk/lib/init-templates/v1/sample-app/java/pom.template.xml
  packages/aws-cdk/lib/init-templates/v2/app/java/pom.template.xml
  packages/aws-cdk/lib/init-templates/v2/sample-app/java/pom.template.xml
  tools/cfn2ts/lib/augmentation-generator.ts
  tools/cfn2ts/lib/canned-metrics-generator.ts
  tools/cfn2ts/lib/index.ts
Labels: pr/forward-merge, pr/no-squash

#11957 fix(eks): kubectl provider out-of-memory for large manifests/charts (now 1GiB)
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/lib/kubectl-provider.ts
  packages/@aws-cdk/aws-eks/test/test.cluster.ts
Labels: @aws-cdk/aws-eks, contribution/core

#11953 docs(iam): typo on AuthorizationToken documentation
  packages/@aws-cdk/aws-ecr/README.md
Labels: @aws-cdk/aws-iam

#11799 fix(apigateway): base path url cannot contain upper case characters
  packages/@aws-cdk/aws-apigateway/lib/base-path-mapping.ts
  packages/@aws-cdk/aws-apigateway/test/base-path-mapping.test.ts
Labels: @aws-cdk/aws-apigateway

#11918 feat(kms): change default key policy to align with KMS best practices (under feature flag)
  packages/@aws-cdk/aws-kms/README.md
  packages/@aws-cdk/aws-kms/lib/key.ts
  packages/@aws-cdk/aws-kms/lib/private/perms.ts
  packages/@aws-cdk/aws-kms/package.json
  packages/@aws-cdk/aws-kms/test/key.test.ts
  packages/@aws-cdk/cx-api/lib/features.ts
Labels: @aws-cdk/aws-kms, contribution/core, pr/requires-two-approvers

#11771 feat(batch): Log configuration for job definitions
  packages/@aws-cdk/aws-batch/README.md
  packages/@aws-cdk/aws-batch/lib/exposed-secret.ts
  packages/@aws-cdk/aws-batch/lib/index.ts
  packages/@aws-cdk/aws-batch/lib/job-definition.ts
  packages/@aws-cdk/aws-batch/package.json
  packages/@aws-cdk/aws-batch/test/job-definition.test.ts
Labels: @aws-cdk/aws-batch

#9151 fix(ecs): cannot disable container insights of an ECS cluster
  packages/@aws-cdk/aws-ecs/lib/cluster.ts
  packages/@aws-cdk/aws-ecs/test/test.ecs-cluster.ts
Labels: @aws-cdk/aws-ecs

#11971 chore(ecs): constantize containerInsights setting
  packages/@aws-cdk/aws-ecs/lib/cluster.ts
  packages/@aws-cdk/aws-ecs/test/test.ecs-cluster.ts
Labels: @aws-cdk/aws-ecs, contribution/core

#11926 feat(appmesh): change Virtual Node service discovery to a union-like class
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/appmesh.ts
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/index.ts
  packages/@aws-cdk/aws-appmesh/lib/service-discovery.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-node.ts
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.ts
  packages/@aws-cdk/aws-appmesh/test/test.health-check.ts
  packages/@aws-cdk/aws-appmesh/test/test.mesh.ts
  packages/@aws-cdk/aws-appmesh/test/test.route.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-node.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-router.ts
Labels: @aws-cdk/aws-appmesh

#11983 Merge branch 'master' into v2-main
  .mergify.yml
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/appmesh.ts
  packages/@aws-cdk/aws-apigateway/lib/base-path-mapping.ts
  packages/@aws-cdk/aws-apigateway/test/base-path-mapping.test.ts
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/index.ts
  packages/@aws-cdk/aws-appmesh/lib/service-discovery.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-node.ts
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.ts
  packages/@aws-cdk/aws-appmesh/test/test.health-check.ts
  packages/@aws-cdk/aws-appmesh/test/test.mesh.ts
  packages/@aws-cdk/aws-appmesh/test/test.route.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-node.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-router.ts
  packages/@aws-cdk/aws-batch/README.md
  packages/@aws-cdk/aws-batch/lib/exposed-secret.ts
  packages/@aws-cdk/aws-batch/lib/index.ts
  packages/@aws-cdk/aws-batch/lib/job-definition.ts
  packages/@aws-cdk/aws-batch/package.json
  packages/@aws-cdk/aws-batch/test/job-definition.test.ts
  packages/@aws-cdk/aws-ecr/README.md
  packages/@aws-cdk/aws-ecs/lib/cluster.ts
  packages/@aws-cdk/aws-ecs/test/test.ecs-cluster.ts
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/lib/kubectl-provider.ts
  packages/@aws-cdk/aws-eks/test/test.cluster.ts
  packages/@aws-cdk/aws-kms/README.md
  packages/@aws-cdk/aws-kms/lib/key.ts
  packages/@aws-cdk/aws-kms/lib/private/perms.ts
  packages/@aws-cdk/aws-kms/package.json
  packages/@aws-cdk/aws-kms/test/key.test.ts
  packages/@aws-cdk/cx-api/lib/features.ts
Labels: pr/forward-merge, pr/no-squash

#11982 chore(lambda-nodejs): reorganize and improve README
  packages/@aws-cdk/aws-lambda-nodejs/README.md
Labels: @aws-cdk/aws-lambda-nodejs

#11834 feat(s3): add support to set bucket OwnershipControls
  packages/@aws-cdk/aws-s3/README.md
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/aws-s3/test/bucket.test.ts
Labels: @aws-cdk/aws-s3

#11932 feat(eks): kubernetes resource pruning
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/lib/k8s-manifest.ts
  packages/@aws-cdk/aws-eks/lib/kubectl-handler/apply/__init__.py
  packages/@aws-cdk/aws-eks/lib/legacy-cluster.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster-private-endpoint.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/integ.fargate-cluster.ts
  packages/@aws-cdk/aws-eks/test/test.awsauth.ts
  packages/@aws-cdk/aws-eks/test/test.cluster.ts
  packages/@aws-cdk/aws-eks/test/test.fargate.ts
  packages/@aws-cdk/aws-eks/test/test.k8s-manifest.ts
  packages/@aws-cdk/aws-eks/test/test.nodegroup.ts
  packages/@aws-cdk/aws-eks/test/test.service-account.ts
  packages/@aws-cdk/aws-eks/test/util.ts
Labels: @aws-cdk/aws-eks, contribution/core

#11989 chore(apigatewayv2): rename 'domainName' to 'name' in the DomainName construct
  packages/@aws-cdk/aws-apigatewayv2/lib/common/domain-name.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/api-mapping.ts
  packages/@aws-cdk/aws-apigatewayv2/package.json
  packages/@aws-cdk/aws-apigatewayv2/test/http/domain-name.test.ts
Labels: @aws-cdk/aws-apigatewayv2, contribution/core

#11938 docs(apigateway): Typo fix in comments
  packages/@aws-cdk/aws-apigateway/lib/resource.ts
Labels: @aws-cdk/aws-apigateway

#11993 chore(cxapi): use enums in tests instead of strings to match type
  packages/@aws-cdk/cx-api/test/cloud-assembly-builder.test.ts
Labels: @aws-cdk/cx-api, contribution/core

#11990 chore: jest/recommended linter rules and fixes
  packages/@aws-cdk/aws-appsync/test/appsync-auth.test.ts
  packages/@aws-cdk/aws-appsync/test/appsync-code-first.test.ts
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
  packages/@aws-cdk/aws-efs/test/access-point.test.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/alb/load-balancer.test.ts
  packages/aws-cdk/test/api/sdk-provider.test.ts
  packages/aws-cdk/test/diff.test.ts
  packages/cdk-assets/test/archive.test.ts
  tools/cdk-build-tools/config/eslintrc.js
  tools/cdk-build-tools/package.json
  tools/cfn2ts/test/gen.test.ts
Labels: contribution/core

#11980 chore(dynamodb): add metricSystemErrorsForOperations to ITable
  packages/@aws-cdk/aws-dynamodb/lib/table.ts
Labels: @aws-cdk/aws-dynamodb

#11820 fix(ecs): remove Fargate environment files restriction
  packages/@aws-cdk/aws-ecs/lib/container-definition.ts
  packages/@aws-cdk/aws-ecs/test/test.container-definition.ts
Labels: @aws-cdk/aws-ecs

#12005 fix(ecs-patterns): correctly set LB name on ALB MultipleTargetGroup patterns
  packages/@aws-cdk/aws-ecs-patterns/lib/base/application-multiple-target-groups-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/integ.multiple-application-load-balanced-ecs-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.l3s-v2.ts
Labels: @aws-cdk/aws-ecs-patterns, bug

#12008 Merge branch 'master' into v2-main
  packages/@aws-cdk/aws-apigateway/lib/resource.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/common/domain-name.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/api-mapping.ts
  packages/@aws-cdk/aws-apigatewayv2/package.json
  packages/@aws-cdk/aws-apigatewayv2/test/http/domain-name.test.ts
  packages/@aws-cdk/aws-appsync/test/appsync-auth.test.ts
  packages/@aws-cdk/aws-appsync/test/appsync-code-first.test.ts
  packages/@aws-cdk/aws-dynamodb/lib/table.ts
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/base/application-multiple-target-groups-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/integ.multiple-application-load-balanced-ecs-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.l3s-v2.ts
  packages/@aws-cdk/aws-ecs/lib/container-definition.ts
  packages/@aws-cdk/aws-ecs/test/test.container-definition.ts
  packages/@aws-cdk/aws-efs/test/access-point.test.ts
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/lib/k8s-manifest.ts
  packages/@aws-cdk/aws-eks/lib/kubectl-handler/apply/__init__.py
  packages/@aws-cdk/aws-eks/lib/legacy-cluster.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster-private-endpoint.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/integ.fargate-cluster.ts
  packages/@aws-cdk/aws-eks/test/test.awsauth.ts
  packages/@aws-cdk/aws-eks/test/test.cluster.ts
  packages/@aws-cdk/aws-eks/test/test.fargate.ts
  packages/@aws-cdk/aws-eks/test/test.k8s-manifest.ts
  packages/@aws-cdk/aws-eks/test/test.nodegroup.ts
  packages/@aws-cdk/aws-eks/test/test.service-account.ts
  packages/@aws-cdk/aws-eks/test/util.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/alb/load-balancer.test.ts
  packages/@aws-cdk/aws-lambda-nodejs/README.md
  packages/@aws-cdk/aws-s3/README.md
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/aws-s3/test/bucket.test.ts
  packages/@aws-cdk/cx-api/test/cloud-assembly-builder.test.ts
  packages/aws-cdk/test/api/sdk-provider.test.ts
  packages/aws-cdk/test/diff.test.ts
  packages/cdk-assets/test/archive.test.ts
  tools/cdk-build-tools/config/eslintrc.js
  tools/cdk-build-tools/package.json
  tools/cfn2ts/test/gen.test.ts
  yarn.lock
Labels: pr/forward-merge, pr/no-squash

#11997 feat(cloudfront-origins): ability to specify minimum origin SSL protocol
  packages/@aws-cdk/aws-cloudfront-origins/lib/http-origin.ts
  packages/@aws-cdk/aws-cloudfront-origins/test/http-origin.test.ts
  packages/@aws-cdk/aws-cloudfront-origins/test/integ.http-origin.expected.json
  packages/@aws-cdk/aws-cloudfront-origins/test/integ.load-balancer-origin.expected.json
  packages/@aws-cdk/aws-cloudfront-origins/test/integ.origin-group.expected.json
  packages/@aws-cdk/aws-cloudfront-origins/test/load-balancer-origin.test.ts
  packages/@aws-cdk/aws-cloudfront-origins/test/s3-origin.test.ts
Labels: @aws-cdk/aws-cloudfront, @aws-cdk/aws-cloudfront-origins, pr-linter/exempt-readme

#12011 feat(cloudfront-origins): CloudFront Origins is now Generally Available
  packages/@aws-cdk/aws-cloudfront-origins/README.md
  packages/@aws-cdk/aws-cloudfront-origins/lib/http-origin.ts
  packages/@aws-cdk/aws-cloudfront-origins/lib/load-balancer-origin.ts
  packages/@aws-cdk/aws-cloudfront-origins/lib/s3-origin.ts
  packages/@aws-cdk/aws-cloudfront-origins/package.json
Labels: @aws-cdk/aws-cloudfront-origins, contribution/core, pr-linter/exempt-test

#12013 chore: add CHANGELOG entry for 2.0.0-alpha.0
  CHANGELOG.v2.md
Labels: contribution/core

#11966 fix(cli): cross-account deployment no longer works
  packages/aws-cdk/lib/api/aws-auth/account-cache.ts
  packages/aws-cdk/lib/api/aws-auth/aws-sdk-inifile.ts
  packages/aws-cdk/lib/api/aws-auth/credential-plugins.ts
  packages/aws-cdk/lib/api/aws-auth/sdk-provider.ts
  packages/aws-cdk/lib/api/aws-auth/sdk.ts
  packages/aws-cdk/lib/api/cloudformation-deployments.ts
  packages/aws-cdk/lib/util/asset-publishing.ts
  packages/aws-cdk/package.json
  packages/aws-cdk/test/api/cloudformation-deployments.test.ts
  packages/aws-cdk/test/api/fake-sts.ts
  packages/aws-cdk/test/api/sdk-provider.test.ts
  yarn.lock
Labels: contribution/core, package/tools

#12010 chore(rds): added missing AuroraMysqlEngineVersion version 2.09.1
  packages/@aws-cdk/aws-rds/lib/cluster-engine.ts
Labels: @aws-cdk/aws-rds

#12026 revert: "Merge pull request #12005 from SoManyHs/logemann-issue_8464"
  packages/@aws-cdk/aws-ecs-patterns/lib/base/application-multiple-target-groups-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/integ.multiple-application-load-balanced-ecs-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.l3s-v2.ts
Labels: contribution/core

#12029 chore(cli): correctly install dependencies in integ tests after refactor
  packages/aws-cdk/.npmignore
  packages/aws-cdk/test/integ/common/jest-test.bash
Labels: contribution/core, package/tools

#12014 chore(route53-patterns): block public access in redirect bucket
  packages/@aws-cdk/aws-route53-patterns/lib/website-redirect.ts
  packages/@aws-cdk/aws-route53-patterns/test/bucket-website-target.test.ts
Labels: @aws-cdk/aws-route53-patterns

#12036 chore(merge-back): 1.78.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash

#12027 feat(ec2): add r5b instance type to instance class
  packages/@aws-cdk/aws-ec2/lib/instance-types.ts
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme, pr-linter/exempt-test

#12053 fix(eks): k8s resources accidentally deleted due to logical ID change
  packages/@aws-cdk/aws-eks/lib/kubectl-handler/apply/__init__.py
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
Labels: @aws-cdk/aws-eks, contribution/core, pr-linter/exempt-test

#12055 fix(elasticsearch): Defining 2 domains with logging enabled in the same stack fails on construct id conflict
  packages/@aws-cdk/aws-elasticsearch/lib/domain.ts
  packages/@aws-cdk/aws-elasticsearch/test/domain.test.ts
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.expected.json
Labels: @aws-cdk/aws-elasticsearch

#12035 feat(s3-deployment): support vpc in BucketDeploymentProps
  packages/@aws-cdk/aws-s3-deployment/lib/bucket-deployment.ts
  packages/@aws-cdk/aws-s3-deployment/package.json
  packages/@aws-cdk/aws-s3-deployment/test/bucket-deployment.test.ts
Labels: @aws-cdk/aws-s3-deployment, pr-linter/exempt-readme

#11992 docs(efs): README and doc string refresh
  packages/@aws-cdk/aws-efs/README.md
  packages/@aws-cdk/aws-efs/lib/access-point.ts
  packages/@aws-cdk/aws-efs/lib/efs-file-system.ts
  packages/@aws-cdk/aws-efs/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-efs/rosetta/with-filesystem-instance.ts-fixture
Labels: @aws-cdk/aws-efs, contribution/core

#12040 fix(ec2): 'encoded list token' error using Vpc imported from deploy-time lists
  packages/@aws-cdk/aws-autoscaling/test/auto-scaling-group.test.ts
  packages/@aws-cdk/aws-ec2/lib/vpc.ts
  packages/@aws-cdk/aws-ec2/test/vpc.test.ts
Labels: @aws-cdk/aws-ec2, contribution/core

#11454 feat(ivs): add IVS L2 Constructs
  packages/@aws-cdk/aws-ivs/README.md
  packages/@aws-cdk/aws-ivs/lib/channel.ts
  packages/@aws-cdk/aws-ivs/lib/index.ts
  packages/@aws-cdk/aws-ivs/lib/playback-key-pair.ts
  packages/@aws-cdk/aws-ivs/lib/stream-key.ts
  packages/@aws-cdk/aws-ivs/package.json
  packages/@aws-cdk/aws-ivs/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-ivs/rosetta/with-channel.ts-fixture
  packages/@aws-cdk/aws-ivs/test/integ.ivs.expected.json
  packages/@aws-cdk/aws-ivs/test/integ.ivs.ts
  packages/@aws-cdk/aws-ivs/test/ivs.test.ts
Labels: @aws-cdk/aws-ivs, pr/requires-two-approvers

#12001 chore(core): show Docker build output for BundlingDockerImage.fromAsset()
  packages/@aws-cdk/core/lib/bundling.ts
  packages/@aws-cdk/core/test/bundling.test.ts
Labels: @aws-cdk/core

#11923 feat(core): expose custom resource provider's role
  packages/@aws-cdk/core/README.md
  packages/@aws-cdk/core/lib/custom-resource-provider/custom-resource-provider.ts
  packages/@aws-cdk/core/test/custom-resource-provider/custom-resource-provider.test.ts
Labels: @aws-cdk/core

#11857 fix(ec2): fromInterfaceVpcEndpointAttributes: Security Groups should not be required
  packages/@aws-cdk/aws-ec2/lib/vpc-endpoint.ts
  packages/@aws-cdk/aws-ec2/test/vpc-endpoint.test.ts
Labels: @aws-cdk/aws-ec2

#11893 feat(lambda): encryption key for environment variables
  packages/@aws-cdk/aws-lambda/lib/function.ts
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-lambda/test/function.test.ts
Labels: @aws-cdk/aws-lambda, pr-linter/exempt-readme

#11553 fix(stepfunctions-tasks): policies created for EMR tasks have ARNs that are not partition-aware
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/emr/emr-add-step.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/emr/emr-cancel-step.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/emr/emr-modify-instance-fleet-by-name.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/emr/emr-modify-instance-group-by-name.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/emr/emr-set-cluster-termination-protection.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/emr/emr-terminate-cluster.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-add-step.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-cancel-step.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-modify-instance-fleet-by-name.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-modify-instance-group-by-name.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-set-cluster-termination-protection.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-terminate-cluster.test.ts
Labels: @aws-cdk/aws-stepfunctions-tasks, contribution/core

#12065 docs: add code example recommendations
  CONTRIBUTING.md
Labels: contribution/core, docs/repo-general

#12056 fix(elasticsearch): log policies are overwritten when creating 2 domains which also results in a failure while destroying the stack
  packages/@aws-cdk/aws-elasticsearch/lib/domain.ts
  packages/@aws-cdk/aws-elasticsearch/test/domain.test.ts
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.ts
Labels: @aws-cdk/aws-elasticsearch, response-requested

#12068 fix(eks): failure to deploy cluster since aws-auth configmap exists
  packages/@aws-cdk/aws-eks/lib/aws-auth.ts
  packages/@aws-cdk/aws-eks/lib/k8s-manifest.ts
  packages/@aws-cdk/aws-eks/lib/kubectl-handler/apply/__init__.py
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster-private-endpoint.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/integ.fargate-cluster.expected.json
Labels: @aws-cdk/aws-eks, contribution/core, pr-linter/exempt-test

#10452 feat(ecs-patterns): Add DeploymentController option to Fargate services
  packages/@aws-cdk/aws-ecs-patterns/README.md
  packages/@aws-cdk/aws-ecs-patterns/lib/base/application-load-balanced-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/base/network-load-balanced-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/base/queue-processing-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/application-load-balanced-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/network-load-balanced-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/queue-processing-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/application-load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/network-load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/queue-processing-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.l3s.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.queue-processing-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.queue-processing-fargate-service.ts
Labels: @aws-cdk/aws-ecs-patterns

#11979 chore(rds): document DatabaseInstance.fromDatabaseInstanceAttributes()
  packages/@aws-cdk/aws-rds/lib/instance.ts
Labels: @aws-cdk/aws-rds

#12063 feat(lambda-nodejs): expose more esbuild options
  packages/@aws-cdk/aws-lambda-nodejs/README.md
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/types.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
Labels: @aws-cdk/aws-lambda-nodejs

#11988 chore(apigatewayv2): apiEndpoint is elevated to the IHttpApi interface
  packages/@aws-cdk/aws-apigatewayv2/lib/http/api.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/api.test.ts
Labels: @aws-cdk/aws-apigatewayv2, contribution/core

#12042 feat(eks): attach cluster security group to self-managed nodes
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/lib/legacy-cluster.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/test.cluster.ts
Labels: @aws-cdk/aws-eks, contribution/core

#12081 chore(stepfunctions-tasks): update doc strings to point to correct replacement of deprecated class
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/ecs/run-ecs-ec2-task.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/ecs/run-ecs-fargate-task.ts
Labels: @aws-cdk/aws-stepfunctions-tasks, contribution/core

#12088 chore(eks): log the command before invoking aws eks
  packages/@aws-cdk/aws-eks/lib/kubectl-handler/apply/__init__.py
Labels: @aws-cdk/aws-eks

#11973 feat(appmesh): add timeout support to Routes
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/route-spec.ts
  packages/@aws-cdk/aws-appmesh/lib/shared-interfaces.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-node-listener.ts
  packages/@aws-cdk/aws-appmesh/package.json
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.expected.json
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.ts
  packages/@aws-cdk/aws-appmesh/test/test.route.ts
Labels: @aws-cdk/aws-appmesh

#11892 feat(stepfunctions-tasks): add support for ModelClientConfig to SageMakerCreateTransformJob
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/sagemaker/base-types.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/sagemaker/create-transform-job.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/create-transform-job.test.ts
Labels: @aws-cdk/aws-stepfunctions-tasks

#12091 revert(rds): document DatabaseInstance.fromDatabaseInstanceAttributes()
  packages/@aws-cdk/aws-rds/lib/instance.ts
Labels: @aws-cdk/aws-rds, contribution/core

#11967 chore: update module ownership
  .github/workflows/issue-label-assign.yml
Labels: contribution/core

#12106 feat(elasticsearch): support audit logs
  packages/@aws-cdk/aws-elasticsearch/README.md
  packages/@aws-cdk/aws-elasticsearch/lib/domain.ts
  packages/@aws-cdk/aws-elasticsearch/test/domain.test.ts
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.advancedsecurity.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.unsignedbasicauth.expected.json
Labels: @aws-cdk/aws-elasticsearch

#12125 fix(lambda-nodejs): local bundling fails with relative depsLockFilePath
  packages/@aws-cdk/aws-lambda-nodejs/lib/function.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/function.test.ts
Labels: @aws-cdk/aws-lambda-nodejs

#12135 chore(merge-back): 1.79.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash

#12133 chore(logs): Fix typo
  packages/@aws-cdk/aws-logs/lib/log-group.ts
Labels: @aws-cdk/aws-logs

#12124 chore(iam): fix typo in policy.ts
  packages/@aws-cdk/aws-iam/lib/policy.ts
Labels: @aws-cdk/aws-iam

#12142 chore: compat script will now also install peer dependencies
  scripts/check-api-compatibility.sh
Labels: contribution/core

#12123 feat(lambda-nodejs): Expose optional props for advanced usage of esbuild
  packages/@aws-cdk/aws-lambda-nodejs/README.md
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/types.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
Labels: @aws-cdk/aws-lambda-nodejs

#10200 feat(eks): connect all custom resources to the cluster VPC
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/cluster-resource-provider.ts
  packages/@aws-cdk/aws-eks/lib/cluster-resource.ts
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/lib/kubectl-provider.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster-handlers-vpc.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster-handlers-vpc.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster-private-endpoint.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/integ.fargate-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/test.cluster.ts
  packages/@aws-cdk/custom-resources/lib/provider-framework/provider.ts
  packages/@aws-cdk/custom-resources/package.json
  packages/@aws-cdk/custom-resources/test/provider-framework/provider.test.ts
Labels: @aws-cdk/aws-eks, contribution/core

#12180 fix(core): capturing stack traces still takes a long time
  packages/@aws-cdk/core/lib/stack-trace.ts
  packages/@aws-cdk/core/test/tokens.test.ts
Labels: @aws-cdk/core, contribution/core

#12186 chore: rename .github/semantic.yaml to .github/semantic.yml (no "a")
  .github/semantic.yml
Labels: contribution/core

#12073 feat(ec2): Add VPC endpoints for Athena and Glue
  packages/@aws-cdk/aws-ec2/lib/vpc-endpoint.ts
  packages/@aws-cdk/aws-ec2/package.json
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme, pr-linter/exempt-test

#12190 feat(ecs-patterns): add ruleName optional parameter for ScheduledTask constructs
  packages/@aws-cdk/aws-ecs-patterns/README.md
  packages/@aws-cdk/aws-ecs-patterns/lib/base/scheduled-task-base.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.scheduled-ecs-task.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.scheduled-fargate-task.ts
Labels: @aws-cdk/aws-ecs-patterns

#12159 fix(dynamodb): allow global replicas with Provisioned billing mode
  packages/@aws-cdk/aws-dynamodb/README.md
  packages/@aws-cdk/aws-dynamodb/lib/scalable-table-attribute.ts
  packages/@aws-cdk/aws-dynamodb/lib/table.ts
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
  packages/@aws-cdk/aws-dynamodb/test/integ.global-replicas-provisioned.expected.json
  packages/@aws-cdk/aws-dynamodb/test/integ.global-replicas-provisioned.ts
  packages/@aws-cdk/aws-dynamodb/test/replica-provider.test.ts
Labels: @aws-cdk/aws-dynamodb, contribution/core

#12189 chore(eks): Remove legacy and deprecated code
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/lib/fargate-cluster.ts
  packages/@aws-cdk/aws-eks/lib/index.ts
  packages/@aws-cdk/aws-eks/lib/legacy-cluster.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.kubectl-disabled.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.kubectl-disabled.ts
  packages/@aws-cdk/aws-eks/test/test.legacy-cluster.ts
  packages/@aws-cdk/aws-eks/test/test.nodegroup.ts
Labels: @aws-cdk/aws-eks, contribution/core

#12195 chore(release): 1.80.0
  .github/semantic.yml
  CHANGELOG.md
  packages/@aws-cdk/aws-dynamodb/README.md
  packages/@aws-cdk/aws-dynamodb/lib/scalable-table-attribute.ts
  packages/@aws-cdk/aws-dynamodb/lib/table.ts
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
  packages/@aws-cdk/aws-dynamodb/test/integ.global-replicas-provisioned.expected.json
  packages/@aws-cdk/aws-dynamodb/test/integ.global-replicas-provisioned.ts
  packages/@aws-cdk/aws-dynamodb/test/replica-provider.test.ts
  packages/@aws-cdk/aws-ec2/lib/vpc-endpoint.ts
  packages/@aws-cdk/aws-ec2/package.json
  packages/@aws-cdk/aws-ecs-patterns/README.md
  packages/@aws-cdk/aws-ecs-patterns/lib/base/scheduled-task-base.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.scheduled-ecs-task.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.scheduled-fargate-task.ts
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/cluster-resource-provider.ts
  packages/@aws-cdk/aws-eks/lib/cluster-resource.ts
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/lib/fargate-cluster.ts
  packages/@aws-cdk/aws-eks/lib/index.ts
  packages/@aws-cdk/aws-eks/lib/kubectl-provider.ts
  packages/@aws-cdk/aws-eks/lib/legacy-cluster.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster-handlers-vpc.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster-handlers-vpc.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster-private-endpoint.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.kubectl-disabled.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.kubectl-disabled.ts
  packages/@aws-cdk/aws-eks/test/integ.fargate-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/test.cluster.ts
  packages/@aws-cdk/aws-eks/test/test.legacy-cluster.ts
  packages/@aws-cdk/aws-eks/test/test.nodegroup.ts
  packages/@aws-cdk/aws-iam/lib/policy.ts
  packages/@aws-cdk/aws-lambda-nodejs/README.md
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/function.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/types.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/function.test.ts
  packages/@aws-cdk/aws-logs/lib/log-group.ts
  packages/@aws-cdk/core/lib/stack-trace.ts
  packages/@aws-cdk/core/test/tokens.test.ts
  packages/@aws-cdk/custom-resources/lib/provider-framework/provider.ts
  packages/@aws-cdk/custom-resources/package.json
  packages/@aws-cdk/custom-resources/test/provider-framework/provider.test.ts
  scripts/check-api-compatibility.sh
  version.v1.json
Labels: pr/no-squash

#12197 chore(merge-back): 1.80.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash

#12121 fix(codebuild): missing permissions for SecretsManager environment variables
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codebuild/test/test.project.ts
Labels: @aws-cdk/aws-codebuild, contribution/core

#12012 feat(eks): option to disable manifest validation
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/k8s-manifest.ts
  packages/@aws-cdk/aws-eks/lib/kubectl-handler/apply/__init__.py
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.ts
Labels: @aws-cdk/aws-eks

#11962 feat(eks): spot support for managed nodegroups
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/lib/managed-nodegroup.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.ts
  packages/@aws-cdk/aws-eks/test/test.nodegroup.ts
Labels: @aws-cdk/aws-eks, response-requested

#11093 feat(ecs-patterns): add containerName to QueueProcessingEc2Service
  packages/@aws-cdk/aws-ecs-patterns/README.md
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/queue-processing-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/queue-processing-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.queue-processing-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.queue-processing-fargate-service.ts
Labels: @aws-cdk/aws-ecs-patterns

#12168 feat(ecs): deployment circuit breaker support
  packages/@aws-cdk/aws-ecs/README.md
  packages/@aws-cdk/aws-ecs/lib/base/base-service.ts
  packages/@aws-cdk/aws-ecs/test/fargate/test.fargate-service.ts
Labels: @aws-cdk/aws-ecs

#12196 chore: discourage AdministratorAccess policy
  packages/@aws-cdk/pipelines/README.md
Labels: contribution/core

#12209 chore: upgrade node-notifier
  yarn.lock
Labels: contribution/core

#12213 fix(codebuild): Project lacks permissions to its log destinations
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codebuild/test/integ.project-logging.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.project-logging.ts
  packages/@aws-cdk/aws-codebuild/test/test.project.ts
Labels: @aws-cdk/aws-codebuild, contribution/core

#12220 chore(s3-deployment): restore lambda tests
  packages/@aws-cdk/aws-s3-deployment/test/lambda.test.ts
  packages/@aws-cdk/aws-s3-deployment/test/lambda/Dockerfile
  packages/@aws-cdk/aws-s3-deployment/test/lambda/aws
  packages/@aws-cdk/aws-s3-deployment/test/lambda/test.py
  packages/@aws-cdk/aws-s3-deployment/test/lambda/test.sh
  packages/@aws-cdk/aws-s3-deployment/test/lambda/test.zip
Labels: @aws-cdk/aws-s3-deployment, contribution/core

#12181 fix(codepipeline-actions): use codebuild batch iam permissions when `executeBatchBuild: true`
  packages/@aws-cdk/aws-codepipeline-actions/lib/codebuild/build-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-build-batch.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-build-batch.ts
Labels: @aws-cdk/aws-codebuild, @aws-cdk/aws-codepipeline-actions

#11743 feat(codebuild): add `startBatchBuild` option
  packages/@aws-cdk/aws-codebuild/README.md
  packages/@aws-cdk/aws-codebuild/lib/source.ts
  packages/@aws-cdk/aws-codebuild/test/test.codebuild.ts
Labels: @aws-cdk/aws-codebuild

#12150 feat(codebuild): prevent using Secrets in plain-text environment variables
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codebuild/test/test.project.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/codebuild/build-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/codebuild/test.codebuild-action.ts
Labels: @aws-cdk/aws-codebuild, contribution/core, pr-linter/exempt-readme

#12222 feat(elasticsearch): add support for version 7_8 and 7_9
  packages/@aws-cdk/aws-elasticsearch/lib/domain.ts
Labels: @aws-cdk/aws-elasticsearch, pr-linter/exempt-readme, pr-linter/exempt-test

#12141 feat(eks): aws-node-termination-handler for spot instances now pulls the image from public ECR
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
Labels: @aws-cdk/aws-eks, pr-linter/exempt-readme

#12090 feat(s3): option to auto delete objects upon bucket removal
  packages/@aws-cdk/aws-s3/README.md
  packages/@aws-cdk/aws-s3/lib/auto-delete-objects-handler/index.ts
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/aws-s3/test/auto-delete-objects-handler.test.ts
  packages/@aws-cdk/aws-s3/test/bucket.test.ts
  packages/@aws-cdk/aws-s3/test/integ.bucket-auto-delete-objects.expected.json
  packages/@aws-cdk/aws-s3/test/integ.bucket-auto-delete-objects.ts
  packages/@aws-cdk/aws-s3/test/put-objects-handler/index.ts
Labels: @aws-cdk/aws-s3

#12239 feat(elasticsearch): Support `EnableVersionUpgrade` update policy
  packages/@aws-cdk/aws-elasticsearch/README.md
  packages/@aws-cdk/aws-elasticsearch/lib/domain.ts
  packages/@aws-cdk/aws-elasticsearch/test/domain.test.ts
Labels: @aws-cdk/aws-elasticsearch

#12070 chore(lambda-nodejs): always use globally installed esbuild in Docker
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
Labels: @aws-cdk/aws-lambda-nodejs

#12164 feat(rds): add support for setting public accessibility
  packages/@aws-cdk/aws-rds/README.md
  packages/@aws-cdk/aws-rds/lib/cluster.ts
  packages/@aws-cdk/aws-rds/lib/instance.ts
  packages/@aws-cdk/aws-rds/lib/props.ts
  packages/@aws-cdk/aws-rds/test/test.cluster.ts
  packages/@aws-cdk/aws-rds/test/test.instance.ts
Labels: @aws-cdk/aws-rds

#12243 feat(rds): add grantConnect for RDS Proxy
  packages/@aws-cdk/aws-rds/README.md
  packages/@aws-cdk/aws-rds/lib/proxy.ts
  packages/@aws-cdk/aws-rds/test/test.proxy.ts
Labels: @aws-cdk/aws-rds

#12257 chore: Merge branch 'master' into v2-main
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
  packages/@aws-cdk/aws-rds/README.md
  packages/@aws-cdk/aws-rds/lib/cluster.ts
  packages/@aws-cdk/aws-rds/lib/instance.ts
  packages/@aws-cdk/aws-rds/lib/props.ts
  packages/@aws-cdk/aws-rds/lib/proxy.ts
  packages/@aws-cdk/aws-rds/test/test.cluster.ts
  packages/@aws-cdk/aws-rds/test/test.instance.ts
  packages/@aws-cdk/aws-rds/test/test.proxy.ts
Labels: pr/forward-merge, pr/no-squash

#12267 chore(rds): add additional AuroraPostgresEngineVersion 11.9
  packages/@aws-cdk/aws-rds/lib/cluster-engine.ts
Labels: @aws-cdk/aws-rds

#12290 chore(merge-back): 1.81.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash

#12294 chore: forward merge 'master' into 'v2-main'
  CHANGELOG.md
  packages/@aws-cdk/cloud-assembly-schema/package.json
  version.v1.json
  yarn.lock
Labels: pr/forward-merge, pr/no-squash

#12293 fix(lambda-layer-*): unable to calculate layer asset hash due to missing file
  packages/@aws-cdk/lambda-layer-awscli/.npmignore
  packages/@aws-cdk/lambda-layer-kubectl/.npmignore
Labels: contribution/core, pr-linter/exempt-test

#12269 fix(eks): Self managed nodes cannot be added to LoadBalancers created via the `LoadBalancer` service type
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/pinger/function/index.py
  packages/@aws-cdk/aws-eks/test/test.cluster.ts
Labels: @aws-cdk/aws-eks, contribution/core
