Repository aws/aws-cdk, pull requests merged in 2021-03, with the labels that each got.

#13266 chore(ses): use NodeJS 14 in DropSpamReceiptRule
  packages/@aws-cdk/aws-ses-actions/test/integ.actions.expected.json
  packages/@aws-cdk/aws-ses/lib/drop-spam-handler/index.ts
  packages/@aws-cdk/aws-ses/lib/receipt-rule.ts
  packages/@aws-cdk/aws-ses/test/integ.receipt.expected.json
Labels: @aws-cdk/aws-ses

#13295 docs(docdb): make sample snippet deployable
  packages/@aws-cdk/aws-docdb/README.md
Labels: @aws-cdk/aws-docdb

#12763 feat(neptune): high level constructs for db clusters and instances
  packages/@aws-cdk/aws-neptune/README.md
  packages/@aws-cdk/aws-neptune/lib/cluster.ts
  packages/@aws-cdk/aws-neptune/lib/endpoint.ts
  packages/@aws-cdk/aws-neptune/lib/index.ts
  packages/@aws-cdk/aws-neptune/lib/instance.ts
  packages/@aws-cdk/aws-neptune/lib/parameter-group.ts
  packages/@aws-cdk/aws-neptune/lib/subnet-group.ts
  packages/@aws-cdk/aws-neptune/package.json
  packages/@aws-cdk/aws-neptune/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-neptune/rosetta/with-cluster.ts-fixture
  packages/@aws-cdk/aws-neptune/test/cluster.test.ts
  packages/@aws-cdk/aws-neptune/test/endpoint.test.ts
  packages/@aws-cdk/aws-neptune/test/instance.test.ts
  packages/@aws-cdk/aws-neptune/test/integ.cluster.expected.json
  packages/@aws-cdk/aws-neptune/test/integ.cluster.ts
  packages/@aws-cdk/aws-neptune/test/neptune.test.ts
  packages/@aws-cdk/aws-neptune/test/parameter-group.test.ts
  packages/@aws-cdk/aws-neptune/test/subnet-group.test.ts
Labels: @aws-cdk/aws-neptune

#13324 fix(cloudfront): cannot add two EdgeFunctions with same aliases
  packages/@aws-cdk/aws-cloudfront/lib/experimental/edge-function.ts
  packages/@aws-cdk/aws-cloudfront/test/experimental/edge-function.test.ts
  packages/@aws-cdk/aws-cloudfront/test/integ.distribution-lambda-cross-region.expected.json
  packages/@aws-cdk/aws-cloudfront/test/integ.distribution-lambda-cross-region.ts
Labels: @aws-cdk/aws-cloudfront, contribution/core

#13254 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/assert/package.json
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-dynamodb-global/lambda-packages/aws-global-table-coordinator/package.json
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/aws-sam/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/cloudformation-include/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/@monocdk-experiment/assert/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-dasm/package.json
  packages/decdk/package.json
  tools/cdk-build-tools/package.json
  tools/cfn2ts/package.json
  tools/eslint-plugin-cdk/package.json
  yarn.lock
Labels: contribution/core, dependencies, pr/auto-approve

#13332 fix(elasticloadbalancingv2): should allow more than 2 certificates
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-listener.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/alb/listener.test.ts
Labels: @aws-cdk/aws-elasticloadbalancingv2

#13341 chore(guidelines): add some guidelines around @defaults
  DESIGN_GUIDELINES.md
Labels: contribution/core

#13345 chore(guidelines): update the section on error messages
  DESIGN_GUIDELINES.md
Labels: contribution/core

#13218 chore(guidelines): guidance on which constructs are included in the CDK
  DESIGN_GUIDELINES.md
Labels: contribution/core

#13347 chore(contrib-guide): add guidance around breaking changes
  CONTRIBUTING.md
Labels: contribution/core

#13364 chore(release): 2.0.0-alpha.6
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#13160 feat(cognito): user pools - sign in with apple
  packages/@aws-cdk/aws-cognito/README.md
  packages/@aws-cdk/aws-cognito/lib/user-pool-client.ts
  packages/@aws-cdk/aws-cognito/lib/user-pool-idps/apple.ts
  packages/@aws-cdk/aws-cognito/lib/user-pool-idps/base.ts
  packages/@aws-cdk/aws-cognito/lib/user-pool-idps/index.ts
  packages/@aws-cdk/aws-cognito/package.json
  packages/@aws-cdk/aws-cognito/test/integ.user-pool-idp.apple.expected.json
  packages/@aws-cdk/aws-cognito/test/integ.user-pool-idp.apple.ts
  packages/@aws-cdk/aws-cognito/test/user-pool-client.test.ts
  packages/@aws-cdk/aws-cognito/test/user-pool-idps/apple.ts
Labels: @aws-cdk/aws-cognito

#13301 fix(core): custom resource provider NODEJS_12 now looks like Lambda's NODEJS_12_X, add Node 14
  packages/@aws-cdk/aws-cloudformation/test/integ.core-custom-resources.ts
  packages/@aws-cdk/aws-cloudfront/lib/experimental/edge-function.ts
  packages/@aws-cdk/aws-iam/lib/oidc-provider.ts
  packages/@aws-cdk/aws-route53/lib/record-set.ts
  packages/@aws-cdk/aws-s3/test/integ.bucket-auto-delete-objects.ts
  packages/@aws-cdk/aws-secretsmanager/test/integ.secret-name-parsed.ts
  packages/@aws-cdk/core/README.md
  packages/@aws-cdk/core/lib/custom-resource-provider/custom-resource-provider.ts
  packages/@aws-cdk/core/lib/private/cfn-utils-provider.ts
  packages/@aws-cdk/core/test/custom-resource-provider/custom-resource-provider.test.ts
Labels: @aws-cdk/aws-lambda, @aws-cdk/core

#11617 feat(events): dead letter queue for Lambda Targets
  packages/@aws-cdk/aws-events-targets/README.md
  packages/@aws-cdk/aws-events-targets/lib/lambda.ts
  packages/@aws-cdk/aws-events-targets/lib/util.ts
  packages/@aws-cdk/aws-events-targets/test/lambda/integ.events.expected.json
  packages/@aws-cdk/aws-events-targets/test/lambda/integ.events.ts
  packages/@aws-cdk/aws-events-targets/test/lambda/lambda.test.ts
  packages/@aws-cdk/aws-events/lib/rule.ts
  packages/@aws-cdk/aws-events/lib/target.ts
Labels: @aws-cdk/aws-events, pr/work-in-progress

#13372 chore(guidelines): update ToC
  DESIGN_GUIDELINES.md
Labels: contribution/core

#13170 fix(stepfunctions): `SageMakeUpdateEndpoint` adds insufficient permissions
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/sagemaker/update-endpoint.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/integ.call-sagemaker.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/update-endpoint.test.ts
Labels: @aws-cdk/aws-config, @aws-cdk/aws-iam, @aws-cdk/aws-stepfunctions, @aws-cdk/aws-stepfunctions-tasks

#13293 fix(events): imported ECS Task Definition cannot be used as target
  packages/@aws-cdk/aws-ecs/lib/base/_imported-task-definition.ts
  packages/@aws-cdk/aws-ecs/lib/base/task-definition.ts
  packages/@aws-cdk/aws-ecs/lib/ec2/ec2-task-definition.ts
  packages/@aws-cdk/aws-ecs/lib/fargate/fargate-task-definition.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-task-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-task-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/task-definition.test.ts
  packages/@aws-cdk/aws-events-targets/lib/ecs-task.ts
  packages/@aws-cdk/aws-events-targets/test/ecs/event-rule-target.test.ts
Labels: @aws-cdk/aws-events, @aws-cdk/aws-events-targets

#13070 fix(cloudwatch): metric `label` not rendered into Alarms
  packages/@aws-cdk/aws-cloudwatch/lib/alarm.ts
  packages/@aws-cdk/aws-cloudwatch/test/integ.alarm-with-label.expected.json
  packages/@aws-cdk/aws-cloudwatch/test/integ.alarm-with-label.ts
Labels: @aws-cdk/aws-cloudwatch

#12408 chore(certificatemanager): update README.md
  packages/@aws-cdk/aws-certificatemanager/README.md
Labels: @aws-cdk/aws-certificatemanager

#13309 chore(apigateway): cleanup DomainName TLS docstring and tests
  packages/@aws-cdk/aws-apigateway/lib/domain-name.ts
  packages/@aws-cdk/aws-apigateway/test/domains.test.ts
Labels: @aws-cdk/aws-apigateway

#13186 fix(codebuild): allow FILE_PATH webhook filter for BitBucket
  packages/@aws-cdk/aws-codebuild/lib/source.ts
  packages/@aws-cdk/aws-codebuild/test/test.codebuild.ts
Labels: @aws-cdk/aws-codebuild

#13390 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/assert/package.json
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-dynamodb-global/lambda-packages/aws-global-table-coordinator/package.json
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/aws-sam/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/cloudformation-include/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/@monocdk-experiment/assert/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-dasm/package.json
  packages/decdk/package.json
  tools/cdk-build-tools/package.json
  tools/cfn2ts/package.json
  yarn.lock
Labels: contribution/core, dependencies, pr/auto-approve

#13392 chore: fix auto-approve workflow
  .github/workflows/auto-approve.yml
Labels: contribution/core, pr/do-not-merge

#13391 chore(build): yarn-cling does not work under Node 15
  tools/yarn-cling/lib/index.ts
Labels: contribution/core

#13281 feat(cloudwatch): EC2 actions
  packages/@aws-cdk/aws-cloudwatch-actions/README.md
  packages/@aws-cdk/aws-cloudwatch-actions/lib/ec2.ts
  packages/@aws-cdk/aws-cloudwatch-actions/lib/index.ts
  packages/@aws-cdk/aws-cloudwatch-actions/test/ec2.test.ts
  packages/@aws-cdk/aws-cloudwatch/lib/alarm.ts
  packages/@aws-cdk/aws-cloudwatch/test/test.alarm.ts
Labels: @aws-cdk/aws-cloudwatch, @aws-cdk/aws-ec2

#13356 chore: add new interfaces for Assets
  packages/@aws-cdk/assets/lib/fs/options.ts
  packages/@aws-cdk/aws-ecr-assets/lib/image-asset.ts
  packages/@aws-cdk/aws-s3-assets/lib/asset.ts
  packages/@aws-cdk/core/lib/fs/options.ts
Labels: @aws-cdk/assets, contribution/core

#13394 chore(build): record preferred NPM publishing order
  pack.sh
Labels: contribution/core

#12674 fix(ec2): NAT provider's default outbound rules cannot be disabled
  packages/@aws-cdk/aws-ec2/lib/nat.ts
  packages/@aws-cdk/aws-ec2/test/vpc.test.ts
Labels: @aws-cdk/aws-ec2

#12798 feat(ecs): allow selection of container and port for SRV service discovery records
  packages/@aws-cdk/aws-ecs/README.md
  packages/@aws-cdk/aws-ecs/lib/base/base-service.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-service.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/integ.cloudmap-container-port.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.cloudmap-container-port.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-service.test.ts
Labels: @aws-cdk/aws-ecs

#13410 chore(cloudfront): check size of Origin Request headers and prevent forbidden values
  packages/@aws-cdk/aws-cloudfront/lib/origin-request-policy.ts
  packages/@aws-cdk/aws-cloudfront/test/origin-request-policy.test.ts
Labels: @aws-cdk/aws-cloudfront

#13407 feat(aws-route53-targets): add global accelerator target to route53 alias targets
  packages/@aws-cdk/aws-route53-targets/README.md
  packages/@aws-cdk/aws-route53-targets/lib/global-accelerator-target.ts
  packages/@aws-cdk/aws-route53-targets/lib/index.ts
  packages/@aws-cdk/aws-route53-targets/package.json
  packages/@aws-cdk/aws-route53-targets/test/global-accelerator-target.test.ts
  packages/@aws-cdk/aws-route53-targets/test/integ.globalaccelerator-alias-target.expected.json
  packages/@aws-cdk/aws-route53-targets/test/integ.globalaccelerator-alias-target.ts
Labels: @aws-cdk/aws-globalaccelerator, @aws-cdk/aws-route53, @aws-cdk/aws-route53-targets

#13398 chore: linter action should run on edits and label adjusts
  .github/workflows/pr-linter.yml
Labels: contribution/core

#13031 feat(apigatewayv2): websocket api
  packages/@aws-cdk/aws-apigatewayv2-integrations/README.md
  packages/@aws-cdk/aws-apigatewayv2-integrations/lib/index.ts
  packages/@aws-cdk/aws-apigatewayv2-integrations/lib/websocket/index.ts
  packages/@aws-cdk/aws-apigatewayv2-integrations/lib/websocket/lambda.ts
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/websocket/integ.lambda.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/websocket/integ.lambda.ts
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/websocket/lambda.test.ts
  packages/@aws-cdk/aws-apigatewayv2/README.md
  packages/@aws-cdk/aws-apigatewayv2/lib/common/api-mapping.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/common/api.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/common/base.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/common/index.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/common/integration.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/common/stage.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/api-mapping.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/api.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/index.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/stage.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/index.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/private/integration-cache.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/websocket/api.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/websocket/index.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/websocket/integration.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/websocket/route.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/websocket/stage.ts
  packages/@aws-cdk/aws-apigatewayv2/package.json
  packages/@aws-cdk/aws-apigatewayv2/test/common/api-mapping.test.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/api.test.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/stage.test.ts
  packages/@aws-cdk/aws-apigatewayv2/test/websocket/api.test.ts
  packages/@aws-cdk/aws-apigatewayv2/test/websocket/route.test.ts
  packages/@aws-cdk/aws-apigatewayv2/test/websocket/stage.test.ts
Labels: @aws-cdk/aws-apigatewayv2

#13419 chore(apigatewayv2): remove usage of deprecated httpApiId
  packages/@aws-cdk/aws-apigatewayv2-integrations/lib/http/lambda.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/authorizer.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/integration.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/route.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/authorizer.test.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/route.test.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/stage.test.ts
Labels: @aws-cdk/aws-apigatewayv2

#13420 fix(ecr): Generate valid CloudFormation for imageScanOnPush
  packages/@aws-cdk/aws-ecr/lib/repository.ts
  packages/@aws-cdk/aws-ecr/test/integ.imagescan.expected.json
  packages/@aws-cdk/aws-ecr/test/test.repository.ts
Labels: @aws-cdk/aws-cloudformation, @aws-cdk/aws-ecr

#13300 fix(dynamodb): replicas not created on table replacement
  packages/@aws-cdk/aws-dynamodb/lib/replica-handler/index.ts
  packages/@aws-cdk/aws-dynamodb/lib/table.ts
  packages/@aws-cdk/aws-dynamodb/test/integ.global-replicas-provisioned.expected.json
  packages/@aws-cdk/aws-dynamodb/test/integ.global.expected.json
  packages/@aws-cdk/aws-dynamodb/test/replica-provider.test.ts
Labels: @aws-cdk/aws-dynamodb

#13426 revert: "chore: add new interfaces for Assets (#13356)"
  packages/@aws-cdk/assets/lib/fs/options.ts
  packages/@aws-cdk/aws-ecr-assets/lib/image-asset.ts
  packages/@aws-cdk/aws-s3-assets/lib/asset.ts
  packages/@aws-cdk/core/lib/fs/options.ts
Labels: @aws-cdk/assets, contribution/core

#13428 fix(cfn-include): allow dynamic mappings to be used in Fn::FindInMap
  packages/@aws-cdk/cloudformation-include/test/test-templates/find-in-map-with-dynamic-mapping.json
  packages/@aws-cdk/cloudformation-include/test/valid-templates.test.ts
  packages/@aws-cdk/core/lib/cfn-parse.ts
Labels: @aws-cdk/cloudformation-include, contribution/core

#13432 chore(merge-back): 1.92.0
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#13354 feat(dynamodb): custom timeout for replication operation
  packages/@aws-cdk/aws-dynamodb/README.md
  packages/@aws-cdk/aws-dynamodb/lib/replica-provider.ts
  packages/@aws-cdk/aws-dynamodb/lib/table.ts
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
Labels: @aws-cdk/aws-dynamodb

#13307 chore(dynamodb-global): use NODEJS_14_X in GlobalTableCoordinator
  packages/@aws-cdk/aws-dynamodb-global/lib/global-table-coordinator.ts
  packages/@aws-cdk/aws-dynamodb-global/test/integ.dynamodb.global.expected.json
Labels: @aws-cdk/aws-dynamodb-global

#13462 feat(neptune): Support IAM authentication
  packages/@aws-cdk/aws-docdb/lib/cluster.ts
  packages/@aws-cdk/aws-neptune/README.md
  packages/@aws-cdk/aws-neptune/lib/cluster.ts
  packages/@aws-cdk/aws-neptune/test/cluster.test.ts
Labels: @aws-cdk/aws-iam, @aws-cdk/aws-neptune

#13450 feat(events): dead-letter queue support for StepFunctions
  packages/@aws-cdk/aws-events-targets/README.md
  packages/@aws-cdk/aws-events-targets/lib/state-machine.ts
  packages/@aws-cdk/aws-events-targets/test/stepfunctions/statemachine.test.ts
Labels: @aws-cdk/aws-events, @aws-cdk/aws-stepfunctions

#13401 docs(pipelines): fix code examples
  packages/@aws-cdk/pipelines/README.md
Labels: @aws-cdk/pipelines

#12814 feat(region-info): added AppMesh ECR account for af-south-1 region
  .gitallowed
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/appmesh.ts
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.all-service-addons.expected.json
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.multiple-environments.expected.json
  packages/@aws-cdk/region-info/build-tools/fact-tables.ts
Labels: @aws-cdk/aws-appmesh, @aws-cdk/aws-ecr, @aws-cdk/region-info, pr-linter/exempt-readme

#13397 fix(iam): oidc-provider can't pull from hosts requiring SNI
  packages/@aws-cdk/aws-iam/lib/oidc-provider/external.ts
Labels: @aws-cdk/aws-iam, pr-linter/exempt-test

#13393 feat(iam): SAML identity provider
  packages/@aws-cdk/aws-iam/README.md
  packages/@aws-cdk/aws-iam/lib/index.ts
  packages/@aws-cdk/aws-iam/lib/principals.ts
  packages/@aws-cdk/aws-iam/lib/saml-provider.ts
  packages/@aws-cdk/aws-iam/package.json
  packages/@aws-cdk/aws-iam/test/integ.saml-provider.expected.json
  packages/@aws-cdk/aws-iam/test/integ.saml-provider.ts
  packages/@aws-cdk/aws-iam/test/principals.test.ts
  packages/@aws-cdk/aws-iam/test/saml-metadata-document.xml
  packages/@aws-cdk/aws-iam/test/saml-provider.test.ts
Labels: @aws-cdk/aws-iam

#11843 feat(ec2): multipart user data
  packages/@aws-cdk/aws-ec2/README.md
  packages/@aws-cdk/aws-ec2/lib/user-data.ts
  packages/@aws-cdk/aws-ec2/test/integ.instance-multipart-userdata.expected.json
  packages/@aws-cdk/aws-ec2/test/integ.instance-multipart-userdata.ts
  packages/@aws-cdk/aws-ec2/test/userdata.test.ts
Labels: @aws-cdk/aws-ec2

#13433 docs: Small typo fix in README.md of aws-ecr
  packages/@aws-cdk/aws-ecr/README.md
Labels: @aws-cdk/aws-ecr

#13436 docs(s3): update ID of the example encrypted bucket in the ReadMe
  packages/@aws-cdk/aws-s3/README.md
Labels: @aws-cdk/aws-s3

#13467 feat(codebuild): allow setting queued timeout
  packages/@aws-cdk/aws-codebuild/README.md
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codebuild/test/test.project.ts
Labels: @aws-cdk/aws-codebuild

#13425 chore(cloudfront): check size of the Cache Policy headers
  packages/@aws-cdk/aws-cloudfront/lib/cache-policy.ts
  packages/@aws-cdk/aws-cloudfront/test/cache-policy.test.ts
Labels: @aws-cdk/aws-cloudfront

#13448 feat(events): dead-letter queue support for CodeBuild
  packages/@aws-cdk/aws-events-targets/README.md
  packages/@aws-cdk/aws-events-targets/lib/codebuild.ts
  packages/@aws-cdk/aws-events-targets/test/codebuild/codebuild.test.ts
  packages/@aws-cdk/aws-events-targets/test/codebuild/integ.project-events.expected.json
  packages/@aws-cdk/aws-events-targets/test/codebuild/integ.project-events.ts
Labels: @aws-cdk/aws-codebuild, @aws-cdk/aws-events

#13471 feat(ec2): ESP and AH IPsec protocols for Security Groups
  packages/@aws-cdk/aws-ec2/lib/port.ts
  packages/@aws-cdk/aws-ec2/package.json
  packages/@aws-cdk/aws-ec2/test/integ.vpc.expected.json
  packages/@aws-cdk/aws-ec2/test/integ.vpc.ts
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme

#13489 fix(python): change Python namespace to `aws_cdk`
  packages/aws-cdk-lib/package.json
Labels: contribution/core, pr-linter/exempt-readme, pr-linter/exempt-test

#13429 feat(events): `EventBus.grantPutEventsTo` method for granular grants
  packages/@aws-cdk/aws-events/README.md
  packages/@aws-cdk/aws-events/lib/event-bus.ts
  packages/@aws-cdk/aws-events/test/test.event-bus.ts
  packages/@aws-cdk/aws-lambda-destinations/lib/event-bridge.ts
  packages/@aws-cdk/aws-lambda-destinations/test/destinations.test.ts
  packages/@aws-cdk/aws-lambda-destinations/test/integ.destinations.expected.json
  packages/@aws-cdk/aws-lambda-destinations/test/integ.lambda-chain.expected.json
Labels: @aws-cdk/aws-events

#13490 fix(elasticloadbalancingv2): upgrade to v1.92.0 drops certificates on ALB if more than 2 certificates exist
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-listener.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/alb/listener.test.ts
Labels: @aws-cdk/aws-elasticloadbalancingv2, contribution/core

#13387 fix(stepfunctions): no validation on state machine name
  packages/@aws-cdk/aws-stepfunctions/lib/state-machine.ts
  packages/@aws-cdk/aws-stepfunctions/test/state-machine.test.ts
Labels: @aws-cdk/aws-stepfunctions

#13192 feat(ecs): allow users to provide a CloudMap service to associate with an ECS service
  packages/@aws-cdk/aws-ecs/README.md
  packages/@aws-cdk/aws-ecs/lib/base/base-service.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-service.test.ts
Labels: @aws-cdk/aws-ecs

#13477 chore(neptune): update readme to work with default fixture
  packages/@aws-cdk/aws-neptune/README.md
  packages/@aws-cdk/aws-neptune/rosetta/default.ts-fixture
Labels: @aws-cdk/aws-neptune

#13319 docs(certificatemanager): Fix typo 'ExampelNet' -> 'ExampleNet'
  packages/@aws-cdk/aws-certificatemanager/README.md
Labels: @aws-cdk/aws-certificatemanager

#13480 fix(init): Python init template's stack ID doesn't match other languages
  packages/aws-cdk/lib/init-templates/v1/app/python/app.template.py
  packages/aws-cdk/lib/init-templates/v2/app/python/app.template.py
Labels: contribution/core, pr-linter/exempt-test

#13508 fix(cfn-include): allow boolean values for string-typed properties
  packages/@aws-cdk/cloudformation-include/test/test-templates/boolean-for-string.json
  packages/@aws-cdk/cloudformation-include/test/valid-templates.test.ts
  packages/@aws-cdk/core/lib/cfn-parse.ts
Labels: @aws-cdk/cloudformation-include, contribution/core

#13517 chore: forward merge 'master' into 'v2-main'
  packages/@aws-cdk/aws-applicationautoscaling/lib/schedule.ts
  packages/@aws-cdk/aws-applicationautoscaling/test/test.cron.ts
  packages/@aws-cdk/aws-certificatemanager/README.md
  packages/@aws-cdk/aws-cloudfront/lib/cache-policy.ts
  packages/@aws-cdk/aws-cloudfront/test/cache-policy.test.ts
  packages/@aws-cdk/aws-ec2/lib/port.ts
  packages/@aws-cdk/aws-ec2/lib/windows-versions.ts
  packages/@aws-cdk/aws-ec2/package.json
  packages/@aws-cdk/aws-ec2/test/integ.vpc.expected.json
  packages/@aws-cdk/aws-ec2/test/integ.vpc.ts
  packages/@aws-cdk/aws-ecr/README.md
  packages/@aws-cdk/aws-ecr/lib/repository.ts
  packages/@aws-cdk/aws-ecr/package.json
  packages/@aws-cdk/aws-ecr/test/test.repository.ts
  packages/@aws-cdk/aws-ecs/README.md
  packages/@aws-cdk/aws-ecs/lib/base/base-service.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-service.test.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-listener.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/alb/listener.test.ts
  packages/@aws-cdk/aws-events-targets/README.md
  packages/@aws-cdk/aws-events-targets/lib/codebuild.ts
  packages/@aws-cdk/aws-events-targets/test/codebuild/codebuild.test.ts
  packages/@aws-cdk/aws-events-targets/test/codebuild/integ.project-events.expected.json
  packages/@aws-cdk/aws-events-targets/test/codebuild/integ.project-events.ts
  packages/@aws-cdk/aws-events/README.md
  packages/@aws-cdk/aws-events/lib/event-bus.ts
  packages/@aws-cdk/aws-events/lib/schedule.ts
  packages/@aws-cdk/aws-events/test/test.event-bus.ts
  packages/@aws-cdk/aws-events/test/test.rule.ts
  packages/@aws-cdk/aws-events/test/test.schedule.ts
  packages/@aws-cdk/aws-lambda-destinations/lib/event-bridge.ts
  packages/@aws-cdk/aws-lambda-destinations/test/destinations.test.ts
  packages/@aws-cdk/aws-lambda-destinations/test/integ.destinations.expected.json
  packages/@aws-cdk/aws-lambda-destinations/test/integ.lambda-chain.expected.json
  packages/@aws-cdk/aws-neptune/README.md
  packages/@aws-cdk/aws-neptune/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
  packages/@aws-cdk/aws-stepfunctions-tasks/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-stepfunctions-tasks/rosetta/with-batch-job.ts-fixture
  packages/@aws-cdk/aws-stepfunctions/lib/state-machine.ts
  packages/@aws-cdk/aws-stepfunctions/test/state-machine.test.ts
  packages/@aws-cdk/cloudformation-include/test/test-templates/boolean-for-string.json
  packages/@aws-cdk/cloudformation-include/test/valid-templates.test.ts
  packages/@aws-cdk/core/lib/cfn-parse.ts
  packages/@aws-cdk/core/lib/duration.ts
  packages/@aws-cdk/core/test/duration.test.ts
  packages/aws-cdk/lib/init-templates/v1/app/python/app.template.py
  packages/aws-cdk/lib/init-templates/v2/app/python/app.template.py
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash

#13423 chore(core): update CDK Metadata to report construct-level details
  packages/@aws-cdk/core/lib/private/metadata-resource.ts
  packages/@aws-cdk/core/lib/private/runtime-info.ts
  packages/@aws-cdk/core/lib/private/tree-metadata.ts
  packages/@aws-cdk/core/test/app.test.ts
  packages/@aws-cdk/core/test/metadata-resource.test.ts
  packages/@aws-cdk/core/test/runtime-info.test.ts
  scripts/resolve-version-lib.js
Labels: @aws-cdk/core, contribution/core

#13510 chore: change the parameter used for 'find' in link-all.sh
  link-all.sh
Labels: contribution/core

#13493 fix(iam): policy statement tries to validate tokens
  packages/@aws-cdk/aws-iam/lib/policy-statement.ts
  packages/@aws-cdk/aws-iam/test/policy-document.test.ts
Labels: @aws-cdk/aws-iam

#13494 chore(aws-cdk-lib): change namespaces/package names in line with RFC 6
  packages/aws-cdk-lib/package.json
Labels: aws-cdk-lib, contribution/core

#13033 feat(stepfunctions-tasks): Support calling ApiGateway REST and HTTP APIs
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/apigateway/base-types.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/apigateway/base.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/apigateway/call-http-api.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/apigateway/call-rest-api.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/apigateway/index.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/index.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/package.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/apigateway/call-http-api.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/apigateway/call-rest-api.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/apigateway/integ.call-http-api.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/apigateway/integ.call-http-api.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api.ts
Labels: @aws-cdk/aws-apigateway, @aws-cdk/aws-stepfunctions-tasks

#13353 feat(appmesh): add route retry policies
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/route-spec.ts
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.expected.json
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.ts
  packages/@aws-cdk/aws-appmesh/test/test.route.ts
Labels: @aws-cdk/aws-appmesh

#13342 feat(amplify-domain): Added config for auto subdomain creation
  packages/@aws-cdk/aws-amplify/README.md
  packages/@aws-cdk/aws-amplify/lib/app.ts
  packages/@aws-cdk/aws-amplify/lib/domain.ts
  packages/@aws-cdk/aws-amplify/test/domain.test.ts
Labels: @aws-cdk/aws-config

#13538 chore(test): make metadata resource test immune to encoding
  packages/@aws-cdk/core/test/metadata-resource.test.ts
Labels: contribution/core

#13539 fix(lambda): fromDockerBuild output is located under /asset
  packages/@aws-cdk/aws-lambda/lib/code.ts
  packages/@aws-cdk/aws-lambda/test/code.test.ts
  packages/@aws-cdk/aws-lambda/test/docker-build-lambda/Dockerfile
Labels: @aws-cdk/aws-lambda

#13545 chore(merge-back): 1.93.0
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#13350 feat(appmesh): add missing route match features
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/route-spec.ts
  packages/@aws-cdk/aws-appmesh/lib/route.ts
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.expected.json
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.ts
  packages/@aws-cdk/aws-appmesh/test/test.route.ts
Labels: @aws-cdk/aws-appmesh

#12943 fix(appmesh): Move Client Policy from Virtual Service to backend structure
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/appmesh.ts
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/shared-interfaces.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-gateway.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-node.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-service.ts
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.ts
  packages/@aws-cdk/aws-appmesh/test/test.health-check.ts
  packages/@aws-cdk/aws-appmesh/test/test.mesh.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-gateway.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-node.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-router.ts
Labels: @aws-cdk/aws-appmesh

#13560 fix(cloudwatch): cannot create Alarms from labeled metrics that start with a digit
  packages/@aws-cdk/aws-cloudwatch/lib/alarm.ts
  packages/@aws-cdk/aws-cloudwatch/test/integ.alarm-with-label.expected.json
Labels: @aws-cdk/aws-cloudwatch

#13521 chore(aws-cdk-readme): replace deprecated method used in aws-chatbot README.md
  packages/@aws-cdk/aws-chatbot/README.md
Labels: @aws-cdk/aws-chatbot

#13366 fix(autoscaling): AutoScaling on percentile metrics doesn't work
  packages/@aws-cdk/aws-applicationautoscaling/lib/step-scaling-policy.ts
  packages/@aws-cdk/aws-applicationautoscaling/test/test.step-scaling-policy.ts
  packages/@aws-cdk/aws-autoscaling/lib/step-scaling-policy.ts
  packages/@aws-cdk/aws-autoscaling/test/scaling.test.ts
Labels: @aws-cdk/aws-autoscaling, contribution/core

#13564 fix(region-info): ap-northeast-3 data not correctly registered
  packages/@aws-cdk/region-info/build-tools/aws-entities.ts
  packages/@aws-cdk/region-info/build-tools/fact-tables.ts
  packages/@aws-cdk/region-info/build-tools/generate-static-data.ts
  packages/@aws-cdk/region-info/test/__snapshots__/region-info.test.js.snap
Labels: @aws-cdk/region-info, contribution/core, pr-linter/exempt-readme, pr-linter/exempt-test

#13570 feat(aws-elasticloadbalancingv2): add protocol version for ALB TargetGroups
  packages/@aws-cdk/aws-elasticloadbalancingv2/README.md
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-target-group.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/shared/enums.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/alb/target-group.test.ts
Labels: @aws-cdk/aws-elasticloadbalancingv2

#13554 docs(aws-events): Fix typo in docs
  packages/@aws-cdk/aws-events/README.md
Labels: @aws-cdk/aws-events

#13488 fix: use NodeJS 14 for all packaged custom resources
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.all-service-addons.expected.json
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.assign-public-ip.expected.json
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.multiple-environments.expected.json
  packages/@aws-cdk/aws-certificatemanager/lib/dns-validated-certificate.ts
  packages/@aws-cdk/aws-certificatemanager/test/dns-validated-certificate.test.ts
  packages/@aws-cdk/aws-dynamodb-global/test/integ.dynamodb.global.expected.json
  packages/@aws-cdk/aws-dynamodb/test/integ.dynamodb.sse.expected.json
  packages/@aws-cdk/aws-dynamodb/test/integ.global-replicas-provisioned.expected.json
  packages/@aws-cdk/aws-dynamodb/test/integ.global.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster-handlers-vpc.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster-private-endpoint.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-oidc-provider.expected.json
  packages/@aws-cdk/aws-eks/test/integ.fargate-cluster.expected.json
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.dynamodb.expected.json
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.kinesis.expected.json
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.s3.expected.json
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.sns.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/integ.notifications.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/lambda/integ.bucket-notifications.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/sns/integ.sns-bucket-notifications.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/sqs/integ.bucket-notifications.expected.json
  packages/@aws-cdk/aws-s3/lib/notifications-resource/notifications-resource-handler.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/evaluate-expression.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/batch/integ.run-batch-job.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/batch/integ.submit-job.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/codebuild/integ.start-build.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/ecs/integ.ec2-task.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/ecs/integ.fargate-task.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/eks/integ.call.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/evaluate-expression.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/glue/integ.glue-task.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/glue/integ.start-job-run.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/integ.evaluate-expression.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/integ.job-poller.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/integ.start-execution.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/integ.invoke-function.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/integ.invoke.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/integ.invoke.payload.only.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/integ.run-lambda.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/integ.call-sagemaker.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/integ.create-training-job.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/stepfunctions/integ.start-execution.expected.json
  packages/@aws-cdk/custom-resources/lib/provider-framework/provider.ts
  packages/@aws-cdk/custom-resources/test/provider-framework/integ.provider.expected.json
Labels: @aws-cdk/custom-resources, contribution/core

#12719 feat(ecs-patterns): Add ECS deployment circuit breaker support to higher-level constructs
  packages/@aws-cdk/aws-ecs-patterns/README.md
  packages/@aws-cdk/aws-ecs-patterns/lib/base/application-load-balanced-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/base/network-load-balanced-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/base/queue-processing-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/application-load-balanced-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/network-load-balanced-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/queue-processing-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/application-load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/network-load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/queue-processing-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.l3s.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.queue-processing-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.circuit-breaker-load-balanced-fargate-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.circuit-breaker-load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.circuit-breaker-queue-processing-fargate-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.circuit-breaker-queue-processing-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.queue-processing-fargate-service.ts
  packages/@aws-cdk/aws-ecs/lib/base/base-service.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-service.test.ts
Labels: @aws-cdk/aws-ecs-patterns

#13598 chore(region-info): metadata service is in eu-south-1, af-south-1
  packages/@aws-cdk/region-info/build-tools/fact-tables.ts
  packages/@aws-cdk/region-info/test/__snapshots__/region-info.test.js.snap
Labels: @aws-cdk/region-info, contribution/core

#13593 fix(ec2): Security Groups support all protocols
  packages/@aws-cdk/aws-ec2/lib/port.ts
  packages/@aws-cdk/aws-ec2/package.json
  packages/@aws-cdk/aws-ec2/test/integ.vpc.expected.json
  packages/@aws-cdk/aws-ec2/test/integ.vpc.ts
Labels: @aws-cdk/aws-ec2

#13595 chore(cloudformation-include): build fails on .DS_Store
  packages/@aws-cdk/cloudformation-include/build.js
Labels: @aws-cdk/cloudformation-include, contribution/core

#13525 chore: update and simplify contribution guide
  CONTRIBUTING.md
  docs/DESIGN_GUIDELINES.md
  docs/release.md
Labels: contribution/core

#12507 feat(lambda-event-sources): msk and self-managed kafka event sources
  packages/@aws-cdk/aws-lambda-event-sources/README.md
  packages/@aws-cdk/aws-lambda-event-sources/lib/index.ts
  packages/@aws-cdk/aws-lambda-event-sources/lib/kafka.ts
  packages/@aws-cdk/aws-lambda-event-sources/lib/stream.ts
  packages/@aws-cdk/aws-lambda-event-sources/package.json
  packages/@aws-cdk/aws-lambda-event-sources/test/test.kafka.ts
  packages/@aws-cdk/aws-lambda/lib/event-source-mapping.ts
  packages/@aws-cdk/aws-lambda/test/event-source-mapping.test.ts
  packages/@aws-cdk/aws-msk/README.md
  packages/@aws-cdk/aws-msk/lib/cluster.ts
  packages/@aws-cdk/aws-msk/lib/index.ts
  packages/@aws-cdk/aws-msk/package.json
Labels: @aws-cdk/aws-lambda-event-sources

#13544 fix(core): `toJsonString()` cannot handle list intrinsics
  packages/@aws-cdk/core/lib/private/cfn-utils-provider.ts
  packages/@aws-cdk/core/lib/private/cfn-utils-provider/consts.ts
  packages/@aws-cdk/core/lib/private/cfn-utils-provider/index.ts
  packages/@aws-cdk/core/lib/private/cloudformation-lang.ts
  packages/@aws-cdk/core/test/cloudformation-json.test.ts
Labels: @aws-cdk/core, contribution/core

#13619 chore: replace angle braces with HTML-safe entities
  packages/@aws-cdk/aws-efs/README.md
Labels: contribution/core

#13624 fix(s3): Notifications fail to deploy due to incompatible node runtime
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.s3.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/integ.notifications.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/lambda/integ.bucket-notifications.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/sns/integ.sns-bucket-notifications.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/sqs/integ.bucket-notifications.expected.json
  packages/@aws-cdk/aws-s3/lib/notifications-resource/notifications-resource-handler.ts
Labels: @aws-cdk/aws-s3, contribution/core

#13621 chore(merge-back): 1.94.0
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#13625 chore(release): 1.94.1
  CHANGELOG.md
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.s3.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/integ.notifications.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/lambda/integ.bucket-notifications.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/sns/integ.sns-bucket-notifications.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/sqs/integ.bucket-notifications.expected.json
  packages/@aws-cdk/aws-s3/lib/notifications-resource/notifications-resource-handler.ts
  scripts/bump.js
  version.v1.json
Labels: contribution/core, pr/no-squash

#13627 docs(aws-ecs): fix typo in example for classic LB
  packages/@aws-cdk/aws-ecs/README.md
Labels: @aws-cdk/aws-ecs, documentation

#10559 feat(sns): enable passing PolicyDocument to TopicPolicy
  packages/@aws-cdk/aws-sns/README.md
  packages/@aws-cdk/aws-sns/lib/policy.ts
  packages/@aws-cdk/aws-sns/test/test.sns.ts
Labels: @aws-cdk/aws-sns

#13628 chore(merge-back): 1.94.1
  CHANGELOG.md
  scripts/bump.js
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#13632 chore(release): 2.0.0-alpha.8
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#13172 feat(apigatewayv2): http api - default authorizer options
  packages/@aws-cdk/aws-apigatewayv2-authorizers/README.md
  packages/@aws-cdk/aws-apigatewayv2-authorizers/test/http/integ.user-pool.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.alb.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.http-proxy.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.lambda-proxy.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.nlb.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.service-discovery.expected.json
  packages/@aws-cdk/aws-apigatewayv2/lib/http/api.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/authorizer.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/route.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/api.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/apigateway/integ.call-http-api.expected.json
Labels: @aws-cdk/aws-apigatewayv2

#13522 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/app-delivery/package.json
  packages/@aws-cdk/assert/package.json
  packages/@aws-cdk/assets/package.json
  packages/@aws-cdk/aws-applicationautoscaling/package.json
  packages/@aws-cdk/aws-autoscaling-common/package.json
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-dynamodb-global/lambda-packages/aws-global-table-coordinator/package.json
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/aws-sam/package.json
  packages/@aws-cdk/cloud-assembly-schema/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/cloudformation-include/package.json
  packages/@aws-cdk/core/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/@aws-cdk/yaml-cfn/package.json
  packages/@monocdk-experiment/assert/package.json
  packages/@monocdk-experiment/rewrite-imports/package.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-assets/package.json
  packages/cdk-dasm/package.json
  packages/decdk/package.json
  packages/monocdk/package.json
  tools/cdk-build-tools/package.json
  tools/cfn2ts/package.json
  tools/eslint-plugin-cdk/package.json
  tools/nodeunit-shim/package.json
  tools/yarn-cling/package.json
  yarn.lock
Labels: contribution/core, dependencies, pr/auto-approve

#13531 chore(rds): add version 10.5.8 of the MariaDB engine
  packages/@aws-cdk/aws-rds/lib/instance-engine.ts
Labels: @aws-cdk/aws-rds

#13655 fix(codedeploy): Use aws-cli instead of awscli for yum
  packages/@aws-cdk/aws-codedeploy/lib/server/deployment-group.ts
  packages/@aws-cdk/aws-codedeploy/test/server/integ.deployment-group.expected.json
  packages/@aws-cdk/aws-codedeploy/test/server/test.deployment-group.ts
Labels: @aws-cdk/aws-codedeploy, package/tools

#13550 docs(appmesh): note that virtual nodes allow at most one listener at this time
  packages/@aws-cdk/aws-appmesh/lib/virtual-node.ts
Labels: @aws-cdk/aws-appmesh

#13646 chore(codepipeline-actions): fix a typo in the ReadMe
  packages/@aws-cdk/aws-codepipeline-actions/README.md
Labels: @aws-cdk/aws-codepipeline-actions, contribution/core

#13642 chore(ubergen): copy `.npmignore` into monopackage
  tools/ubergen/bin/ubergen.ts
Labels: aws-cdk-lib, contribution/core

#13665 chore(core): backport runtime-info test simplification from v2 branch
  packages/@aws-cdk/core/test/metadata-resource.test.ts
  packages/@aws-cdk/core/test/runtime-info.test.ts
Labels: @aws-cdk/core, aws-cdk-lib, contribution/core

#13641 fix(neptune): create correct IAM statement in grantConnect()
  packages/@aws-cdk/aws-neptune/lib/cluster.ts
  packages/@aws-cdk/aws-neptune/test/cluster.test.ts
Labels: @aws-cdk/aws-iam, @aws-cdk/aws-neptune

#13664 chore(lambda-nodejs): update default runtime
  packages/@aws-cdk/aws-lambda-nodejs/lib/function.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/function.test.ts
Labels: @aws-cdk/aws-lambda-nodejs

#13670 chore(ubergen): combine all Rosetta fixtures
  packages/aws-cdk-lib/.gitignore
  packages/aws-cdk-lib/.npmignore
  tools/ubergen/bin/ubergen.ts
Labels: aws-cdk-lib, contribution/core

#13667 fix(lambda): incorrect values for prop UntrustedArtifactOnDeployment
  packages/@aws-cdk/aws-lambda/lib/code-signing-config.ts
  packages/@aws-cdk/aws-lambda/test/code-signing-config.test.ts
Labels: @aws-cdk/aws-lambda, contribution/core

#13661 feat(signer): graduate to stable
  .github/workflows/issue-label-assign.yml
  packages/@aws-cdk/aws-signer/README.md
  packages/@aws-cdk/aws-signer/package.json
Labels: @aws-cdk/aws-signer, contribution/core, pr-linter/exempt-test

#13687 docs(pipelines): document multiple NPM versions issue
  packages/@aws-cdk/pipelines/README.md
Labels: @aws-cdk/pipelines, contribution/core

#13626 feat(rds): make rds secret name configurable
  packages/@aws-cdk/aws-rds/README.md
  packages/@aws-cdk/aws-rds/lib/database-secret.ts
  packages/@aws-cdk/aws-rds/lib/private/util.ts
  packages/@aws-cdk/aws-rds/lib/props.ts
  packages/@aws-cdk/aws-rds/test/cluster.test.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
Labels: @aws-cdk/aws-rds

#13559 fix(aws-ecs): drain hook lambda allows tasks to stop gracefully
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/integ.multiple-application-load-balanced-ecs-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/integ.scheduled-ecs-task.lit.expected.json
  packages/@aws-cdk/aws-ecs/lib/drain-hook/lambda-source/index.py
  packages/@aws-cdk/aws-ecs/test/ec2/integ.app-mesh-proxy-config.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.bottlerocket.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.clb-host-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.cloudmap-container-port.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.environment-file.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.firelens-s3-config.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.lb-awsvpc-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.lb-bridge-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.sd-awsvpc-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.sd-bridge-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.spot-drain.expected.json
  packages/@aws-cdk/aws-events-targets/test/ecs/integ.event-ec2-task.lit.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/ecs/integ.ec2-run-task.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/ecs/integ.ec2-task.expected.json
Labels: @aws-cdk/aws-ecs

#13712 chore: forward merge 'master' into 'v2-main'
  .github/workflows/issue-label-assign.yml
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/integ.multiple-application-load-balanced-ecs-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/integ.scheduled-ecs-task.lit.expected.json
  packages/@aws-cdk/aws-ecs/lib/drain-hook/lambda-source/index.py
  packages/@aws-cdk/aws-ecs/test/ec2/integ.app-mesh-proxy-config.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.bottlerocket.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.clb-host-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.cloudmap-container-port.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.environment-file.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.firelens-s3-config.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.lb-awsvpc-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.lb-bridge-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.sd-awsvpc-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.sd-bridge-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.spot-drain.expected.json
  packages/@aws-cdk/aws-events-targets/test/ecs/integ.event-ec2-task.lit.expected.json
  packages/@aws-cdk/aws-rds/README.md
  packages/@aws-cdk/aws-rds/lib/database-secret.ts
  packages/@aws-cdk/aws-rds/lib/private/util.ts
  packages/@aws-cdk/aws-rds/lib/props.ts
  packages/@aws-cdk/aws-rds/test/cluster.test.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
  packages/@aws-cdk/aws-signer/README.md
  packages/@aws-cdk/aws-signer/package.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/ecs/integ.ec2-run-task.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/ecs/integ.ec2-task.expected.json
  packages/@aws-cdk/pipelines/README.md
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash

#13546 chore(elasticsearch): Explain SLR requirement in README
  packages/@aws-cdk/aws-elasticsearch/README.md
Labels: @aws-cdk/aws-elasticsearch, contribution/core

#13730 chore: forward merge 'master' into 'v2-main'
  packages/@aws-cdk/aws-elasticsearch/README.md
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash

#13723 chore(deps): Upgrade major version of lerna
  package.json
  yarn.lock
Labels: contribution/core

#13582 fix(codedeploy): DeploymentGroup's physical name not propagated to Application
  packages/@aws-cdk/aws-codedeploy/lib/server/deployment-group.ts
  packages/@aws-cdk/aws-codedeploy/test/server/test.deployment-group.ts
Labels: @aws-cdk/aws-codedeploy

#13696 feat(init-templates): app template comes with hint comments for 'env'
  packages/aws-cdk/lib/init-templates/v1/app/csharp/src/%name.PascalCased%/Program.template.cs
  packages/aws-cdk/lib/init-templates/v1/app/java/src/main/java/com/myorg/%name.PascalCased%App.template.java
  packages/aws-cdk/lib/init-templates/v1/app/javascript/bin/%name%.template.js
  packages/aws-cdk/lib/init-templates/v1/app/python/app.template.py
  packages/aws-cdk/lib/init-templates/v1/app/typescript/bin/%name%.template.ts
  packages/aws-cdk/lib/init-templates/v2/app/csharp/src/%name.PascalCased%/Program.template.cs
  packages/aws-cdk/lib/init-templates/v2/app/java/src/main/java/com/myorg/%name.PascalCased%App.template.java
  packages/aws-cdk/lib/init-templates/v2/app/javascript/bin/%name%.template.js
  packages/aws-cdk/lib/init-templates/v2/app/python/app.template.py
  packages/aws-cdk/lib/init-templates/v2/app/typescript/bin/%name%.template.ts
Labels: contribution/core, pr-linter/exempt-readme, pr-linter/exempt-test

#12234 feat(ec2): client vpn endpoint
  packages/@aws-cdk/aws-ec2/README.md
  packages/@aws-cdk/aws-ec2/lib/client-vpn-authorization-rule.ts
  packages/@aws-cdk/aws-ec2/lib/client-vpn-endpoint-types.ts
  packages/@aws-cdk/aws-ec2/lib/client-vpn-endpoint.ts
  packages/@aws-cdk/aws-ec2/lib/client-vpn-route.ts
  packages/@aws-cdk/aws-ec2/lib/index.ts
  packages/@aws-cdk/aws-ec2/lib/vpc.ts
  packages/@aws-cdk/aws-ec2/package.json
  packages/@aws-cdk/aws-ec2/rosetta/client-vpn.ts-fixture
  packages/@aws-cdk/aws-ec2/test/client-vpn-endpoint.test.ts
  packages/@aws-cdk/aws-ec2/test/import-certificates-handler/ca.crt
  packages/@aws-cdk/aws-ec2/test/import-certificates-handler/client1.domain.tld.crt
  packages/@aws-cdk/aws-ec2/test/import-certificates-handler/client1.domain.tld.key
  packages/@aws-cdk/aws-ec2/test/import-certificates-handler/index.ts
  packages/@aws-cdk/aws-ec2/test/import-certificates-handler/server.crt
  packages/@aws-cdk/aws-ec2/test/import-certificates-handler/server.key
  packages/@aws-cdk/aws-ec2/test/integ.client-vpn-endpoint.expected.json
  packages/@aws-cdk/aws-ec2/test/integ.client-vpn-endpoint.ts
  packages/@aws-cdk/aws-lambda/lib/function-base.ts
Labels: @aws-cdk/aws-ec2

#13656 feat(codepipeline-actions): Add detectChanges option to BitBucketSourceAction
  packages/@aws-cdk/aws-codepipeline-actions/lib/bitbucket/source-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/bitbucket/bitbucket-source-action.test.ts
Labels: @aws-cdk/aws-codepipeline-actions, pr-linter/exempt-readme

#13445 fix(codebuild): Fixed build spec file format to return yaml
  packages/@aws-cdk/aws-amplify/README.md
  packages/@aws-cdk/aws-amplify/test/app.test.ts
  packages/@aws-cdk/aws-codebuild/README.md
  packages/@aws-cdk/aws-codebuild/lib/build-spec.ts
  packages/@aws-cdk/aws-codebuild/package.json
  packages/@aws-cdk/aws-codebuild/test/test.project.ts
Labels: @aws-cdk/aws-codebuild

#13728 docs(codepipeline-actions): update CloudTrail example for addS3EventSelector
  packages/@aws-cdk/aws-codepipeline-actions/README.md
Labels: @aws-cdk/aws-cloudtrail, @aws-cdk/aws-codepipeline-actions

#13313 fix(apigatewayv2): error while configuring ANY as an allowed method in CORS
  packages/@aws-cdk/aws-apigatewayv2/README.md
  packages/@aws-cdk/aws-apigatewayv2/lib/http/api.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/route.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/api.test.ts
Labels: @aws-cdk/aws-apigatewayv2

#13732 docs(cognito): minor clarifications
  packages/@aws-cdk/aws-cognito/README.md
  packages/@aws-cdk/aws-cognito/lib/user-pool-client.ts
Labels: @aws-cdk/aws-cognito, contribution/core

#13689 fix(events,applicationautoscaling): specifying a schedule rate in seconds results in an error
  packages/@aws-cdk/aws-applicationautoscaling/lib/schedule.ts
  packages/@aws-cdk/aws-applicationautoscaling/test/test.cron.ts
  packages/@aws-cdk/aws-events/lib/schedule.ts
  packages/@aws-cdk/aws-events/test/test.rule.ts
  packages/@aws-cdk/aws-events/test/test.schedule.ts
Labels: @aws-cdk/aws-applicationautoscaling, @aws-cdk/aws-events, contribution/core

#13637 fix(codepipeline-actions): BitBucketAction fails with S3 "Access denied" error
  packages/@aws-cdk/aws-codepipeline-actions/lib/bitbucket/source-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/bitbucket/bitbucket-source-action.test.ts
Labels: @aws-cdk/aws-codepipeline-actions

#13660 feat(events): retry-policy support
  packages/@aws-cdk/aws-events-targets/README.md
  packages/@aws-cdk/aws-events-targets/lib/codebuild.ts
  packages/@aws-cdk/aws-events-targets/lib/codepipeline.ts
  packages/@aws-cdk/aws-events-targets/lib/index.ts
  packages/@aws-cdk/aws-events-targets/lib/lambda.ts
  packages/@aws-cdk/aws-events-targets/lib/log-group.ts
  packages/@aws-cdk/aws-events-targets/lib/state-machine.ts
  packages/@aws-cdk/aws-events-targets/lib/util.ts
  packages/@aws-cdk/aws-events-targets/test/codebuild/codebuild.test.ts
  packages/@aws-cdk/aws-events-targets/test/codebuild/integ.project-events.expected.json
  packages/@aws-cdk/aws-events-targets/test/codebuild/integ.project-events.ts
  packages/@aws-cdk/aws-events-targets/test/codepipeline/integ.pipeline-event-target.expected.json
  packages/@aws-cdk/aws-events-targets/test/codepipeline/integ.pipeline-event-target.ts
  packages/@aws-cdk/aws-events-targets/test/codepipeline/pipeline.test.ts
  packages/@aws-cdk/aws-events-targets/test/lambda/integ.events.expected.json
  packages/@aws-cdk/aws-events-targets/test/lambda/integ.events.ts
  packages/@aws-cdk/aws-events-targets/test/lambda/lambda.test.ts
  packages/@aws-cdk/aws-events-targets/test/logs/integ.log-group.expected.json
  packages/@aws-cdk/aws-events-targets/test/logs/integ.log-group.ts
  packages/@aws-cdk/aws-events-targets/test/logs/log-group.test.ts
  packages/@aws-cdk/aws-events-targets/test/stepfunctions/statemachine.test.ts
  packages/@aws-cdk/aws-events/lib/rule.ts
  packages/@aws-cdk/aws-events/lib/target.ts
Labels: @aws-cdk/aws-events, @aws-cdk/aws-events-targets

#13762 chore(release): 2.0.0-alpha.9
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#13768 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/cloud-assembly-schema/package.json
  packages/@aws-cdk/cx-api/package.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-dasm/package.json
  packages/decdk/package.json
  packages/monocdk/package.json
  tools/cdk-build-tools/package.json
  tools/cfn2ts/package.json
  tools/eslint-plugin-cdk/package.json
  tools/pkglint/package.json
  yarn.lock
Labels: contribution/core, dependencies, pr/auto-approve

#13738 chore(lambda-nodejs): prepare code to reduce merge conflicts when deprecated APIs are stripped
  packages/@aws-cdk/aws-ecr-assets/lib/image-asset.ts
  packages/@aws-cdk/aws-ecr-assets/test/image-asset.test.ts
  packages/@aws-cdk/aws-events-targets/lib/event-bus.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/types.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
  packages/@aws-cdk/aws-lambda-python/lib/bundling.ts
  packages/@aws-cdk/aws-lambda/lib/runtime.ts
  packages/@aws-cdk/aws-s3-assets/lib/asset.ts
  packages/@aws-cdk/aws-s3-assets/test/integ.assets.bundling.lit.ts
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/core/lib/bundling.ts
  packages/@aws-cdk/cx-api/lib/cloud-assembly.ts
Labels: @aws-cdk/aws-lambda-nodejs, contribution/core

#13699 chore: un-jsii and bundle `@aws-cdk/yaml-cfn`
  package.json
  packages/@aws-cdk/aws-codebuild/package.json
  packages/@aws-cdk/cloudformation-include/package.json
  packages/@aws-cdk/yaml-cfn/.gitignore
  packages/@aws-cdk/yaml-cfn/package.json
  packages/@aws-cdk/yaml-cfn/tsconfig.json
  packages/aws-cdk-lib/package.json
  packages/decdk/test/schema.test.ts
  packages/monocdk/package.json
  tools/nodeunit-shim/index.ts
  tools/pkglint/bin/pkglint.ts
  tools/pkglint/lib/packagejson.ts
  tools/pkglint/lib/rules.ts
  tools/pkglint/lib/util.ts
Labels: contribution/core

#13778 feat(acmpca): make the ACM PCA module Generally Available (stable)
  packages/@aws-cdk/aws-acmpca/README.md
  packages/@aws-cdk/aws-acmpca/package.json
Labels: @aws-cdk/aws-acmpca, @aws-cdk/aws-certificatemanager, contribution/core, pr-linter/exempt-test

#13788 chore(merge-back): 1.95.0
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#13758 fix(codedeploy): script installing CodeDeploy agent fails
  packages/@aws-cdk/aws-codedeploy/lib/server/deployment-group.ts
  packages/@aws-cdk/aws-codedeploy/test/server/integ.deployment-group.expected.json
  packages/@aws-cdk/aws-codedeploy/test/server/test.deployment-group.ts
Labels: @aws-cdk/aws-codedeploy, contribution/core

#13805 chore(release): 1.95.1
  CHANGELOG.md
  package.json
  packages/@aws-cdk/aws-codebuild/package.json
  packages/@aws-cdk/cloudformation-include/package.json
  packages/@aws-cdk/yaml-cfn/.gitignore
  packages/@aws-cdk/yaml-cfn/package.json
  packages/@aws-cdk/yaml-cfn/tsconfig.json
  packages/aws-cdk-lib/package.json
  packages/decdk/test/schema.test.ts
  packages/monocdk/package.json
  tools/nodeunit-shim/index.ts
  tools/pkglint/bin/pkglint.ts
  tools/pkglint/lib/packagejson.ts
  tools/pkglint/lib/rules.ts
  tools/pkglint/lib/util.ts
  version.v1.json
Labels: contribution/core, pr/no-squash

#13809 chore(merge-back): 1.95.1
  CHANGELOG.md
  package.json
  packages/@aws-cdk/aws-codebuild/package.json
  packages/@aws-cdk/cloudformation-include/package.json
  packages/@aws-cdk/yaml-cfn/.gitignore
  packages/@aws-cdk/yaml-cfn/package.json
  packages/@aws-cdk/yaml-cfn/tsconfig.json
  packages/aws-cdk-lib/package.json
  packages/decdk/test/schema.test.ts
  packages/monocdk/package.json
  tools/nodeunit-shim/index.ts
  tools/pkglint/bin/pkglint.ts
  tools/pkglint/lib/packagejson.ts
  tools/pkglint/lib/rules.ts
  tools/pkglint/lib/util.ts
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#13765 fix(rds): fail with a descriptive error if Cluster's instance count is a deploy-time value
  packages/@aws-cdk/aws-rds/lib/cluster.ts
  packages/@aws-cdk/aws-rds/test/cluster.test.ts
Labels: @aws-cdk/aws-rds

#13814 chore(core): remove all references to BundlingDockerImage in the public API
  packages/@aws-cdk/core/lib/bundling.ts
  packages/@aws-cdk/core/test/bundling.test.ts
Labels: @aws-cdk/core, contribution/core

#13815 chore(aws-cdk-lib): strip out deprecated symbols from public API
  packages/@aws-cdk/aws-lambda/lib/log-retention.ts
  packages/@aws-cdk/aws-lambda/lib/runtime.ts
  packages/@aws-cdk/core/lib/construct-compat.ts
  packages/@aws-cdk/core/lib/stack.ts
  packages/aws-cdk-lib/package.json
  tools/cdk-build-tools/lib/compile.ts
  tools/cdk-build-tools/lib/package-info.ts
Labels: aws-cdk-lib, contribution/core

#13412 feat(lambda-event-sources): tumbling window
  packages/@aws-cdk/aws-lambda-event-sources/README.md
  packages/@aws-cdk/aws-lambda-event-sources/lib/stream.ts
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.dynamodb.expected.json
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.dynamodb.ts
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.kinesis.expected.json
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.kinesis.ts
  packages/@aws-cdk/aws-lambda-event-sources/test/test.dynamo.ts
  packages/@aws-cdk/aws-lambda-event-sources/test/test.kinesis.ts
  packages/@aws-cdk/aws-lambda/lib/event-source-mapping.ts
  packages/@aws-cdk/aws-lambda/test/event-source-mapping.test.ts
Labels: @aws-cdk/aws-lambda, @aws-cdk/aws-lambda-event-sources

#13406 feat(lambda-event-sources): support for batching window to sqs event source
  packages/@aws-cdk/aws-lambda-event-sources/README.md
  packages/@aws-cdk/aws-lambda-event-sources/lib/sqs.ts
  packages/@aws-cdk/aws-lambda-event-sources/test/test.sqs.ts
Labels: @aws-cdk/aws-lambda-event-sources, @aws-cdk/aws-sqs

#13706 fix(codebuild): allow passing the ARN of the Secret in environment variables
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codebuild/test/test.project.ts
Labels: @aws-cdk/aws-codebuild, contribution/core

#13715 fix(cognito): imported userpool not retaining environment from arn
  packages/@aws-cdk/aws-cognito/lib/user-pool.ts
  packages/@aws-cdk/aws-cognito/test/user-pool.test.ts
Labels: @aws-cdk/aws-cognito

#13840 feat(cli): app init template for golang
  packages/aws-cdk/lib/init-templates/v1/app/go/%name%.template.go
  packages/aws-cdk/lib/init-templates/v1/app/go/%name%_test.template.go
  packages/aws-cdk/lib/init-templates/v1/app/go/.template.gitignore
  packages/aws-cdk/lib/init-templates/v1/app/go/README.md
  packages/aws-cdk/lib/init-templates/v1/app/go/cdk.template.json
  packages/aws-cdk/lib/init-templates/v1/app/go/go.template.mod
  packages/aws-cdk/test/integ/init/test-all.sh
  packages/aws-cdk/test/integ/init/test-go.sh
Labels: contribution/core, package/tools

#13844 feat(lambda-nodejs): graduate to stable 🚀
  packages/@aws-cdk/aws-lambda-nodejs/README.md
  packages/@aws-cdk/aws-lambda-nodejs/package.json
Labels: @aws-cdk/aws-lambda-nodejs, contribution/core, pr-linter/exempt-readme, pr-linter/exempt-test

#13807 chore: add new interfaces for Assets
  packages/@aws-cdk/assets/lib/fs/options.ts
  packages/@aws-cdk/aws-ecr-assets/lib/image-asset.ts
  packages/@aws-cdk/aws-s3-assets/lib/asset.ts
  packages/@aws-cdk/core/lib/fs/options.ts
Labels: @aws-cdk/assets, contribution/core

#13846 fix(core): BundlingDockerImage.fromAsset() does not return a BundlingDockerImage
  packages/@aws-cdk/core/lib/bundling.ts
  packages/@aws-cdk/core/test/bundling.test.ts
Labels: @aws-cdk/core, contribution/core

#13839 chore: forward merge 'master' into 'v2-main'
  CHANGELOG.md
  package.json
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codebuild/package.json
  packages/@aws-cdk/aws-codebuild/test/test.project.ts
  packages/@aws-cdk/aws-cognito/lib/user-pool.ts
  packages/@aws-cdk/aws-cognito/test/user-pool.test.ts
  packages/@aws-cdk/aws-lambda-event-sources/README.md
  packages/@aws-cdk/aws-lambda-event-sources/lib/sqs.ts
  packages/@aws-cdk/aws-lambda-event-sources/lib/stream.ts
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.dynamodb.expected.json
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.dynamodb.ts
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.kinesis.expected.json
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.kinesis.ts
  packages/@aws-cdk/aws-lambda-event-sources/test/test.dynamo.ts
  packages/@aws-cdk/aws-lambda-event-sources/test/test.kinesis.ts
  packages/@aws-cdk/aws-lambda-event-sources/test/test.sqs.ts
  packages/@aws-cdk/aws-lambda/lib/event-source-mapping.ts
  packages/@aws-cdk/aws-lambda/lib/log-retention.ts
  packages/@aws-cdk/aws-lambda/lib/runtime.ts
  packages/@aws-cdk/aws-lambda/test/event-source-mapping.test.ts
  packages/@aws-cdk/aws-rds/lib/cluster.ts
  packages/@aws-cdk/aws-rds/test/cluster.test.ts
  packages/@aws-cdk/cloudformation-include/package.json
  packages/@aws-cdk/core/lib/bundling.ts
  packages/@aws-cdk/core/lib/stack.ts
  packages/@aws-cdk/core/test/bundling.test.ts
  packages/@aws-cdk/yaml-cfn/.gitignore
  packages/@aws-cdk/yaml-cfn/package.json
  packages/@aws-cdk/yaml-cfn/tsconfig.json
  packages/aws-cdk-lib/package.json
  packages/decdk/test/schema.test.ts
  packages/monocdk/package.json
  tools/cdk-build-tools/lib/compile.ts
  tools/cdk-build-tools/lib/package-info.ts
  tools/nodeunit-shim/index.ts
  tools/pkglint/bin/pkglint.ts
  tools/pkglint/lib/packagejson.ts
  tools/pkglint/lib/rules.ts
  tools/pkglint/lib/util.ts
  version.v1.json
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash
