Repository aws/aws-cdk, pull requests merged in 2021-11, with the labels that each got.

#17015 feat(logs): add support for cloudwatch logs resource policy
  packages/@aws-cdk/aws-logs/README.md
  packages/@aws-cdk/aws-logs/lib/log-group.ts
  packages/@aws-cdk/aws-logs/lib/policy.ts
  packages/@aws-cdk/aws-logs/test/loggroup.test.ts
Labels: @aws-cdk/aws-logs

#17225 feat(iot): allow setting `description` and `enabled` of TopicRule
  packages/@aws-cdk/aws-iot/README.md
  packages/@aws-cdk/aws-iot/lib/topic-rule.ts
  packages/@aws-cdk/aws-iot/test/topic-rule.test.ts
Labels: @aws-cdk/aws-iot

#16315 feat(certificatemanager): requesting private certificates issued by Private Certificate Authority
  packages/@aws-cdk/aws-certificatemanager/README.md
  packages/@aws-cdk/aws-certificatemanager/lib/index.ts
  packages/@aws-cdk/aws-certificatemanager/lib/private-certificate.ts
  packages/@aws-cdk/aws-certificatemanager/package.json
  packages/@aws-cdk/aws-certificatemanager/test/private-certificate.test.ts
Labels: p1, effort/medium, @aws-cdk/aws-certificatemanager

#17247 chore(rds): add Aurora Postgres ver 13.4, 12.8, 11.13, 10.18 and Mysql ver 8.0.26
  packages/@aws-cdk/aws-rds/lib/cluster-engine.ts
  packages/@aws-cdk/aws-rds/lib/instance-engine.ts
Labels: @aws-cdk/aws-rds

#17146 docs(rds): make examples compile
  packages/@aws-cdk/aws-rds/README.md
  packages/@aws-cdk/aws-rds/rosetta/default.ts-fixture
Labels: @aws-cdk/aws-rds, contribution/core

#17237 feat(ec2): add c6i instances
  packages/@aws-cdk/aws-ec2/lib/instance-types.ts
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme, pr-linter/exempt-test

#17260 chore: use fixed deprecated list for strip-deprecated
  tools/@aws-cdk/cdk-build-tools/lib/package-info.ts
Labels: contribution/core, aws-cdk-lib

#17264 chore: simplify auto approve mechanism
  .github/workflows/auto-approve.yml
  .github/workflows/pr-labeler.yml
Labels: contribution/core

#17262 feat(docdb): add the ability to exclude characters when generating passwords
  packages/@aws-cdk/aws-docdb/README.md
  packages/@aws-cdk/aws-docdb/lib/cluster.ts
  packages/@aws-cdk/aws-docdb/lib/database-secret.ts
  packages/@aws-cdk/aws-docdb/lib/props.ts
  packages/@aws-cdk/aws-docdb/test/cluster.test.ts
Labels: @aws-cdk/aws-docdb

#17250 feat(synthetics): add static cron method to schedule class
  packages/@aws-cdk/aws-synthetics/README.md
  packages/@aws-cdk/aws-synthetics/lib/schedule.ts
  packages/@aws-cdk/aws-synthetics/test/canary.test.ts
  packages/@aws-cdk/aws-synthetics/test/schedule.test.ts
Labels: @aws-cdk/aws-synthetics

#17263 fix(cli): cdk ls --long outputs less-friendly stack IDs for nested assemblies
  packages/aws-cdk/lib/cdk-toolkit.ts
Labels: package/tools, contribution/core, pr-linter/exempt-test

#17221 fix(ec2): functions addIngressRule and addEgressRule detect unresolved tokens as duplicates
  packages/@aws-cdk/aws-ec2/lib/security-group.ts
  packages/@aws-cdk/aws-ec2/test/security-group.test.ts
Labels: @aws-cdk/aws-ec2, contribution/core

#17144 feat(servicecatalog): allow creating a CFN Product Version with CDK code
  packages/@aws-cdk/aws-servicecatalog/README.md
  packages/@aws-cdk/aws-servicecatalog/lib/cloudformation-template.ts
  packages/@aws-cdk/aws-servicecatalog/lib/index.ts
  packages/@aws-cdk/aws-servicecatalog/lib/private/product-stack-synthesizer.ts
  packages/@aws-cdk/aws-servicecatalog/lib/product-stack.ts
  packages/@aws-cdk/aws-servicecatalog/package.json
  packages/@aws-cdk/aws-servicecatalog/rosetta/basic-portfolio.ts-fixture
  packages/@aws-cdk/aws-servicecatalog/test/integ.product.expected.json
  packages/@aws-cdk/aws-servicecatalog/test/integ.product.ts
  packages/@aws-cdk/aws-servicecatalog/test/product-stack.test.ts
  packages/@aws-cdk/aws-servicecatalog/test/product.test.ts
Labels: @aws-cdk/aws-servicecatalog

#17259 chore: add the new aws-iot-actions module to the assignment GitHub Action
  .github/workflows/issue-label-assign.yml
Labels: contribution/core

#17228 feat(iot-actions): Add the action to put CloudWatch Logs
  packages/@aws-cdk/aws-iot-actions/README.md
  packages/@aws-cdk/aws-iot-actions/lib/cloudwatch-logs-action.ts
  packages/@aws-cdk/aws-iot-actions/lib/index.ts
  packages/@aws-cdk/aws-iot-actions/lib/private/role.ts
  packages/@aws-cdk/aws-iot-actions/package.json
  packages/@aws-cdk/aws-iot-actions/test/cloudwatch-logs/cloudwatch-logs-action.test.ts
  packages/@aws-cdk/aws-iot-actions/test/cloudwatch-logs/integ.cloudwatch-logs-action.expected.json
  packages/@aws-cdk/aws-iot-actions/test/cloudwatch-logs/integ.cloudwatch-logs-action.ts
Labels: @aws-cdk/aws-cloudwatch

#17277 chore: bootstrap stack too old for integ tests
  packages/aws-cdk/test/integ/helpers/cdk.ts
Labels: package/tools, contribution/core

#17282 chore: integ tests breaking on lambda node runtime
  packages/aws-cdk/test/integ/cli/app/app.js
Labels: contribution/core

#17276 chore(cli): integ tests install matching framework version
  packages/aws-cdk/test/integ/run-against-dist
  packages/aws-cdk/test/integ/run-against-release
Labels: package/tools, contribution/core

#17297 chore: regression suite patch for lambda runtime deprecation
  packages/aws-cdk/test/integ/cli-regression-patches/v1.130.0/NOTES.md
  packages/aws-cdk/test/integ/cli-regression-patches/v1.130.0/app/app.js
Labels: contribution/core

#17298 chore: integ test trying to downgrade bootstrap stack
  packages/aws-cdk/test/integ/helpers/cdk.ts
Labels: contribution/core

#17299 chore: fix invalid JSON in assignment JSON
  .github/workflows/issue-label-assign.yml
Labels: contribution/core

#17294 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/app-delivery/package.json
  packages/@aws-cdk/aws-apigatewayv2-authorizers/package.json
  packages/@aws-cdk/aws-applicationautoscaling/package.json
  packages/@aws-cdk/aws-autoscaling-common/package.json
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-cloudformation/package.json
  packages/@aws-cdk/aws-codepipeline-actions/package.json
  packages/@aws-cdk/aws-dynamodb-global/lambda-packages/aws-global-table-coordinator/package.json
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-ec2/package.json
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-iam/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/aws-route53-targets/jest.config.js
  packages/@aws-cdk/aws-route53/package.json
  packages/@aws-cdk/aws-s3/package.json
  packages/@aws-cdk/aws-ses/package.json
  packages/@aws-cdk/cloud-assembly-schema/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/core/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/@aws-cdk/cx-api/package.json
  packages/@aws-cdk/example-construct-library/lib/example-resource.ts
  packages/@aws-cdk/example-construct-library/test/example-resource.test.ts
  packages/@monocdk-experiment/rewrite-imports/package.json
  packages/aws-cdk-migration/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-assets/package.json
  packages/cdk-dasm/package.json
  packages/decdk/package.json
  tools/@aws-cdk/cdk-build-tools/config/jest.config.js
  tools/@aws-cdk/cdk-build-tools/package.json
  tools/@aws-cdk/cdk-release/package.json
  tools/@aws-cdk/cfn2ts/package.json
  tools/@aws-cdk/eslint-plugin/package.json
  tools/@aws-cdk/pkglint/package.json
  tools/@aws-cdk/prlint/package.json
  tools/@aws-cdk/yarn-cling/package.json
  yarn.lock
Labels: dependencies, contribution/core, pr/auto-approve

#17130 feat(eks): expose FargateCluster's defaultProfile
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/fargate-cluster.ts
Labels: @aws-cdk/aws-eks, pr-linter/exempt-test

#17308 chore: integ failures due to unbound variable on `FRAMEWORK_VERSION`
  packages/aws-cdk/test/integ/run-against-dist
  packages/aws-cdk/test/integ/run-against-release
Labels: contribution/core

#17285 chore(CDK V2 canaries): allow canary tests to run with a specific aws-cdk version
  packages/aws-cdk/test/integ/run-against-release
  tools/@aws-cdk/cdk-release/lib/release-notes.ts
Labels: contribution/core, aws-cdk-lib

#17304 chore: npm-check-updates && yarn upgrade
  packages/@aws-cdk/core/package.json
  packages/@aws-cdk/example-construct-library/test/example-resource.test.ts
  packages/aws-cdk-lib/package.json
  packages/monocdk/package.json
  yarn.lock
Labels: dependencies, contribution/core, pr/auto-approve

#17292 docs(aws-stepfunctions-tasks): fixes action example to be camelCase
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
Labels: @aws-cdk/aws-stepfunctions-tasks

#16915 fix(s3): enforce that fromBucketAttributes supplies a valid bucket name
  packages/@aws-cdk/aws-apigateway/test/domains.test.ts
  packages/@aws-cdk/aws-cloudtrail/test/cloudtrail.test.ts
  packages/@aws-cdk/aws-codebuild/test/project.test.ts
  packages/@aws-cdk/aws-ec2/test/cfn-init-element.test.ts
  packages/@aws-cdk/aws-ec2/test/cfn-init.test.ts
  packages/@aws-cdk/aws-glue/test/code.test.ts
  packages/@aws-cdk/aws-glue/test/job-executable.test.ts
  packages/@aws-cdk/aws-glue/test/job.test.ts
  packages/@aws-cdk/aws-s3-notifications/test/notifications.test.ts
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/aws-s3/test/bucket.test.ts
  packages/@aws-cdk/pipelines/test/compliance/synths.test.ts
  packages/@aws-cdk/pipelines/test/compliance/validations.test.ts
Labels: @aws-cdk/aws-s3

#17317 fix(cli): no longer disable rollback by default for hotswap deployments
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/test/api/deploy-stack.test.ts
Labels: package/tools, contribution/core

#17329 revert: "chore: activate 'rosetta infuse' feature (#17191)"
  pack.sh
Labels: pr/do-not-merge, contribution/core, @aws-cdk/pipelines

#17332 docs(codebuild): describe use of CodeBuild caching in more detail
  packages/@aws-cdk/aws-codebuild/README.md
Labels: @aws-cdk/aws-codebuild, contribution/core

#17333 chore(cli): v2 python init templates have incorrect constructs version
  packages/aws-cdk/lib/init-templates/v2/app/python/requirements.template.txt
  packages/aws-cdk/lib/init-templates/v2/sample-app/python/requirements.template.txt
Labels: package/tools, contribution/core, aws-cdk-lib

#17334 feat(cfnspec): cloudformation spec v46.0.0
  packages/monocdk/rosetta/basic-portfolio.ts-fixture
Labels: pr-linter/exempt-test, @aws-cdk/cfnspec, pr/auto-approve

#17316 chore(sns): make examples compile
  packages/@aws-cdk/aws-sns-subscriptions/README.md
  packages/@aws-cdk/aws-sns-subscriptions/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-sns/README.md
  packages/@aws-cdk/aws-sns/rosetta/default.ts-fixture
Labels: @aws-cdk/aws-sns, contribution/core

#17314 chore(sqs): make examples compile
  packages/@aws-cdk/aws-sqs/README.md
  packages/@aws-cdk/aws-sqs/rosetta/default.ts-fixture
Labels: @aws-cdk/aws-sqs, contribution/core

#17313 chore(dynamodb): make examples compile
  packages/@aws-cdk/aws-dynamodb/README.md
  packages/@aws-cdk/aws-dynamodb/rosetta/default.ts-fixture
Labels: @aws-cdk/aws-dynamodb, contribution/core

#17327 chore: stripping stability banners for Cfn constructs on alpha modules
  tools/@aws-cdk/individual-pkg-gen/transform-packages.ts
Labels: contribution/core

#17176 feat(cli): added `build` field to cdk.json
  packages/aws-cdk/README.md
  packages/aws-cdk/lib/api/cxapp/exec.ts
  packages/aws-cdk/lib/settings.ts
  packages/aws-cdk/test/api/exec.test.ts
  packages/aws-cdk/test/usersettings.test.ts
  packages/aws-cdk/test/util/mock-child_process.ts
Labels: package/tools, contribution/core

#17280 feat(lambda-nodejs): add sourcesContent in BundlingOptions
  packages/@aws-cdk/aws-lambda-nodejs/README.md
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/types.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
Labels: @aws-cdk/aws-lambda-nodejs

#17337 chore: remove invalid test
  packages/aws-cdk/test/integ/cli/bootstrapping.integtest.ts
Labels: package/tools, contribution/core

#17287 feat(iot): allow setting `errorAction` of TopicRule
  packages/@aws-cdk/aws-iot/README.md
  packages/@aws-cdk/aws-iot/lib/topic-rule.ts
  packages/@aws-cdk/aws-iot/test/topic-rule.test.ts
Labels: @aws-cdk/aws-iot

#17041 feat(codepipeline): add construct for registering custom Actions
  packages/@aws-cdk/aws-codepipeline-actions/lib/index.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/jenkins/jenkins-provider.ts
  packages/@aws-cdk/aws-codepipeline/README.md
  packages/@aws-cdk/aws-codepipeline/lib/custom-action-registration.ts
  packages/@aws-cdk/aws-codepipeline/lib/index.ts
Labels: @aws-cdk/aws-codepipeline, pr-linter/exempt-test, @aws-cdk/aws-codepipeline-actions

#17200 fix(aws-eks): proxy support and allow assigning a security group to all cluster handler functions
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/cluster-resource-handler/common.ts
  packages/@aws-cdk/aws-eks/lib/cluster-resource-handler/index.ts
  packages/@aws-cdk/aws-eks/lib/cluster-resource-provider.ts
  packages/@aws-cdk/aws-eks/lib/cluster-resource.ts
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-eks/test/cluster.test.ts
Labels: @aws-cdk/aws-eks, contribution/core

#17240 feat(cli): introduce the 'watch' command
  packages/aws-cdk/README.md
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/lib/api/cloudformation-deployments.ts
  packages/aws-cdk/lib/api/cxapp/cloud-executable.ts
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/package.json
  packages/aws-cdk/test/cdk-toolkit.test.ts
  yarn.lock
Labels: package/tools, contribution/core

#17070 fix(cli): `wmic not found` on modern Windows systems
  packages/aws-cdk/lib/api/aws-auth/awscli-compatible.ts
Labels: package/tools, contribution/core, pr-linter/exempt-test

#17279 fix(pipelines): `additionalInputs` not working
  packages/@aws-cdk/pipelines/lib/codepipeline/_codebuild-factory.ts
  packages/@aws-cdk/pipelines/test/codepipeline/codebuild-step.test.ts
  packages/@aws-cdk/pipelines/test/compliance/synths.test.ts
Labels: contribution/core, @aws-cdk/pipelines

#17345 chore: remove invalid test from regression suite
  packages/aws-cdk/test/integ/cli-regression-patches/v1.130.0/NOTES.md
  packages/aws-cdk/test/integ/cli-regression-patches/v1.130.0/bootstrapping.integtest.js
Labels: contribution/core

#16917 fix(cognito): ambiguous error message when same trigger is added twice
  packages/@aws-cdk/aws-cognito/lib/user-pool.ts
  packages/@aws-cdk/aws-cognito/test/user-pool.test.ts
Labels: @aws-cdk/aws-cognito

#16986 chore(lambda-nodejs): improve spawnSync error message
  packages/@aws-cdk/aws-lambda-nodejs/lib/util.ts
Labels: @aws-cdk/aws-lambda-nodejs

#17364 docs(ecs): update docs to accurately reflect that a new security group is created if one is not provided.
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/application-load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/queue-processing-fargate-service.ts
  packages/@aws-cdk/aws-ecs/lib/ec2/ec2-service.ts
  packages/@aws-cdk/aws-ecs/lib/external/external-service.ts
  packages/@aws-cdk/aws-ecs/lib/fargate/fargate-service.ts
Labels: @aws-cdk/aws-ecs, contribution/core

#17086 fix(lambda-nodejs): yarn berry goes into immutable mode in CI
  packages/@aws-cdk/aws-lambda-nodejs/lib/package-manager.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
Labels: @aws-cdk/aws-lambda-nodejs

#17336 chore: enable rosetta cache for builds
  build.sh
  buildspec-pr.yaml
  buildspec.yaml
  pack.sh
  scripts/cache-load.sh
  scripts/cache-store.sh
  scripts/list-packages
  scripts/run-rosetta.sh
  scripts/transform.sh
Labels: contribution/core, @aws-cdk/pipelines

#17365 chore(lambda-go): fix integ test
  packages/@aws-cdk/aws-lambda-go/lib/Dockerfile
  packages/@aws-cdk/aws-lambda-go/test/docker.test.ts
  packages/@aws-cdk/aws-lambda-go/test/integ.function.expected.json
  packages/@aws-cdk/aws-lambda-go/test/integ.function.ts
Labels: @aws-cdk/aws-lambda-go

#17363 feat(rds,secretsmanager): subnets and endpoint configuration for secret rotation
  packages/@aws-cdk/aws-rds/README.md
  packages/@aws-cdk/aws-rds/lib/props.ts
  packages/@aws-cdk/aws-rds/test/cluster.test.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
  packages/@aws-cdk/aws-secretsmanager/lib/secret-rotation.ts
  packages/@aws-cdk/aws-secretsmanager/test/secret-rotation.test.ts
Labels: @aws-cdk/aws-secretsmanager

#17357 fix: java and python templates are broken
  CONTRIBUTING.md
  packages/aws-cdk/lib/init-templates/v1/app/java/src/test/java/com/myorg/%name.PascalCased%Test.template.java
  packages/aws-cdk/lib/init-templates/v1/app/python/requirements.template.txt
  packages/aws-cdk/lib/init-templates/v1/app/python/tests/unit/test_%name.PythonModule%_stack.template.py
  packages/aws-cdk/lib/init-templates/v1/sample-app/java/src/test/java/com/myorg/%name.PascalCased%StackTest.template.java
  packages/aws-cdk/lib/init-templates/v2/app/java/src/test/java/com/myorg/%name.PascalCased%Test.template.java
  packages/aws-cdk/lib/init-templates/v2/sample-app/java/src/test/java/com/myorg/%name.PascalCased%StackTest.template.java
Labels: contribution/core

#17101 feat(ecs-service-extensions): Target tracking policies for Service Extensions
  packages/@aws-cdk-containers/ecs-service-extensions/README.md
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/http-load-balancer.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/service.ts
  packages/@aws-cdk-containers/ecs-service-extensions/test/http-load-balancer.test.ts
  packages/@aws-cdk-containers/ecs-service-extensions/test/service.test.ts
Labels: @aws-cdk-containers/ecs-service-extensions

#17373 chore: make new scripts executable
  scripts/cache-store.sh
  scripts/run-rosetta.sh
Labels: contribution/core

#16903 feat(apigatewayv2-authorizers): http api - allow multiple user pool clients per HttpUserPoolAuthorizer
  packages/@aws-cdk/aws-apigatewayv2-authorizers/README.md
  packages/@aws-cdk/aws-apigatewayv2-authorizers/lib/http/user-pool.ts
  packages/@aws-cdk/aws-apigatewayv2-authorizers/test/http/integ.user-pool.ts
  packages/@aws-cdk/aws-apigatewayv2-authorizers/test/http/user-pool.test.ts
Labels: @aws-cdk/aws-apigatewayv2-authorizers

#16896 docs(aws-s3-notifications): added example usage of aws-s3-notifications.LambdaDestination
  packages/@aws-cdk/aws-s3-notifications/README.md
  packages/@aws-cdk/aws-wafv2/README.md
Labels: @aws-cdk/aws-s3-notifications

#17384 chore(merge-back): 1.131.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash, pr/auto-approve

#17388 chore: fix packages transform for stability stripping
  tools/@aws-cdk/individual-pkg-gen/transform-packages.ts
Labels: contribution/core

#17392 feat(cfnspec): cloudformation spec v47.0.0
  packages/monocdk/rosetta/canary.ts-fixture
Labels: pr-linter/exempt-test, @aws-cdk/cfnspec, pr/auto-approve

#17302 chore: new workflow that adds a checklist when there is a change to custom resources
  .github/workflows/cr-checklist.yml
  .github/workflows/cr-mapping.json
Labels: contribution/core

#17393 chore: log rosetta statistics
  scripts/run-rosetta.sh
Labels: contribution/core

#17370 chore(apigatewayv2): make examples compile
  packages/@aws-cdk/aws-apigatewayv2-authorizers/README.md
  packages/@aws-cdk/aws-apigatewayv2-authorizers/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-apigatewayv2-integrations/README.md
  packages/@aws-cdk/aws-apigatewayv2-integrations/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-apigatewayv2/README.md
  packages/@aws-cdk/aws-apigatewayv2/rosetta/default.ts-fixture
Labels: contribution/core, @aws-cdk/aws-apigatewayv2

#17395 feat: the assertions module is now stable!
  packages/@aws-cdk/assertions/README.md
  packages/@aws-cdk/assertions/package.json
  packages/aws-cdk/lib/init-templates/v2/app/go/%name%_test.template.go
  packages/aws-cdk/lib/init-templates/v2/app/go/go.template.mod
  packages/aws-cdk/lib/init-templates/v2/app/java/pom.template.xml
  packages/aws-cdk/lib/init-templates/v2/app/java/src/test/java/com/myorg/%name.PascalCased%Test.template.java
  packages/aws-cdk/lib/init-templates/v2/app/javascript/package.template.json
  packages/aws-cdk/lib/init-templates/v2/app/javascript/test/%name%.test.template.js
  packages/aws-cdk/lib/init-templates/v2/app/python/requirements.template.txt
  packages/aws-cdk/lib/init-templates/v2/app/python/tests/unit/test_%name.PythonModule%_stack.template.py
  packages/aws-cdk/lib/init-templates/v2/app/typescript/package.template.json
  packages/aws-cdk/lib/init-templates/v2/app/typescript/test/%name%.test.template.ts
  packages/aws-cdk/lib/init-templates/v2/lib/typescript/package.template.json
  packages/aws-cdk/lib/init-templates/v2/lib/typescript/test/%name%.test.template.ts
  packages/aws-cdk/lib/init-templates/v2/sample-app/go/%name%_test.template.go
  packages/aws-cdk/lib/init-templates/v2/sample-app/go/go.template.mod
  packages/aws-cdk/lib/init-templates/v2/sample-app/java/pom.template.xml
  packages/aws-cdk/lib/init-templates/v2/sample-app/java/src/test/java/com/myorg/%name.PascalCased%StackTest.template.java
  packages/aws-cdk/lib/init-templates/v2/sample-app/javascript/package.template.json
  packages/aws-cdk/lib/init-templates/v2/sample-app/javascript/test/%name%.test.template.js
  packages/aws-cdk/lib/init-templates/v2/sample-app/python/requirements.template.txt
  packages/aws-cdk/lib/init-templates/v2/sample-app/python/tests/unit/test_%name.PythonModule%_stack.template.py
  packages/aws-cdk/lib/init-templates/v2/sample-app/typescript/package.template.json
  packages/aws-cdk/lib/init-templates/v2/sample-app/typescript/test/%name%.test.template.ts
Labels: contribution/core, pr-linter/exempt-test, @aws-cdk/assertions

#17398 chore: fix pr-labeler permissions
  .github/workflows/pr-labeler.yml
Labels: contribution/core

#17131 fix(opensearch): domain doesn't handle tokens in capacity configuration
  packages/@aws-cdk/aws-elasticsearch/lib/domain.ts
  packages/@aws-cdk/aws-elasticsearch/test/domain.test.ts
  packages/@aws-cdk/aws-opensearchservice/lib/domain.ts
  packages/@aws-cdk/aws-opensearchservice/test/domain.test.ts
Labels: p1, effort/small, @aws-cdk/aws-opensearch

#16976 feat(stepfunctions-tasks): add `AutoTerminationPolicy` to `EmrCreateCluster`
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/emr/emr-create-cluster.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/emr/private/cluster-utils.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-create-cluster.test.ts
Labels: p1, effort/small, @aws-cdk/aws-stepfunctions-tasks

#17348 fix(codecommit): notifyOnPullRequestMerged method has a typo in its name
  packages/@aws-cdk/aws-codecommit/lib/repository.ts
  packages/@aws-cdk/aws-codecommit/test/integ.repository-notification.ts
  packages/@aws-cdk/aws-codecommit/test/notification-rule.test.ts
Labels: @aws-cdk/aws-codecommit

#17284 feat(apigatewayv2): http api - mTLS support
  packages/@aws-cdk/aws-apigatewayv2/README.md
  packages/@aws-cdk/aws-apigatewayv2/lib/common/domain-name.ts
  packages/@aws-cdk/aws-apigatewayv2/package.json
  packages/@aws-cdk/aws-apigatewayv2/test/http/domain-name.test.ts
Labels: @aws-cdk/aws-apigatewayv2

#17411 chore: forward merge 'master' into 'v2-main'
  .github/workflows/cr-checklist.yml
  .github/workflows/cr-mapping.json
  .github/workflows/pr-labeler.yml
  packages/@aws-cdk/assertions/README.md
  packages/@aws-cdk/assertions/package.json
  packages/@aws-cdk/aws-apigatewayv2-authorizers/README.md
  packages/@aws-cdk/aws-apigatewayv2-authorizers/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-apigatewayv2-integrations/README.md
  packages/@aws-cdk/aws-apigatewayv2-integrations/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-apigatewayv2/README.md
  packages/@aws-cdk/aws-apigatewayv2/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-codecommit/lib/repository.ts
  packages/@aws-cdk/aws-codecommit/test/integ.repository-notification.ts
  packages/@aws-cdk/aws-codecommit/test/notification-rule.test.ts
  packages/@aws-cdk/aws-elasticsearch/lib/domain.ts
  packages/@aws-cdk/aws-elasticsearch/test/domain.test.ts
  packages/@aws-cdk/aws-lambda-nodejs/README.md
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/types.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
  packages/@aws-cdk/aws-opensearchservice/lib/domain.ts
  packages/@aws-cdk/aws-opensearchservice/test/domain.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/emr/emr-create-cluster.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/emr/private/cluster-utils.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-create-cluster.test.ts
  packages/aws-cdk/lib/init-templates/v2/app/go/%name%_test.template.go
  packages/aws-cdk/lib/init-templates/v2/app/go/go.template.mod
  packages/aws-cdk/lib/init-templates/v2/app/java/pom.template.xml
  packages/aws-cdk/lib/init-templates/v2/app/java/src/test/java/com/myorg/%name.PascalCased%Test.template.java
  packages/aws-cdk/lib/init-templates/v2/app/javascript/package.template.json
  packages/aws-cdk/lib/init-templates/v2/app/javascript/test/%name%.test.template.js
  packages/aws-cdk/lib/init-templates/v2/app/python/requirements.template.txt
  packages/aws-cdk/lib/init-templates/v2/app/python/tests/unit/test_%name.PythonModule%_stack.template.py
  packages/aws-cdk/lib/init-templates/v2/app/typescript/package.template.json
  packages/aws-cdk/lib/init-templates/v2/app/typescript/test/%name%.test.template.ts
  packages/aws-cdk/lib/init-templates/v2/lib/typescript/package.template.json
  packages/aws-cdk/lib/init-templates/v2/lib/typescript/test/%name%.test.template.ts
  packages/aws-cdk/lib/init-templates/v2/sample-app/go/%name%_test.template.go
  packages/aws-cdk/lib/init-templates/v2/sample-app/go/go.template.mod
  packages/aws-cdk/lib/init-templates/v2/sample-app/java/pom.template.xml
  packages/aws-cdk/lib/init-templates/v2/sample-app/java/src/test/java/com/myorg/%name.PascalCased%StackTest.template.java
  packages/aws-cdk/lib/init-templates/v2/sample-app/javascript/package.template.json
  packages/aws-cdk/lib/init-templates/v2/sample-app/javascript/test/%name%.test.template.js
  packages/aws-cdk/lib/init-templates/v2/sample-app/python/requirements.template.txt
  packages/aws-cdk/lib/init-templates/v2/sample-app/python/tests/unit/test_%name.PythonModule%_stack.template.py
  packages/aws-cdk/lib/init-templates/v2/sample-app/typescript/package.template.json
  packages/aws-cdk/lib/init-templates/v2/sample-app/typescript/test/%name%.test.template.ts
  packages/monocdk/rosetta/canary.ts-fixture
  scripts/run-rosetta.sh
Labels: pr/no-squash, pr/forward-merge, pr/auto-approve

#17410 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/assertions/package.json
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-dynamodb-global/lambda-packages/aws-global-table-coordinator/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-dasm/package.json
  packages/decdk/package.json
  packages/monocdk/package.json
  tools/@aws-cdk/cdk-build-tools/package.json
  tools/@aws-cdk/cfn2ts/package.json
  yarn.lock
Labels: dependencies, contribution/core, pr/auto-approve

#17400 chore(stepfunctions): migrate tests to assertions
  packages/@aws-cdk/aws-stepfunctions-tasks/package.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/aws-sdk/call-aws-service.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/ecs/ecs-tasks.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/ecs/run-tasks.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-add-step.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-cancel-step.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-create-cluster.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-modify-instance-fleet-by-name.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-modify-instance-group-by-name.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-set-cluster-termination-protection.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-terminate-cluster.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/evaluate-expression.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/eventbridge/put-events.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/glue/run-glue-job-task.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/glue/start-job-run.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/invoke-activity.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/invoke-function.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/invoke.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/run-lambda-task.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/create-endpoint-config.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/create-endpoint.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/create-model.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/create-training-job.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/create-transform-job.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/update-endpoint.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/start-execution.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/stepfunctions/invoke-activity.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/stepfunctions/start-execution.test.ts
  packages/@aws-cdk/aws-stepfunctions/package.json
  packages/@aws-cdk/aws-stepfunctions/test/activity.test.ts
  packages/@aws-cdk/aws-stepfunctions/test/condition.test.ts
  packages/@aws-cdk/aws-stepfunctions/test/custom-state.test.ts
  packages/@aws-cdk/aws-stepfunctions/test/fail.test.ts
  packages/@aws-cdk/aws-stepfunctions/test/fields.test.ts
  packages/@aws-cdk/aws-stepfunctions/test/map.test.ts
  packages/@aws-cdk/aws-stepfunctions/test/parallel.test.ts
  packages/@aws-cdk/aws-stepfunctions/test/pass.test.ts
  packages/@aws-cdk/aws-stepfunctions/test/state-machine-resources.test.ts
  packages/@aws-cdk/aws-stepfunctions/test/state-machine.test.ts
  packages/@aws-cdk/aws-stepfunctions/test/states-language.test.ts
  packages/@aws-cdk/aws-stepfunctions/test/task-base.test.ts
  packages/@aws-cdk/aws-stepfunctions/test/wait.test.ts
Labels: @aws-cdk/aws-stepfunctions, contribution/core

#16973 chore(assertions): cleanup unused bundled dependencies
  package.json
  packages/@aws-cdk/assertions/NOTICE
  packages/@aws-cdk/assertions/package.json
  packages/aws-cdk-lib/NOTICE
  packages/aws-cdk-lib/package.json
  packages/monocdk/NOTICE
  packages/monocdk/package.json
Labels: contribution/core

#17419 chore: fix python app v2 init template
  packages/aws-cdk/lib/init-templates/v2/app/python/tests/unit/test_%name.PythonModule%_stack.template.py
Labels: package/tools, contribution/core

#16872 feat(apigatewayv2): websocket api: grant manage connections
  packages/@aws-cdk/aws-apigatewayv2/README.md
  packages/@aws-cdk/aws-apigatewayv2/lib/websocket/api.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/websocket/stage.ts
  packages/@aws-cdk/aws-apigatewayv2/test/websocket/api.test.ts
  packages/@aws-cdk/aws-apigatewayv2/test/websocket/stage.test.ts
Labels: @aws-cdk/aws-apigatewayv2

#17418 chore: fix python app v2 init template
  packages/aws-cdk/lib/init-templates/v2/app/python/tests/unit/test_%name.PythonModule%_stack.template.py
Labels: package/tools, contribution/core

#17417 chore: activate 'rosetta infuse' feature
  pack.sh
Labels: contribution/core

#17423 chore(merge-back): 1.132.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash, pr/auto-approve

#17376 feat(stepfunctions-tasks): Support `DynamoAttributeValue.listFromJsonPath`
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/dynamodb/shared-types.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/dynamodb/integ.call-dynamodb.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/dynamodb/integ.call-dynamodb.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/dynamodb/shared-types.test.ts
Labels: pr-linter/exempt-readme, @aws-cdk/aws-stepfunctions-tasks

#17330 fix(autoscaling): add timezone property to Scheduled Action
  packages/@aws-cdk/aws-autoscaling/lib/scheduled-action.ts
  packages/@aws-cdk/aws-autoscaling/test/scheduled-action.test.ts
Labels: @aws-cdk/aws-autoscaling

#16972 feat(assertions): support assertions over nested stacks
  package.json
  packages/@aws-cdk/assertions/NOTICE
  packages/@aws-cdk/assertions/lib/template.ts
  packages/@aws-cdk/assertions/package.json
  packages/@aws-cdk/assertions/test/template.test.ts
Labels: contribution/core, pr-linter/exempt-readme

#17434 chore(merge-back): 2.0.0-rc.28
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/no-squash, pr/auto-approve

#17421 docs: re-enable example 'strict' mode where possible
  packages/@aws-cdk/assertions/package.json
  packages/@aws-cdk/aws-apigateway/package.json
  packages/@aws-cdk/aws-apigatewayv2-authorizers/package.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/README.md
  packages/@aws-cdk/aws-apigatewayv2-integrations/package.json
  packages/@aws-cdk/aws-applicationautoscaling/lib/scalable-target.ts
  packages/@aws-cdk/aws-applicationautoscaling/lib/target-tracking-scaling-policy.ts
  packages/@aws-cdk/aws-applicationautoscaling/package.json
  packages/@aws-cdk/aws-appmesh/lib/virtual-service.ts
  packages/@aws-cdk/aws-appmesh/package.json
  packages/@aws-cdk/aws-appsync/package.json
  packages/@aws-cdk/aws-autoscaling/package.json
  packages/@aws-cdk/aws-cloudwatch/package.json
  packages/@aws-cdk/aws-codebuild/README.md
  packages/@aws-cdk/aws-codebuild/lib/file-location.ts
  packages/@aws-cdk/aws-codebuild/package.json
  packages/@aws-cdk/aws-codepipeline-actions/README.md
  packages/@aws-cdk/aws-codepipeline-actions/package.json
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-ec2/package.json
  packages/@aws-cdk/aws-ecr/package.json
  packages/@aws-cdk/aws-ecs-patterns/package.json
  packages/@aws-cdk/aws-ecs/package.json
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/shared/base-load-balancer.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/shared/base-target-group.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/package.json
  packages/@aws-cdk/aws-events-targets/package.json
  packages/@aws-cdk/aws-events/package.json
  packages/@aws-cdk/aws-iam/package.json
  packages/@aws-cdk/aws-kms/package.json
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-logs/README.md
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/aws-logs/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-rds/package.json
  packages/@aws-cdk/aws-route53-patterns/package.json
  packages/@aws-cdk/aws-route53-targets/README.md
  packages/@aws-cdk/aws-route53-targets/package.json
  packages/@aws-cdk/aws-route53/package.json
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/aws-s3/package.json
  packages/@aws-cdk/aws-sns-subscriptions/package.json
  packages/@aws-cdk/aws-sns/package.json
  packages/@aws-cdk/aws-sqs/package.json
  packages/@aws-cdk/aws-ssm/package.json
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/athena/get-query-execution.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/athena/get-query-results.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/athena/start-query-execution.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/dynamodb/shared-types.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/evaluate-expression.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/eventbridge/put-events.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/package.json
  packages/@aws-cdk/aws-stepfunctions/lib/states/wait.ts
  packages/@aws-cdk/aws-stepfunctions/package.json
  packages/@aws-cdk/aws-synthetics/package.json
  packages/@aws-cdk/pipelines/lib/blueprint/stack-deployment.ts
  packages/@aws-cdk/pipelines/package.json
Labels: contribution/core

#17385 chore(iot-actions): simplify cloudwatch-logs-action test
  packages/@aws-cdk/aws-iot-actions/test/cloudwatch-logs/cloudwatch-logs-action.test.ts
Labels: @aws-cdk/aws-iot-actions

#17403 fix(aws-logs): include new `policy.ts` exports in `index.ts` exports
  packages/@aws-cdk/aws-logs/lib/index.ts
  packages/@aws-cdk/aws-logs/lib/policy.ts
  packages/@aws-cdk/aws-logs/test/policy.test.ts
Labels: @aws-cdk/aws-logs, contribution/core

#17372 feat(lambda): singleton function: access runtime, log group and configure layers and environment
  packages/@aws-cdk/aws-lambda/lib/singleton-lambda.ts
  packages/@aws-cdk/aws-lambda/test/singleton-lambda.test.ts
Labels: @aws-cdk/aws-lambda, contribution/core, pr-linter/exempt-readme

#17435 fix(aws-codebuild): add @aws-cdk/asserts to package deps
  packages/@aws-cdk/aws-codebuild/package.json
Labels: @aws-cdk/aws-codebuild, contribution/core, pr-linter/exempt-test

#17371 feat(servicecatalog): support local launch role name in launch role constraint
  packages/@aws-cdk/aws-servicecatalog/README.md
  packages/@aws-cdk/aws-servicecatalog/lib/portfolio.ts
  packages/@aws-cdk/aws-servicecatalog/lib/private/association-manager.ts
  packages/@aws-cdk/aws-servicecatalog/lib/private/validation.ts
  packages/@aws-cdk/aws-servicecatalog/test/portfolio.test.ts
Labels: @aws-cdk/aws-servicecatalog

#17439 chore(monocdk): ignore rosetta folder
  packages/monocdk/.gitignore
  packages/monocdk/rosetta/README-custom-resource-provider.ts-fixture
  packages/monocdk/rosetta/basic-constructs.ts-fixture
  packages/monocdk/rosetta/basic-portfolio.ts-fixture
  packages/monocdk/rosetta/basic.ts-fixture
  packages/monocdk/rosetta/client-vpn.ts-fixture
  packages/monocdk/rosetta/cluster.ts-fixture
  packages/monocdk/rosetta/default.ts-fixture
  packages/monocdk/rosetta/init.ts-fixture
  packages/monocdk/rosetta/migrate-opensearch.ts-fixture
  packages/monocdk/rosetta/portfolio-product.ts-fixture
  packages/monocdk/rosetta/with-bucket.ts-fixture
  packages/monocdk/rosetta/with-channel.ts-fixture
  packages/monocdk/rosetta/with-cluster.ts-fixture
  packages/monocdk/rosetta/with-delivery-stream.ts-fixture
  packages/monocdk/rosetta/with-destination.ts-fixture
  packages/monocdk/rosetta/with-filesystem-instance.ts-fixture
  packages/monocdk/rosetta/with-lambda-trigger.ts-fixture
  packages/monocdk/rosetta/with-objects.ts-fixture
  packages/monocdk/rosetta/with-plan.ts-fixture
  packages/monocdk/rosetta/with-vpc.ts-fixture
  packages/monocdk/rosetta/withRepoAndKinesisStream.ts-fixture
  packages/monocdk/rosetta/withRepoAndSqsQueue.ts-fixture
  packages/monocdk/rosetta/withRepoAndTopic.ts-fixture
Labels: contribution/core, monocdk

#17445 chore(release): 2.0.0-rc.29
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/no-squash, pr/auto-approve

#17450 chore(merge-back): 2.0.0-rc.29
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/no-squash, pr/auto-approve

#17432 chore(core): make examples compile
  packages/@aws-cdk/core/README.md
  packages/@aws-cdk/core/lib/assets.ts
  packages/@aws-cdk/core/lib/bundling.ts
  packages/@aws-cdk/core/lib/construct-compat.ts
  packages/@aws-cdk/core/lib/custom-resource-provider/custom-resource-provider.ts
  packages/@aws-cdk/core/lib/nested-stack.ts
  packages/@aws-cdk/core/lib/removal-policy.ts
  packages/@aws-cdk/core/lib/stack.ts
  packages/@aws-cdk/core/package.json
  packages/@aws-cdk/core/rosetta/default.ts-fixture
  packages/aws-cdk-lib/README.md
Labels: @aws-cdk/core, contribution/core

#17438 chore(ubergen): make rosetta fixtures submodule aware
  tools/@aws-cdk/ubergen/bin/ubergen.ts
Labels: contribution/core, aws-cdk-lib

#17455 fix(cli): skip bundling for the 'watch' command
  packages/aws-cdk/lib/settings.ts
  packages/aws-cdk/test/settings.test.ts
Labels: @aws-cdk/core, package/tools

#17451 chore(iot-actions): clarify the test difference
  packages/@aws-cdk/aws-iot-actions/test/cloudwatch-logs/cloudwatch-logs-action.test.ts
Labels: @aws-cdk/aws-iot-actions

#17307 feat(iot): add Action to put objects in S3 Buckets
  package.json
  packages/@aws-cdk/aws-iot-actions/NOTICE
  packages/@aws-cdk/aws-iot-actions/README.md
  packages/@aws-cdk/aws-iot-actions/lib/cloudwatch-logs-action.ts
  packages/@aws-cdk/aws-iot-actions/lib/common-action-props.ts
  packages/@aws-cdk/aws-iot-actions/lib/index.ts
  packages/@aws-cdk/aws-iot-actions/lib/s3-put-object-action.ts
  packages/@aws-cdk/aws-iot-actions/package.json
  packages/@aws-cdk/aws-iot-actions/test/s3-put-object/integ.s3-put-object-action.expected.json
  packages/@aws-cdk/aws-iot-actions/test/s3-put-object/integ.s3-put-object-action.ts
  packages/@aws-cdk/aws-iot-actions/test/s3-put-object/s3-put-object-action.test.ts
Labels: @aws-cdk/aws-iot, @aws-cdk/aws-iot-actions

#17343 fix(NestedStack): add asset metadata to NestedStack resources for local tooling
  packages/@aws-cdk/core/lib/nested-stack.ts
  packages/@aws-cdk/core/test/stack.test.ts
Labels: @aws-cdk/aws-cloudformation

#17047 fix(ssm): fix service principals for all regions since ap-east-1
  packages/@aws-cdk/region-info/lib/default.ts
  packages/@aws-cdk/region-info/test/default.test.ts
Labels: @aws-cdk/aws-ssm

#17293 fix(apigateway): SAM CLI asset metadata missing from SpecRestApi
  packages/@aws-cdk/aws-apigateway/lib/api-definition.ts
  packages/@aws-cdk/aws-apigateway/lib/restapi.ts
  packages/@aws-cdk/aws-apigateway/test/api-definition.test.ts
  packages/@aws-cdk/aws-apigateway/test/authorizers/integ.request-authorizer.lit.expected.json
  packages/@aws-cdk/aws-apigateway/test/authorizers/integ.request-authorizer.lit.ts
  packages/@aws-cdk/aws-apigateway/test/authorizers/integ.token-authorizer-iam-role.expected.json
  packages/@aws-cdk/aws-apigateway/test/authorizers/integ.token-authorizer-iam-role.ts
  packages/@aws-cdk/aws-apigateway/test/authorizers/integ.token-authorizer.lit.expected.json
  packages/@aws-cdk/aws-apigateway/test/authorizers/integ.token-authorizer.lit.ts
  packages/@aws-cdk/aws-apigateway/test/integ.cors.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.cors.ts
  packages/@aws-cdk/aws-apigateway/test/integ.lambda-api.latebound-deploymentstage.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.lambda-api.latebound-deploymentstage.ts
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.books.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.books.ts
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.multistack.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.multistack.ts
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.multiuse.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.multiuse.ts
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.ts
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.vpc-endpoint.expected.json
Labels: @aws-cdk/aws-apigateway

#17273 fix(sns-subscriptions): enable cross region subscriptions to sqs and lambda
  packages/@aws-cdk/aws-sns-subscriptions/lib/lambda.ts
  packages/@aws-cdk/aws-sns-subscriptions/lib/sqs.ts
  packages/@aws-cdk/aws-sns-subscriptions/test/integ.sns-lambda-cross-region.expected.json
  packages/@aws-cdk/aws-sns-subscriptions/test/integ.sns-lambda-cross-region.ts
  packages/@aws-cdk/aws-sns-subscriptions/test/integ.sns-sqs-cross-region.lit.expected.json
  packages/@aws-cdk/aws-sns-subscriptions/test/integ.sns-sqs-cross-region.lit.ts
  packages/@aws-cdk/aws-sns-subscriptions/test/subs.test.ts
Labels: contribution/core, @aws-cdk/aws-sns-subscriptions

#17196 feat(eks): Allow passing of custom IAM role to Kube Ctl Lambda
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/lib/kubectl-provider.ts
  packages/@aws-cdk/aws-eks/test/cluster.test.ts
Labels: @aws-cdk/aws-eks

#17213 fix(redshift): tableNameSuffix evaluation
  packages/@aws-cdk/aws-redshift/lib/private/database-query-provider/table.ts
  packages/@aws-cdk/aws-redshift/lib/private/handler-props.ts
  packages/@aws-cdk/aws-redshift/lib/table.ts
  packages/@aws-cdk/aws-redshift/test/database-query-provider/table.test.ts
  packages/@aws-cdk/aws-redshift/test/integ.database.expected.json
  packages/@aws-cdk/aws-redshift/test/table.test.ts
Labels: @aws-cdk/aws-redshift

#17429 fix(eks): Allow specifying subnets in Pinger
  packages/@aws-cdk/aws-eks/test/pinger/pinger.ts
Labels: @aws-cdk/aws-eks

#17358 fix(kinesis): add required rights to trigger Lambda from Kinesis. Fixes issue #17312.
  packages/@aws-cdk/aws-kinesis/lib/stream.ts
  packages/@aws-cdk/aws-kinesis/test/integ.stream.expected.json
  packages/@aws-cdk/aws-kinesis/test/stream.test.ts
  packages/@aws-cdk/aws-kinesisfirehose/lib/delivery-stream.ts
  packages/@aws-cdk/aws-kinesisfirehose/test/integ.delivery-stream.source-stream.expected.json
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.kinesis.expected.json
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.kinesiswithdlq.expected.json
  packages/@aws-cdk/aws-lambda-event-sources/test/kinesis.test.ts
Labels: @aws-cdk/aws-kinesis

#17420 chore(eks): clarified the usage of the `vpcSubnets` property
  packages/@aws-cdk/aws-eks/README.md
Labels: @aws-cdk/aws-eks, contribution/core

#17135 feat(redshift): Add support for distStyle, distKey, sortStyle and sortKey to Table
  packages/@aws-cdk/aws-redshift/README.md
  packages/@aws-cdk/aws-redshift/lib/private/database-query-provider/privileges.ts
  packages/@aws-cdk/aws-redshift/lib/private/database-query-provider/table.ts
  packages/@aws-cdk/aws-redshift/lib/private/database-query-provider/types.ts
  packages/@aws-cdk/aws-redshift/lib/private/database-query-provider/user.ts
  packages/@aws-cdk/aws-redshift/lib/private/database-query-provider/util.ts
  packages/@aws-cdk/aws-redshift/lib/private/handler-props.ts
  packages/@aws-cdk/aws-redshift/lib/table.ts
  packages/@aws-cdk/aws-redshift/rosetta/cluster.ts-fixture
  packages/@aws-cdk/aws-redshift/test/database-query-provider/table.test.ts
  packages/@aws-cdk/aws-redshift/test/integ.database.expected.json
  packages/@aws-cdk/aws-redshift/test/integ.database.ts
  packages/@aws-cdk/aws-redshift/test/table.test.ts
Labels: p1, effort/medium, @aws-cdk/aws-redshift

#17440 chore(cli): correctly set up `cdk watch` in init templates
  packages/aws-cdk/lib/init-templates/v1/app/csharp/cdk.template.json
  packages/aws-cdk/lib/init-templates/v1/app/fsharp/cdk.template.json
  packages/aws-cdk/lib/init-templates/v1/app/go/cdk.template.json
  packages/aws-cdk/lib/init-templates/v1/app/java/cdk.json
  packages/aws-cdk/lib/init-templates/v1/app/javascript/cdk.template.json
  packages/aws-cdk/lib/init-templates/v1/app/python/cdk.template.json
  packages/aws-cdk/lib/init-templates/v1/app/typescript/cdk.template.json
  packages/aws-cdk/lib/init-templates/v1/sample-app/csharp/cdk.template.json
  packages/aws-cdk/lib/init-templates/v1/sample-app/fsharp/cdk.template.json
  packages/aws-cdk/lib/init-templates/v1/sample-app/go/cdk.template.json
  packages/aws-cdk/lib/init-templates/v1/sample-app/java/cdk.json
  packages/aws-cdk/lib/init-templates/v1/sample-app/javascript/cdk.template.json
  packages/aws-cdk/lib/init-templates/v1/sample-app/python/cdk.template.json
  packages/aws-cdk/lib/init-templates/v1/sample-app/typescript/cdk.template.json
  packages/aws-cdk/lib/init-templates/v2/app/csharp/cdk.template.json
  packages/aws-cdk/lib/init-templates/v2/app/fsharp/cdk.template.json
  packages/aws-cdk/lib/init-templates/v2/app/go/cdk.template.json
  packages/aws-cdk/lib/init-templates/v2/app/java/cdk.json
  packages/aws-cdk/lib/init-templates/v2/app/javascript/cdk.template.json
  packages/aws-cdk/lib/init-templates/v2/app/python/cdk.template.json
  packages/aws-cdk/lib/init-templates/v2/app/typescript/cdk.template.json
  packages/aws-cdk/lib/init-templates/v2/sample-app/csharp/cdk.template.json
  packages/aws-cdk/lib/init-templates/v2/sample-app/fsharp/cdk.template.json
  packages/aws-cdk/lib/init-templates/v2/sample-app/go/cdk.template.json
  packages/aws-cdk/lib/init-templates/v2/sample-app/java/cdk.json
  packages/aws-cdk/lib/init-templates/v2/sample-app/javascript/cdk.template.json
  packages/aws-cdk/lib/init-templates/v2/sample-app/python/cdk.template.json
  packages/aws-cdk/lib/init-templates/v2/sample-app/typescript/cdk.template.json
Labels: package/tools, contribution/core

#17473 chore(rds): add Aurora MySQL version 2.10.1
  packages/@aws-cdk/aws-rds/lib/cluster-engine.ts
Labels: @aws-cdk/aws-rds

#17474 chore: add corymhall as owner for lightsail, aps, and apprunner
  .github/workflows/issue-label-assign.yml
Labels: contribution/core

#17323 feat(aws-eks): support bottlerocket managed nodegroup
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/managed-nodegroup.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-bottlerocket-ng.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-bottlerocket-ng.ts
  packages/@aws-cdk/aws-eks/test/nodegroup.test.ts
Labels: @aws-cdk/aws-eks

#17480 chore(batch): make examples compile
  packages/@aws-cdk/aws-batch/README.md
  packages/@aws-cdk/aws-batch/package.json
  packages/@aws-cdk/aws-batch/rosetta/default.ts-fixture
Labels: @aws-cdk/aws-batch, contribution/core

#17479 chore(codedeploy): make examples compile
  packages/@aws-cdk/aws-codedeploy/README.md
  packages/@aws-cdk/aws-codedeploy/package.json
  packages/@aws-cdk/aws-codedeploy/rosetta/default.ts-fixture
Labels: @aws-cdk/aws-codedeploy, contribution/core

#17476 chore: set 'strict' mode for many modules
  packages/@aws-cdk/aws-securityhub/README.md
  packages/@aws-cdk/aws-securityhub/package.json
  packages/@aws-cdk/aws-ssmcontacts/README.md
  packages/@aws-cdk/aws-ssmcontacts/package.json
  packages/@aws-cdk/aws-ssmcontacts/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-ssmincidents/README.md
  packages/@aws-cdk/aws-ssmincidents/package.json
  packages/@aws-cdk/aws-ssmincidents/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-sso/README.md
  packages/@aws-cdk/aws-sso/lib/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-sso/package.json
  packages/@aws-cdk/aws-timestream/README.md
  packages/@aws-cdk/aws-timestream/package.json
  packages/@aws-cdk/aws-timestream/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-transfer/package.json
  packages/@aws-cdk/aws-transfer/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-wafv2/package.json
  packages/@aws-cdk/aws-wafv2/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-wisdom/README.md
  packages/@aws-cdk/aws-wisdom/package.json
  packages/@aws-cdk/aws-wisdom/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-xray/README.md
  packages/@aws-cdk/aws-xray/package.json
  packages/@aws-cdk/aws-xray/rosetta/default.ts-fixture
Labels: contribution/core

#17467 chore(codepipeline): make examples compile
  packages/@aws-cdk/aws-codepipeline/README.md
  packages/@aws-cdk/aws-codepipeline/lib/custom-action-registration.ts
  packages/@aws-cdk/aws-codepipeline/lib/pipeline.ts
  packages/@aws-cdk/aws-codepipeline/package.json
  packages/@aws-cdk/aws-codepipeline/rosetta/action.ts-fixture
  packages/@aws-cdk/aws-codepipeline/rosetta/default.ts-fixture
Labels: @aws-cdk/aws-codepipeline, contribution/core

#17481 chore(stepfunctions-tasks): revert `AutoTerminationPolicy`
  allowed-breaking-changes.txt
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/emr/emr-create-cluster.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/emr/private/cluster-utils.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-create-cluster.test.ts
Labels: contribution/core, @aws-cdk/aws-stepfunctions-tasks

#17461 chore(cloudfront): make examples compile
  packages/@aws-cdk/aws-cloudfront/README.md
  packages/@aws-cdk/aws-cloudfront/lib/web-distribution.ts
  packages/@aws-cdk/aws-cloudfront/package.json
  packages/@aws-cdk/aws-cloudfront/rosetta/default.ts-fixture
Labels: @aws-cdk/aws-cloudfront, contribution/core

#17487 chore(redshift): fix build break due to undeclared dependency
  packages/@aws-cdk/aws-redshift/lib/private/database-query-provider/privileges.ts
  packages/@aws-cdk/aws-redshift/lib/private/database-query-provider/redshift-data.ts
  packages/@aws-cdk/aws-redshift/lib/private/database-query-provider/table.ts
  packages/@aws-cdk/aws-redshift/lib/private/database-query-provider/user.ts
  packages/@aws-cdk/aws-redshift/lib/private/database-query-provider/util.ts
Labels: contribution/core, @aws-cdk/aws-redshift

#17488 feat(ec2): add m5n and m5dn instance types
  packages/@aws-cdk/aws-ec2/lib/instance-types.ts
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme, pr-linter/exempt-test

#17466 feat(iot): add Action to put records to a Firehose stream
  packages/@aws-cdk/aws-iot-actions/README.md
  packages/@aws-cdk/aws-iot-actions/lib/firehose-stream-action.ts
  packages/@aws-cdk/aws-iot-actions/lib/index.ts
  packages/@aws-cdk/aws-iot-actions/package.json
  packages/@aws-cdk/aws-iot-actions/test/firehose-stream-action/firehose-stream-action.test.ts
  packages/@aws-cdk/aws-iot-actions/test/firehose-stream-action/integ.firehose-stream-action.expected.json
  packages/@aws-cdk/aws-iot-actions/test/firehose-stream-action/integ.firehose-stream-action.ts
  tools/@aws-cdk/pkglint/lib/rules.ts
Labels: @aws-cdk/aws-iot

#17477 chore(lambda): enable 'strict' mode on lambda modules
  packages/@aws-cdk/aws-lambda-destinations/README.md
  packages/@aws-cdk/aws-lambda-destinations/package.json
  packages/@aws-cdk/aws-lambda-destinations/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-lambda-event-sources/README.md
  packages/@aws-cdk/aws-lambda-event-sources/package.json
  packages/@aws-cdk/aws-lambda-event-sources/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-lambda-go/README.md
  packages/@aws-cdk/aws-lambda-go/lib/types.ts
  packages/@aws-cdk/aws-lambda-go/package.json
  packages/@aws-cdk/aws-lambda-go/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-lambda-nodejs/README.md
  packages/@aws-cdk/aws-lambda-nodejs/lib/types.ts
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-lambda-nodejs/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-lambda-python/README.md
  packages/@aws-cdk/aws-lambda-python/package.json
  packages/@aws-cdk/aws-lambda-python/rosetta/default.ts-fixture
  packages/@aws-cdk/lambda-layer-awscli/README.md
  packages/@aws-cdk/lambda-layer-awscli/package.json
  packages/@aws-cdk/lambda-layer-awscli/rosetta/default.ts-fixture
  packages/@aws-cdk/lambda-layer-kubectl/README.md
  packages/@aws-cdk/lambda-layer-kubectl/package.json
  packages/@aws-cdk/lambda-layer-kubectl/rosetta/default.ts-fixture
Labels: @aws-cdk/aws-lambda, contribution/core

#16970 feat(ecs): Add SystemControls to ContainerDefinition
  packages/@aws-cdk/aws-ecs/README.md
  packages/@aws-cdk/aws-ecs/lib/container-definition.ts
  packages/@aws-cdk/aws-ecs/test/container-definition.test.ts
Labels: @aws-cdk/aws-ecs

#17459 chore(eks): make examples compile
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-eks/rosetta/cdk8schart.ts-fixture
  packages/@aws-cdk/aws-eks/rosetta/default.ts-fixture
Labels: @aws-cdk/aws-eks, contribution/core

#17504 chore(lambda-go): remove all go code from integ test handler
  packages/@aws-cdk/aws-lambda-go/test/integ.function.expected.json
  packages/@aws-cdk/aws-lambda-go/test/lambda-handler-vendor/cmd/api/main.go
  packages/@aws-cdk/aws-lambda-go/test/lambda-handler-vendor/go.mod
  packages/@aws-cdk/aws-lambda-go/test/lambda-handler-vendor/go.sum
Labels: contribution/core, @aws-cdk/aws-lambda-go

#17235 fix(ec2): Duplicate EIP when NatGatewayProps.eipAllocationIds is provided
  packages/@aws-cdk/aws-ec2/lib/nat.ts
  packages/@aws-cdk/aws-ec2/lib/vpc.ts
  packages/@aws-cdk/aws-ec2/test/vpc.test.ts
Labels: @aws-cdk/aws-ec2

#17368 fix(lambda): SAM CLI asset metadata missing from image Functions
  packages/@aws-cdk/aws-ecr-assets/lib/image-asset.ts
  packages/@aws-cdk/aws-lambda/lib/code.ts
  packages/@aws-cdk/aws-lambda/test/code.test.ts
  packages/@aws-cdk/cx-api/lib/assets.ts
Labels: @aws-cdk/aws-lambda

#17495 chore(iot): rename FirehoseStreamProps to FirehoseStreamActionProps
  packages/@aws-cdk/aws-iot-actions/README.md
  packages/@aws-cdk/aws-iot-actions/lib/firehose-stream-action.ts
  packages/@aws-cdk/aws-iot-actions/test/cloudwatch/cloudwatch-logs-action.test.ts
  packages/@aws-cdk/aws-iot-actions/test/cloudwatch/integ.cloudwatch-logs-action.expected.json
  packages/@aws-cdk/aws-iot-actions/test/cloudwatch/integ.cloudwatch-logs-action.ts
  packages/@aws-cdk/aws-iot-actions/test/kinesis-firehose/firehose-stream-action.test.ts
  packages/@aws-cdk/aws-iot-actions/test/kinesis-firehose/integ.firehose-stream-action.expected.json
  packages/@aws-cdk/aws-iot-actions/test/kinesis-firehose/integ.firehose-stream-action.ts
  packages/@aws-cdk/aws-iot-actions/test/s3/integ.s3-put-object-action.expected.json
  packages/@aws-cdk/aws-iot-actions/test/s3/integ.s3-put-object-action.ts
  packages/@aws-cdk/aws-iot-actions/test/s3/s3-put-object-action.test.ts
Labels: @aws-cdk/aws-iot, contribution/core

#17506 chore(cfn-include): make examples compile
  packages/@aws-cdk/cloudformation-include/README.md
  packages/@aws-cdk/cloudformation-include/package.json
  packages/@aws-cdk/cloudformation-include/rosetta/default.ts-fixture
Labels: contribution/core, @aws-cdk/cloudformation-include

#17499 feat(ec2): add G5 instances
  packages/@aws-cdk/aws-ec2/lib/instance-types.ts
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme, pr-linter/exempt-test

#17117 feat(cognito): user pool: send emails using Amazon SES
  packages/@aws-cdk/aws-cognito/README.md
  packages/@aws-cdk/aws-cognito/lib/index.ts
  packages/@aws-cdk/aws-cognito/lib/user-pool-email.ts
  packages/@aws-cdk/aws-cognito/lib/user-pool.ts
  packages/@aws-cdk/aws-cognito/test/user-pool.test.ts
Labels: @aws-cdk/aws-cognito, contribution/core

#17274 docs: generate synthetic examples for types without handwritten ones
  .github/workflows/pr-linter.yml
  pack.sh
  scripts/run-rosetta.sh
  tools/@aws-cdk/generate-examples/.eslintrc.js
  tools/@aws-cdk/generate-examples/.gitignore
  tools/@aws-cdk/generate-examples/.npmignore
  tools/@aws-cdk/generate-examples/LICENSE
  tools/@aws-cdk/generate-examples/NOTICE
  tools/@aws-cdk/generate-examples/README.md
  tools/@aws-cdk/generate-examples/bin/generate-examples
  tools/@aws-cdk/generate-examples/bin/generate-examples.ts
  tools/@aws-cdk/generate-examples/jest.config.js
  tools/@aws-cdk/generate-examples/lib/assemblies.ts
  tools/@aws-cdk/generate-examples/lib/code.ts
  tools/@aws-cdk/generate-examples/lib/declaration.ts
  tools/@aws-cdk/generate-examples/lib/generate-missing-examples.ts
  tools/@aws-cdk/generate-examples/lib/generate.ts
  tools/@aws-cdk/generate-examples/lib/index.ts
  tools/@aws-cdk/generate-examples/lib/module-utils.ts
  tools/@aws-cdk/generate-examples/lib/utils.ts
  tools/@aws-cdk/generate-examples/package.json
  tools/@aws-cdk/generate-examples/test/code.test.ts
  tools/@aws-cdk/generate-examples/test/generate-missing-examples.test.ts
  tools/@aws-cdk/generate-examples/test/generate.test.ts
  tools/@aws-cdk/generate-examples/test/module-utils.test.ts
  tools/@aws-cdk/generate-examples/test/testutil.ts
  tools/@aws-cdk/generate-examples/test/utils.test.ts
  tools/@aws-cdk/generate-examples/tsconfig.json
Labels: docs/generated, contribution/core

#17514 chore(ecs-service-extensions): Modify connectTo() to have ConnectToProps parameter
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/extension-interfaces.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/service.ts
Labels: @aws-cdk/aws-ecs

#17121 chore(lambda): allow the architecture property to be readable from the Function
  packages/@aws-cdk/aws-lambda/lib/function.ts
  packages/@aws-cdk/aws-lambda/test/function.test.ts
Labels: @aws-cdk/aws-lambda

#17246 feat(ec2): lookup security group by name
  allowed-breaking-changes.txt
  packages/@aws-cdk/aws-ec2/README.md
  packages/@aws-cdk/aws-ec2/lib/security-group.ts
  packages/@aws-cdk/aws-ec2/test/security-group.test.ts
  packages/@aws-cdk/cloud-assembly-schema/lib/cloud-assembly/context-queries.ts
  packages/@aws-cdk/cloud-assembly-schema/schema/cloud-assembly.schema.json
  packages/@aws-cdk/cloud-assembly-schema/schema/cloud-assembly.version.json
  packages/aws-cdk/lib/context-providers/security-groups.ts
  packages/aws-cdk/test/context-providers/security-groups.test.ts
Labels: @aws-cdk/aws-ec2

#17522 chore: limit concurrency on the `transform.sh` script by default
  scripts/transform.sh
Labels: @aws-cdk/aws-kinesis, contribution/core

#17525 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-codepipeline-actions/package.json
  packages/@aws-cdk/aws-dynamodb-global/lambda-packages/aws-global-table-coordinator/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/core/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-dasm/package.json
  packages/decdk/package.json
  tools/@aws-cdk/cdk-build-tools/package.json
  tools/@aws-cdk/cfn2ts/package.json
  tools/@aws-cdk/eslint-plugin/package.json
  tools/@aws-cdk/generate-examples/package.json
  yarn.lock
Labels: dependencies, contribution/core, pr/auto-approve

#17498 feat(ec2): vpc endpoints for codeguru
  packages/@aws-cdk/aws-ec2/lib/vpc-endpoint.ts
  packages/@aws-cdk/aws-ec2/package.json
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme, pr-linter/exempt-test

#17409 fix(cli): improve asset publishing times by up to 30%
  packages/aws-cdk/lib/util/asset-publishing.ts
Labels: package/tools, contribution/core, pr-linter/exempt-test

#17524 chore(ubergen): examples in v2 libraries have incorrect imports
  tools/@aws-cdk/ubergen/bin/ubergen.ts
Labels: contribution/core, aws-cdk-lib

#17492 chore(ubergen): `rewriteReadmeImports` works for monocdk too
  tools/@aws-cdk/ubergen/bin/ubergen.ts
Labels: contribution/core, aws-cdk-lib

#17535 chore(release): 2.0.0-rc.30
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/no-squash, pr/auto-approve

#17510 chore(glue): make examples compile
  packages/@aws-cdk/aws-glue/README.md
  packages/@aws-cdk/aws-glue/package.json
  packages/@aws-cdk/aws-glue/rosetta/default.ts-fixture
Labels: @aws-cdk/aws-glue, contribution/core

#17539 chore(merge-back): 2.0.0-rc.30
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/no-squash, pr/auto-approve

#17542 chore: npm-check-updates && yarn upgrade
  yarn.lock
Labels: dependencies, contribution/core, pr/auto-approve

#17538 fix(cloudwatch): render agnostic alarms in legacy style
  packages/@aws-cdk/aws-cloudwatch/README.md
  packages/@aws-cdk/aws-cloudwatch/lib/alarm.ts
  packages/@aws-cdk/aws-cloudwatch/test/cross-environment.test.ts
Labels: @aws-cdk/aws-cloudwatch, contribution/core

#17549 chore: move to aws issue triage action
  .github/workflows/issue-label-assign.yml
Labels: contribution/core

#17543 chore(opensearch): make examples compile
  packages/@aws-cdk/aws-elasticsearch/README.md
  packages/@aws-cdk/aws-elasticsearch/package.json
  packages/@aws-cdk/aws-elasticsearch/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-opensearchservice/README.md
  packages/@aws-cdk/aws-opensearchservice/package.json
  packages/@aws-cdk/aws-opensearchservice/rosetta/default.ts-fixture
Labels: contribution/core, @aws-cdk/aws-opensearch

#17547 chore(eks-legacy): make examples compile
  packages/@aws-cdk/aws-eks-legacy/README.md
  packages/@aws-cdk/aws-eks-legacy/lib/cluster.ts
  packages/@aws-cdk/aws-eks-legacy/lib/k8s-resource.ts
  packages/@aws-cdk/aws-eks-legacy/package.json
  packages/@aws-cdk/aws-eks-legacy/rosetta/default.ts-fixture
Labels: contribution/core, @aws-cdk/aws-eks-legacy

#17548 chore(kinesis): make examples compile
  packages/@aws-cdk/aws-kinesis/README.md
  packages/@aws-cdk/aws-kinesis/package.json
  packages/@aws-cdk/aws-kinesis/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-kinesisanalytics-flink/README.md
  packages/@aws-cdk/aws-kinesisanalytics-flink/package.json
  packages/@aws-cdk/aws-kinesisanalytics-flink/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-kinesisanalytics/package.json
  packages/@aws-cdk/aws-kinesisfirehose-destinations/README.md
  packages/@aws-cdk/aws-kinesisfirehose-destinations/package.json
  packages/@aws-cdk/aws-kinesisfirehose-destinations/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-kinesisfirehose/README.md
  packages/@aws-cdk/aws-kinesisfirehose/package.json
  packages/@aws-cdk/aws-kinesisfirehose/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-kinesisfirehose/rosetta/with-bucket.ts-fixture
  packages/@aws-cdk/aws-kinesisfirehose/rosetta/with-delivery-stream.ts-fixture
  packages/@aws-cdk/aws-kinesisfirehose/rosetta/with-destination.ts-fixture
Labels: @aws-cdk/aws-kinesis, contribution/core
