Repository aws/aws-cdk, pull requests merged in 2021-12, with the labels that each got.

#17738 fix(dynamodb): add missing DynamoDB operations to enum
  packages/@aws-cdk/aws-dynamodb/lib/table.ts
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
Labels: @aws-cdk/aws-dynamodb

#17773 feat(apigatewayv2): constructs for http api are now stable! 🤘
  packages/@aws-cdk/aws-apigatewayv2-authorizers/README.md
  packages/@aws-cdk/aws-apigatewayv2-authorizers/package.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/README.md
  packages/@aws-cdk/aws-apigatewayv2-integrations/package.json
  packages/@aws-cdk/aws-apigatewayv2/README.md
  packages/@aws-cdk/aws-apigatewayv2/package.json
Labels: contribution/core, pr-linter/exempt-readme, pr-linter/exempt-test, @aws-cdk/aws-apigatewayv2

#17791 chore: re-allow monocdk deep imports
  packages/monocdk/package.json
  tools/@aws-cdk/ubergen/bin/ubergen.ts
Labels: contribution/core

#17496 fix(aws-ec2): imported VPC subnets never recognized as PRIVATE_ISOLATED
  packages/aws-cdk/lib/context-providers/vpcs.ts
  packages/aws-cdk/test/context-providers/asymmetric-vpcs.test.ts
  packages/aws-cdk/test/context-providers/vpcs.test.ts
Labels: @aws-cdk/aws-ec2

#17800 chore: transfer ownership of modules nija-at owns
  .github/workflows/issue-label-assign.yml
Labels: contribution/core

#15934 feat(backup): enable WindowsVss Backup
  packages/@aws-cdk/aws-backup/README.md
  packages/@aws-cdk/aws-backup/lib/plan.ts
  packages/@aws-cdk/aws-backup/test/plan.test.ts
Labels: p2, effort/small, @aws-cdk/aws-backup

#17809 chore: Revert "feat(apigatewayv2): constructs for http api are now stable! 🤘(#17773)"
  packages/@aws-cdk/aws-apigatewayv2-authorizers/README.md
  packages/@aws-cdk/aws-apigatewayv2-authorizers/package.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/README.md
  packages/@aws-cdk/aws-apigatewayv2-integrations/package.json
  packages/@aws-cdk/aws-apigatewayv2/README.md
  packages/@aws-cdk/aws-apigatewayv2/package.json
Labels: contribution/core, @aws-cdk/aws-apigatewayv2

#17713 feat(assertions): major improvements to the capture feature
  packages/@aws-cdk/assertions/README.md
  packages/@aws-cdk/assertions/lib/capture.ts
  packages/@aws-cdk/assertions/lib/match.ts
  packages/@aws-cdk/assertions/lib/matcher.ts
  packages/@aws-cdk/assertions/lib/private/matchers/absent.ts
  packages/@aws-cdk/assertions/lib/private/section.ts
  packages/@aws-cdk/assertions/test/capture.test.ts
  packages/@aws-cdk/assertions/test/template.test.ts
  packages/@aws-cdk/pipelines/test/compliance/assets.test.ts
Labels: contribution/core, @aws-cdk/assertions

#17820 chore(merge-back): 2.0.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  packages/@aws-cdk/assert/package.json
  packages/@aws-cdk/cloud-assembly-schema/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/cx-api/package.json
  packages/@aws-cdk/region-info/package.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-assets/package.json
  release.json
  tools/@aws-cdk/pkglint/lib/rules.ts
  version.v2.json
  yarn.lock
Labels: pr/no-squash, pr/auto-approve

#17823 chore: define new distribution tag strategy for v1 packages
  packages/@aws-cdk/assert/package.json
  packages/@aws-cdk/cloud-assembly-schema/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/cx-api/package.json
  packages/@aws-cdk/region-info/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-assets/package.json
  tools/@aws-cdk/pkglint/lib/rules.ts
Labels: contribution/core, aws-cdk-lib

#17779 feat(aws-s3-deployment): log retention option
  packages/@aws-cdk/aws-s3-deployment/README.md
  packages/@aws-cdk/aws-s3-deployment/lib/bucket-deployment.ts
  packages/@aws-cdk/aws-s3-deployment/package.json
  packages/@aws-cdk/aws-s3-deployment/test/bucket-deployment.test.ts
Labels: @aws-cdk/aws-s3-deployment

#17822 feat(rds): parameter group for replica instances
  packages/@aws-cdk/aws-rds/lib/instance.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
  packages/@aws-cdk/aws-rds/test/integ.read-replica.expected.json
  packages/@aws-cdk/aws-rds/test/integ.read-replica.ts
Labels: @aws-cdk/aws-rds, pr-linter/exempt-readme

#17833 chore: fix check-api-compatibility after change in distribution tags
  scripts/check-api-compatibility.sh
Labels: contribution/core

#17842 fix(dynamodb): changing `waitForReplicationToFinish` fails deployment
  packages/@aws-cdk/aws-dynamodb/lib/replica-handler/index.ts
  packages/@aws-cdk/aws-dynamodb/lib/table.ts
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
  packages/@aws-cdk/aws-dynamodb/test/replica-provider.test.ts
Labels: @aws-cdk/aws-dynamodb, contribution/core

#17740 feat(cognito): user pool: adds custom sender (Email/SMS) lambda triggers
  packages/@aws-cdk/aws-cognito/lib/user-pool.ts
  packages/@aws-cdk/aws-cognito/package.json
  packages/@aws-cdk/aws-cognito/test/integ.user-pool-custom-sender.expected.json
  packages/@aws-cdk/aws-cognito/test/integ.user-pool-custom-sender.ts
  packages/@aws-cdk/aws-cognito/test/user-pool.test.ts
Labels: @aws-cdk/aws-cognito, pr-linter/exempt-readme

#17746 feat(core): add applyRemovalPolicy to IResource
  packages/@aws-cdk/aws-ec2/test/client-vpn-authorization-rule.test.ts
  packages/@aws-cdk/aws-lambda/lib/function-base.ts
  packages/@aws-cdk/core/lib/resource.ts
  packages/@aws-cdk/core/test/resource.test.ts
Labels: @aws-cdk/core, pr-linter/exempt-readme

#17827 chore: remove experimental badge from aws-cdk-lib README
  packages/aws-cdk-lib/README.md
Labels: contribution/core, aws-cdk-lib

#17787 fix(appsync): remove 'id' suffix to union definition key
  packages/@aws-cdk/aws-appsync/lib/schema-intermediate.ts
Labels: contribution/core, pr-linter/exempt-test

#17851 fix(lambda-nodejs): bundling fails with a file dependency in `nodeModules`
  packages/@aws-cdk/aws-lambda-nodejs/lib/package-installation.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/util.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/package-installation.test.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/util.test.ts
Labels: @aws-cdk/aws-lambda-nodejs

#17815 fix(appsync): add caching config to AppSync resolvers
  packages/@aws-cdk/aws-appsync/lib/caching-config.ts
  packages/@aws-cdk/aws-appsync/lib/caching-key.ts
  packages/@aws-cdk/aws-appsync/lib/index.ts
  packages/@aws-cdk/aws-appsync/lib/resolver.ts
  packages/@aws-cdk/aws-appsync/test/appsync-caching-config.test.ts
  packages/@aws-cdk/aws-appsync/test/integ.api-import.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.appsync-lambda.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.auth-apikey.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-elasticsearch.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-iam.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-schema.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql.expected.json
Labels: @aws-cdk/aws-appsync

#17870 chore(lambda): fix doc typo in `permissions`
  packages/@aws-cdk/aws-lambda/lib/permission.ts
Labels: @aws-cdk/aws-lambda, contribution/core

#17880 chore(assertions): rename `finalize` to `finished`
  packages/@aws-cdk/assertions/lib/matcher.ts
  packages/@aws-cdk/assertions/lib/private/section.ts
  packages/@aws-cdk/assertions/test/capture.test.ts
Labels: contribution/core, @aws-cdk/assertions

#17865 fix(ecs-patterns): removeDefaultDesiredCount feature flag not expired properly
  packages/@aws-cdk/aws-ecs-patterns/lib/base/queue-processing-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/application-load-balanced-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/application-multiple-target-groups-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/network-load-balanced-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/network-multiple-target-groups-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/queue-processing-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/application-load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/application-multiple-target-groups-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/network-load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/network-multiple-target-groups-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/queue-processing-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/integ.multiple-application-load-balanced-ecs-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/l3s-v2.test.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/l3s.test.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/queue-processing-ecs-service.test.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.alb-fargate-service-https.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.asset-image.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.circuit-breaker-load-balanced-fargate-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.circuit-breaker-queue-processing-fargate-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.executionrole.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.l3-autocreate.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.l3-vpconly.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.l3.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.multiple-network-load-balanced-fargate-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.queue-processing-fargate-service-isolated.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.queue-processing-fargate-service-public.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.queue-processing-fargate-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.special-listener.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/load-balanced-fargate-service-v2.test.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/queue-processing-fargate-service.test.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2-targets/test/integ.alb-target.expected.json
Labels: @aws-cdk/aws-ecs-patterns, contribution/core

#17866 fix(lambda): recognizeVersionProps featureFlag not defaulting correctly
  packages/@aws-cdk/aws-cloudfront/test/distribution.test.ts
  packages/@aws-cdk/aws-cloudfront/test/experimental/edge-function.test.ts
  packages/@aws-cdk/aws-cloudfront/test/web-distribution.test.ts
  packages/@aws-cdk/aws-lambda/test/function-hash.test.ts
  packages/@aws-cdk/aws-lambda/test/lambda-version.test.ts
  packages/@aws-cdk/cx-api/lib/features.ts
Labels: @aws-cdk/aws-lambda, contribution/core

#17861 chore(apigateway): clarified the intent of `dataTraceEnabled`
  packages/@aws-cdk/aws-apigateway/lib/stage.ts
Labels: @aws-cdk/aws-apigateway, contribution/core

#17882 chore: forward merge 'master' into 'v2-main'
  .github/workflows/yarn-upgrade.yml
  packages/@aws-cdk/assertions/lib/matcher.ts
  packages/@aws-cdk/assertions/lib/private/section.ts
  packages/@aws-cdk/assertions/test/capture.test.ts
  packages/@aws-cdk/aws-appsync/lib/caching-config.ts
  packages/@aws-cdk/aws-appsync/lib/caching-key.ts
  packages/@aws-cdk/aws-appsync/lib/index.ts
  packages/@aws-cdk/aws-appsync/lib/resolver.ts
  packages/@aws-cdk/aws-appsync/lib/schema-intermediate.ts
  packages/@aws-cdk/aws-appsync/test/appsync-caching-config.test.ts
  packages/@aws-cdk/aws-appsync/test/integ.api-import.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.appsync-lambda.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.auth-apikey.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-elasticsearch.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-iam.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-schema.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql.expected.json
  packages/@aws-cdk/aws-cognito/lib/user-pool.ts
  packages/@aws-cdk/aws-cognito/package.json
  packages/@aws-cdk/aws-cognito/test/integ.user-pool-custom-sender.expected.json
  packages/@aws-cdk/aws-cognito/test/integ.user-pool-custom-sender.ts
  packages/@aws-cdk/aws-cognito/test/user-pool.test.ts
  packages/@aws-cdk/aws-dynamodb/lib/replica-handler/index.ts
  packages/@aws-cdk/aws-dynamodb/lib/table.ts
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
  packages/@aws-cdk/aws-dynamodb/test/replica-provider.test.ts
  packages/@aws-cdk/aws-ec2/test/client-vpn-authorization-rule.test.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/package-installation.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/util.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/package-installation.test.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/util.test.ts
  packages/@aws-cdk/aws-lambda/lib/function-base.ts
  packages/@aws-cdk/aws-lambda/lib/permission.ts
  packages/@aws-cdk/aws-rds/lib/instance.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
  packages/@aws-cdk/aws-rds/test/integ.read-replica.expected.json
  packages/@aws-cdk/aws-rds/test/integ.read-replica.ts
  packages/@aws-cdk/aws-s3-deployment/README.md
  packages/@aws-cdk/aws-s3-deployment/lib/bucket-deployment.ts
  packages/@aws-cdk/aws-s3-deployment/package.json
  packages/@aws-cdk/aws-s3-deployment/test/bucket-deployment.test.ts
  packages/@aws-cdk/aws-s3/lib/rule.ts
  packages/@aws-cdk/aws-stepfunctions/lib/states/parallel.ts
  packages/@aws-cdk/aws-stepfunctions/test/state-machine-fragment.test.ts
  packages/@aws-cdk/aws-stepfunctions/test/states-language.test.ts
  packages/@aws-cdk/core/lib/resource.ts
  packages/@aws-cdk/core/test/resource.test.ts
  packages/aws-cdk-lib/README.md
  scripts/check-api-compatibility.sh
  tools/@aws-cdk/pkglint/lib/rules.ts
Labels: pr/no-squash, pr/forward-merge, pr/auto-approve

#17900 chore: forward merge 'master' into 'v2-main'
  packages/@aws-cdk/aws-apigateway/lib/stage.ts
Labels: pr/no-squash, pr/forward-merge, pr/auto-approve

#17901 fix(assets): remove the original-path metadata
  packages/@aws-cdk/aws-lambda/test/code.test.ts
  packages/@aws-cdk/aws-lambda/test/layers.test.ts
  packages/@aws-cdk/aws-logs/test/log-retention.test.ts
  packages/@aws-cdk/aws-s3-assets/lib/asset.ts
  packages/@aws-cdk/aws-s3-assets/test/asset.test.ts
  packages/@aws-cdk/cx-api/lib/assets.ts
Labels: @aws-cdk/assets

#17914 chore(apigatewayv2): removed announcement for http api constructs
  CHANGELOG.v2.alpha.md
Labels: contribution/core, @aws-cdk/aws-apigatewayv2

#17906 fix(apigateway): dataTraceEnabled does not default to false
  packages/@aws-cdk/aws-apigateway/lib/stage.ts
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.expected.json
  packages/@aws-cdk/aws-apigateway/test/stage.test.ts
Labels: @aws-cdk/aws-apigateway, contribution/core

#17722 fix(codepipeline): default cross-region S3 buckets allow public access
  packages/@aws-cdk/aws-codepipeline/lib/private/cross-region-support-stack.ts
  packages/@aws-cdk/aws-codepipeline/test/cross-env.test.ts
Labels: @aws-cdk/aws-codepipeline

#17840 feat(ec2): propagate EC2 tags to volumes
  packages/@aws-cdk/aws-ec2/README.md
  packages/@aws-cdk/aws-ec2/lib/instance.ts
  packages/@aws-cdk/aws-ec2/test/instance.test.ts
Labels: @aws-cdk/aws-ec2

#17868 fix(cognito): remove invalid SES region check
  packages/@aws-cdk/aws-cognito/README.md
  packages/@aws-cdk/aws-cognito/lib/user-pool-email.ts
  packages/@aws-cdk/aws-cognito/test/user-pool.test.ts
Labels: @aws-cdk/aws-cognito, contribution/core

#17623 fix(iam): AWS Managed Policy ARNs are not deduped
  packages/@aws-cdk/aws-iam/lib/managed-policy.ts
  packages/@aws-cdk/aws-iam/test/managed-policy.test.ts
  packages/@aws-cdk/core/lib/arn.ts
  packages/@aws-cdk/core/test/arn.test.ts
Labels: @aws-cdk/aws-iam, contribution/core

#17571 chore: add integration test to test a construct with a builtin lambda
  packages/aws-cdk/test/integ/cli/app/app.js
  packages/aws-cdk/test/integ/cli/cli.integtest.ts
  packages/aws-cdk/test/integ/helpers/cdk.ts
Labels: package/tools, contribution/core

#17940 feat(ec2): add vpcName property to the VPC
  packages/@aws-cdk/aws-ec2/lib/vpc.ts
  packages/@aws-cdk/aws-ec2/test/vpc.test.ts
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme

#17931 fix(aws-cdk-migration): Construct imports not rewritten
  packages/aws-cdk-migration/bin/rewrite-imports-v2.ts
  packages/aws-cdk-migration/lib/rewrite.ts
  packages/aws-cdk-migration/test/rewrite.test.ts
Labels: contribution/core, aws-cdk-lib

#17947 fix(appsync): empty caching config is created when not provided
  packages/@aws-cdk/aws-appsync/lib/resolver.ts
  packages/@aws-cdk/aws-appsync/test/appsync-caching-config.test.ts
  packages/@aws-cdk/aws-appsync/test/integ.api-import.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.appsync-lambda.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.auth-apikey.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-elasticsearch.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-iam.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-schema.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql.expected.json
Labels: @aws-cdk/aws-appsync, contribution/core

#17941 fix(glue): remove `batchDeletePartition` from `grantRead()` permissions
  packages/@aws-cdk/aws-glue/lib/table.ts
  packages/@aws-cdk/aws-glue/test/integ.connection.expected.json
  packages/@aws-cdk/aws-glue/test/integ.security-configuration.expected.json
  packages/@aws-cdk/aws-glue/test/integ.table.expected.json
  packages/@aws-cdk/aws-glue/test/table.test.ts
Labels: @aws-cdk/aws-glue, contribution/core

#17688 fix(logs): log retention fails with OperationAbortedException
  packages/@aws-cdk/aws-logs/lib/log-retention-provider/index.ts
  packages/@aws-cdk/aws-logs/test/log-retention-provider.test.ts
Labels: @aws-cdk/aws-logs

#17954 chore: update contract for registerContextProvider
  packages/aws-cdk/lib/context-providers/index.ts
  packages/aws-cdk/lib/context-providers/provider.ts
  packages/aws-cdk/lib/plugin.ts
  packages/aws-cdk/test/api/cloud-executable.test.ts
  packages/aws-cdk/test/context-providers/generic.test.ts
Labels: @aws-cdk/aws-lambda, contribution/core, @aws-cdk/custom-resources

#17919 feat(aws-applicationautoscaling): enabling autoscaling for ElastiCache Redis cluster
  packages/@aws-cdk/aws-applicationautoscaling/README.md
  packages/@aws-cdk/aws-applicationautoscaling/lib/scalable-target.ts
  packages/@aws-cdk/aws-applicationautoscaling/lib/target-tracking-scaling-policy.ts
  packages/@aws-cdk/aws-applicationautoscaling/test/scalable-target.test.ts
Labels: @aws-cdk/aws-applicationautoscaling

#17957 chore(merge-back): 1.135.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash, pr/auto-approve

#17638 feat(cli): Hotswapping Support for S3 Bucket Deployments
  packages/aws-cdk/README.md
  packages/aws-cdk/lib/api/hotswap-deployments.ts
  packages/aws-cdk/lib/api/hotswap/evaluate-cloudformation-template.ts
  packages/aws-cdk/lib/api/hotswap/lambda-functions.ts
  packages/aws-cdk/lib/api/hotswap/s3-bucket-deployments.ts
  packages/aws-cdk/test/api/hotswap/hotswap-test-setup.ts
  packages/aws-cdk/test/api/hotswap/s3-bucket-hotswap-deployments.test.ts
Labels: package/tools, contribution/core

#17892 fix(cli): hotswapping StateMachines with a name fails
  packages/aws-cdk/lib/api/hotswap/stepfunctions-state-machines.ts
  packages/aws-cdk/test/api/hotswap/state-machine-hotswap-deployments.test.ts
Labels: package/tools, contribution/core

#17847 feat(iotevents): add IoT Events input L2 Construct
  packages/@aws-cdk/aws-iotevents/README.md
  packages/@aws-cdk/aws-iotevents/lib/index.ts
  packages/@aws-cdk/aws-iotevents/lib/input.ts
  packages/@aws-cdk/aws-iotevents/package.json
  packages/@aws-cdk/aws-iotevents/test/input.test.ts
  packages/@aws-cdk/aws-iotevents/test/integ.detector-model.expected.json
  packages/@aws-cdk/aws-iotevents/test/integ.detector-model.ts
  packages/@aws-cdk/aws-iotevents/test/iotevents.test.ts
Labels: @aws-cdk/aws-iotevents

#17889 feat(aws-ecs): expose environment from containerDefinition
  packages/@aws-cdk/aws-ecs/README.md
  packages/@aws-cdk/aws-ecs/lib/container-definition.ts
  packages/@aws-cdk/aws-ecs/test/container-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/integ.add-environment-variable.expected.json
  packages/@aws-cdk/aws-ecs/test/fargate/integ.add-environment-variable.ts
Labels: @aws-cdk/aws-ecs

#17983 chore: stop using mergify commit_message
  .mergify.yml
Labels: contribution/core

#17961 feat(aws-s3): add support for BucketOwnerEnforced to S3 ObjectOwnershipType
  packages/@aws-cdk/aws-s3/README.md
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/aws-s3/test/bucket.test.ts
Labels: @aws-cdk/aws-s3

#17964 feat(ec2): add high memory instances u-6tb1, u-9tb1, u-12tb1, u-18tb1, and u-24tb1
  packages/@aws-cdk/aws-ec2/lib/instance-types.ts
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme, pr-linter/exempt-test

#15776 fix(custom-resources): assumedRole from AwsCustomResource invocation leaked to next execution
  packages/@aws-cdk/custom-resources/lib/aws-custom-resource/runtime/index.ts
  packages/@aws-cdk/custom-resources/test/aws-custom-resource/runtime/index.test.ts
Labels: p1, effort/small, @aws-cdk/custom-resources

#17782 feat(ec2): add d3 and d3en instances
  packages/@aws-cdk/aws-ec2/lib/instance-types.ts
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme, pr-linter/exempt-test

#17780 feat(ec2): add im4gn and is4gen instances
  packages/@aws-cdk/aws-ec2/lib/instance-types.ts
  packages/@aws-cdk/aws-ec2/test/instance.test.ts
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme, pr-linter/exempt-test

#17959 chore(rds): add MariaDB 10.5.13, 10.4.22, 10.3.32, 10.2.41 and Aurora MySQL 3.01.0
  packages/@aws-cdk/aws-rds/lib/cluster-engine.ts
  packages/@aws-cdk/aws-rds/lib/instance-engine.ts
  packages/@aws-cdk/aws-rds/test/cluster-engine.test.ts
Labels: @aws-cdk/aws-rds

#17915 feat(apigateway): add option to set the base path when adding a domain name to a Rest API
  packages/@aws-cdk/aws-apigateway/lib/domain-name.ts
  packages/@aws-cdk/aws-apigateway/test/domains.test.ts
Labels: @aws-cdk/aws-apigateway, contribution/core, pr-linter/exempt-readme

#17441 feat(aws-applicationautoscaling): Allow autoscaling with "M out of N" datapoints
  packages/@aws-cdk/aws-applicationautoscaling/README.md
  packages/@aws-cdk/aws-applicationautoscaling/lib/step-scaling-policy.ts
  packages/@aws-cdk/aws-applicationautoscaling/test/step-scaling-policy.test.ts
Labels: @aws-cdk/aws-applicationautoscaling

#17694 fix(appmesh): adding support with gateway route priority
  packages/@aws-cdk/aws-appmesh/lib/gateway-route-spec.ts
  packages/@aws-cdk/aws-appmesh/lib/gateway-route.ts
  packages/@aws-cdk/aws-appmesh/lib/route-spec.ts
  packages/@aws-cdk/aws-appmesh/test/gateway-route.test.ts
Labels: @aws-cdk/aws-appmesh

#17975 chore(appsync): fixed indentation of the query template
  packages/@aws-cdk/aws-appsync/lib/key.ts
  packages/@aws-cdk/aws-appsync/test/integ.graphql.expected.json
Labels: @aws-cdk/aws-appsync

#18004 chore: update disttag to `latest` for `cdk` package
  packages/cdk/package.json
Labels: contribution/core

#18003 chore: flip disttag to `latest-1` for `cdk` package
  packages/cdk/package.json
Labels: contribution/core

#18007 fix(cli): asset publishing broken cross account
  packages/aws-cdk/lib/util/asset-publishing.ts
  packages/cdk-assets/lib/aws.ts
  packages/cdk-assets/lib/private/handlers/files.ts
  packages/cdk-assets/test/fake-listener.ts
  packages/cdk-assets/test/files.test.ts
  packages/cdk-assets/test/mock-aws.ts
  packages/cdk-assets/test/progress.test.ts
Labels: package/tools, contribution/core

#16629 fix(aws-lambda-nodejs): use closest lockfile when autodetecting
  packages/@aws-cdk/aws-lambda-nodejs/lib/function.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/util.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/util.test.ts
Labels: p2, effort/small, @aws-cdk/aws-lambda-nodejs

#17985 chore: upgrade test dependencies on urllib3 & pillow
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/assign-public-ip/lambda/Pipfile.lock
  packages/@aws-cdk/aws-apigateway/test/integrations/lambda.test.ts
  packages/@aws-cdk/aws-cloudformation/test/resource.test.ts
  packages/@aws-cdk/aws-events-targets/test/lambda/lambda.test.ts
  packages/@aws-cdk/aws-lambda-python/test/bundling.test.ts
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.ts
  packages/@aws-cdk/aws-lambda-python/test/integ.function.poetry.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.poetry.ts
  packages/@aws-cdk/aws-lambda-python/test/integ.function.requirements.removed.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.requirements.removed.ts
  packages/@aws-cdk/aws-lambda-python/test/lambda-handler-pipenv/Pipfile
  packages/@aws-cdk/aws-lambda-python/test/lambda-handler-pipenv/Pipfile.lock
  packages/@aws-cdk/aws-lambda-python/test/lambda-handler-poetry/poetry.lock
  packages/@aws-cdk/aws-lambda-python/test/lambda-handler-poetry/pyproject.toml
  packages/@aws-cdk/aws-lambda-python/test/lambda-handler-project/shared/requirements.txt
  packages/@aws-cdk/aws-lambda-python/test/lambda-handler/requirements.txt
  packages/@aws-cdk/aws-lambda/test/function.test.ts
  packages/@aws-cdk/aws-lambda/test/python-lambda-handler/requirements.txt
  packages/@aws-cdk/aws-lambda/test/singleton-lambda.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/invoke-function.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/run-lambda-task.test.ts
Labels: SECURITY, contribution/core

#18012 chore(ubergen): tell users about experimental package
  tools/@aws-cdk/pkglint/lib/library-creation.ts
  tools/@aws-cdk/pkglint/lib/readme-contents.ts
  tools/@aws-cdk/ubergen/bin/ubergen.ts
Labels: contribution/core, aws-cdk-lib

#16922 feat(amplify): Add Amplify asset deployment resource
  packages/@aws-cdk/aws-amplify/README.md
  packages/@aws-cdk/aws-amplify/lib/asset-deployment-handler/common.ts
  packages/@aws-cdk/aws-amplify/lib/asset-deployment-handler/handler.ts
  packages/@aws-cdk/aws-amplify/lib/asset-deployment-handler/index.ts
  packages/@aws-cdk/aws-amplify/lib/branch.ts
  packages/@aws-cdk/aws-amplify/package.json
  packages/@aws-cdk/aws-amplify/test/asset-deployment-handler/index.test.ts
  packages/@aws-cdk/aws-amplify/test/branch.test.ts
  packages/@aws-cdk/aws-amplify/test/integ.app-asset-deployment.expected.json
  packages/@aws-cdk/aws-amplify/test/integ.app-asset-deployment.ts
  packages/@aws-cdk/aws-amplify/test/test-asset/index.html
Labels: p1, effort/small, @aws-cdk/aws-amplify

#18016 chore: forward merge 'master' into 'v2-main'
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/assign-public-ip/lambda/Pipfile.lock
  packages/@aws-cdk/aws-apigateway/test/integrations/lambda.test.ts
  packages/@aws-cdk/aws-cloudformation/test/resource.test.ts
  packages/@aws-cdk/aws-events-targets/test/lambda/lambda.test.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/function.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/util.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/util.test.ts
  packages/@aws-cdk/aws-lambda-python/test/bundling.test.ts
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.ts
  packages/@aws-cdk/aws-lambda-python/test/integ.function.poetry.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.poetry.ts
  packages/@aws-cdk/aws-lambda-python/test/integ.function.requirements.removed.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.requirements.removed.ts
  packages/@aws-cdk/aws-lambda-python/test/lambda-handler-pipenv/Pipfile
  packages/@aws-cdk/aws-lambda-python/test/lambda-handler-pipenv/Pipfile.lock
  packages/@aws-cdk/aws-lambda-python/test/lambda-handler-poetry/poetry.lock
  packages/@aws-cdk/aws-lambda-python/test/lambda-handler-poetry/pyproject.toml
  packages/@aws-cdk/aws-lambda-python/test/lambda-handler-project/shared/requirements.txt
  packages/@aws-cdk/aws-lambda-python/test/lambda-handler/requirements.txt
  packages/@aws-cdk/aws-lambda/test/function.test.ts
  packages/@aws-cdk/aws-lambda/test/python-lambda-handler/requirements.txt
  packages/@aws-cdk/aws-lambda/test/singleton-lambda.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/invoke-function.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/run-lambda-task.test.ts
  packages/aws-cdk/lib/util/asset-publishing.ts
  packages/cdk-assets/lib/aws.ts
  packages/cdk-assets/lib/private/handlers/files.ts
  packages/cdk-assets/test/fake-listener.ts
  packages/cdk-assets/test/files.test.ts
  packages/cdk-assets/test/mock-aws.ts
  packages/cdk-assets/test/progress.test.ts
  tools/@aws-cdk/pkglint/lib/library-creation.ts
  tools/@aws-cdk/pkglint/lib/readme-contents.ts
  tools/@aws-cdk/ubergen/bin/ubergen.ts
Labels: pr/no-squash, pr/forward-merge, pr/auto-approve

#16886 feat(apigatewayv2): Lambda authorizer for WebSocket API
  packages/@aws-cdk/aws-apigatewayv2-authorizers/README.md
  packages/@aws-cdk/aws-apigatewayv2-authorizers/lib/index.ts
  packages/@aws-cdk/aws-apigatewayv2-authorizers/lib/websocket/index.ts
  packages/@aws-cdk/aws-apigatewayv2-authorizers/lib/websocket/lambda.ts
  packages/@aws-cdk/aws-apigatewayv2-authorizers/test/websocket/lambda.test.ts
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/websocket/integ.lambda.expected.json
  packages/@aws-cdk/aws-apigatewayv2/README.md
  packages/@aws-cdk/aws-apigatewayv2/lib/http/authorizer.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/websocket/authorizer.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/websocket/index.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/websocket/route.ts
  packages/@aws-cdk/aws-apigatewayv2/test/websocket/authorizer.test.ts
Labels: p2, effort/medium, @aws-cdk/aws-apigatewayv2

#17981 fix(appsync): `ttl` property of `CachingConfig` is not required
  packages/@aws-cdk/aws-appsync/lib/caching-config.ts
Labels: @aws-cdk/aws-appsync, contribution/core, pr-linter/exempt-test

#17968 feat(codecommit): allow initializing a Repository with contents
  packages/@aws-cdk/aws-codecommit/README.md
  packages/@aws-cdk/aws-codecommit/lib/code.ts
  packages/@aws-cdk/aws-codecommit/lib/index.ts
  packages/@aws-cdk/aws-codecommit/lib/repository.ts
  packages/@aws-cdk/aws-codecommit/package.json
  packages/@aws-cdk/aws-codecommit/test/asset-test.zip
  packages/@aws-cdk/aws-codecommit/test/asset-test/test.md
  packages/@aws-cdk/aws-codecommit/test/codecommit.test.ts
  packages/@aws-cdk/aws-codecommit/test/integ.codecommit-code-asset-zip.expected.json
  packages/@aws-cdk/aws-codecommit/test/integ.codecommit-code-asset-zip.ts
  packages/@aws-cdk/aws-codecommit/test/integ.codecommit-code-asset.expected.json
  packages/@aws-cdk/aws-codecommit/test/integ.codecommit-code-asset.ts
Labels: @aws-cdk/aws-codecommit

#17995 fix(rds): unable to use tokens as port in `DatabaseInstance`
  packages/@aws-cdk/aws-rds/lib/instance.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
Labels: @aws-cdk/aws-rds

#17984 fix(region-info): ssm service principal is wrong in majority of regions
  packages/@aws-cdk/aws-codebuild/lib/linux-gpu-build-image.ts
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codebuild/test/integ.aws-deep-learning-container-build-image.expected.json
  packages/@aws-cdk/aws-iam/lib/principals.ts
  packages/@aws-cdk/aws-iam/lib/util.ts
  packages/@aws-cdk/aws-iam/package.json
  packages/@aws-cdk/aws-iam/test/policy-document.test.ts
  packages/@aws-cdk/aws-iam/test/principals.test.ts
  packages/@aws-cdk/aws-lambda/lib/lambda-insights.ts
  packages/@aws-cdk/aws-lambda/test/integ.lambda-insights-mapping.expected.json
  packages/@aws-cdk/aws-lambda/test/lambda-insights.test.ts
  packages/@aws-cdk/core/lib/private/region-lookup.ts
  packages/@aws-cdk/core/lib/stack.ts
  packages/@aws-cdk/core/test/stack.test.ts
  packages/@aws-cdk/custom-resources/test/provider-framework/waiter-state-machine.test.ts
  packages/@aws-cdk/cx-api/lib/features.ts
  packages/@aws-cdk/region-info/build-tools/aws-entities.ts
  packages/@aws-cdk/region-info/build-tools/fact-tables.ts
  packages/@aws-cdk/region-info/build-tools/generate-static-data.ts
  packages/@aws-cdk/region-info/lib/aws-entities.ts
  packages/@aws-cdk/region-info/lib/default.ts
  packages/@aws-cdk/region-info/lib/fact.ts
  packages/@aws-cdk/region-info/lib/region-info.ts
  packages/@aws-cdk/region-info/test/__snapshots__/region-info.test.js.snap
  packages/@aws-cdk/region-info/test/default.test.ts
  packages/@aws-cdk/region-info/test/fact.test.ts
  packages/@aws-cdk/region-info/test/region-info.test.ts
  packages/aws-cdk/lib/init.ts
  packages/aws-cdk/test/init.test.ts
  tools/@aws-cdk/cdk-integ-tools/lib/integ-helpers.ts
Labels: contribution/core, @aws-cdk/region-info

#18035 chore(merge-back): 2.2.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/no-squash, pr/auto-approve

#18034 chore(merge-back): 1.136.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash, pr/auto-approve

#16522 feat(efs): add support for transitioning files from infrequent access to primary storage
  packages/@aws-cdk/aws-efs/README.md
  packages/@aws-cdk/aws-efs/lib/efs-file-system.ts
  packages/@aws-cdk/aws-efs/test/efs-file-system.test.ts
Labels: p2, effort/small, @aws-cdk/aws-efs

#18013 feat(aws-s3): Adding Intelligent Tiering to Bucket
  packages/@aws-cdk/aws-s3/README.md
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/aws-s3/test/bucket.test.ts
  packages/@aws-cdk/aws-s3/test/integ.bucket-auto-delete-objects.expected.json
  packages/@aws-cdk/aws-s3/test/integ.bucket-grantdelete-kms.expected.json
  packages/@aws-cdk/aws-s3/test/integ.bucket-grantdelete-kms.ts
  packages/@aws-cdk/aws-s3/test/integ.bucket-intelligent-tiering.expected.json
  packages/@aws-cdk/aws-s3/test/integ.bucket-intelligent-tiering.ts
Labels: @aws-cdk/aws-s3

#18011 fix(apigateway): race condition between Stage and CfnAccount
  packages/@aws-cdk/aws-apigateway/lib/restapi.ts
  packages/@aws-cdk/aws-apigateway/lib/stage.ts
  packages/@aws-cdk/aws-apigateway/test/authorizers/integ.cognito-authorizer.expected.json
  packages/@aws-cdk/aws-apigateway/test/authorizers/integ.request-authorizer.lit.expected.json
  packages/@aws-cdk/aws-apigateway/test/authorizers/integ.token-authorizer-iam-role.expected.json
  packages/@aws-cdk/aws-apigateway/test/authorizers/integ.token-authorizer.lit.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.cors.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.lambda-api.latebound-deploymentstage.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.books.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.defaults.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.multistack.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.multiuse.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.vpc-endpoint.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.stepfunctions-api.expected.json
  packages/@aws-cdk/aws-apigateway/test/restapi.test.ts
  packages/@aws-cdk/aws-apigateway/test/stage.test.ts
  packages/@aws-cdk/aws-route53-targets/test/integ.api-gateway-domain-name.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api.expected.json
  packages/decdk/test/__snapshots__/synth.test.js.snap
Labels: @aws-cdk/aws-apigateway, contribution/core

#18039 fix(pipelines): can't use exports from very long stack names
  packages/@aws-cdk/pipelines/lib/codepipeline/_codebuild-factory.ts
  packages/@aws-cdk/pipelines/lib/codepipeline/codepipeline.ts
  packages/@aws-cdk/pipelines/lib/private/identifiers.ts
  packages/@aws-cdk/pipelines/test/codepipeline/codebuild-step.test.ts
  packages/@aws-cdk/pipelines/test/private/identifiers.test.ts
  packages/@aws-cdk/pipelines/test/testhelpers/test-app.ts
Labels: contribution/core, @aws-cdk/pipelines

#17689 feat(iam): session tagging
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.executionrole.expected.json
  packages/@aws-cdk/aws-iam/README.md
  packages/@aws-cdk/aws-iam/lib/principals.ts
  packages/@aws-cdk/aws-iam/lib/private/assume-role-policy.ts
  packages/@aws-cdk/aws-iam/lib/private/policydoc-adapter.ts
  packages/@aws-cdk/aws-iam/lib/role.ts
  packages/@aws-cdk/aws-iam/test/integ.composite-principal.expected.json
  packages/@aws-cdk/aws-iam/test/policy-document.test.ts
  packages/@aws-cdk/aws-iam/test/principals.test.ts
  packages/@aws-cdk/aws-iam/test/role.test.ts
  packages/@aws-cdk/aws-lambda/lib/function-base.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emrcontainers/integ.job-submission-workflow.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emrcontainers/integ.start-job-run.expected.json
  packages/@aws-cdk/pipelines/test/compliance/assets.test.ts
  packages/@aws-cdk/pipelines/test/integ.newpipeline-with-vpc.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets-single-upload.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets.expected.json
Labels: @aws-cdk/aws-iam, contribution/core

#18048 fix: ResponseURL is logged by S3Deployment
  packages/@aws-cdk/aws-cloudformation/test/core-custom-resource-provider-fixture/index.ts
  packages/@aws-cdk/aws-s3-deployment/lib/lambda/index.py
  packages/@aws-cdk/core/test/custom-resource-provider/mock-provider/index.ts
Labels: SECURITY, contribution/core, @aws-cdk/aws-s3-deployment

#18033 fix(acm): DnsValidatedCertificate intermittently fails with "Cannot read property 'Name' of undefined"
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/lib/index.js
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/test/handler.test.js
Labels: @aws-cdk/aws-certificatemanager, contribution/core

#18052 fix(eks): the `defaultChild` of a `KubernetesManifest` is not a `CfnResource`
  packages/@aws-cdk/aws-eks/lib/k8s-manifest.ts
  packages/@aws-cdk/aws-eks/test/k8s-manifest.test.ts
Labels: @aws-cdk/aws-eks, contribution/core

#17217 feat(eks): install helm chart from asset
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/helm-chart.ts
  packages/@aws-cdk/aws-eks/lib/kubectl-handler/helm/__init__.py
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-eks/test/helm-chart.test.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.ts
  packages/@aws-cdk/aws-eks/test/test-chart/Chart.yaml
Labels: @aws-cdk/aws-eks

#18061 chore: more keywords for issue-label-assign
  .github/workflows/issue-label-assign.yml
Labels: contribution/core

#17775 fix(eks): can't deploy with Bottlerocket amiType
  packages/@aws-cdk/aws-eks/lib/managed-nodegroup.ts
  packages/@aws-cdk/aws-eks/test/nodegroup.test.ts
Labels: @aws-cdk/aws-eks

#17519 feat(apigatewayv2): http api - IAM authorizer support
  packages/@aws-cdk/aws-apigatewayv2-authorizers/README.md
  packages/@aws-cdk/aws-apigatewayv2-authorizers/lib/http/iam.ts
  packages/@aws-cdk/aws-apigatewayv2-authorizers/lib/http/index.ts
  packages/@aws-cdk/aws-apigatewayv2-authorizers/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-apigatewayv2-authorizers/test/http/integ.iam.expected.json
  packages/@aws-cdk/aws-apigatewayv2-authorizers/test/http/integ.iam.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/authorizer.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/index.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/route.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/route.test.ts
Labels: p2, effort/medium, @aws-cdk/aws-apigatewayv2

#18032 chore: add HTML tag to alpha package forward
  tools/@aws-cdk/pkglint/lib/readme-contents.ts
Labels: contribution/core

#18068 chore: fix `yarn.lock` file
  scripts/check-yarn-lock.js
  yarn.lock
Labels: contribution/core

#18067 chore(assets): make error less ominous
  packages/cdk-assets/lib/private/handlers/files.ts
  packages/cdk-assets/test/files.test.ts
Labels: @aws-cdk/assets, contribution/core

#18072 chore(cli): update docs command to point to /v2 docs
  packages/aws-cdk/lib/commands/docs.ts
Labels: package/tools, contribution/core

#17818 feat(cli): support hotswapping Lambda function tags
  packages/aws-cdk/lib/api/hotswap/common.ts
  packages/aws-cdk/lib/api/hotswap/lambda-functions.ts
  packages/aws-cdk/test/api/hotswap/hotswap-deployments.test.ts
  packages/aws-cdk/test/api/hotswap/hotswap-test-setup.ts
  packages/aws-cdk/test/api/hotswap/lambda-hotswap-deployments.test.ts
Labels: package/tools, pr-linter/exempt-readme

#18058 feat(cli): add message when resource is hotswapped
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/lib/api/hotswap-deployments.ts
  packages/aws-cdk/lib/api/hotswap/common.ts
  packages/aws-cdk/lib/api/hotswap/ecs-services.ts
  packages/aws-cdk/lib/api/hotswap/lambda-functions.ts
  packages/aws-cdk/lib/api/hotswap/s3-bucket-deployments.ts
  packages/aws-cdk/lib/api/hotswap/stepfunctions-state-machines.ts
Labels: package/tools, contribution/core, pr-linter/exempt-readme, pr-linter/exempt-test

#18043 feat(codepipeline): add ability to not reuse cross-region support Stacks
  packages/@aws-cdk/aws-codepipeline/lib/pipeline.ts
  packages/@aws-cdk/aws-codepipeline/test/pipeline.test.ts
  packages/@aws-cdk/pipelines/lib/codepipeline/codepipeline.ts
  packages/@aws-cdk/pipelines/test/codepipeline/codepipeline.test.ts
Labels: @aws-cdk/aws-codepipeline, pr-linter/exempt-readme

#18057 feat(cli): watch command now starts with a deployment
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/test/cdk-toolkit.test.ts
Labels: package/tools, contribution/core, pr-linter/exempt-readme

#17602 feat(backup): support continuous backup and point-in-time restores
  packages/@aws-cdk/aws-backup/README.md
  packages/@aws-cdk/aws-backup/lib/plan.ts
  packages/@aws-cdk/aws-backup/lib/rule.ts
  packages/@aws-cdk/aws-backup/test/plan.test.ts
Labels: p2, effort/small, @aws-cdk/aws-backup

#17759 feat(rds): Aurora clusters from snapshots
  packages/@aws-cdk/aws-rds/README.md
  packages/@aws-cdk/aws-rds/lib/serverless-cluster.ts
  packages/@aws-cdk/aws-rds/package.json
  packages/@aws-cdk/aws-rds/test/instance.test.ts
  packages/@aws-cdk/aws-rds/test/serverless-cluster-from-snapshot.test.ts
Labels: @aws-cdk/aws-rds

#17283 docs(lambda-destination): add onFailure destination example and be explicit about the type of SQS queue that can be used
  packages/@aws-cdk/aws-lambda-destinations/README.md
Labels: @aws-cdk/aws-logs-destinations, @aws-cdk/aws-lambda-destinations

#18079 chore(s3): migrate tests to assertions
  packages/@aws-cdk/aws-s3/package.json
  packages/@aws-cdk/aws-s3/test/aspect.test.ts
  packages/@aws-cdk/aws-s3/test/bucket-policy.test.ts
  packages/@aws-cdk/aws-s3/test/bucket.test.ts
  packages/@aws-cdk/aws-s3/test/cors.test.ts
  packages/@aws-cdk/aws-s3/test/metrics.test.ts
  packages/@aws-cdk/aws-s3/test/notification.test.ts
  packages/@aws-cdk/aws-s3/test/rules.test.ts
  packages/@aws-cdk/aws-s3/test/util.test.ts
Labels: @aws-cdk/aws-s3, contribution/core

#18081 fix(eks): cannot customize alb controller repository and version
  packages/@aws-cdk/aws-eks/lib/alb-controller.ts
  packages/@aws-cdk/aws-eks/test/alb-controller.test.ts
  packages/@aws-cdk/aws-eks/test/integ.alb-controller.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-inference.expected.json
Labels: @aws-cdk/aws-eks

#14689 feat(eks): imported kubectl provider for imported clusters
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/lib/index.ts
  packages/@aws-cdk/aws-eks/lib/kubectl-provider.ts
  packages/@aws-cdk/aws-eks/test/cluster.test.ts
Labels: @aws-cdk/aws-eks

#18074 feat(aws-kinesis): add support for data streams capacity modes
  packages/@aws-cdk/aws-kinesis/lib/stream.ts
  packages/@aws-cdk/aws-kinesis/test/stream.test.ts
Labels: @aws-cdk/aws-kinesis, pr-linter/exempt-readme

#18091 chore(aws-cdk-lib): minify aws-cdk-lib sources
  packages/aws-cdk-lib/package.json
  packages/aws-cdk-lib/scripts/minify-sources.sh
  yarn.lock
Labels: contribution/core, aws-cdk-lib

#17848 feat(codedeploy): loadbalancer support for imported Target Groups
  packages/@aws-cdk/aws-codedeploy/lib/server/load-balancer.ts
  packages/@aws-cdk/aws-codedeploy/test/server/deployment-group.test.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/shared/base-target-group.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/shared/imported.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/shared/util.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/alb/target-group.test.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/nlb/target-group.test.ts
Labels: @aws-cdk/aws-codedeploy, pr-linter/exempt-readme

#18102 chore(prlint): add exempt label to breaking change on stable modules
  tools/@aws-cdk/prlint/lint.ts
  tools/@aws-cdk/prlint/test/lint.test.ts
Labels: package/tools, contribution/core

#18027 fix(opensearchservice): imported domain's `domainendpoint` is a url not an endpoint
  packages/@aws-cdk/aws-elasticsearch/lib/domain.ts
  packages/@aws-cdk/aws-elasticsearch/test/domain.test.ts
  packages/@aws-cdk/aws-opensearchservice/lib/domain.ts
  packages/@aws-cdk/aws-opensearchservice/test/domain.test.ts
Labels: @aws-cdk/aws-elasticsearch, @aws-cdk/aws-opensearch, pr-linter/exempt-breaking-change

#18100 docs(apprunner): Document service principals required for app runner roles
  packages/@aws-cdk/aws-apprunner/lib/service.ts
Labels: @aws-cdk/aws-apprunner

#18116 fix(core): overriding of `Stack.addFileAsset()` no longer has effect
  packages/@aws-cdk/core/lib/stack-synthesizers/legacy.ts
  packages/@aws-cdk/core/test/stack-synthesis/old-style-synthesis.test.ts
Labels: @aws-cdk/core, contribution/core

#18098 feat(secretsmanager): create secrets with specified values
  packages/@aws-cdk/aws-secretsmanager/README.md
  packages/@aws-cdk/aws-secretsmanager/lib/secret.ts
  packages/@aws-cdk/aws-secretsmanager/test/integ.secret.lit.expected.json
  packages/@aws-cdk/aws-secretsmanager/test/integ.secret.lit.ts
  packages/@aws-cdk/aws-secretsmanager/test/secret.test.ts
Labels: @aws-cdk/aws-secretsmanager, contribution/core

#18119 chore(merge-back): 1.137.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash, pr/auto-approve

#18120 feat(docdb): allow setting log retention
  packages/@aws-cdk/aws-docdb/README.md
  packages/@aws-cdk/aws-docdb/lib/cluster.ts
  packages/@aws-cdk/aws-docdb/package.json
  packages/@aws-cdk/aws-docdb/test/cluster.test.ts
Labels: @aws-cdk/aws-docdb

#18021 feat(iot): add Action to set a CloudWatch alarm
  packages/@aws-cdk/aws-iot-actions/README.md
  packages/@aws-cdk/aws-iot-actions/lib/cloudwatch-set-alarm-state-action.ts
  packages/@aws-cdk/aws-iot-actions/lib/index.ts
  packages/@aws-cdk/aws-iot-actions/test/cloudwatch/cloudwatch-set-alarm-state-action.test.ts
  packages/@aws-cdk/aws-iot-actions/test/cloudwatch/integ.cloudwatch-set-alarm-state-action.expected.json
  packages/@aws-cdk/aws-iot-actions/test/cloudwatch/integ.cloudwatch-set-alarm-state-action.ts
Labels: @aws-cdk/aws-iot

#18131 chore(release): 2.3.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/no-squash, pr/auto-approve

#18133 chore(merge-back): 2.3.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/no-squash, pr/auto-approve

#18132 chore(pipelines): move example to function scope
  packages/@aws-cdk/pipelines/lib/codepipeline/codepipeline-source.ts
Labels: contribution/core, @aws-cdk/pipelines

#18136 chore(lambda): remove spurious `console.log`
  packages/@aws-cdk/aws-lambda/lib/function-base.ts
Labels: @aws-cdk/aws-lambda, contribution/core

#18135 fix(region-info): ssm service principal - fix more regions
  packages/@aws-cdk/region-info/lib/aws-entities.ts
  packages/@aws-cdk/region-info/test/__snapshots__/region-info.test.js.snap
  packages/@aws-cdk/region-info/test/default.test.ts
Labels: @aws-cdk/region-info

#18142 chore(cli): add watch to readme table of contents
  packages/aws-cdk/README.md
Labels: package/tools, contribution/core

#18151 chore: don't bump empty releases
  scripts/bump.js
Labels: contribution/core, aws-cdk-lib

#18156 docs(core): update CustomResource documentation
  packages/@aws-cdk/core/lib/custom-resource-provider/custom-resource-provider.ts
  packages/@aws-cdk/core/lib/custom-resource.ts
Labels: @aws-cdk/core, contribution/core

#18143 fix(lambda-python): runtime is now required
  packages/@aws-cdk/aws-lambda-python/README.md
  packages/@aws-cdk/aws-lambda-python/lib/function.ts
  packages/@aws-cdk/aws-lambda-python/test/function.test.ts
Labels: contribution/core, @aws-cdk/aws-lambda-python

#18147 chore(eks): add alb-controller v2.3.1
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/addons/alb-iam_policy-v2.3.1.json
  packages/@aws-cdk/aws-eks/lib/alb-controller.ts
  packages/@aws-cdk/aws-eks/test/alb-controller.test.ts
  packages/@aws-cdk/aws-eks/test/cluster.test.ts
  packages/@aws-cdk/aws-eks/test/integ.alb-controller.expected.json
  packages/@aws-cdk/aws-eks/test/integ.alb-controller.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-inference.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-inference.ts
Labels: @aws-cdk/aws-eks

#18161 feat(cli): hotswap deployments for CodeBuild projects
  packages/aws-cdk/README.md
  packages/aws-cdk/lib/api/aws-auth/sdk.ts
  packages/aws-cdk/lib/api/hotswap-deployments.ts
  packages/aws-cdk/lib/api/hotswap/code-build-projects.ts
  packages/aws-cdk/lib/api/hotswap/common.ts
  packages/aws-cdk/lib/api/hotswap/ecs-services.ts
  packages/aws-cdk/test/api/hotswap/code-build-projects-hotswap-deployments.test.ts
  packages/aws-cdk/test/api/hotswap/hotswap-test-setup.ts
  packages/aws-cdk/test/util/mock-sdk.ts
Labels: package/tools, contribution/core

#18029 chore: forward merge 'master' into 'v2-main'
  README.md
  packages/@aws-cdk/aws-amplify/README.md
  packages/@aws-cdk/aws-amplify/lib/asset-deployment-handler/common.ts
  packages/@aws-cdk/aws-amplify/lib/asset-deployment-handler/handler.ts
  packages/@aws-cdk/aws-amplify/lib/asset-deployment-handler/index.ts
  packages/@aws-cdk/aws-amplify/lib/branch.ts
  packages/@aws-cdk/aws-amplify/package.json
  packages/@aws-cdk/aws-amplify/test/asset-deployment-handler/index.test.ts
  packages/@aws-cdk/aws-amplify/test/branch.test.ts
  packages/@aws-cdk/aws-amplify/test/integ.app-asset-deployment.expected.json
  packages/@aws-cdk/aws-amplify/test/integ.app-asset-deployment.ts
  packages/@aws-cdk/aws-amplify/test/test-asset/index.html
  packages/@aws-cdk/aws-apigatewayv2-authorizers/README.md
  packages/@aws-cdk/aws-apigatewayv2-authorizers/lib/index.ts
  packages/@aws-cdk/aws-apigatewayv2-authorizers/lib/websocket/index.ts
  packages/@aws-cdk/aws-apigatewayv2-authorizers/lib/websocket/lambda.ts
  packages/@aws-cdk/aws-apigatewayv2-authorizers/test/websocket/lambda.test.ts
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/websocket/integ.lambda.expected.json
  packages/@aws-cdk/aws-apigatewayv2/README.md
  packages/@aws-cdk/aws-apigatewayv2/lib/http/authorizer.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/websocket/authorizer.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/websocket/index.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/websocket/route.ts
  packages/@aws-cdk/aws-apigatewayv2/test/websocket/authorizer.test.ts
  packages/@aws-cdk/aws-appsync/lib/caching-config.ts
  packages/@aws-cdk/aws-codecommit/README.md
  packages/@aws-cdk/aws-codecommit/lib/code.ts
  packages/@aws-cdk/aws-codecommit/lib/index.ts
  packages/@aws-cdk/aws-codecommit/lib/repository.ts
  packages/@aws-cdk/aws-codecommit/package.json
  packages/@aws-cdk/aws-codecommit/test/asset-test.zip
  packages/@aws-cdk/aws-codecommit/test/asset-test/test.md
  packages/@aws-cdk/aws-codecommit/test/codecommit.test.ts
  packages/@aws-cdk/aws-codecommit/test/integ.codecommit-code-asset-zip.expected.json
  packages/@aws-cdk/aws-codecommit/test/integ.codecommit-code-asset-zip.ts
  packages/@aws-cdk/aws-codecommit/test/integ.codecommit-code-asset.expected.json
  packages/@aws-cdk/aws-codecommit/test/integ.codecommit-code-asset.ts
  packages/@aws-cdk/aws-rds/lib/instance.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
  packages/aws-cdk-lib/package.json
Labels: pr/no-squash, pr/forward-merge, pr/auto-approve

#18183 chore: rename label for auto approvals
  .github/dependabot.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/yarn-upgrade.yml
Labels: contribution/core

#18177 revert(cfnspec): add CloudFormation documentation to L1 classes
  packages/@aws-cdk/cfnspec/build-tools/build.ts
  packages/@aws-cdk/cfnspec/lib/index.ts
  packages/@aws-cdk/cfnspec/lib/schema/docs.ts
  packages/@aws-cdk/cfnspec/lib/schema/index.ts
  packages/@aws-cdk/cfnspec/test/docs.test.ts
  tools/@aws-cdk/cfn2ts/lib/codegen.ts
Labels: contribution/core, @aws-cdk/cfnspec

#18184 chore: npm-check-updates && yarn upgrade
  .github/workflows/README.md
  .github/workflows/auto-approve.yml
  package.json
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/cfnspec/package.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-dasm/package.json
  packages/decdk/package.json
  tools/@aws-cdk/cdk-build-tools/package.json
  tools/@aws-cdk/cdk-release/package.json
  tools/@aws-cdk/cfn2ts/package.json
  tools/@aws-cdk/generate-examples/package.json
  yarn.lock
Labels: dependencies, contribution/core, auto-approve

#18170 feat(apigateway): Add stage ARN attribute
  packages/@aws-cdk/aws-apigateway/lib/stage.ts
  packages/@aws-cdk/aws-apigateway/test/stage.test.ts
Labels: @aws-cdk/aws-apigateway, pr-linter/exempt-readme

#18188 chore(yarn-cling): breaks on dependency cycle
  tools/@aws-cdk/yarn-cling/lib/index.ts
Labels: contribution/core

#18191 feat(msk): add Kafka versions 2.6.3, 2.7.1 and 2.7.2
  packages/@aws-cdk/aws-msk/lib/cluster-version.ts
Labels: @aws-cdk/aws-msk, pr-linter/exempt-readme, pr-linter/exempt-test

#18190 chore(cfnspec): CloudFormation documentation in L1 classes, again
  packages/@aws-cdk/cfnspec/build-tools/build.ts
  packages/@aws-cdk/cfnspec/lib/index.ts
  packages/@aws-cdk/cfnspec/lib/schema/docs.ts
  packages/@aws-cdk/cfnspec/lib/schema/index.ts
  packages/@aws-cdk/cfnspec/test/docs.test.ts
  tools/@aws-cdk/cfn2ts/lib/codegen.ts
Labels: contribution/core, @aws-cdk/cfnspec

#18127 chore: update run-rosetta.sh
  pack.sh
  package.json
  scripts/run-rosetta.sh
  tools/@aws-cdk/generate-examples/.eslintrc.js
  tools/@aws-cdk/generate-examples/.gitignore
  tools/@aws-cdk/generate-examples/.npmignore
  tools/@aws-cdk/generate-examples/LICENSE
  tools/@aws-cdk/generate-examples/NOTICE
  tools/@aws-cdk/generate-examples/README.md
  tools/@aws-cdk/generate-examples/bin/generate-examples
  tools/@aws-cdk/generate-examples/bin/generate-examples.ts
  tools/@aws-cdk/generate-examples/jest.config.js
  tools/@aws-cdk/generate-examples/lib/assemblies.ts
  tools/@aws-cdk/generate-examples/lib/code.ts
  tools/@aws-cdk/generate-examples/lib/declaration.ts
  tools/@aws-cdk/generate-examples/lib/generate-missing-examples.ts
  tools/@aws-cdk/generate-examples/lib/generate.ts
  tools/@aws-cdk/generate-examples/lib/index.ts
  tools/@aws-cdk/generate-examples/lib/module-utils.ts
  tools/@aws-cdk/generate-examples/lib/utils.ts
  tools/@aws-cdk/generate-examples/package.json
  tools/@aws-cdk/generate-examples/test/code.test.ts
  tools/@aws-cdk/generate-examples/test/generate-missing-examples.test.ts
  tools/@aws-cdk/generate-examples/test/generate.test.ts
  tools/@aws-cdk/generate-examples/test/module-utils.test.ts
  tools/@aws-cdk/generate-examples/test/testutil.ts
  tools/@aws-cdk/generate-examples/test/utils.test.ts
  tools/@aws-cdk/generate-examples/tsconfig.json
  yarn.lock
Labels: contribution/core, @aws-cdk/pipelines

#18118 chore(v2): literate examples missing from v2
  packages/@aws-cdk/aws-eks-legacy/test/integ.eks-cluster.lit.ts
  packages/@aws-cdk/aws-eks-legacy/test/integ.eks-helm.lit.ts
  packages/@aws-cdk/aws-eks-legacy/test/integ.eks-kubectl.lit.ts
  packages/aws-cdk-lib/package.json
  tools/@aws-cdk/ubergen/bin/ubergen.ts
Labels: contribution/core, aws-cdk-lib

#18145 feat(cli): support for hotswapping Lambda Versions and Aliases
  packages/aws-cdk/README.md
  packages/aws-cdk/lib/api/hotswap-deployments.ts
  packages/aws-cdk/lib/api/hotswap/code-build-projects.ts
  packages/aws-cdk/lib/api/hotswap/ecs-services.ts
  packages/aws-cdk/lib/api/hotswap/lambda-functions.ts
  packages/aws-cdk/lib/api/hotswap/s3-bucket-deployments.ts
  packages/aws-cdk/lib/api/hotswap/stepfunctions-state-machines.ts
  packages/aws-cdk/test/api/hotswap/hotswap-deployments.test.ts
  packages/aws-cdk/test/api/hotswap/hotswap-test-setup.ts
  packages/aws-cdk/test/api/hotswap/lambda-functions-hotswap-deployments.test.ts
  packages/aws-cdk/test/api/hotswap/lambda-versions-aliases-hotswap-deployments.test.ts
Labels: package/tools, contribution/core

#18206 chore: update autolabeler
  .github/workflows/issue-label-assign.yml
Labels: contribution/core

#18086 feat(codepipeline): variables for CodeStar Connections source Action
  packages/@aws-cdk/aws-codepipeline-actions/README.md
  packages/@aws-cdk/aws-codepipeline-actions/lib/codestar-connections/source-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/codestar-connections/codestar-connections-source-action.test.ts
Labels: @aws-cdk/aws-codepipeline, @aws-cdk/aws-codepipeline-actions

#18192 fix(cloudfront-origins): policy not added for custom OAI
  packages/@aws-cdk/aws-cloudfront-origins/lib/s3-origin.ts
  packages/@aws-cdk/aws-cloudfront-origins/test/integ.s3-origin-oai.expected.json
  packages/@aws-cdk/aws-cloudfront-origins/test/s3-origin.test.ts
Labels: @aws-cdk/aws-cloudfront-origins

#18209 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/aws-apigatewayv2-authorizers/package.json
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-cloudformation/package.json
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-ec2/package.json
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-iam/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/aws-route53/package.json
  packages/@aws-cdk/aws-s3/package.json
  packages/@aws-cdk/aws-ses/package.json
  packages/@aws-cdk/core/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/aws-cdk-lib/package.json
  yarn.lock
Labels: dependencies, contribution/core, auto-approve

#17998 feat(glue): support partition index on tables
  packages/@aws-cdk/aws-glue/README.md
  packages/@aws-cdk/aws-glue/lib/table.ts
  packages/@aws-cdk/aws-glue/package.json
  packages/@aws-cdk/aws-glue/test/integ.partition-index.expected.json
  packages/@aws-cdk/aws-glue/test/integ.partition-index.ts
  packages/@aws-cdk/aws-glue/test/integ.table.ts
  packages/@aws-cdk/aws-glue/test/table.test.ts
Labels: @aws-cdk/aws-glue, contribution/core

#18203 feat(ec2): add Windows Server 2022 WindowsVersions
  packages/@aws-cdk/aws-ec2/lib/windows-versions.ts
  packages/@aws-cdk/aws-ec2/package.json
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme, pr-linter/exempt-test

#17936 feat(aws-autoscaling): Add support for termination policies
  packages/@aws-cdk/aws-autoscaling/README.md
  packages/@aws-cdk/aws-autoscaling/lib/auto-scaling-group.ts
  packages/@aws-cdk/aws-autoscaling/lib/index.ts
  packages/@aws-cdk/aws-autoscaling/lib/termination-policy.ts
  packages/@aws-cdk/aws-autoscaling/test/auto-scaling-group.test.ts
Labels: @aws-cdk/aws-autoscaling

#17927 feat(aws-ec2): add g4ad instance types
  packages/@aws-cdk/aws-ec2/lib/instance-types.ts
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme, pr-linter/exempt-test

#18187 feat(ssm): reference latest version of secure string parameters
  packages/@aws-cdk/aws-ssm/lib/parameter.ts
  packages/@aws-cdk/aws-ssm/test/parameter.test.ts
  packages/@aws-cdk/core/README.md
  packages/@aws-cdk/core/lib/secret-value.ts
  packages/@aws-cdk/core/test/secret-value.test.ts
  packages/aws-cdk-lib/README.md
Labels: @aws-cdk/aws-ssm

#18227 docs: discourage creation of resource policies
  packages/@aws-cdk/aws-logs/lib/policy.ts
  packages/@aws-cdk/aws-s3/lib/bucket-policy.ts
  packages/@aws-cdk/aws-secretsmanager/lib/policy.ts
  packages/@aws-cdk/aws-sns/lib/policy.ts
  packages/@aws-cdk/aws-sqs/lib/policy.ts
Labels: contribution/core

#18231 docs(lambda-python): Update default value for BundlingOptions.outputPathSuffix
  packages/@aws-cdk/aws-lambda-python/lib/types.ts
Labels: contribution/core, @aws-cdk/aws-lambda-python

#18166 fix(amplify): deploy asset Custom Resource points to TS file
  packages/@aws-cdk/aws-amplify/lib/branch.ts
Labels: @aws-cdk/aws-amplify, pr-linter/exempt-test
