Repository aws/aws-cdk, pull requests merged in 2021-06, with the labels that each got.

#14511 feat(cloudfront): add L2 support for CloudFront functions
  packages/@aws-cdk/aws-cloudfront/README.md
  packages/@aws-cdk/aws-cloudfront/lib/distribution.ts
  packages/@aws-cdk/aws-cloudfront/lib/function.ts
  packages/@aws-cdk/aws-cloudfront/lib/index.ts
  packages/@aws-cdk/aws-cloudfront/lib/private/cache-behavior.ts
  packages/@aws-cdk/aws-cloudfront/lib/web-distribution.ts
  packages/@aws-cdk/aws-cloudfront/test/distribution.test.ts
  packages/@aws-cdk/aws-cloudfront/test/function.test.ts
  packages/@aws-cdk/aws-cloudfront/test/integ.distribution-function.expected.json
  packages/@aws-cdk/aws-cloudfront/test/integ.distribution-function.ts
  packages/@aws-cdk/aws-cloudfront/test/web-distribution.test.ts
Labels: @aws-cdk/aws-cloudfront, effort/small, p1

#14950 chore(release): 2.0.0-rc.6
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#14939 chore: auto-approve to run on `pull_request_target`
  .github/workflows/auto-approve.yml
Labels: contribution/core

#14947 chore(logs): Adding a public method to access the physical name of the log group
  packages/@aws-cdk/aws-logs/lib/log-group.ts
  packages/@aws-cdk/aws-logs/test/test.loggroup.ts
Labels: @aws-cdk/aws-logs

#14959 chore(merge-back): 1.107.0
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#14955 chore(ownership): eks -> Otavio, ec2 -> Nick
  .github/workflows/issue-label-assign.yml
Labels: contribution/core

#14874 feat(cli): new bootstrap supports cross-account lookups
  packages/@aws-cdk/cloud-assembly-schema/lib/cloud-assembly/context-queries.ts
  packages/@aws-cdk/cloud-assembly-schema/schema/cloud-assembly.schema.json
  packages/@aws-cdk/cloud-assembly-schema/schema/cloud-assembly.version.json
  packages/@aws-cdk/core/lib/stack-synthesizers/default-synthesizer.ts
  packages/@aws-cdk/core/lib/stack.ts
  packages/@aws-cdk/core/test/app.test.ts
  packages/@aws-cdk/core/test/stack-synthesis/new-style-synthesis.test.ts
  packages/@aws-cdk/pipelines/README.md
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/lib/api/aws-auth/sdk.ts
  packages/aws-cdk/lib/api/bootstrap/bootstrap-environment.ts
  packages/aws-cdk/lib/api/bootstrap/bootstrap-props.ts
  packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml
  packages/aws-cdk/lib/context-providers/ami.ts
  packages/aws-cdk/lib/context-providers/availability-zones.ts
  packages/aws-cdk/lib/context-providers/endpoint-service-availability-zones.ts
  packages/aws-cdk/lib/context-providers/hosted-zones.ts
  packages/aws-cdk/lib/context-providers/index.ts
  packages/aws-cdk/lib/context-providers/load-balancers.ts
  packages/aws-cdk/lib/context-providers/security-groups.ts
  packages/aws-cdk/lib/context-providers/ssm-parameters.ts
  packages/aws-cdk/lib/context-providers/vpcs.ts
  packages/aws-cdk/test/api/bootstrap2.test.ts
  packages/aws-cdk/test/api/sdk-provider.test.ts
Labels: contribution/core

#14904 fix(apigatewayv2): http api - default route does not use the default authorizer
  packages/@aws-cdk/aws-apigatewayv2/lib/http/api.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/api.test.ts
Labels: @aws-cdk/aws-apigatewayv2

#14917 chore: forward merge 'master' into 'v2-main'
  .github/workflows/issue-label-assign.yml
  .github/workflows/pr-linter.yml
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/client-policy.ts
  packages/@aws-cdk/aws-appmesh/lib/index.ts
  packages/@aws-cdk/aws-appmesh/lib/private/utils.ts
  packages/@aws-cdk/aws-appmesh/lib/shared-interfaces.ts
  packages/@aws-cdk/aws-appmesh/lib/tls-client-policy.ts
  packages/@aws-cdk/aws-appmesh/lib/tls-validation.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-gateway.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-node.ts
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-gateway.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-node.ts
  tools/prlint/README.md
  tools/prlint/decs.d.ts
  tools/prlint/lint.ts
  tools/prlint/module.ts
  tools/prlint/package-lock.json
  tools/prlint/package.json
  tools/prlint/parser.ts
  tools/prlint/test/lint.test.ts
  tools/prlint/test/module.test.ts
  tools/prlint/test/parser.test.ts
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash

#14859 feat(kms): introduce `fromCfnKey()` method
  packages/@aws-cdk/aws-iam/lib/policy-statement.ts
  packages/@aws-cdk/aws-kms/lib/key.ts
  packages/@aws-cdk/aws-kms/test/key.test.ts
  packages/@aws-cdk/cloudformation-include/README.md
Labels: contribution/core

#14976 chore: transfer shivlaks ownership to BenChaimberg
  .github/workflows/issue-label-assign.yml
Labels: contribution/core

#14670 feat(ecs): Adding support for ECS Exec
  packages/@aws-cdk/aws-ecs/README.md
  packages/@aws-cdk/aws-ecs/lib/base/base-service.ts
  packages/@aws-cdk/aws-ecs/lib/cluster.ts
  packages/@aws-cdk/aws-ecs/test/cluster.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-service.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/integ.exec-command.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.exec-command.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-service.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/integ.exec-command.expected.json
  packages/@aws-cdk/aws-ecs/test/fargate/integ.exec-command.ts
Labels: @aws-cdk/aws-ecs

#14942 docs(aws-glue): catalogID should be described as the AWS account ID
  packages/@aws-cdk/aws-glue/lib/database.ts
Labels: contribution/core, pr-linter/exempt-readme, pr-linter/exempt-test

#14760 fix(docs): fixed typos in documentation
  design/construct-tree.md
  packages/@aws-cdk/aws-lambda/lib/function.ts
Labels: pr-linter/exempt-test

#14962 chore(pkglint): v2 CLI package.json cannot have "main" and "types" keys
  tools/pkglint/lib/rules.ts
Labels: contribution/core, package/tools

#14241 feat(cognito): user pool - customize mfa message
  packages/@aws-cdk/aws-cognito/lib/user-pool.ts
  packages/@aws-cdk/aws-cognito/test/user-pool.test.ts
Labels: pr-linter/exempt-readme

#14816 fix(cli): cross account docker image assets upload no longer works
  packages/cdk-assets/lib/private/handlers/container-images.ts
  packages/cdk-assets/test/docker-images.test.ts
Labels: package/tools

#14970 feat(s3): support ExpiredObjectDeleteMarker
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/aws-s3/lib/rule.ts
  packages/@aws-cdk/aws-s3/test/rules.test.ts
Labels: @aws-cdk/aws-s3, contribution/core, pr-linter/exempt-readme

#14662 fix(cli): image publishing role doesn't have docker pull permissions
  packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml
Labels: package/tools, pr-linter/exempt-test

#14347 feat(ec2): Implement UserData methods in MultipartUserData
  packages/@aws-cdk/aws-ec2/README.md
  packages/@aws-cdk/aws-ec2/lib/user-data.ts
  packages/@aws-cdk/aws-ec2/test/userdata.test.ts
Labels: @aws-cdk/aws-ec2

#14677 chore(ec2): remove egress rule warning when using allowFrom()
  packages/@aws-cdk/aws-ec2/lib/security-group.ts
Labels: @aws-cdk/aws-ec2

#13487 feat(events): support embedded string variables
  packages/@aws-cdk/aws-events/README.md
  packages/@aws-cdk/aws-events/lib/input.ts
  packages/@aws-cdk/aws-events/test/test.input.ts
Labels: @aws-cdk/aws-events

#13352 fix(events): AwsApi warns if service does not exist
  package.json
  packages/@aws-cdk/aws-events-targets/lib/aws-api.ts
  packages/@aws-cdk/aws-events-targets/test/aws-api/aws-api.test.ts
Labels: @aws-cdk/aws-events, @aws-cdk/aws-events-targets

#14839 docs(stepfunctions-tasks): fix typo in EmrClusterScaleDownBehavior description
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/emr/emr-create-cluster.ts
Labels: @aws-cdk/aws-stepfunctions-tasks, p2

#15001 chore: remove rosetta patch
  package.json
  patches/jsii-rosetta+1.28.0.patch
  yarn.lock
Labels: contribution/core

#15003 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/app-delivery/package.json
  packages/@aws-cdk/aws-apigatewayv2-authorizers/package.json
  packages/@aws-cdk/aws-applicationautoscaling/package.json
  packages/@aws-cdk/aws-autoscaling-common/package.json
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-cloudformation/package.json
  packages/@aws-cdk/aws-dynamodb-global/lambda-packages/aws-global-table-coordinator/package.json
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-ec2/package.json
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-iam/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/aws-route53/package.json
  packages/@aws-cdk/aws-s3/package.json
  packages/@aws-cdk/aws-ses/package.json
  packages/@aws-cdk/cloud-assembly-schema/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/core/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-dasm/package.json
  packages/decdk/package.json
  tools/cdk-build-tools/package.json
  tools/cfn2ts/package.json
  tools/eslint-plugin-cdk/package.json
  tools/pkglint/package.json
  yarn.lock
Labels: contribution/core, dependencies, pr/auto-approve

#14626 feat: Parameterize bootstrap stack version
  packages/@aws-cdk/core/lib/stack-synthesizers/default-synthesizer.ts
  packages/@aws-cdk/core/test/stack-synthesis/new-style-synthesis.test.ts
Labels: pr-linter/exempt-readme, pr-linter/exempt-test

#12131 feat(custom-resources): support custom lambda role in provider framework
  packages/@aws-cdk/custom-resources/README.md
  packages/@aws-cdk/custom-resources/lib/provider-framework/provider.ts
  packages/@aws-cdk/custom-resources/test/provider-framework/provider.test.ts
Labels: @aws-cdk/custom-resources

#15005 chore: remove jsdom exclusion on yarn-upgrade
  .github/workflows/yarn-upgrade.yml
  yarn.lock
Labels: contribution/core

#14573 fix(s3): `autoDeleteObjects` had redundant `GetObject*` permissions
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/aws-s3/lib/perms.ts
  packages/@aws-cdk/aws-s3/test/bucket.test.ts
  packages/@aws-cdk/aws-s3/test/integ.bucket-auto-delete-objects.expected.json
Labels: @aws-cdk/aws-s3, closing-soon, effort/small, p2, response-requested

#15011 chore: bundle `rosetta` in npm package
  packages/aws-cdk-lib/.npmignore
Labels: contribution/core

#14726 feat(route-53): add ability to create DS Records
  packages/@aws-cdk/aws-route53/README.md
  packages/@aws-cdk/aws-route53/lib/record-set.ts
  packages/@aws-cdk/aws-route53/package.json
  packages/@aws-cdk/aws-route53/test/record-set.test.ts
Labels: @aws-cdk/aws-route53

#14820 feat(route53-targets): route53 record target
  packages/@aws-cdk/aws-route53-targets/README.md
  packages/@aws-cdk/aws-route53-targets/lib/api-gateway-domain-name.ts
  packages/@aws-cdk/aws-route53-targets/lib/api-gatewayv2-domain-name.ts
  packages/@aws-cdk/aws-route53-targets/lib/bucket-website-target.ts
  packages/@aws-cdk/aws-route53-targets/lib/classic-load-balancer-target.ts
  packages/@aws-cdk/aws-route53-targets/lib/cloudfront-target.ts
  packages/@aws-cdk/aws-route53-targets/lib/global-accelerator-target.ts
  packages/@aws-cdk/aws-route53-targets/lib/index.ts
  packages/@aws-cdk/aws-route53-targets/lib/interface-vpc-endpoint-target.ts
  packages/@aws-cdk/aws-route53-targets/lib/load-balancer-target.ts
  packages/@aws-cdk/aws-route53-targets/lib/route53-record.ts
  packages/@aws-cdk/aws-route53-targets/lib/userpool-domain.ts
  packages/@aws-cdk/aws-route53-targets/test/integ.route53-record.expected.json
  packages/@aws-cdk/aws-route53-targets/test/integ.route53-record.ts
  packages/@aws-cdk/aws-route53-targets/test/route53-record.test.ts
  packages/@aws-cdk/aws-route53/lib/alias-record-target.ts
  packages/@aws-cdk/aws-route53/lib/record-set.ts
Labels: @aws-cdk/aws-route53-targets

#14628 fix(stepfunctions): repeated object references not allowed even if not a circular reference
  packages/@aws-cdk/aws-stepfunctions/lib/json-path.ts
  packages/@aws-cdk/aws-stepfunctions/test/fields.test.ts
Labels: @aws-cdk/aws-stepfunctions

#14983 feat(elb): set accessLoggingPolicy property with L2 LoadBalancer
  packages/@aws-cdk/aws-elasticloadbalancing/lib/load-balancer.ts
  packages/@aws-cdk/aws-elasticloadbalancing/test/loadbalancer.test.ts
Labels: @aws-cdk/aws-elasticloadbalancing, pr-linter/exempt-readme

#15018 fix(core): property overrides fail for references
  packages/@aws-cdk/cloudformation-include/test/test-templates/properties-not-in-cfn-spec.json
  packages/@aws-cdk/core/lib/cfn-resource.ts
  packages/@aws-cdk/core/lib/private/resolve.ts
  packages/@aws-cdk/core/lib/token.ts
  packages/@aws-cdk/core/test/resource.test.ts
Labels: contribution/core

#14986 chore(pipelines): added troubleshooting sub-section for the "S3 error: Access Denied" case
  packages/@aws-cdk/pipelines/README.md
Labels: contribution/core

#14847 docs(lambda-python): recommend lockfiles
  packages/@aws-cdk/aws-lambda-python/README.md
Labels: @aws-cdk/aws-lambda-python, contribution/core

#14989 docs(custom-resources): fix dead links
  packages/@aws-cdk/custom-resources/README.md
Labels: contribution/core

#15012 fix(ecs): Can't enable both Fargate and ASG capacity providers on ECS Cluster
  packages/@aws-cdk/aws-ecs/lib/cluster.ts
  packages/@aws-cdk/aws-ecs/test/cluster.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/integ.capacity-provider.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.capacity-provider.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-service.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/integ.capacity-providers.expected.json
Labels: @aws-cdk/aws-ecs, contribution/core

#14831 feat(ecs-patterns): Add Load Balancer name to ApplicationLoadBalancedFargateService props
  packages/@aws-cdk/aws-ecs-patterns/README.md
  packages/@aws-cdk/aws-ecs-patterns/lib/base/application-load-balanced-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.load-balanced-fargate-service-v2.ts
Labels: @aws-cdk/aws-ecs-patterns

#14783 feat(ecs-patterns): Add support for Docker labels to ECS Patterns
  packages/@aws-cdk/aws-ecs-patterns/README.md
  packages/@aws-cdk/aws-ecs-patterns/lib/base/application-load-balanced-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/base/application-multiple-target-groups-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/base/network-load-balanced-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/base/network-multiple-target-groups-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/application-load-balanced-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/application-multiple-target-groups-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/network-load-balanced-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/network-multiple-target-groups-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/application-load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/application-multiple-target-groups-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/network-load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/network-multiple-target-groups-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.l3s-v2.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.l3s.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.load-balanced-fargate-service-v2.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.load-balanced-fargate-service.ts
Labels: @aws-cdk/aws-ecs-patterns

#15043 chore(release): 2.0.0-rc.7
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#15041 chore(core): fix aspect test
  packages/@aws-cdk/core/test/aspect.test.ts
Labels: @aws-cdk/core, contribution/core, effort/small

#15048 chore(merge-back): 1.108.0
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#15046 fix(cli): option `--all` selects stacks in nested assemblies
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/lib/api/cxapp/cloud-assembly.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/package.json
  packages/aws-cdk/test/api/cloud-assembly.test.ts
  packages/aws-cdk/test/api/cloud-executable.test.ts
  packages/aws-cdk/test/cdk-toolkit.test.ts
Labels: contribution/core

#14913 fix(core): CloudFormation dynamic references can't be assigned to num…
  packages/@aws-cdk/aws-secretsmanager/test/secret.test.ts
  packages/@aws-cdk/core/lib/runtime.ts
Labels: @aws-cdk/core, contribution/core

#14916 feat(migration): add constructs migration to rewrite script
  packages/aws-cdk-migration/README.md
  packages/aws-cdk-migration/lib/rewrite.ts
  packages/aws-cdk-migration/test/rewrite.test.ts
Labels: contribution/core

#14483 fix(codebuild): Secret env variable as token from another account fails on Key decryption
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codebuild/test/test.project.ts
  packages/@aws-cdk/aws-secretsmanager/lib/secret.ts
  packages/@aws-cdk/aws-secretsmanager/test/secret.test.ts
  packages/@aws-cdk/core/lib/secret-value.ts
  packages/@aws-cdk/core/test/secret-value.test.ts
Labels: @aws-cdk/aws-codebuild

#14974 fix(pipelines): assets buildspec can exceed 25k size limit
  packages/@aws-cdk/pipelines/lib/actions/publish-assets-action.ts
  packages/@aws-cdk/pipelines/lib/pipeline.ts
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets-single-upload.expected.json
  packages/@aws-cdk/pipelines/test/pipeline-assets.test.ts
Labels: @aws-cdk/pipelines

#15037 fix(lambda): deployment failure when layers are added to container functions
  packages/@aws-cdk/aws-lambda/lib/function.ts
  packages/@aws-cdk/aws-lambda/test/function.test.ts
Labels: @aws-cdk/aws-lambda

#15071 fix(cli): stack glob patterns only select one stack
  packages/aws-cdk/lib/api/cxapp/cloud-assembly.ts
  packages/aws-cdk/test/api/cloud-assembly.test.ts
Labels: contribution/core

#15060 fix(kinesisanalytics-flink): set applicationName with L2 Application
  packages/@aws-cdk/aws-kinesisanalytics-flink/lib/application.ts
  packages/@aws-cdk/aws-kinesisanalytics-flink/test/application.test.ts
Labels: @aws-cdk/aws-kinesisanalytics-flink

#14805 fix(cli): cdk synth doesn't output yaml for stacks with dependency stacks
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/test/cdk-toolkit.test.ts
Labels: contribution/core, package/tools

#15068 chore(prlint): remove lock file and use yarn.lock
  .github/workflows/pr-linter.yml
  tools/prlint/README.md
  tools/prlint/package-lock.json
Labels: contribution/core

#15053 chore: npm-check-updates && yarn upgrade
  packages/@aws-cdk/aws-cur/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/awslint/package.json
  tools/cdk-build-tools/package.json
  tools/eslint-plugin-cdk/package.json
  tools/pkglint/package.json
  tools/prlint/package.json
  yarn.lock
Labels: contribution/core, dependencies, pr/auto-approve

#14812 fix(cli): deployment error traceback overwritten by progress bar
  packages/aws-cdk/lib/api/util/cloudformation/stack-activity-monitor.ts
Labels: contribution/core, package/tools, pr-linter/exempt-test

#15089 chore: update cfn-lint download link
  packages/@aws-cdk/cfnspec/build-tools/update-cfnlint.sh
Labels: contribution/core

#14526 feat(apigateway): disable execute api endpoint
  packages/@aws-cdk/aws-apigateway/lib/restapi.ts
  packages/@aws-cdk/aws-apigateway/test/restapi.test.ts
Labels: @aws-cdk/aws-apigateway, effort/small, p2, pr-linter/exempt-readme

#14804 fix(lambda-event-sources): kafka event source expects credentials even when accessed via vpc
  packages/@aws-cdk/aws-lambda-event-sources/lib/kafka.ts
  packages/@aws-cdk/aws-lambda-event-sources/test/test.kafka.ts
Labels: @aws-cdk/aws-lambda-event-sources

#14458 feat(lambda-event-sources): streams - report batch item failures
  packages/@aws-cdk/aws-lambda-event-sources/README.md
  packages/@aws-cdk/aws-lambda-event-sources/lib/stream.ts
  packages/@aws-cdk/aws-lambda-event-sources/test/test.dynamo.ts
  packages/@aws-cdk/aws-lambda/lib/event-source-mapping.ts
  packages/@aws-cdk/aws-lambda/test/event-source-mapping.test.ts
Labels: @aws-cdk/aws-lambda-event-sources, effort/small, p2

#14987 chore(bootstrap): enable s3 versioning
  packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml
Labels: package/tools

#14979 feat(pipelines): add test commands to standard synth actions
  packages/@aws-cdk/pipelines/lib/synths/simple-synth-action.ts
  packages/@aws-cdk/pipelines/test/builds.test.ts
Labels: @aws-cdk/pipelines, pr-linter/exempt-readme

#14908 feat(core): Support platform flag during asset build
  packages/@aws-cdk/core/lib/bundling.ts
  packages/@aws-cdk/core/test/bundling.test.ts
Labels: @aws-cdk/core, pr-linter/exempt-readme

#13575 fix(cli): HTTP timeout is too low for some asset uploads
  packages/aws-cdk/lib/api/aws-auth/sdk-provider.ts
Labels: package/tools, pr-linter/exempt-test

#15042 chore: forward merge 'master' into 'v2-main'
  packages/@aws-cdk/aws-ecs-patterns/README.md
  packages/@aws-cdk/aws-ecs-patterns/lib/base/application-load-balanced-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/base/application-multiple-target-groups-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/base/network-load-balanced-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/base/network-multiple-target-groups-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/application-load-balanced-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/application-multiple-target-groups-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/network-load-balanced-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/network-multiple-target-groups-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/application-load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/application-multiple-target-groups-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/network-load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/network-multiple-target-groups-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.l3s-v2.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.l3s.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.load-balanced-fargate-service-v2.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs/lib/cluster.ts
  packages/@aws-cdk/aws-ecs/test/cluster.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/integ.capacity-provider.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.capacity-provider.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-service.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/integ.capacity-providers.expected.json
  packages/@aws-cdk/aws-lambda-python/README.md
  packages/@aws-cdk/custom-resources/README.md
  packages/@aws-cdk/pipelines/README.md
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash

#14969 fix(pipelines): self-update role assumes hard-coded role names
  packages/@aws-cdk/core/lib/stack-synthesizers/default-synthesizer.ts
  packages/@aws-cdk/core/test/stack-synthesis/new-style-synthesis.test.ts
  packages/@aws-cdk/pipelines/lib/actions/update-pipeline-action.ts
  packages/@aws-cdk/pipelines/test/actions/update-pipeline-action.test.ts
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets-single-upload.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline.expected.json
  packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml
Labels: contribution/core

#15105 refactor(aws-ecs): DRY up propagateTaskTagsFrom
  packages/@aws-cdk/aws-ecs/lib/base/base-service.ts
  packages/@aws-cdk/aws-ecs/lib/base/task-definition.ts
  packages/@aws-cdk/aws-ecs/lib/ec2/ec2-service.ts
  packages/@aws-cdk/aws-ecs/lib/fargate/fargate-service.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-service.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-service.test.ts
Labels: @aws-cdk/aws-ecs, contribution/core, effort/small

#15098 fix(cfn-include): NestedStack's Parameters are not converted to strings
  packages/@aws-cdk/cloudformation-include/lib/cfn-include.ts
  packages/@aws-cdk/cloudformation-include/test/nested-stacks.test.ts
  packages/@aws-cdk/cloudformation-include/test/test-templates/nested/child-with-number-parameter.yaml
  packages/@aws-cdk/cloudformation-include/test/test-templates/nested/parent-number-in-child-params.yaml
  packages/@aws-cdk/cloudformation-include/test/test-templates/nested/parent-with-attributes.json
Labels: contribution/core

#15096 feat(ecs-patterns): allow specifying security groups on ScheduledTask pattern
  packages/@aws-cdk/aws-ecs-patterns/README.md
  packages/@aws-cdk/aws-ecs-patterns/lib/base/scheduled-task-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/scheduled-fargate-task.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.scheduled-ecs-task.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.scheduled-fargate-task.ts
Labels: @aws-cdk/aws-ecs-patterns, contribution/core

#15073 fix(ecs): TagParameterContainerImage cannot be used across accounts
  packages/@aws-cdk/aws-ecs/lib/base/task-definition.ts
  packages/@aws-cdk/aws-ecs/test/images/tag-parameter-container-image.test.ts
Labels: @aws-cdk/aws-ecs, contribution/core

#15118 fix(pipelines): PublishAssetsAction uses hard-coded role names
  packages/@aws-cdk/pipelines/lib/actions/publish-assets-action.ts
  packages/@aws-cdk/pipelines/lib/pipeline.ts
  packages/@aws-cdk/pipelines/lib/private/asset-manifest.ts
  packages/@aws-cdk/pipelines/lib/stage.ts
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets-single-upload.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets.expected.json
  packages/@aws-cdk/pipelines/test/pipeline-assets.test.ts
Labels: contribution/core

#14222 feat(logs): make the addition of permissions to Lambda functions optional
  packages/@aws-cdk/aws-logs-destinations/lib/lambda.ts
  packages/@aws-cdk/aws-logs-destinations/test/lambda.test.ts
Labels: @aws-cdk/aws-logs-destinations, pr-linter/exempt-readme

#14712 fix(aws-iam): prevent adding duplicate resources and actions
  packages/@aws-cdk/aws-glue/test/integ.table.expected.json
  packages/@aws-cdk/aws-glue/test/table.test.ts
  packages/@aws-cdk/aws-iam/lib/policy-statement.ts
  packages/@aws-cdk/aws-iam/test/policy-document.test.ts
Labels: @aws-cdk/aws-iam

#14980 feat(cloudfront): add fromFile for CF functions
  packages/@aws-cdk/aws-cloudfront/.gitignore
  packages/@aws-cdk/aws-cloudfront/README.md
  packages/@aws-cdk/aws-cloudfront/lib/function.ts
  packages/@aws-cdk/aws-cloudfront/test/function-code.js
  packages/@aws-cdk/aws-cloudfront/test/function.test.ts
Labels: @aws-cdk/aws-cloudfront

#15127 feat(ecs-patterns): expose task target on ScheduledTask pattern
  packages/@aws-cdk/aws-ecs-patterns/README.md
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/scheduled-ecs-task.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/scheduled-fargate-task.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.scheduled-ecs-task.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.scheduled-fargate-task.ts
Labels: @aws-cdk/aws-ecs-patterns, contribution/core

#14997 feat(aws-backup): Add arn attribute and grant method to backup vault
  packages/@aws-cdk/aws-backup/README.md
  packages/@aws-cdk/aws-backup/lib/vault.ts
  packages/@aws-cdk/aws-backup/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-backup/rosetta/with-plan.ts-fixture
  packages/@aws-cdk/aws-backup/test/vault.test.ts
Labels: @aws-cdk/aws-backup

#15137 revert: chore(bootstrap): enable s3 versioning
  packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml
Labels: contribution/core

#15143 chore(release): 2.0.0-rc.8
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#15146 fix(cli): partition is not being resolved at missing value lookup
  packages/aws-cdk/lib/api/cloudformation-deployments.ts
  packages/aws-cdk/lib/api/cxapp/cloud-executable.ts
  packages/aws-cdk/lib/context-providers/index.ts
  packages/aws-cdk/test/context-providers/generic.test.ts
  packages/aws-cdk/test/util/mock-sdk.ts
Labels: contribution/core

#14682 feat(core): allow user to provide docker --security-opt when bundling
  packages/@aws-cdk/core/lib/bundling.ts
  packages/@aws-cdk/core/test/bundling.test.ts
Labels: @aws-cdk/core, pr-linter/exempt-readme

#14608 fix(secretsmanager): support secrets rotation in partition 'aws-cn'
  .gitallowed
  packages/@aws-cdk/aws-docdb/test/cluster.test.ts
  packages/@aws-cdk/aws-docdb/test/integ.cluster-rotation.lit.expected.json
  packages/@aws-cdk/aws-rds/test/integ.cluster-rotation.lit.expected.json
  packages/@aws-cdk/aws-rds/test/integ.instance.lit.expected.json
  packages/@aws-cdk/aws-secretsmanager/lib/secret-rotation.ts
  packages/@aws-cdk/aws-secretsmanager/test/secret-rotation.test.ts
Labels: @aws-cdk/aws-secretsmanager

#15144 feat(cfnspec): cloudformation spec v39.1.0
  packages/monocdk/rosetta/basic-portfolio.ts-fixture
  packages/monocdk/rosetta/with-plan.ts-fixture
Labels: pr-linter/exempt-test, pr/auto-approve

#15147 fix(cli): `cdk synth` too eager with validation in Pipelines
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/test/cdk-toolkit.test.ts
  packages/aws-cdk/test/integ/cli/app/app.js
  packages/aws-cdk/test/integ/cli/cli.integtest.ts
Labels: contribution/core

#15153 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-dynamodb-global/lambda-packages/aws-global-table-coordinator/package.json
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-events-targets/package.json
  packages/@aws-cdk/aws-globalaccelerator-endpoints/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-location/package.json
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  tools/cdk-build-tools/package.json
  tools/eslint-plugin-cdk/package.json
  tools/pkglint/package.json
  tools/prlint/package.json
  yarn.lock
Labels: contribution/core, dependencies, pr/auto-approve

#15097 feat(cloudwatch): use `string` instead of `any` for cloudwatch dimension values
  packages/@aws-cdk/aws-cloudwatch/README.md
  packages/@aws-cdk/aws-cloudwatch/lib/metric.ts
  packages/@aws-cdk/aws-cloudwatch/test/test.metrics.ts
Labels: contribution/core

#15163 revert: feat(assertions): an initial version of the CDK 'assert'
  package.json
  packages/@aws-cdk/assertions/.eslintrc.js
  packages/@aws-cdk/assertions/.gitignore
  packages/@aws-cdk/assertions/.npmignore
  packages/@aws-cdk/assertions/LICENSE
  packages/@aws-cdk/assertions/NOTICE
  packages/@aws-cdk/assertions/README.md
  packages/@aws-cdk/assertions/jest.config.js
  packages/@aws-cdk/assertions/lib/assertions.ts
  packages/@aws-cdk/assertions/lib/index.ts
  packages/@aws-cdk/assertions/lib/match.ts
  packages/@aws-cdk/assertions/package.json
  packages/@aws-cdk/assertions/test/assertions.test.ts
  packages/@aws-cdk/assertions/test/matchers.test.ts
  packages/@aws-cdk/assertions/vendor-in.sh
  packages/@aws-cdk/aws-efs/package.json
  packages/@aws-cdk/aws-efs/test/access-point.test.ts
  packages/@aws-cdk/aws-efs/test/efs-file-system.test.ts
  packages/aws-cdk-lib/NOTICE
  packages/aws-cdk-lib/package.json
  packages/decdk/package.json
  packages/monocdk/NOTICE
  packages/monocdk/package.json
Labels: contribution/core, pr/do-not-merge, pr/no-squash

#15082 feat(synthetics): support canary environment variables
  packages/@aws-cdk/aws-synthetics/README.md
  packages/@aws-cdk/aws-synthetics/lib/canary.ts
  packages/@aws-cdk/aws-synthetics/rosetta/canary.ts-fixture
  packages/@aws-cdk/aws-synthetics/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-synthetics/test/canary.test.ts
Labels: @aws-cdk/aws-synthetics, contribution/core, p1

#15167 chore(merge-back): 1.109.0
  CHANGELOG.md
  package.json
  packages/@aws-cdk/assertions/.eslintrc.js
  packages/@aws-cdk/assertions/.gitignore
  packages/@aws-cdk/assertions/.npmignore
  packages/@aws-cdk/assertions/LICENSE
  packages/@aws-cdk/assertions/NOTICE
  packages/@aws-cdk/assertions/README.md
  packages/@aws-cdk/assertions/jest.config.js
  packages/@aws-cdk/assertions/lib/assertions.ts
  packages/@aws-cdk/assertions/lib/index.ts
  packages/@aws-cdk/assertions/lib/match.ts
  packages/@aws-cdk/assertions/package.json
  packages/@aws-cdk/assertions/test/assertions.test.ts
  packages/@aws-cdk/assertions/test/matchers.test.ts
  packages/@aws-cdk/assertions/vendor-in.sh
  packages/@aws-cdk/aws-efs/package.json
  packages/@aws-cdk/aws-efs/test/access-point.test.ts
  packages/@aws-cdk/aws-efs/test/efs-file-system.test.ts
  packages/aws-cdk-lib/NOTICE
  packages/aws-cdk-lib/package.json
  packages/decdk/package.json
  packages/monocdk/NOTICE
  packages/monocdk/package.json
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#15095 feat(cli): read outputs-file parameter from cdk.json
  packages/aws-cdk/README.md
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/lib/settings.ts
  packages/aws-cdk/test/settings.test.ts
Labels: package/tools

#15087 feat(events): allows importing event bus from name
  packages/@aws-cdk/aws-events/README.md
  packages/@aws-cdk/aws-events/lib/event-bus.ts
  packages/@aws-cdk/aws-events/test/test.event-bus.ts
Labels: @aws-cdk/aws-events

#14882 feat(secretsmanager): automatically grant permissions to rotation Lambda
  packages/@aws-cdk/aws-secretsmanager/README.md
  packages/@aws-cdk/aws-secretsmanager/lib/rotation-schedule.ts
  packages/@aws-cdk/aws-secretsmanager/test/integ.lambda-rotation.expected.json
  packages/@aws-cdk/aws-secretsmanager/test/integ.lambda-rotation.ts
  packages/@aws-cdk/aws-secretsmanager/test/rotation-schedule.test.ts
Labels: @aws-cdk/aws-secretsmanager

#15176 chore(core): add missing word in error message
  packages/aws-cdk/lib/api/aws-auth/sdk-provider.ts
Labels: contribution/core

#15102 feat(codepipeline): allow granting manual approval permissions
  packages/@aws-cdk/aws-codepipeline-actions/README.md
  packages/@aws-cdk/aws-codepipeline-actions/lib/manual-approval-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/manual-approval.test.ts
Labels: @aws-cdk/aws-codepipeline

#15139 chore: make the bump.js script fetch back only tags
  scripts/bump.js
Labels: contribution/core

#15069 fix(cdk-assets): content type not correctly set when publishing files
  packages/cdk-assets/lib/private/handlers/files.ts
  packages/cdk-assets/package.json
  packages/cdk-assets/test/files.test.ts
  yarn.lock
Labels: @aws-cdk/assets

#15174 chore(pipelines): added abstractions for managing compliance between different categories of the same test
  packages/@aws-cdk/pipelines/test/helpers/compliance.ts
  packages/@aws-cdk/pipelines/test/pipeline.test.ts
Labels: contribution/core

#15110 feat(msk): use L2 ACM PCA in cluster authentication props
  packages/@aws-cdk/aws-msk/README.md
  packages/@aws-cdk/aws-msk/lib/cluster.ts
  packages/@aws-cdk/aws-msk/package.json
  packages/@aws-cdk/aws-msk/test/cluster.test.ts
Labels: @aws-cdk/aws-msk

#15193 chore: add notice about bootstrap stack update to CHANGELOG
  CHANGELOG.md
Labels: contribution/core

#15187 fix(stepfunctions-tasks): checking for task token in EcsRunTask containerOverrides causes memory explosion
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/ecs/run-ecs-task-base.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/ecs/run-task.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/ecs/ecs-tasks.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/ecs/run-tasks.test.ts
Labels: @aws-cdk/aws-stepfunctions-tasks

#15209 chore(stepfunctions): deprecate InputPath.fromDataAt, fromContextAt
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/lambda/invoke.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/lambda/run-lambda-task.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/stepfunctions/start-execution.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/batch/submit-job.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-cancel-step.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-create-cluster.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-set-cluster-termination-protection.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-terminate-cluster.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/glue/start-job-run.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/invoke.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/run-lambda-task.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sqs/send-message.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sqs/send-to-queue.test.ts
  packages/@aws-cdk/aws-stepfunctions/lib/input.ts
Labels: @aws-cdk/aws-stepfunctions, contribution/core

#14792 feat(eks): taints for managed node groups
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/managed-nodegroup.ts
  packages/@aws-cdk/aws-eks/test/test.nodegroup.ts
Labels: @aws-cdk/aws-eks

#15067 feat(pipelines): add pre-install commands to asset action
  packages/@aws-cdk/pipelines/README.md
  packages/@aws-cdk/pipelines/lib/actions/publish-assets-action.ts
  packages/@aws-cdk/pipelines/lib/pipeline.ts
  packages/@aws-cdk/pipelines/test/pipeline-assets.test.ts
Labels: @aws-cdk/pipelines

#15225 chore: clarify PR title and message in the contribution guide
  CONTRIBUTING.md
Labels: contribution/core

#15166 fix(core): parsing an ARN with a slash after a colon in the resource part fails
  packages/@aws-cdk/core/lib/arn.ts
  packages/@aws-cdk/core/lib/stack.ts
  packages/@aws-cdk/core/test/arn.test.ts
  tools/nodeunit-shim/index.ts
Labels: contribution/core

#15208 fix(servicecatalog): Portfolio fails validation when passed Tokens as its properties
  packages/@aws-cdk/aws-servicecatalog/lib/portfolio.ts
  packages/@aws-cdk/aws-servicecatalog/lib/private/validation.ts
  packages/@aws-cdk/aws-servicecatalog/test/portfolio.test.ts
Labels: @aws-cdk/aws-servicecatalog

#15140 feat(servicecatalogappregistry): initial L2 construct for Application
  packages/@aws-cdk/aws-servicecatalogappregistry/README.md
  packages/@aws-cdk/aws-servicecatalogappregistry/lib/application.ts
  packages/@aws-cdk/aws-servicecatalogappregistry/lib/index.ts
  packages/@aws-cdk/aws-servicecatalogappregistry/lib/private/validation.ts
  packages/@aws-cdk/aws-servicecatalogappregistry/package.json
  packages/@aws-cdk/aws-servicecatalogappregistry/test/application.test.ts
  packages/@aws-cdk/aws-servicecatalogappregistry/test/integ.application.expected.json
  packages/@aws-cdk/aws-servicecatalogappregistry/test/integ.application.ts
Labels: @aws-cdk/aws-servicecatalog

#15251 chore(assertions): fix build for nozem 0.11.0
  packages/@aws-cdk/assertions/package.json
Labels: contribution/core

#15125 fix(core): `1 hour` renders as `60 minutes`
  packages/@aws-cdk/aws-cognito/test/user-pool-client.test.ts
  packages/@aws-cdk/core/lib/duration.ts
  packages/@aws-cdk/core/test/duration.test.ts
Labels: @aws-cdk/core

#15256 revert(dynamodb): validate that a Stack does not contain more than 10 global Tables (#14054)
  packages/@aws-cdk/aws-dynamodb/README.md
  packages/@aws-cdk/aws-dynamodb/lib/replica-provider.ts
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
Labels: contribution/core

#15192 fix(bootstrap): `deploy-role` could directly access buckets in target account
  packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml
Labels: contribution/core, pr-linter/exempt-test

#15266 chore: bump bootstrap stack version
  packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml
Labels: contribution/core

#15268 chore(release): 2.0.0-rc.9
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#14647 feat(msk): IAM access control for clusters
  packages/@aws-cdk/aws-msk/README.md
  packages/@aws-cdk/aws-msk/lib/cluster.ts
  packages/@aws-cdk/aws-msk/test/cluster.test.ts
Labels: @aws-cdk/aws-msk, effort/small, p2

#15267 chore(nodeunit-shim): add required type annotation
  tools/nodeunit-shim/index.ts
Labels: contribution/core

#15271 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/app-delivery/package.json
  packages/@aws-cdk/aws-applicationautoscaling/package.json
  packages/@aws-cdk/aws-autoscaling-common/package.json
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-dynamodb-global/lambda-packages/aws-global-table-coordinator/package.json
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-events-targets/package.json
  packages/@aws-cdk/aws-globalaccelerator-endpoints/package.json
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/core/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/@monocdk-experiment/rewrite-imports/package.json
  packages/aws-cdk-migration/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-dasm/package.json
  tools/cdk-build-tools/package.json
  tools/eslint-plugin-cdk/package.json
  tools/nodeunit-shim/package.json
  tools/pkglint/package.json
  tools/prlint/package.json
  tools/ubergen/package.json
  tools/yarn-cling/package.json
  yarn.lock
Labels: contribution/core, dependencies, pr/auto-approve

#15250 chore(pipelines): Moved pipelines unit tests over to the new test API
  packages/@aws-cdk/pipelines/test/actions/update-pipeline-action.test.ts
  packages/@aws-cdk/pipelines/test/build-role-policy-statements.test.ts
  packages/@aws-cdk/pipelines/test/builds.test.ts
  packages/@aws-cdk/pipelines/test/cross-environment-infra.test.ts
  packages/@aws-cdk/pipelines/test/existing-pipeline.test.ts
  packages/@aws-cdk/pipelines/test/helpers/compliance.ts
  packages/@aws-cdk/pipelines/test/pipeline-assets.test.ts
  packages/@aws-cdk/pipelines/test/pipeline.test.ts
  packages/@aws-cdk/pipelines/test/stack-ordering.test.ts
  packages/@aws-cdk/pipelines/test/validation.test.ts
Labels: contribution/core

#15101 feat(appmesh): allow configuring mutual TLS
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/index.ts
  packages/@aws-cdk/aws-appmesh/lib/listener-tls-options.ts
  packages/@aws-cdk/aws-appmesh/lib/private/utils.ts
  packages/@aws-cdk/aws-appmesh/lib/shared-interfaces.ts
  packages/@aws-cdk/aws-appmesh/lib/tls-certificate.ts
  packages/@aws-cdk/aws-appmesh/lib/tls-client-policy.ts
  packages/@aws-cdk/aws-appmesh/lib/tls-validation.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-gateway-listener.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-gateway.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-node-listener.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-node.ts
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.expected.json
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-gateway.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-node.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-router.ts
Labels: @aws-cdk/aws-appmesh, effort/small, p1

#15294 chore(merge-back): 1.110.0
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#15191 feat(pipelines): changes needed to support other engines
  packages/@aws-cdk/pipelines/.npmignore
  packages/@aws-cdk/pipelines/lib/blueprint/index.ts
  packages/@aws-cdk/pipelines/lib/blueprint/stack-deployment.ts
  packages/@aws-cdk/pipelines/lib/blueprint/step.ts
  packages/@aws-cdk/pipelines/lib/codepipeline/codepipeline-engine.ts
  packages/@aws-cdk/pipelines/lib/codepipeline/codepipeline-source.ts
  packages/@aws-cdk/pipelines/lib/helpers-internal/blueprint-queries.ts
  packages/@aws-cdk/pipelines/lib/helpers-internal/graph.ts
  packages/@aws-cdk/pipelines/lib/helpers-internal/index.ts
  packages/@aws-cdk/pipelines/lib/helpers-internal/pipeline-graph.ts
  packages/@aws-cdk/pipelines/lib/helpers-internal/toposort.ts
  packages/@aws-cdk/pipelines/test/blueprint/fixtures/file-asset1.txt
  packages/@aws-cdk/pipelines/test/blueprint/helpers-internal/dependencies.test.ts
  packages/@aws-cdk/pipelines/test/blueprint/helpers-internal/graph.test.ts
  packages/@aws-cdk/pipelines/test/blueprint/helpers-internal/pipeline-graph.test.ts
  packages/@aws-cdk/pipelines/test/blueprint/helpers-internal/util.ts
  packages/@aws-cdk/pipelines/test/blueprint/stack-deployment.test.ts
  packages/@aws-cdk/pipelines/test/rename-this-folder/pipeline.test.ts
Labels: @aws-cdk/pipelines, contribution/core

#14960 feat(sns): add sns service trust to keys for encrypted queue subscriptions
  packages/@aws-cdk/aws-sns-subscriptions/README.md
  packages/@aws-cdk/aws-sns-subscriptions/lib/sqs.ts
  packages/@aws-cdk/aws-sns-subscriptions/package.json
  packages/@aws-cdk/aws-sns-subscriptions/test/subs.test.ts
Labels: @aws-cdk/aws-sns

#15149 fix(aws-elasticloadbalancingv2): cannot clear access logging bucket prefix
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/shared/base-load-balancer.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/alb/load-balancer.test.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/nlb/load-balancer.test.ts
Labels: @aws-cdk/aws-elasticloadbalancingv2

#15276 docs(s3-deployment): note that asset inputs must come from a trusted source
  packages/@aws-cdk/aws-s3-deployment/README.md
  packages/@aws-cdk/aws-s3-deployment/lib/source.ts
Labels: contribution/core

#15202 feat(sqs): add support for high throughput fifo
  packages/@aws-cdk/aws-sqs/README.md
  packages/@aws-cdk/aws-sqs/lib/queue.ts
  packages/@aws-cdk/aws-sqs/test/integ.sqs.expected.json
  packages/@aws-cdk/aws-sqs/test/integ.sqs.ts
  packages/@aws-cdk/aws-sqs/test/test.sqs.ts
Labels: @aws-cdk/aws-sqs

#15290 feat(cdk-assets): externally-configured Docker credentials
  packages/aws-cdk/lib/api/aws-auth/sdk.ts
  packages/aws-cdk/lib/util/asset-publishing.ts
  packages/aws-cdk/test/util/mock-sdk.ts
  packages/cdk-assets/README.md
  packages/cdk-assets/bin/docker-credential-cdk-assets
  packages/cdk-assets/bin/docker-credential-cdk-assets.ts
  packages/cdk-assets/bin/publish.ts
  packages/cdk-assets/lib/aws.ts
  packages/cdk-assets/lib/private/docker-credentials.ts
  packages/cdk-assets/lib/private/docker.ts
  packages/cdk-assets/lib/private/handlers/container-images.ts
  packages/cdk-assets/package.json
  packages/cdk-assets/test/docker-images.test.ts
  packages/cdk-assets/test/mock-aws.ts
  packages/cdk-assets/test/private/docker-credentials.test.ts
Labels: contribution/core

#14834 feat(secretsmanager): Allow cross account grant
  packages/@aws-cdk/aws-secretsmanager/README.md
  packages/@aws-cdk/aws-secretsmanager/lib/secret.ts
  packages/@aws-cdk/aws-secretsmanager/test/secret.test.ts
Labels: @aws-cdk/aws-secretsmanager, effort/small, p1

#15270 chore: add `attachCustomSynthesis` private API
  packages/@aws-cdk/core/lib/app.ts
  packages/@aws-cdk/core/lib/private/synthesis.ts
  packages/@aws-cdk/core/test/synthesis.test.ts
  packages/@aws-cdk/pipelines/lib/actions/publish-assets-action.ts
Labels: contribution/core

#15195 feat(assertions): 'arrayWith' and 'objectLike' matchers
  packages/@aws-cdk/assertions/README.md
  packages/@aws-cdk/assertions/lib/assertions.ts
  packages/@aws-cdk/assertions/lib/has-resource.ts
  packages/@aws-cdk/assertions/lib/index.ts
  packages/@aws-cdk/assertions/lib/match.ts
  packages/@aws-cdk/assertions/lib/matcher.ts
  packages/@aws-cdk/assertions/package.json
  packages/@aws-cdk/assertions/test/assertions.test.ts
  packages/@aws-cdk/assertions/test/match.test.ts
  packages/@aws-cdk/assertions/test/matchers.test.ts
  packages/@aws-cdk/aws-cognito/package.json
  packages/@aws-cdk/aws-cognito/test/user-pool-attr.test.ts
  packages/@aws-cdk/aws-cognito/test/user-pool-client.test.ts
  packages/@aws-cdk/aws-cognito/test/user-pool-domain.test.ts
  packages/@aws-cdk/aws-cognito/test/user-pool-idps/amazon.test.ts
  packages/@aws-cdk/aws-cognito/test/user-pool-idps/apple.ts
  packages/@aws-cdk/aws-cognito/test/user-pool-idps/base.test.ts
  packages/@aws-cdk/aws-cognito/test/user-pool-idps/facebook.test.ts
  packages/@aws-cdk/aws-cognito/test/user-pool-idps/google.test.ts
  packages/@aws-cdk/aws-cognito/test/user-pool-resource-server.test.ts
  packages/@aws-cdk/aws-cognito/test/user-pool.test.ts
  packages/@aws-cdk/aws-efs/test/efs-file-system.test.ts
  packages/@aws-cdk/aws-synthetics/package.json
  packages/@aws-cdk/aws-synthetics/test/canary.test.ts
  packages/@aws-cdk/aws-synthetics/test/code.test.ts
  packages/@aws-cdk/aws-synthetics/test/metric.test.ts
Labels: contribution/core

#15327 fix(cloudfront): cannot set header including 'authorization' in OriginRequestPolicy
  packages/@aws-cdk/aws-cloudfront/lib/origin-request-policy.ts
  packages/@aws-cdk/aws-cloudfront/test/origin-request-policy.test.ts
Labels: contribution/core

#15314 fix(eks): kubectl version 1.21.0 breaks object pruning
  packages/@aws-cdk/lambda-layer-kubectl/layer/Dockerfile
Labels: contribution/core, pr-linter/exempt-test

#15329 chore(release): 1.110.1
  CHANGELOG.md
  packages/@aws-cdk/lambda-layer-kubectl/layer/Dockerfile
  version.v1.json
Labels: contribution/core, pr/no-squash

#15185 feat(servicecatalog): initial implementation of the Product construct
  packages/@aws-cdk/aws-servicecatalog/README.md
  packages/@aws-cdk/aws-servicecatalog/lib/cloudformation-template.ts
  packages/@aws-cdk/aws-servicecatalog/lib/index.ts
  packages/@aws-cdk/aws-servicecatalog/lib/private/validation.ts
  packages/@aws-cdk/aws-servicecatalog/lib/product.ts
  packages/@aws-cdk/aws-servicecatalog/package.json
  packages/@aws-cdk/aws-servicecatalog/test/development-environment.template.json
  packages/@aws-cdk/aws-servicecatalog/test/integ.product.expected.json
  packages/@aws-cdk/aws-servicecatalog/test/integ.product.ts
  packages/@aws-cdk/aws-servicecatalog/test/product.test.ts
Labels: @aws-cdk/aws-servicecatalog, effort/small, p1

#15336 chore(merge-back): 1.110.1
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#15316 feat(cloudwatch): trimmed mean stat in graph widgets
  packages/@aws-cdk/aws-cloudwatch/lib/alarm.ts
  packages/@aws-cdk/aws-cloudwatch/lib/metric.ts
  packages/@aws-cdk/aws-cloudwatch/lib/private/statistic.ts
  packages/@aws-cdk/aws-cloudwatch/test/test.alarm.ts
  packages/@aws-cdk/aws-cloudwatch/test/test.graphs.ts
Labels: contribution/core, pr-linter/exempt-readme

#15165 feat(stepfunctions-tasks): add EventBridgePutEvents task integration
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/eventbridge/put-events.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/index.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/package.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/eventbridge/integ.put-events.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/eventbridge/integ.put-events.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/eventbridge/put-events.test.ts
Labels: @aws-cdk/aws-stepfunctions-tasks

#14753 chore(docs): ensure code snippets in aws-lambda README compile
  packages/@aws-cdk/aws-lambda/README.md
  packages/@aws-cdk/aws-lambda/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-lambda/rosetta/function.ts-fixture
Labels: contribution/core

#14892 chore(ecs-patterns): Add support for gpuCount on QueueProcessingEc2Service
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/queue-processing-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.queue-processing-ecs-service.ts
Labels: @aws-cdk/aws-ecs-patterns

#15020 chore: add CDK Construction Zone episodes list to main README
  README.md
Labels: contribution/core

#15361 chore(release): 2.0.0-rc.10
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#15362 feat(cfnspec): cloudformation spec v39.3.0
  packages/@aws-cdk/cfnspec/CHANGELOG.md
  packages/@aws-cdk/cfnspec/spec-source/000_sam.spec.json
  packages/monocdk/rosetta/function.ts-fixture
Labels: pr-linter/exempt-test, pr/auto-approve

#15368 feat(cloudwatch): revert trimmed mean stat in graph widgets
  packages/@aws-cdk/aws-cloudwatch/lib/alarm.ts
  packages/@aws-cdk/aws-cloudwatch/lib/metric.ts
  packages/@aws-cdk/aws-cloudwatch/lib/private/statistic.ts
  packages/@aws-cdk/aws-cloudwatch/test/test.alarm.ts
  packages/@aws-cdk/aws-cloudwatch/test/test.graphs.ts
Labels: contribution/core, pr-linter/exempt-readme
