Repository aws/aws-cdk, pull requests merged in 2021-05, with the labels that each got.

#14315 fix(s3): urlForObject does not consider explicit bucket region
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/aws-s3/test/bucket.test.ts
Labels: @aws-cdk/aws-s3

#14497 chore(prlint): declare missing dependency
  tools/prlint/package.json
Labels: contribution/core

#14505 chore(cli integ tests): delete bootstrap stacks last
  packages/aws-cdk/test/integ/cli/bootstrapping.integtest.ts
  packages/aws-cdk/test/integ/helpers/cdk.ts
Labels: contribution/core, package/tools

#14499 chore(eks): remove propertyOverride for nodegroup launchTemplate
  packages/@aws-cdk/aws-eks/lib/managed-nodegroup.ts
Labels: @aws-cdk/aws-eks

#14320 feat(elasticsearch): Support version 7.10
  packages/@aws-cdk/aws-elasticsearch/README.md
  packages/@aws-cdk/aws-elasticsearch/lib/domain.ts
  packages/@aws-cdk/aws-elasticsearch/test/domain.test.ts
Labels: @aws-cdk/aws-elasticsearch

#14510 fix(CodeBuild): add resource only once per secret
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codebuild/test/test.project.ts
Labels: @aws-cdk/aws-codebuild

#14506 chore: delete integration stacks serially
  packages/aws-cdk/test/integ/helpers/aws.ts
Labels: contribution/core

#14475 fix(cli): 'cdk synth' not able to fail if stacks have errors
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/test/cdk-toolkit.test.ts
Labels: package/tools

#14520 chore: remove symlink from version control
  packages/cdk-assets/.gitignore
  packages/cdk-assets/test/archive.test.ts
  packages/cdk-assets/test/test-archive-follow/data/linked
Labels: contribution/core

#14522 chore(merge-back): 1.102.0
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#14512 fix(cfn-include): correctly parse Fn::Sub expressions containing serialized JSON
  packages/@aws-cdk/cloudformation-include/test/test-templates/yaml/json-in-fn-sub.yaml
  packages/@aws-cdk/cloudformation-include/test/yaml-templates.test.ts
  packages/@aws-cdk/core/lib/cfn-parse.ts
Labels: @aws-cdk/cloudformation-include, contribution/core

#14515 chore(rds): add new / mark as deprecated rds versions
  packages/@aws-cdk/aws-rds/lib/instance-engine.ts
Labels: @aws-cdk/aws-rds

#14525 docs(lambda-nodejs): remove incorrect sentence about docker
  packages/@aws-cdk/aws-lambda-nodejs/README.md
Labels: @aws-cdk/aws-lambda-nodejs

#14488 chore(ecr-assets): reference cdk-ecr-deployment in readme
  packages/@aws-cdk/aws-ecr-assets/README.md
Labels: @aws-cdk/assets, @aws-cdk/aws-ecr-assets, contribution/core

#13965 feat(aws-ecs): Expose logdriver "mode" property
  packages/@aws-cdk/aws-ecs/README.md
  packages/@aws-cdk/aws-ecs/lib/log-drivers/aws-log-driver.ts
  packages/@aws-cdk/aws-ecs/test/aws-log-driver.test.ts
Labels: @aws-cdk/aws-ecs

#12556 feat(kinesis): Basic stream level metrics
  packages/@aws-cdk/aws-kinesis/README.md
  packages/@aws-cdk/aws-kinesis/lib/kinesis-fixed-canned-metrics.ts
  packages/@aws-cdk/aws-kinesis/lib/stream.ts
  packages/@aws-cdk/aws-kinesis/package.json
  packages/@aws-cdk/aws-kinesis/test/integ.stream-dashboard.expected.json
  packages/@aws-cdk/aws-kinesis/test/integ.stream-dashboard.ts
  packages/@aws-cdk/aws-kinesis/test/integ.stream.ts
  packages/@aws-cdk/aws-kinesis/test/stream.test.ts
Labels: @aws-cdk/aws-kinesis

#14537 chore(events-targets): remove experimental dependency
  packages/@aws-cdk/aws-events-targets/package.json
Labels: @aws-cdk/aws-events-targets, contribution/core

#14249 chore(pkglint): disallow experimental dependencies
  tools/pkglint/lib/rules.ts
Labels: contribution/core

#13290 feat(docdb): Support multiple security groups to DatabaseCluster
  packages/@aws-cdk/aws-docdb/README.md
  packages/@aws-cdk/aws-docdb/lib/cluster.ts
  packages/@aws-cdk/aws-docdb/test/cluster.test.ts
Labels: @aws-cdk/aws-docdb

#14538 fix(lambda-nodejs): non-deterministic runtime version
  packages/@aws-cdk/aws-lambda-nodejs/lib/function.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/util.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/function.test.ts
Labels: @aws-cdk/aws-lambda-nodejs

#14541 fix(apigatewayv2): incorrect metric names for client and server-side errors
  packages/@aws-cdk/aws-apigatewayv2/lib/common/api.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/common/base.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/common/stage.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/api.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/stage.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/api.test.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/stage.test.ts
Labels: @aws-cdk/aws-apigatewayv2, contribution/core

#14542 fix(cli): 'cdk deploy *' should not deploy stacks in nested assemblies
  packages/aws-cdk/lib/api/cxapp/cloud-assembly.ts
Labels: package/tools, pr-linter/exempt-test

#14545 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/assets/package.json
  packages/@aws-cdk/aws-appintegrations/package.json
  packages/@aws-cdk/aws-customerprofiles/package.json
  packages/@aws-cdk/aws-groundstation/package.json
  packages/@aws-cdk/aws-iotfleethub/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-lookoutmetrics/package.json
  packages/@aws-cdk/aws-nimblestudio/package.json
  packages/@aws-cdk/core/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  tools/cdk-build-tools/package.json
  tools/eslint-plugin-cdk/package.json
  tools/pkglint/package.json
  yarn.lock
Labels: contribution/core, dependencies, pr/auto-approve

#14544 fix: `assert` matches more than the template on multiple CDK copies
  packages/@aws-cdk/assert-internal/lib/synth-utils.ts
Labels: @aws-cdk/assert, contribution/core, pr-linter/exempt-test

#14536 chore(ecs): add test and docs for using ARM instances
  packages/@aws-cdk/aws-ecs/README.md
  packages/@aws-cdk/aws-ecs/lib/cluster.ts
  packages/@aws-cdk/aws-ecs/test/cluster.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/integ.graviton.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.graviton.ts
Labels: @aws-cdk/aws-ecs, contribution/core

#12620 chore(ecr): migrate tests to jest
  packages/@aws-cdk/aws-ecr/.gitignore
  packages/@aws-cdk/aws-ecr/.npmignore
  packages/@aws-cdk/aws-ecr/jest.config.js
  packages/@aws-cdk/aws-ecr/package.json
  packages/@aws-cdk/aws-ecr/test/auth-token.test.ts
  packages/@aws-cdk/aws-ecr/test/repository.test.ts
Labels: @aws-cdk/aws-ecr

#13820 fix(apigatewayv2-integrations): fix broken lambda websocket integration uri
  packages/@aws-cdk/aws-apigatewayv2-integrations/lib/websocket/lambda.ts
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/websocket/integ.lambda.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/websocket/lambda.test.ts
Labels: @aws-cdk/aws-apigatewayv2-integrations, @aws-cdk/aws-lambda

#14565 chore: add forgotten dependency on `@types/jest`
  packages/@aws-cdk/aws-ecr/package.json
Labels: contribution/core

#14554 docs(ecs-service-extensions): clarify docs
  packages/@aws-cdk-containers/ecs-service-extensions/lib/environment.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/appmesh.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/cloudwatch-agent.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/container.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/extension-interfaces.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/firelens.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/http-load-balancer.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/scale-on-cpu-utilization.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/xray.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/service-description.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/service.ts
Labels: @aws-cdk-containers/ecs-service-extensions, contribution/core, docs/inline

#14566 chore: adding version.v2.json to nozem global files
  package.json
Labels: aws-cdk-lib, contribution/core

#14579 chore: forward merge 'master' into 'v2-main'
  packages/@aws-cdk-containers/ecs-service-extensions/lib/environment.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/appmesh.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/cloudwatch-agent.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/container.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/extension-interfaces.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/firelens.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/http-load-balancer.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/scale-on-cpu-utilization.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/xray.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/service-description.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/service.ts
  packages/@aws-cdk/aws-apigatewayv2-integrations/lib/websocket/lambda.ts
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/websocket/integ.lambda.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/websocket/lambda.test.ts
  packages/@aws-cdk/aws-ecr/package.json
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash

#14582 chore: fix changelog rewrite to be node 10 compatible
  scripts/changelog-experimental-fix.js
Labels: contribution/core

#14583 chore(cloudfront): remove the use of calculateFunctionHash
  packages/@aws-cdk/aws-cloudfront/lib/experimental/edge-function.ts
  packages/@aws-cdk/aws-cloudfront/test/integ.distribution-lambda-cross-region.expected.json
Labels: @aws-cdk/aws-cloudfront, contribution/core

#14365 feat(cloudwatch): validate parameters for a metric dimensions (closes #3116)
  packages/@aws-cdk/aws-cloudwatch/lib/metric-types.ts
  packages/@aws-cdk/aws-cloudwatch/lib/metric.ts
  packages/@aws-cdk/aws-cloudwatch/test/test.metrics.ts
Labels: @aws-cdk/aws-cloudwatch, pr-linter/exempt-readme

#14432 feat(appmesh): change HealthChecks to use protocol-specific union-like classes
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/health-checks.ts
  packages/@aws-cdk/aws-appmesh/lib/index.ts
  packages/@aws-cdk/aws-appmesh/lib/private/utils.ts
  packages/@aws-cdk/aws-appmesh/lib/route-spec.ts
  packages/@aws-cdk/aws-appmesh/lib/shared-interfaces.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-gateway-listener.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-node-listener.ts
  packages/@aws-cdk/aws-appmesh/package.json
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.ts
  packages/@aws-cdk/aws-appmesh/test/test.health-check.ts
  packages/@aws-cdk/aws-appmesh/test/test.mesh.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-gateway.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-node.ts
Labels: @aws-cdk/aws-appmesh

#14478 feat(kms): allow specifying key spec and key usage
  packages/@aws-cdk/aws-kms/README.md
  packages/@aws-cdk/aws-kms/lib/key.ts
  packages/@aws-cdk/aws-kms/test/integ.key.expected.json
  packages/@aws-cdk/aws-kms/test/integ.key.ts
  packages/@aws-cdk/aws-kms/test/key.test.ts
Labels: @aws-cdk/aws-kms, effort/small, p1

#14609 chore: add `@types/jest` to a package that was missing it
  packages/@aws-cdk/aws-lambda-go/package.json
  tools/pkglint/lib/rules.ts
Labels: contribution/core

#14615 chore: issue template for bugs to have an SSCCE example
  .github/ISSUE_TEMPLATE/bug.md
Labels: contribution/core

#14613 fix(cli): synth fails if there was an error when synthesizing the stack
  packages/@aws-cdk/cloud-assembly-schema/lib/cloud-assembly/artifact-schema.ts
  packages/@aws-cdk/cloud-assembly-schema/schema/cloud-assembly.schema.json
  packages/@aws-cdk/cloud-assembly-schema/schema/cloud-assembly.version.json
  packages/@aws-cdk/core/lib/construct-compat.ts
  packages/@aws-cdk/core/lib/private/synthesis.ts
  packages/@aws-cdk/core/lib/stack-synthesizers/_shared.ts
  packages/@aws-cdk/core/lib/stage.ts
  packages/@aws-cdk/core/test/synthesis.test.ts
  packages/@aws-cdk/cx-api/lib/artifacts/cloudformation-artifact.ts
  packages/@aws-cdk/pipelines/lib/stage.ts
  packages/aws-cdk/lib/api/cxapp/cloud-assembly.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/test/cdk-toolkit.test.ts
Labels: package/tools

#14618 chore: annotate `aws-lambda-go` with `docker` requirement
  packages/@aws-cdk/aws-lambda-go/package.json
Labels: contribution/core

#14624 chore(merge-back): 1.103.0
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#14619 chore: mark "otaviomacedo" as core contributor
  .mergify.yml
Labels: @aws-cdk/core

#14621 chore(cli): add npm command to upgrade notice
  packages/aws-cdk/lib/version.ts
Labels: contribution/core, package/tools

#14637 chore(release): 2.0.0-rc.2
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#14564 fix(lambda-nodejs): handler filename missing from error message
  packages/@aws-cdk/aws-lambda-nodejs/lib/function.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/function.test.ts
Labels: @aws-cdk/aws-lambda-nodejs, contribution/core

#14642 chore(build): clarify prerequisites in CONTRIBUTING and verify before build
  CONTRIBUTING.md
  scripts/check-build-prerequisites.sh
Labels: contribution/core

#14644 chore: change `??` to `||` in check-yarn-lock.js
  scripts/check-yarn-lock.js
Labels: contribution/core

#14653 chore(release): 2.0.0-rc.3
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#14562 fix(lambda-event-sources): incorrect documented defaults for stream types
  packages/@aws-cdk/aws-lambda-event-sources/lib/stream.ts
Labels: @aws-cdk/aws-lambda-event-sources, contribution/core, pr-linter/exempt-test

#14424 fix(apigatewayv2): authorizer is not removed when HttpNoneAuthorizer is used
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.alb.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.http-proxy.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.lambda-proxy.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.nlb.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.service-discovery.expected.json
  packages/@aws-cdk/aws-apigatewayv2/lib/http/route.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/api.test.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/route.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/apigateway/integ.call-http-api.expected.json
Labels: @aws-cdk/aws-apigatewayv2

#14661 chore: npm-check-updates && yarn upgrade
  packages/@aws-cdk/aws-codepipeline-actions/package.json
  packages/@aws-cdk/aws-finspace/package.json
  packages/@aws-cdk/aws-frauddetector/package.json
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-xray/package.json
  packages/@aws-cdk/core/package.json
  packages/awslint/package.json
  tools/cdk-build-tools/package.json
  tools/eslint-plugin-cdk/package.json
  tools/pkglint/package.json
  yarn.lock
Labels: contribution/core, dependencies, pr/auto-approve

#14659 feat(cloudwatch): time range support for GraphWidget
  packages/@aws-cdk/aws-cloudwatch/lib/graph.ts
  packages/@aws-cdk/aws-cloudwatch/test/integ.math-alarm-and-dashboard.expected.json
  packages/@aws-cdk/aws-cloudwatch/test/integ.math-alarm-and-dashboard.ts
  packages/@aws-cdk/aws-cloudwatch/test/test.graphs.ts
Labels: @aws-cdk/aws-cloudwatch, contribution/core, pr-linter/exempt-readme

#14471 feat(secretsmanager): Automatically grant permissions to rotation Lambda
  packages/@aws-cdk/aws-secretsmanager/README.md
  packages/@aws-cdk/aws-secretsmanager/lib/rotation-schedule.ts
  packages/@aws-cdk/aws-secretsmanager/test/rotation-schedule.test.ts
Labels: @aws-cdk/aws-secretsmanager, effort/small, p1

#14646 docs(ecs-service-extensions): fix README
  packages/@aws-cdk-containers/ecs-service-extensions/README.md
Labels: @aws-cdk-containers/ecs-service-extensions, contribution/core

#14386 feat(ecs): add support for EC2 Capacity Providers
  packages/@aws-cdk/aws-ecs/README.md
  packages/@aws-cdk/aws-ecs/lib/cluster.ts
  packages/@aws-cdk/aws-ecs/test/cluster.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-service.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/integ.capacity-provider.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.capacity-provider.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-service.test.ts
Labels: @aws-cdk/aws-ec2, @aws-cdk/aws-ecs

#14667 chore: remove fixed region in python sample app
  packages/aws-cdk/lib/init-templates/v1/sample-app/python/app.template.py
  packages/aws-cdk/lib/init-templates/v2/sample-app/python/app.template.py
Labels: contribution/core

#14651 feat(appsync): elasticsearch data source for graphql api
  packages/@aws-cdk/aws-appsync/README.md
  packages/@aws-cdk/aws-appsync/lib/data-source.ts
  packages/@aws-cdk/aws-appsync/lib/graphqlapi-base.ts
  packages/@aws-cdk/aws-appsync/package.json
  packages/@aws-cdk/aws-appsync/test/appsync-elasticsearch.test.ts
  packages/@aws-cdk/aws-appsync/test/integ.graphql-elasticsearch.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-elasticsearch.ts
Labels: @aws-cdk/aws-appsync, @aws-cdk/aws-elasticsearch

#13520 docs(lambda-nodejs): Example for esbuild missing comma in property
  packages/@aws-cdk/aws-lambda-nodejs/README.md
Labels: @aws-cdk/aws-lambda-nodejs

#14643 chore(custom-resources): import the AWSLambda package explicitly
  packages/@aws-cdk/aws-msk/test/integ.cluster.expected.json
  packages/@aws-cdk/custom-resources/lib/aws-custom-resource/runtime/index.ts
Labels: @aws-cdk/custom-resources, contribution/core

#14632 chore: init templates use node jest environment
  packages/aws-cdk/lib/init-templates/v1/app/javascript/jest.config.js
  packages/aws-cdk/lib/init-templates/v1/app/typescript/jest.config.js
  packages/aws-cdk/lib/init-templates/v1/lib/typescript/jest.config.js
  packages/aws-cdk/lib/init-templates/v1/sample-app/javascript/jest.config.js
  packages/aws-cdk/lib/init-templates/v1/sample-app/typescript/jest.config.js
  packages/aws-cdk/lib/init-templates/v2/app/javascript/jest.config.js
  packages/aws-cdk/lib/init-templates/v2/app/typescript/jest.config.js
  packages/aws-cdk/lib/init-templates/v2/lib/typescript/jest.config.js
  packages/aws-cdk/lib/init-templates/v2/sample-app/javascript/jest.config.js
  packages/aws-cdk/lib/init-templates/v2/sample-app/typescript/jest.config.js
Labels: contribution/core

#14638 fix(events-targets): circular dependency when adding a KMS-encrypted SQS queue
  packages/@aws-cdk/aws-events-targets/lib/sqs.ts
  packages/@aws-cdk/aws-events-targets/package.json
  packages/@aws-cdk/aws-events-targets/test/sqs/integ.sqs-event-rule-target.expected.json
  packages/@aws-cdk/aws-events-targets/test/sqs/integ.sqs-event-rule-target.ts
Labels: @aws-cdk/aws-events-targets, @aws-cdk/aws-sqs, contribution/core

#14679 feat(cloudwatch): GraphWidget supports period and statistic
  packages/@aws-cdk/aws-cloudwatch/lib/graph.ts
  packages/@aws-cdk/aws-cloudwatch/test/test.graphs.ts
Labels: @aws-cdk/aws-cloudwatch, contribution/core, pr-linter/exempt-readme

#14668 test(ecs-patterns): update l3 fargate integ tests
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.alb-fargate-service-https.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.alb-fargate-service-https.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.l3-autocreate.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.l3-autocreate.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.l3-vpconly.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.l3-vpconly.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.l3.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.l3.ts
Labels: @aws-cdk/aws-ecs-patterns, testing

#14671 chore(appsync): rds data source service integration with grantDataApi
  packages/@aws-cdk/aws-appsync/lib/data-source.ts
  packages/@aws-cdk/aws-appsync/test/appsync-rds.test.ts
Labels: @aws-cdk/aws-appsync, @aws-cdk/aws-rds

#14691 fix(ecs): Classes FargateService and Ec2Service have no defaultChild
  packages/@aws-cdk/aws-ecs/lib/base/base-service.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-service.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-service.test.ts
Labels: contribution/core

#14672 docs(ecs): add contributing guide
  packages/@aws-cdk-containers/ecs-service-extensions/CONTRIBUTING.md
  packages/@aws-cdk/aws-ecs-patterns/CONTRIBUTING.md
  packages/@aws-cdk/aws-ecs/CONTRIBUTING.md
Labels: @aws-cdk/aws-ecs, docs/repo-general

#14708 chore(merge-back): 1.104.0
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#14725 chore(msk): add ignore-assets pragma to cluster integ test
  packages/@aws-cdk/aws-msk/test/integ.cluster.ts
Labels: @aws-cdk/assets, @aws-cdk/aws-msk, contribution/core

#14727 chore: skip Go proxy for lambda-go integ tests
  packages/@aws-cdk/aws-lambda-go/lib/Dockerfile
Labels: contribution/core

#14533 fix(lambda): unable to access SingletonFunction vpc connections
  packages/@aws-cdk/aws-lambda/lib/singleton-lambda.ts
  packages/@aws-cdk/aws-lambda/test/singleton-lambda.test.ts
Labels: @aws-cdk/aws-ec2, @aws-cdk/aws-lambda

#13181 feat(apigatewayv2): http api - lambda authorizer
  packages/@aws-cdk/aws-apigatewayv2-authorizers/README.md
  packages/@aws-cdk/aws-apigatewayv2-authorizers/lib/http/index.ts
  packages/@aws-cdk/aws-apigatewayv2-authorizers/lib/http/jwt.ts
  packages/@aws-cdk/aws-apigatewayv2-authorizers/lib/http/lambda.ts
  packages/@aws-cdk/aws-apigatewayv2-authorizers/lib/http/user-pool.ts
  packages/@aws-cdk/aws-apigatewayv2-authorizers/package.json
  packages/@aws-cdk/aws-apigatewayv2-authorizers/test/auth-handler/index.ts
  packages/@aws-cdk/aws-apigatewayv2-authorizers/test/http/integ.lambda.expected.json
  packages/@aws-cdk/aws-apigatewayv2-authorizers/test/http/integ.lambda.ts
  packages/@aws-cdk/aws-apigatewayv2-authorizers/test/http/lambda.test.ts
  packages/@aws-cdk/aws-apigatewayv2-authorizers/test/integ.lambda.handler/index.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/authorizer.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/route.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/api.test.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/authorizer.test.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/route.test.ts
Labels: @aws-cdk/aws-apigatewayv2, @aws-cdk/aws-lambda

#14648 feat(stepfunctions): Add support for ResultSelector
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/integ.invoke.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/integ.invoke.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/invoke.test.ts
  packages/@aws-cdk/aws-stepfunctions/lib/states/map.ts
  packages/@aws-cdk/aws-stepfunctions/lib/states/parallel.ts
  packages/@aws-cdk/aws-stepfunctions/lib/states/state.ts
  packages/@aws-cdk/aws-stepfunctions/lib/states/task-base.ts
  packages/@aws-cdk/aws-stepfunctions/test/map.test.ts
  packages/@aws-cdk/aws-stepfunctions/test/parallel.test.ts
  packages/@aws-cdk/aws-stepfunctions/test/task-base.test.ts
Labels: @aws-cdk/aws-stepfunctions

#14722 docs(stepfunctions-tasks): fix integration patterns of step-function-task docs
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/stepfunctions/start-execution.ts
Labels: @aws-cdk/aws-stepfunctions-tasks

#14707 docs(kinesis): correct grantRead and grantWrite comments
  packages/@aws-cdk/aws-kinesis/lib/stream.ts
Labels: @aws-cdk/aws-kinesis

#14720 chore: set license of eslint-plugin-cdk
  tools/eslint-plugin-cdk/package.json
Labels: contribution/core

#14487 chore(lambda-layer-awscli): add awscli v2.2.5
  packages/@aws-cdk/aws-ecs/test/ec2/integ.environment-file.expected.json
  packages/@aws-cdk/aws-eks/lib/kubectl-provider.ts
  packages/@aws-cdk/aws-s3-deployment/lib/bucket-deployment.ts
  packages/@aws-cdk/aws-s3-deployment/lib/lambda/index.py
  packages/@aws-cdk/aws-s3-deployment/test/integ.bucket-deployment-cloudfront.expected.json
  packages/@aws-cdk/aws-s3-deployment/test/integ.bucket-deployment.expected.json
  packages/@aws-cdk/lambda-layer-awscli/README.md
  packages/@aws-cdk/lambda-layer-awscli/layer/build.sh
  packages/@aws-cdk/lambda-layer-awscli/layer/v2.Dockerfile
  packages/@aws-cdk/lambda-layer-awscli/lib/awscli-layer.ts
  packages/@aws-cdk/lambda-layer-awscli/test/awscli-layer.test.ts
Labels: @aws-cdk/lambda-layer-aws-cli, aws-cdk-lib

#14680 fix(pipelines): stackOutput generates names too long to be used in useOutputs
  packages/@aws-cdk/pipelines/lib/pipeline.ts
  packages/@aws-cdk/pipelines/test/testutil.ts
  packages/@aws-cdk/pipelines/test/validation.test.ts
Labels: @aws-cdk/pipelines, contribution/core

#14655 fix(pipelines): self-mutating builds cannot be run in privileged mode
  packages/@aws-cdk/pipelines/lib/actions/update-pipeline-action.ts
  packages/@aws-cdk/pipelines/lib/pipeline.ts
  packages/@aws-cdk/pipelines/test/pipeline.test.ts
Labels: @aws-cdk/pipelines, contribution/core

#14740 chore(cli): raise the timeout for the bootstrap test
  packages/aws-cdk/test/integ/cli/bootstrapping.integtest.ts
  packages/aws-cdk/test/integ/helpers/test-helpers.ts
Labels: contribution/core, package/tools

#14357 fix(cli): Updated typo user to uses
  packages/aws-cdk/bin/cdk.ts
Labels: package/tools, pr-linter/exempt-test

#14372 fix(core): cannot determine packaging when bundling that produces an archive is skipped
  packages/@aws-cdk/core/lib/asset-staging.ts
  packages/@aws-cdk/core/test/staging.test.ts
Labels: @aws-cdk/core

#14491 chore: declare more missing dependencies
  packages/@aws-cdk/cloudformation-diff/package.json
  tools/eslint-plugin-cdk/package.json
  tools/pkglint/lib/rules.ts
Labels: contribution/core

#14743 fix(lambda-nodejs): banner and footer values not escaped
  packages/@aws-cdk/aws-lambda-nodejs/README.md
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
Labels: @aws-cdk/aws-lambda-nodejs

#12613 fix(ecr): add validations for ECR repository names
  packages/@aws-cdk/aws-ecr/lib/repository.ts
  packages/@aws-cdk/aws-ecr/test/repository.test.ts
Labels: @aws-cdk/aws-ecr

#14745 fix(pipelines): synth fails if 'aws-cdk' is not in `package.json`
  packages/@aws-cdk/pipelines/lib/synths/simple-synth-action.ts
  packages/@aws-cdk/pipelines/test/builds.test.ts
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline.expected.json
Labels: @aws-cdk/pipelines, contribution/core

#14744 revert(lambda-layer-awscli): add awscli v2.2.5 (#14487)
  packages/@aws-cdk/aws-ecs/test/ec2/integ.environment-file.expected.json
  packages/@aws-cdk/aws-eks/lib/kubectl-provider.ts
  packages/@aws-cdk/aws-s3-deployment/lib/bucket-deployment.ts
  packages/@aws-cdk/aws-s3-deployment/lib/lambda/index.py
  packages/@aws-cdk/aws-s3-deployment/test/integ.bucket-deployment-cloudfront.expected.json
  packages/@aws-cdk/aws-s3-deployment/test/integ.bucket-deployment.expected.json
  packages/@aws-cdk/lambda-layer-awscli/README.md
  packages/@aws-cdk/lambda-layer-awscli/layer/build.sh
  packages/@aws-cdk/lambda-layer-awscli/layer/v2.Dockerfile
  packages/@aws-cdk/lambda-layer-awscli/lib/awscli-layer.ts
  packages/@aws-cdk/lambda-layer-awscli/test/awscli-layer.test.ts
Labels: aws-cdk-lib, contribution/core

#14749 chore: disable automated dependency upgrades
  .github/workflows/yarn-upgrade.yml
Labels: contribution/core

#14041 feat(custom-resources): restrict output of AwsCustomResource to list of paths
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.assign-public-ip.expected.json
  packages/@aws-cdk/aws-cognito/test/integ.user-pool-domain-cfdist.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.custom-kms-key.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.unsignedbasicauth.expected.json
  packages/@aws-cdk/aws-events-targets/test/logs/integ.log-group.expected.json
  packages/@aws-cdk/aws-globalaccelerator-endpoints/test/integ.globalaccelerator.expected.json
  packages/@aws-cdk/aws-msk/test/integ.cluster.expected.json
  packages/@aws-cdk/aws-route53/test/integ.vpc-endpoint-service-domain-name.expected.json
  packages/@aws-cdk/custom-resources/README.md
  packages/@aws-cdk/custom-resources/lib/aws-custom-resource/aws-custom-resource.ts
  packages/@aws-cdk/custom-resources/lib/aws-custom-resource/runtime/index.ts
  packages/@aws-cdk/custom-resources/test/aws-custom-resource/aws-custom-resource-provider.test.ts
Labels: @aws-cdk/custom-resources

#14739 fix(lambda-nodejs): esbuild detection with Yarn 2 in PnP mode
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/esbuild-installation.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/function.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/package-manager.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/util.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/esbuild-installation.test.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/package-manager.test.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/util.test.ts
Labels: @aws-cdk/aws-lambda-nodejs

#14767 chore: permissions for github actions
  .github/workflows/auto-approve.yml
  .github/workflows/close-stale-issues.yml
  .github/workflows/closed-issue-message.yml
  .github/workflows/issue-label-assign.yml
  .github/workflows/pr-linter.yml
  .github/workflows/v2-pull-request.yml
  .github/workflows/yarn-upgrade.yml
Labels: contribution/core

#14775 chore: switch back to privileged token in upgrade github action
  .github/workflows/yarn-upgrade.yml
Labels: contribution/core

#14763 chore(release): 2.0.0-rc.4
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#14770 chore(merge-back): 1.105.0
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#14742 feat(dynamodb): add ability to enable contributor insights on Table
  packages/@aws-cdk/aws-dynamodb/lib/table.ts
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
Labels: @aws-cdk/aws-dynamodb, pr-linter/exempt-readme

#14776 chore: npm-check-updates && yarn upgrade
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-dynamodb-global/lambda-packages/aws-global-table-coordinator/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/cloud-assembly-schema/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/core/package.json
  packages/@aws-cdk/cx-api/package.json
  packages/@monocdk-experiment/assert/package.json
  packages/@monocdk-experiment/rewrite-imports/package.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk-migration/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-assets/package.json
  packages/monocdk/package.json
  tools/cdk-build-tools/package.json
  tools/eslint-plugin-cdk/package.json
  tools/nodeunit-shim/package.json
  tools/pkglint/package.json
  tools/prlint/package.json
  tools/yarn-cling/package.json
  yarn.lock
Labels: contribution/core, dependencies, pr/auto-approve

#14785 chore: add go v2 init template
  packages/aws-cdk/lib/init-templates/v2/app/go/%name%.template.go
  packages/aws-cdk/lib/init-templates/v2/app/go/%name%_test.template.go
  packages/aws-cdk/lib/init-templates/v2/app/go/.template.gitignore
  packages/aws-cdk/lib/init-templates/v2/app/go/README.md
  packages/aws-cdk/lib/init-templates/v2/app/go/cdk.template.json
  packages/aws-cdk/lib/init-templates/v2/app/go/go.template.mod
Labels: contribution/core, language/go

#14789 chore(cfnspec): update cfn-lint repo name
  packages/@aws-cdk/cfnspec/build-tools/update-cfnlint.sh
Labels: contribution/core

#14754 fix(iam): permissions boundaries not added to custom resource roles
  packages/@aws-cdk/aws-iam/lib/permissions-boundary.ts
  packages/@aws-cdk/aws-iam/test/custom-resource/index.ts
  packages/@aws-cdk/aws-iam/test/permissions-boundary.test.ts
Labels: contribution/core

#14674 feat(lambda): support Principal conditions in Permission
  packages/@aws-cdk/aws-lambda/README.md
  packages/@aws-cdk/aws-lambda/lib/function-base.ts
  packages/@aws-cdk/aws-lambda/lib/util.ts
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-lambda/test/function.test.ts
Labels: @aws-cdk/aws-lambda, contribution/core

#14797 chore(docs): move ownership to adam from romain
  .github/workflows/issue-label-assign.yml
Labels: contribution/core

#13596 feat(appmesh): add IAM grants for StreamAggregatedResources
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/virtual-gateway.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-node.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-gateway.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-node.ts
Labels: @aws-cdk/aws-appmesh

#14793 chore(docs): added troubleshooting entry for Docker error in the synthesis step
  packages/@aws-cdk/pipelines/README.md
Labels: contribution/core

#14729 fix(pipelines): self-update build fails with named pipeline stack
  packages/@aws-cdk/pipelines/lib/actions/update-pipeline-action.ts
  packages/@aws-cdk/pipelines/lib/pipeline.ts
  packages/@aws-cdk/pipelines/test/pipeline.test.ts
Labels: @aws-cdk/pipelines, contribution/core

#14819 chore(cdk): increase timeout for all bootstrapping integ tests
  packages/aws-cdk/test/integ/cli/bootstrapping.integtest.ts
Labels: contribution/core

#14796 chore: add missing `@types/aws-lambda` dependency
  packages/@aws-cdk/aws-apigatewayv2-authorizers/package.json
Labels: contribution/core

#14717 docs(cognito): correct App Clients section
  packages/@aws-cdk/aws-cognito/README.md
Labels: @aws-cdk/aws-cognito

#14586 fix(lambda): changing reserved concurrency fails lambda version deployment
  packages/@aws-cdk/aws-cloudfront/test/integ.distribution-lambda-cross-region.expected.json
  packages/@aws-cdk/aws-cloudfront/test/integ.distribution-lambda.expected.json
  packages/@aws-cdk/aws-codedeploy/test/lambda/integ.deployment-group.expected.json
  packages/@aws-cdk/aws-lambda/README.md
  packages/@aws-cdk/aws-lambda/lib/function-hash.ts
  packages/@aws-cdk/aws-lambda/lib/function.ts
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-lambda/test/function-hash.test.ts
  packages/@aws-cdk/aws-lambda/test/integ.current-version.expected.json
  packages/@aws-cdk/cx-api/lib/features.ts
Labels: @aws-cdk/aws-lambda, contribution/core

#14054 chore(dynamodb): validate that a Stack does not contain more than 10 global Tables
  packages/@aws-cdk/aws-dynamodb/README.md
  packages/@aws-cdk/aws-dynamodb/lib/replica-provider.ts
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
Labels: @aws-cdk/aws-dynamodb

#13834 feat(ecs-service-extensions): allow taskRole to be passed in on creation of an ECS service
  packages/@aws-cdk-containers/ecs-service-extensions/README.md
  packages/@aws-cdk-containers/ecs-service-extensions/lib/service.ts
  packages/@aws-cdk-containers/ecs-service-extensions/test/test.service.ts
Labels: @aws-cdk-containers/ecs-service-extensions

#14825 chore: remove prlinter module and merge it with prlint
  .github/actions/prlinter/LICENSE
  .github/actions/prlinter/NOTICE
  .github/actions/prlinter/index.js
  .github/actions/prlinter/package-lock.json
  .github/actions/prlinter/package.json
  .github/workflows/pr-linter.yml
  tools/prlint/README.md
  tools/prlint/action.yml
  tools/prlint/index.js
  tools/prlint/lint.js
  tools/prlint/package-lock.json
  tools/prlint/package.json
  tools/prlint/test/lint.test.js
Labels: contribution/core

#14126 docs(aws-stepfunctions-tasks): Update TaskEnvironmentVariable doc to refer to JsonPath
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/ecs/run-ecs-task-base-types.ts
Labels: @aws-cdk/aws-stepfunctions-tasks

#14849 chore: add go to list of supported languages
  README.md
Labels: contribution/core

#14848 chore(prlint): switch to typescript
  .github/workflows/pr-linter.yml
  tools/prlint/.gitignore
  tools/prlint/decs.d.ts
  tools/prlint/index.ts
  tools/prlint/lint.js
  tools/prlint/lint.ts
  tools/prlint/package-lock.json
  tools/prlint/package.json
  tools/prlint/test/lint.test.ts
  tools/prlint/tsconfig.json
Labels: contribution/core

#14867 chore(merge-back): 1.106.0
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#14869 revert(secretsmanager): revert "Automatically grant permissions to ro…
  packages/@aws-cdk/aws-secretsmanager/README.md
  packages/@aws-cdk/aws-secretsmanager/lib/rotation-schedule.ts
  packages/@aws-cdk/aws-secretsmanager/test/rotation-schedule.test.ts
Labels: contribution/core

#14881 chore(release): 1.106.1
  CHANGELOG.md
  packages/@aws-cdk/aws-secretsmanager/README.md
  packages/@aws-cdk/aws-secretsmanager/lib/rotation-schedule.ts
  packages/@aws-cdk/aws-secretsmanager/test/rotation-schedule.test.ts
  version.v1.json
Labels: contribution/core, pr/no-squash

#14883 chore(merge-back): 1.106.1
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#14903 chore(release): 2.0.0-rc.5
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#14861 chore(prlint): ban 'breaking changes' clause on stable modules
  .github/workflows/pr-linter.yml
  tools/prlint/README.md
  tools/prlint/decs.d.ts
  tools/prlint/lint.ts
  tools/prlint/module.ts
  tools/prlint/package-lock.json
  tools/prlint/package.json
  tools/prlint/parser.ts
  tools/prlint/test/lint.test.ts
  tools/prlint/test/module.test.ts
  tools/prlint/test/parser.test.ts
Labels: contribution/core

#14829 chore(docs): add owners for missing modules
  .github/workflows/issue-label-assign.yml
Labels: contribution/core

#13803 feat(pipelines): allow switching to one CodeBuild action for same-typed assets
  packages/@aws-cdk/pipelines/README.md
  packages/@aws-cdk/pipelines/lib/pipeline.ts
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets-single-upload.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets-single-upload.ts
  packages/@aws-cdk/pipelines/test/pipeline-assets.test.ts
Labels: @aws-cdk/pipelines
