Repository aws/aws-cdk, pull requests merged in 2021-04, with the labels that each got.

#13919 chore: remove resolution clause from init template
  packages/aws-cdk/lib/init-templates/v1/app/javascript/package.template.json
  packages/aws-cdk/lib/init-templates/v1/app/typescript/package.template.json
  packages/aws-cdk/lib/init-templates/v1/lib/typescript/package.template.json
  packages/aws-cdk/lib/init-templates/v1/sample-app/javascript/package.template.json
  packages/aws-cdk/lib/init-templates/v1/sample-app/typescript/package.template.json
  packages/aws-cdk/lib/init-templates/v2/app/javascript/package.template.json
  packages/aws-cdk/lib/init-templates/v2/app/typescript/package.template.json
  packages/aws-cdk/lib/init-templates/v2/lib/typescript/package.template.json
  packages/aws-cdk/lib/init-templates/v2/sample-app/javascript/package.template.json
  packages/aws-cdk/lib/init-templates/v2/sample-app/typescript/package.template.json
Labels: contribution/core

#13920 chore(release): 1.95.2
  CHANGELOG.md
  package.json
  version.v1.json
  yarn.lock
Labels: contribution/core, pr/no-squash

#13473 feat(lambda): switch bundling images from DockerHub to ECR public gallery
  packages/@aws-cdk/aws-lambda-nodejs/README.md
  packages/@aws-cdk/aws-lambda-nodejs/lib/Dockerfile
  packages/@aws-cdk/aws-lambda-nodejs/test/integ.dependencies.expected.json
  packages/@aws-cdk/aws-lambda-nodejs/test/integ.function.expected.json
  packages/@aws-cdk/aws-lambda-python/README.md
  packages/@aws-cdk/aws-lambda-python/lib/Dockerfile
  packages/@aws-cdk/aws-lambda-python/lib/Dockerfile.dependencies
  packages/@aws-cdk/aws-lambda-python/test/integ.function.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.poetry.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.project.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.py38.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.requirements.removed.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.vpc.expected.json
  packages/@aws-cdk/aws-lambda/lib/runtime.ts
  packages/@aws-cdk/aws-lambda/test/integ.bundling.expected.json
  packages/@aws-cdk/aws-lambda/test/runtime.test.ts
Labels: @aws-cdk/aws-ecr, @aws-cdk/aws-lambda

#13924 chore(merge-back): 1.95.2
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#13911 chore(eks): Typo in README.md
  packages/@aws-cdk/aws-eks/README.md
Labels: @aws-cdk/aws-eks

#13890 feat(eks): Support bootstrap.sh --dns-cluster-ip arg
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/lib/user-data.ts
  packages/@aws-cdk/aws-eks/test/test.user-data.ts
Labels: @aws-cdk/aws-eks, pr-linter/exempt-readme

#13913 feat(ses): graduate to stable 🚀
  packages/@aws-cdk/aws-ses/README.md
  packages/@aws-cdk/aws-ses/lib/receipt-rule-action.ts
  packages/@aws-cdk/aws-ses/package.json
Labels: @aws-cdk/aws-ses, contribution/core, pr-linter/exempt-test

#13939 chore(merge-back): 1.96.0
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#13866 feat(eks): Support `secretsEncryptionKey` in FargateCluster
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/test/test.fargate.ts
Labels: @aws-cdk/aws-eks, effort/small, p2

#13900 feat(elasticsearch): graduate to stable 🚀
  packages/@aws-cdk/aws-elasticsearch/README.md
  packages/@aws-cdk/aws-elasticsearch/lib/domain.ts
  packages/@aws-cdk/aws-elasticsearch/package.json
  packages/@aws-cdk/aws-elasticsearch/test/domain.test.ts
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch-vpc.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch-vpc.ts
Labels: @aws-cdk/aws-elasticsearch, contribution/core

#13937 chore: correct v2 init templates
  packages/aws-cdk/lib/init-templates/v2/app/python/%name.PythonModule%/%name.PythonModule%_stack.template.py
  packages/aws-cdk/lib/init-templates/v2/app/python/app.template.py
  packages/aws-cdk/lib/init-templates/v2/app/python/setup.template.py
  packages/aws-cdk/lib/init-templates/v2/sample-app/python/%name.PythonModule%/%name.PythonModule%_stack.template.py
  packages/aws-cdk/lib/init-templates/v2/sample-app/python/app.template.py
  packages/aws-cdk/lib/init-templates/v2/sample-app/python/setup.template.py
  packages/aws-cdk/lib/init.ts
  packages/aws-cdk/lib/util/version-range.ts
  packages/aws-cdk/test/init.test.ts
  packages/aws-cdk/test/util/version-range.test.ts
Labels: aws-cdk-lib, contribution/core

#13883 chore(sqs): fix typo
  packages/@aws-cdk/aws-sqs/lib/validate-props.ts
  packages/@aws-cdk/aws-sqs/test/test.sqs.ts
Labels: @aws-cdk/aws-sqs

#13710 fix(aws-rds): ServerlessCluster.clusterArn is not correct when clusterIdentifier includes upper cases string.
  packages/@aws-cdk/aws-rds/lib/cluster.ts
  packages/@aws-cdk/aws-rds/lib/instance.ts
  packages/@aws-cdk/aws-rds/lib/serverless-cluster.ts
  packages/@aws-cdk/aws-rds/package.json
  packages/@aws-cdk/aws-rds/test/cluster.test.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
  packages/@aws-cdk/aws-rds/test/serverless-cluster.test.ts
  packages/@aws-cdk/cx-api/lib/features.ts
Labels: @aws-cdk/aws-rds

#13736 docs(ecs): typo fix
  packages/@aws-cdk/aws-ecs/lib/container-definition.ts
Labels: @aws-cdk/aws-ecs

#13892 revert: fix(aws-ecs): "broken splunk-logging `tag`-option in fargate platform version 1.4 (#13882)"
  packages/@aws-cdk/aws-ecs/lib/log-drivers/splunk-log-driver.ts
  packages/@aws-cdk/aws-ecs/test/splunk-log-driver.test.ts
Labels: @aws-cdk/aws-ecs

#13951 chore(backup): graduate to stable
  packages/@aws-cdk/aws-backup/README.md
  packages/@aws-cdk/aws-backup/package.json
Labels: @aws-cdk/aws-backup, contribution/core

#13906 feat(s3-deployment): graduate to stable 🚀
  packages/@aws-cdk/aws-s3-deployment/README.md
  packages/@aws-cdk/aws-s3-deployment/lib/bucket-deployment.ts
  packages/@aws-cdk/aws-s3-deployment/lib/source.ts
  packages/@aws-cdk/aws-s3-deployment/package.json
Labels: @aws-cdk/aws-s3-deployment, contribution/core, pr-linter/exempt-test

#13859 feat(cx-api): graduate to stable 🚀
  packages/@aws-cdk/cx-api/README.md
  packages/@aws-cdk/cx-api/package.json
Labels: @aws-cdk/cx-api, contribution/core, pr-linter/exempt-readme, pr-linter/exempt-test

#13854 chore(lambda-nodejs): make tests pass on Node.js 14
  packages/@aws-cdk/aws-lambda-nodejs/test/function.test.ts
Labels: @aws-cdk/aws-lambda-nodejs

#13904 fix(cloudfront): Cache Policy headers enforce soft limit of 10
  packages/@aws-cdk/aws-cloudfront/lib/cache-policy.ts
  packages/@aws-cdk/aws-cloudfront/test/cache-policy.test.ts
Labels: @aws-cdk/aws-cloudfront, contribution/core

#13690 chore(aws-ecs/aws-ecs-scheduled-ecs-task-construct): capitalize AWS
  design/aws-ecs/aws-ecs-scheduled-ecs-task-construct.md
Labels: @aws-cdk/aws-ecs-patterns

#13864 feat(ses-actions): graduate to stable 🚀
  packages/@aws-cdk/aws-ses-actions/README.md
  packages/@aws-cdk/aws-ses-actions/package.json
Labels: @aws-cdk/aws-ses-actions, contribution/core, pr-linter/exempt-readme, pr-linter/exempt-test

#13822 fix(codepipeline-actions): EcrSourceAction triggers on a push to every tag
  packages/@aws-cdk/aws-codepipeline-actions/lib/ecr/source-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-ecr-source.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-ecr-source.ts
Labels: @aws-cdk/aws-codepipeline-actions, contribution/core

#13952 feat(appmesh): Implement Outlier Detection for Virtual Nodes
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/shared-interfaces.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-node-listener.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-node.ts
Labels: @aws-cdk/aws-appmesh

#13988 fix(cli): broken java init template
  packages/aws-cdk/lib/init-templates/v1/app/java/src/main/java/com/myorg/%name.PascalCased%App.template.java
  packages/aws-cdk/lib/init-templates/v2/app/java/src/main/java/com/myorg/%name.PascalCased%App.template.java
Labels: contribution/core, p0, package/tools, pr-linter/exempt-test, ui

#13933 chore: un-jsii and bundle `@aws-cdk/yaml-cfn`
  pack.sh
  package.json
  packages/@aws-cdk/aws-codebuild/package.json
  packages/@aws-cdk/cloudformation-include/package.json
  packages/@aws-cdk/yaml-cfn/.gitignore
  packages/@aws-cdk/yaml-cfn/package.json
  packages/@aws-cdk/yaml-cfn/tsconfig.json
  packages/aws-cdk-lib/package.json
  packages/awslint/.npmignore
  packages/decdk/test/schema.test.ts
  packages/monocdk/package.json
  tools/cdk-build-tools/bin/cdk-postpack
  tools/cdk-build-tools/bin/cdk-postpack.ts
  tools/cdk-build-tools/package.json
  tools/nodeunit-shim/index.ts
  tools/pkglint/bin/pkglint.ts
  tools/pkglint/lib/packagejson.ts
  tools/pkglint/lib/rules.ts
  tools/pkglint/lib/util.ts
Labels: contribution/core

#13996 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/awslint/package.json
  packages/cdk-dasm/package.json
  packages/decdk/package.json
  tools/cdk-build-tools/package.json
  tools/cfn2ts/package.json
  tools/eslint-plugin-cdk/package.json
  yarn.lock
Labels: contribution/core, dependencies, pr/auto-approve

#13997 chore: revert "chore: un-jsii and bundle `@aws-cdk/yaml-cfn` (#13933)"
  pack.sh
  package.json
  packages/@aws-cdk/aws-codebuild/package.json
  packages/@aws-cdk/cloudformation-include/package.json
  packages/@aws-cdk/yaml-cfn/.gitignore
  packages/@aws-cdk/yaml-cfn/package.json
  packages/@aws-cdk/yaml-cfn/tsconfig.json
  packages/aws-cdk-lib/package.json
  packages/awslint/.npmignore
  packages/decdk/test/schema.test.ts
  packages/monocdk/package.json
  tools/cdk-build-tools/bin/cdk-postpack
  tools/cdk-build-tools/bin/cdk-postpack.ts
  tools/cdk-build-tools/package.json
  tools/nodeunit-shim/index.ts
  tools/pkglint/bin/pkglint.ts
  tools/pkglint/lib/packagejson.ts
  tools/pkglint/lib/rules.ts
  tools/pkglint/lib/util.ts
Labels: contribution/core

#13790 fix(cloudfront): cannot use same EdgeFunction in multiple stacks
  packages/@aws-cdk/aws-cloudfront/lib/experimental/edge-function.ts
  packages/@aws-cdk/aws-cloudfront/test/experimental/edge-function.test.ts
  packages/@aws-cdk/aws-cloudfront/test/integ.distribution-lambda-cross-region.expected.json
Labels: @aws-cdk/aws-cloudfront

#13895 feat(route-53): add ability to create NS Records
  packages/@aws-cdk/aws-route53/README.md
  packages/@aws-cdk/aws-route53/lib/record-set.ts
  packages/@aws-cdk/aws-route53/package.json
  packages/@aws-cdk/aws-route53/test/record-set.test.ts
Labels: @aws-cdk/aws-route53

#13871 chore(core): remove deprecated construct dependency APIs
  packages/@aws-cdk/aws-ec2/lib/client-vpn-endpoint-types.ts
  packages/@aws-cdk/aws-ec2/lib/client-vpn-endpoint.ts
  packages/@aws-cdk/aws-ec2/lib/vpc.ts
  packages/@aws-cdk/aws-efs/lib/efs-file-system.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/shared/base-target-group.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/shared/imported.ts
  packages/@aws-cdk/aws-iam/lib/grant.ts
  packages/@aws-cdk/aws-iam/lib/principals.ts
  packages/@aws-cdk/aws-iam/lib/private/immutable-role.ts
  packages/@aws-cdk/aws-iam/lib/unknown-principal.ts
  packages/@aws-cdk/aws-lambda/lib/filesystem.ts
  packages/@aws-cdk/aws-lambda/lib/singleton-lambda.ts
  packages/@aws-cdk/aws-s3/lib/destination.ts
  packages/@aws-cdk/core/lib/dependency.ts
  packages/@aws-cdk/core/lib/index.ts
  packages/@aws-cdk/core/rosetta/default.ts-fixture
Labels: @aws-cdk/core, contribution/core

#13995 chore(cli): change Java init templates to be less repetitive
  packages/aws-cdk/lib/init-templates/v1/app/java/src/main/java/com/myorg/%name.PascalCased%App.template.java
  packages/aws-cdk/lib/init-templates/v2/app/java/src/main/java/com/myorg/%name.PascalCased%App.template.java
Labels: contribution/core, package/tools

#14005 chore(merge-back): 1.97.0
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#13817 fix(apigateway): cannot remove first api key from usage plan
  packages/@aws-cdk/aws-apigateway/README.md
  packages/@aws-cdk/aws-apigateway/lib/usage-plan.ts
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.usage-plan.multikey.expected.json
  packages/@aws-cdk/aws-apigateway/test/usage-plan.test.ts
  packages/@aws-cdk/cx-api/lib/features.ts
Labels: @aws-cdk/aws-apigateway, contribution/core

#13948 feat(elasticloadbalancingv2): add grpc code matcher for alb
  packages/@aws-cdk/aws-elasticloadbalancingv2/README.md
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/shared/base-target-group.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/alb/target-group.test.ts
Labels: @aws-cdk/aws-elasticloadbalancingv2

#14010 chore(lambda-layer-kubctl): graduate to stable
  packages/@aws-cdk/lambda-layer-kubectl/README.md
  packages/@aws-cdk/lambda-layer-kubectl/package.json
Labels: contribution/core

#14012 chore(lambda-layer-awscli): graduate to stable
  packages/@aws-cdk/lambda-layer-awscli/README.md
  packages/@aws-cdk/lambda-layer-awscli/package.json
Labels: contribution/core

#14013 feat(region-info): graduate to stable 🚀
  packages/@aws-cdk/region-info/README.md
  packages/@aws-cdk/region-info/package.json
Labels: @aws-cdk/region-info, contribution/core, pr-linter/exempt-readme, pr-linter/exempt-test

#14001 chore: deprecate `@aws-cdk/yaml-cfn`
  package.json
  packages/@aws-cdk/aws-codebuild/NOTICE
  packages/@aws-cdk/aws-codebuild/lib/build-spec.ts
  packages/@aws-cdk/aws-codebuild/lib/private/yaml-cfn.ts
  packages/@aws-cdk/aws-codebuild/package.json
  packages/@aws-cdk/cloudformation-include/NOTICE
  packages/@aws-cdk/cloudformation-include/lib/file-utils.ts
  packages/@aws-cdk/cloudformation-include/lib/private/yaml-cfn.ts
  packages/@aws-cdk/cloudformation-include/package.json
  packages/@aws-cdk/yaml-cfn/README.md
  packages/@aws-cdk/yaml-cfn/package.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/lib/serialize.ts
  packages/aws-cdk/lib/util/yaml-cfn.ts
  packages/aws-cdk/package.json
  packages/decdk/package.json
  tools/pkglint/lib/rules.ts
Labels: contribution/core

#14023 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/assert-internal/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/aws-cdk-migration/package.json
  yarn.lock
Labels: contribution/core, dependencies, pr/auto-approve

#13781 feat(codepipeline-actions): introduce the CodeStarConnectionsSourceAction
  packages/@aws-cdk/aws-codepipeline-actions/README.md
  packages/@aws-cdk/aws-codepipeline-actions/lib/bitbucket/source-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/codebuild/build-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/codestar-connections/source-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/index.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/codestar-connections/codestar-connections-source-action.test.ts
  packages/@aws-cdk/aws-codepipeline/lib/action.ts
Labels: @aws-cdk/aws-codepipeline-actions, contribution/core

#14033 feat(efs): graduate to stable 🚀
  packages/@aws-cdk/aws-efs/README.md
  packages/@aws-cdk/aws-efs/lib/efs-file-system.ts
  packages/@aws-cdk/aws-efs/package.json
  packages/@aws-cdk/aws-efs/test/efs-file-system.test.ts
  packages/@aws-cdk/aws-efs/test/integ.efs.expected.json
  packages/@aws-cdk/aws-lambda/test/integ.lambda.filesystem.expected.json
  packages/@aws-cdk/cx-api/lib/features.ts
Labels: @aws-cdk/aws-efs, contribution/core

#14050 chore: inclusive language - allow and deny lists
  packages/@aws-cdk/aws-cloudfront/lib/geo-restriction.ts
  packages/@aws-cdk/aws-cloudfront/lib/origin-access-identity.ts
  packages/@aws-cdk/aws-cloudfront/test/distribution.test.ts
  packages/@aws-cdk/aws-cloudfront/test/geo-restriction.test.ts
  packages/@aws-cdk/aws-cloudfront/test/web-distribution.test.ts
  packages/@aws-cdk/aws-ec2/README.md
  packages/@aws-cdk/aws-ec2/lib/vpc-endpoint-service.ts
  packages/@aws-cdk/aws-ec2/test/integ.vpc-endpoint-service.ts
  packages/@aws-cdk/aws-ec2/test/vpc-endpoint-service.test.ts
  packages/@aws-cdk/aws-ecr-assets/.gitignore
  packages/@aws-cdk/aws-ecr-assets/lib/image-asset.ts
  packages/@aws-cdk/aws-ecr-assets/test/allow-listed-image/.dockerignore
  packages/@aws-cdk/aws-ecr-assets/test/allow-listed-image/Dockerfile
  packages/@aws-cdk/aws-ecr-assets/test/allow-listed-image/foobar.txt
  packages/@aws-cdk/aws-ecr-assets/test/allow-listed-image/index.py
  packages/@aws-cdk/aws-ecr-assets/test/allow-listed-image/node_modules/one
  packages/@aws-cdk/aws-ecr-assets/test/allow-listed-image/node_modules/some_dep/file
  packages/@aws-cdk/aws-ecr-assets/test/allow-listed-image/subdirectory/baz.txt
  packages/@aws-cdk/aws-ecr-assets/test/image-asset.test.ts
  packages/@aws-cdk/aws-lambda-event-sources/test/test.sns.ts
  packages/@aws-cdk/aws-ses/README.md
  packages/@aws-cdk/aws-ses/lib/receipt-filter.ts
  packages/@aws-cdk/aws-ses/test/integ.receipt.expected.json
  packages/@aws-cdk/aws-ses/test/integ.receipt.ts
  packages/@aws-cdk/aws-ses/test/test.receipt-filter.ts
  packages/@aws-cdk/aws-sns-subscriptions/test/integ.sns-lambda.ts
  packages/@aws-cdk/aws-sns-subscriptions/test/subs.test.ts
  packages/@aws-cdk/aws-sns/README.md
  packages/@aws-cdk/aws-sns/lib/subscription-filter.ts
  packages/@aws-cdk/aws-sns/test/test.subscription.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/emr/emr-create-cluster.ts
  packages/@aws-cdk/core/test/fs/fs-ignore.test.ts
  tools/pkglint/lib/rules.ts
Labels: contribution/core

#14049 chore(aws-cdk-lib): temporarily turn off stripping deprecated symbols
  packages/aws-cdk-lib/package.json
Labels: aws-cdk-lib, contribution/core

#14056 chore(cdk): public package on v2
  packages/cdk/package.json
Labels: aws-cdk-lib, contribution/core

#13970 fix(stepfunctions): state machine name validation fails when tokens are used.
  packages/@aws-cdk/aws-stepfunctions/lib/state-machine.ts
  packages/@aws-cdk/aws-stepfunctions/test/state-machine.test.ts
Labels: @aws-cdk/aws-stepfunctions

#13909 chore(stepfunctions-tasks): Remove glue dependency
  packages/@aws-cdk/aws-stepfunctions-tasks/package.json
Labels: @aws-cdk/aws-glue, @aws-cdk/aws-stepfunctions-tasks, contribution/core

#14002 chore(eks): Typo in README.md
  packages/@aws-cdk/aws-eks/README.md
Labels: @aws-cdk/aws-eks

#13961 fix(s3): SSL enforcement doesn't apply on top level bucket requests
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/aws-s3/test/bucket.test.ts
Labels: @aws-cdk/aws-s3

#13986 fix(rds): deploy fails with "SubnetGroup not found"
  packages/@aws-cdk/aws-rds/lib/subnet-group.ts
  packages/@aws-cdk/aws-rds/test/integ.serverless-cluster.expected.json
  packages/@aws-cdk/aws-rds/test/integ.serverless-cluster.ts
  packages/@aws-cdk/aws-rds/test/subnet-group.test.ts
Labels: @aws-cdk/aws-rds, contribution/core

#14060 fix(route53): cannot set TTL to 0
  packages/@aws-cdk/aws-route53/lib/record-set.ts
  packages/@aws-cdk/aws-route53/test/record-set.test.ts
Labels: @aws-cdk/aws-route53

#14025 chore(v2): init template fixes
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/lib/init-templates/v2/app/java/src/main/java/com/myorg/%name.PascalCased%App.template.java
  packages/aws-cdk/lib/init-templates/v2/app/java/src/main/java/com/myorg/%name.PascalCased%Stack.template.java
  packages/aws-cdk/lib/init-templates/v2/app/java/src/test/java/com/myorg/%name.PascalCased%Test.template.java
  packages/aws-cdk/lib/init-templates/v2/sample-app/java/src/main/java/com/myorg/%name.PascalCased%App.template.java
  packages/aws-cdk/lib/init-templates/v2/sample-app/java/src/main/java/com/myorg/%name.PascalCased%Stack.template.java
  packages/aws-cdk/lib/init-templates/v2/sample-app/java/src/test/java/com/myorg/%name.PascalCased%StackTest.template.java
  packages/aws-cdk/test/init.test.ts
Labels: aws-cdk-lib, contribution/core

#14073 docs(appsync): fix heading levels
  packages/@aws-cdk/aws-appsync/README.md
Labels: @aws-cdk/aws-appsync

#14089 chore(rds): add AuroraMysqlEngineVersion 2.09.2
  packages/@aws-cdk/aws-rds/lib/cluster-engine.ts
Labels: @aws-cdk/aws-rds

#14065 fix(lambda-nodejs): esbuild define parameters are incorrectly encoded
  packages/@aws-cdk/aws-lambda-nodejs/README.md
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/__snapshots__/bundling.test.js.snap
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/integ-handlers/define.ts
Labels: @aws-cdk/aws-lambda-nodejs

#13766 feat(elasticloadbalancing): rename 'sslCertificateId' property of LB listener to 'sslCertificateArn'; deprecate sslCertificateId property
  packages/@aws-cdk/aws-elasticloadbalancing/lib/load-balancer.ts
  packages/@aws-cdk/aws-elasticloadbalancing/test/loadbalancer.test.ts
Labels: @aws-cdk/aws-elasticloadbalancing, pr-linter/exempt-readme

#14117 chore(merge-back): 1.98.0
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#14105 chore: jest config inheritance should use package resolution, not filesystem paths
  packages/@aws-cdk/aws-certificatemanager/jest.config.js
  packages/@aws-cdk/aws-ecs/jest.config.js
  packages/@aws-cdk/aws-glue/jest.config.js
Labels: @aws-cdk/aws-config, contribution/core

#13918 chore(cli): make the "new" bootstrapping the default in V2
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/test/integ/cli/bootstrapping.integtest.ts
Labels: aws-cdk-lib, contribution/core, package/tools

#14081 fix(fsx): Weekday.SUNDAY incorrectly evaluates to 0 (should be 7)
  packages/@aws-cdk/aws-fsx/lib/lustre-file-system.ts
  packages/@aws-cdk/aws-fsx/lib/maintenance-time.ts
  packages/@aws-cdk/aws-fsx/test/lustre-file-system.test.ts
  packages/@aws-cdk/aws-fsx/test/maintenance-time.test.ts
Labels: @aws-cdk/aws-fsx

#14004 fix(aws-ecs-patterns): fixes #11123 allow for https listeners to use non Route 53 DNS if a certificate is provided
  packages/@aws-cdk/aws-ecs-patterns/lib/base/application-load-balanced-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.load-balanced-fargate-service.ts
Labels: @aws-cdk/aws-ecs-patterns

#14068 fix(cfn-include): allow deploy-time values in Parameter substitutions in Fn::Sub expressions
  packages/@aws-cdk/cloudformation-include/test/test-templates/fn-sub-map-empty.json
  packages/@aws-cdk/cloudformation-include/test/valid-templates.test.ts
  packages/@aws-cdk/core/lib/cfn-parse.ts
Labels: @aws-cdk/cloudformation-include, contribution/core

#14134 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-cloudformation/package.json
  packages/@aws-cdk/aws-dynamodb-global/lambda-packages/aws-global-table-coordinator/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/awslint/package.json
  packages/cdk-dasm/package.json
  packages/decdk/package.json
  tools/cdk-build-tools/package.json
  tools/cfn2ts/package.json
  tools/eslint-plugin-cdk/package.json
  yarn.lock
Labels: contribution/core, dependencies, pr/auto-approve

#14094 fix(aws-cloudfront): distribution comment length not validated (#14020)
  packages/@aws-cdk/aws-cloudfront/lib/distribution.ts
  packages/@aws-cdk/aws-cloudfront/lib/web-distribution.ts
  packages/@aws-cdk/aws-cloudfront/test/distribution.test.ts
  packages/@aws-cdk/aws-cloudfront/test/web-distribution.test.ts
Labels: @aws-cdk/aws-cloudfront

#14139 chore(rds): remove the use of testFutureBehavior for RDS_LOWERCASE_DB_IDENTIFIER feature flag
  packages/@aws-cdk/aws-rds/test/instance.test.ts
Labels: @aws-cdk/aws-rds, contribution/core

#14140 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/awslint/package.json
  packages/cdk-dasm/package.json
  packages/decdk/package.json
  tools/cdk-build-tools/package.json
  tools/cfn2ts/package.json
  yarn.lock
Labels: contribution/core, dependencies, pr/auto-approve

#14113 chore(assert): fix dependencies for v2
  packages/@aws-cdk/assert/package.json
  tools/cdk-integ-tools/bin/cdk-integ-assert.ts
  tools/cdk-integ-tools/package.json
Labels: @aws-cdk/assert, aws-cdk-lib, contribution/core

#14146 chore(release): 1.99.0
  CHANGELOG.md
  package.json
  packages/@aws-cdk/aws-certificatemanager/jest.config.js
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-cloudformation/package.json
  packages/@aws-cdk/aws-cloudfront/lib/distribution.ts
  packages/@aws-cdk/aws-cloudfront/lib/web-distribution.ts
  packages/@aws-cdk/aws-cloudfront/test/distribution.test.ts
  packages/@aws-cdk/aws-cloudfront/test/web-distribution.test.ts
  packages/@aws-cdk/aws-dynamodb-global/lambda-packages/aws-global-table-coordinator/package.json
  packages/@aws-cdk/aws-ecs-patterns/lib/base/application-load-balanced-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs/jest.config.js
  packages/@aws-cdk/aws-elasticloadbalancing/lib/load-balancer.ts
  packages/@aws-cdk/aws-elasticloadbalancing/test/loadbalancer.test.ts
  packages/@aws-cdk/aws-fsx/lib/lustre-file-system.ts
  packages/@aws-cdk/aws-fsx/lib/maintenance-time.ts
  packages/@aws-cdk/aws-fsx/test/lustre-file-system.test.ts
  packages/@aws-cdk/aws-fsx/test/maintenance-time.test.ts
  packages/@aws-cdk/aws-glue/jest.config.js
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-rds/test/instance.test.ts
  packages/@aws-cdk/cloudformation-include/test/test-templates/fn-sub-map-empty.json
  packages/@aws-cdk/cloudformation-include/test/valid-templates.test.ts
  packages/@aws-cdk/core/lib/cfn-parse.ts
  packages/@aws-cdk/custom-resources/package.json
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/test/integ/cli/bootstrapping.integtest.ts
  packages/awslint/package.json
  packages/cdk-dasm/package.json
  packages/decdk/package.json
  tools/cdk-build-tools/package.json
  tools/cfn2ts/package.json
  tools/eslint-plugin-cdk/package.json
  version.v1.json
  yarn.lock
Labels: pr/no-squash

#14133 chore(msk): Break dependency of stable modules
  packages/@aws-cdk/aws-lambda-event-sources/lib/kafka.ts
  packages/@aws-cdk/aws-lambda-event-sources/package.json
  packages/@aws-cdk/aws-lambda-event-sources/test/test.kafka.ts
Labels: @aws-cdk/aws-msk, contribution/core

#14150 chore: vendor in a patch to lerna to fix script times
  .github/workflows/yarn-upgrade.yml
  package.json
  patches/@lerna+package-graph+4.0.0.patch
  patches/README.md
  yarn.lock
Labels: contribution/core

#14145 chore(v2): more init template updates
  packages/aws-cdk/lib/init-templates/v2/app/csharp/src/%name.PascalCased%/%name.PascalCased%Stack.template.cs
  packages/aws-cdk/lib/init-templates/v2/app/csharp/src/%name.PascalCased%/Program.template.cs
  packages/aws-cdk/lib/init-templates/v2/app/fsharp/src/%name.PascalCased%/%name.PascalCased%Stack.template.fs
  packages/aws-cdk/lib/init-templates/v2/app/fsharp/src/%name.PascalCased%/Program.template.fs
  packages/aws-cdk/lib/init-templates/v2/app/java/pom.template.xml
  packages/aws-cdk/lib/init-templates/v2/app/java/src/main/java/com/myorg/%name.PascalCased%App.template.java
  packages/aws-cdk/lib/init-templates/v2/app/python/%name.PythonModule%/%name.PythonModule%_stack.template.py
  packages/aws-cdk/lib/init-templates/v2/app/python/app.template.py
  packages/aws-cdk/lib/init-templates/v2/sample-app/csharp/src/%name.PascalCased%/%name.PascalCased%Stack.template.cs
  packages/aws-cdk/lib/init-templates/v2/sample-app/csharp/src/%name.PascalCased%/Program.template.cs
  packages/aws-cdk/lib/init-templates/v2/sample-app/fsharp/src/%name.PascalCased%/%name.PascalCased%Stack.template.fs
  packages/aws-cdk/lib/init-templates/v2/sample-app/fsharp/src/%name.PascalCased%/Program.template.fs
  packages/aws-cdk/lib/init-templates/v2/sample-app/java/pom.template.xml
  packages/aws-cdk/lib/init-templates/v2/sample-app/python/%name.PythonModule%/%name.PythonModule%_stack.template.py
  packages/aws-cdk/lib/init-templates/v2/sample-app/python/app.template.py
  packages/aws-cdk/test/integ/run-against-dist.bash
Labels: aws-cdk-lib, contribution/core

#14167 chore: forward merge 'master' into 'v2-main'
  .github/workflows/yarn-upgrade.yml
  CHANGELOG.md
  package.json
  packages/@aws-cdk/assert/package.json
  packages/@aws-cdk/aws-certificatemanager/jest.config.js
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-cloudformation/package.json
  packages/@aws-cdk/aws-cloudfront/lib/distribution.ts
  packages/@aws-cdk/aws-cloudfront/lib/web-distribution.ts
  packages/@aws-cdk/aws-cloudfront/test/distribution.test.ts
  packages/@aws-cdk/aws-cloudfront/test/web-distribution.test.ts
  packages/@aws-cdk/aws-dynamodb-global/lambda-packages/aws-global-table-coordinator/package.json
  packages/@aws-cdk/aws-ecs-patterns/lib/base/application-load-balanced-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs/jest.config.js
  packages/@aws-cdk/aws-elasticloadbalancing/lib/load-balancer.ts
  packages/@aws-cdk/aws-elasticloadbalancing/test/loadbalancer.test.ts
  packages/@aws-cdk/aws-fsx/lib/lustre-file-system.ts
  packages/@aws-cdk/aws-fsx/lib/maintenance-time.ts
  packages/@aws-cdk/aws-fsx/test/lustre-file-system.test.ts
  packages/@aws-cdk/aws-fsx/test/maintenance-time.test.ts
  packages/@aws-cdk/aws-glue/jest.config.js
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/cloudformation-include/test/test-templates/fn-sub-map-empty.json
  packages/@aws-cdk/cloudformation-include/test/valid-templates.test.ts
  packages/@aws-cdk/core/lib/cfn-parse.ts
  packages/@aws-cdk/custom-resources/package.json
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/test/integ/cli/bootstrapping.integtest.ts
  packages/awslint/package.json
  packages/cdk-dasm/package.json
  packages/decdk/package.json
  patches/@lerna+package-graph+4.0.0.patch
  patches/README.md
  tools/cdk-build-tools/package.json
  tools/cfn2ts/package.json
  tools/eslint-plugin-cdk/package.json
  version.v1.json
  yarn.lock
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash

#13865 fix(rds): allow Instances to be referenced across environments
  packages/@aws-cdk/aws-rds/lib/instance.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
Labels: @aws-cdk/aws-rds, contribution/core

#13950 feat(ecs): add support for elastic inference accelerators in ECS task defintions
  packages/@aws-cdk/aws-ecs/README.md
  packages/@aws-cdk/aws-ecs/lib/base/task-definition.ts
  packages/@aws-cdk/aws-ecs/lib/container-definition.ts
  packages/@aws-cdk/aws-ecs/lib/ec2/ec2-task-definition.ts
  packages/@aws-cdk/aws-ecs/test/container-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-task-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-task-definition.test.ts
Labels: @aws-cdk/aws-ecs

#12659 feat(eks): Pass bootstrap.sh args to avoid DescribeCluster call and make nodes join the cluster faster
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/lib/user-data.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/test.cluster.ts
  packages/@aws-cdk/aws-eks/test/test.user-data.ts
Labels: @aws-cdk/aws-eks

#14138 fix(core): `toJsonString()` does not deal correctly with list tokens
  packages/@aws-cdk/core/lib/private/cloudformation-lang.ts
  packages/@aws-cdk/core/test/cloudformation-json.test.ts
Labels: @aws-cdk/core, contribution/core

#14189 chore: `@aws-cdk/assert` package should be public for v2
  packages/@aws-cdk/assert/package.json
  tools/pkglint/lib/rules.ts
Labels: @aws-cdk/assert, aws-cdk-lib, contribution/core

#14171 chore: npm-check-updates && yarn upgrade
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/aws-cdk/package.json
  yarn.lock
Labels: contribution/core, dependencies, pr/auto-approve

#13990 feat(certificatemanager): allow tagging DnsValidatedCertificate
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/lib/index.js
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/test/handler.test.js
  packages/@aws-cdk/aws-certificatemanager/lib/dns-validated-certificate.ts
  packages/@aws-cdk/aws-certificatemanager/test/dns-validated-certificate.test.ts
Labels: @aws-cdk/aws-certificatemanager, effort/small, p1, pr-linter/exempt-readme

#14172 chore: fix runtime info to sanitize dotnet jsii runtime versions
  packages/@aws-cdk/core/lib/private/runtime-info.ts
  packages/@aws-cdk/core/test/runtime-info.test.ts
Labels: contribution/core

#14169 chore(aws-cdk-lib): enable strip deprecated
  packages/aws-cdk-lib/package.json
Labels: aws-cdk-lib, contribution/core

#14155 docs(codepipeline-actions): update CodeStarConnectionsSourceActionProps docs to also mention GitHub
  packages/@aws-cdk/aws-codepipeline-actions/lib/codestar-connections/source-action.ts
Labels: @aws-cdk/aws-codepipeline-actions

#13945 docs(lambda): Use bundlingImage rather than bundlingDockerImage
  packages/@aws-cdk/aws-lambda/README.md
  packages/@aws-cdk/aws-lambda/test/integ.bundling.ts
Labels: @aws-cdk/aws-lambda

#14192 chore: forward merge 'master' into 'v2-main'
  packages/@aws-cdk/assert/README.md
  packages/@aws-cdk/assert/package.json
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/lib/index.js
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/test/handler.test.js
  packages/@aws-cdk/aws-certificatemanager/lib/dns-validated-certificate.ts
  packages/@aws-cdk/aws-certificatemanager/test/dns-validated-certificate.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/codestar-connections/source-action.ts
  packages/@aws-cdk/aws-ecs/README.md
  packages/@aws-cdk/aws-ecs/lib/base/task-definition.ts
  packages/@aws-cdk/aws-ecs/lib/container-definition.ts
  packages/@aws-cdk/aws-ecs/lib/ec2/ec2-task-definition.ts
  packages/@aws-cdk/aws-ecs/test/container-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-task-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-task-definition.test.ts
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/lib/user-data.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/test.cluster.ts
  packages/@aws-cdk/aws-eks/test/test.user-data.ts
  packages/@aws-cdk/aws-rds/lib/instance.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/core/lib/private/cloudformation-lang.ts
  packages/@aws-cdk/core/lib/private/runtime-info.ts
  packages/@aws-cdk/core/test/cloudformation-json.test.ts
  packages/@aws-cdk/core/test/runtime-info.test.ts
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/package.json
  yarn.lock
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash

#14185 feat(codebuild): allow setting concurrent build limit
  packages/@aws-cdk/aws-codebuild/README.md
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codebuild/test/test.project.ts
Labels: @aws-cdk/aws-codebuild

#14009 feat(codepipeline): introduce the Action abstract class
  packages/@aws-cdk/aws-codepipeline-actions/lib/action.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/index.ts
  packages/@aws-cdk/aws-codepipeline-actions/package.json
  packages/@aws-cdk/aws-codepipeline/lib/action.ts
  packages/@aws-cdk/aws-codepipeline/package.json
  packages/@aws-cdk/aws-codepipeline/test/fake-build-action.ts
  packages/@aws-cdk/aws-codepipeline/test/fake-source-action.ts
Labels: @aws-cdk/aws-codepipeline, contribution/core, pr-linter/exempt-readme

#14177 chore: fix CLI integ tests after switching bootstrapping to "new" style for V2
  packages/aws-cdk/test/integ/cli/bootstrapping.integtest.ts
  packages/aws-cdk/test/integ/helpers/cdk.ts
  packages/aws-cdk/test/version.test.ts
Labels: aws-cdk-lib, contribution/core, package/tools

#13780 chore(codepipeline-actions): change the name of the ServiceCatalogDeployAction
  packages/@aws-cdk/aws-codepipeline-actions/README.md
  packages/@aws-cdk/aws-codepipeline-actions/lib/index.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/servicecatalog/deploy-action-beta1.ts
  packages/@aws-cdk/aws-codepipeline-actions/package.json
  packages/@aws-cdk/aws-codepipeline-actions/test/servicecatalog/servicecatalog-deploy-action-beta1.test.ts
Labels: @aws-cdk/aws-codepipeline-actions, contribution/core

#14197 chore: graduate @aws-cdk/aws-s3-assets and @aws-cdk/aws-ecr-assets to Stable
  packages/@aws-cdk/aws-ecr-assets/README.md
  packages/@aws-cdk/aws-ecr-assets/package.json
  packages/@aws-cdk/aws-s3-assets/README.md
  packages/@aws-cdk/aws-s3-assets/package.json
Labels: @aws-cdk/assets, @aws-cdk/aws-ecr-assets, @aws-cdk/aws-s3-assets, contribution/core

#14106 chore: pkglint/awslint cannot depend on cdk-build-tools
  packages/awslint/.eslintrc.js
  packages/awslint/package.json
  tools/pkglint/.eslintrc.js
  tools/pkglint/package.json
Labels: contribution/core

#14204 chore: forward merge 'master' into 'v2-main'
  packages/@aws-cdk/aws-codebuild/README.md
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codebuild/test/test.project.ts
  packages/@aws-cdk/aws-codepipeline-actions/README.md
  packages/@aws-cdk/aws-codepipeline-actions/lib/action.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/index.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/servicecatalog/deploy-action-beta1.ts
  packages/@aws-cdk/aws-codepipeline-actions/package.json
  packages/@aws-cdk/aws-codepipeline-actions/test/servicecatalog/servicecatalog-deploy-action-beta1.test.ts
  packages/@aws-cdk/aws-codepipeline/lib/action.ts
  packages/@aws-cdk/aws-codepipeline/package.json
  packages/@aws-cdk/aws-codepipeline/test/fake-build-action.ts
  packages/@aws-cdk/aws-codepipeline/test/fake-source-action.ts
  packages/@aws-cdk/aws-ecr-assets/README.md
  packages/@aws-cdk/aws-ecr-assets/package.json
  packages/@aws-cdk/aws-lambda/README.md
  packages/@aws-cdk/aws-lambda/test/integ.bundling.ts
  packages/@aws-cdk/aws-s3-assets/README.md
  packages/@aws-cdk/aws-s3-assets/package.json
  packages/aws-cdk/test/integ/cli/bootstrapping.integtest.ts
  packages/aws-cdk/test/integ/helpers/cdk.ts
  packages/aws-cdk/test/version.test.ts
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash

#14207 chore(v2): re-enable the assert transform for v2
  packages/@aws-cdk/assert/.gitignore
  packages/@aws-cdk/assert/README.md
  packages/@aws-cdk/assert/clone.sh
  packages/@aws-cdk/assert/jest.ts
  packages/@aws-cdk/assert/lib/assertion.ts
  packages/@aws-cdk/assert/lib/assertions/and-assertion.ts
  packages/@aws-cdk/assert/lib/assertions/count-resources.ts
  packages/@aws-cdk/assert/lib/assertions/exist.ts
  packages/@aws-cdk/assert/lib/assertions/have-output.ts
  packages/@aws-cdk/assert/lib/assertions/have-resource-matchers.ts
  packages/@aws-cdk/assert/lib/assertions/have-resource.ts
  packages/@aws-cdk/assert/lib/assertions/have-type.ts
  packages/@aws-cdk/assert/lib/assertions/match-template.ts
  packages/@aws-cdk/assert/lib/assertions/negated-assertion.ts
  packages/@aws-cdk/assert/lib/canonicalize-assets.ts
  packages/@aws-cdk/assert/lib/expect.ts
  packages/@aws-cdk/assert/lib/index.ts
  packages/@aws-cdk/assert/lib/inspector.ts
  packages/@aws-cdk/assert/lib/synth-utils.ts
  packages/@aws-cdk/assert/package.json
  packages/@aws-cdk/assert/test/assertions.test.ts
  packages/@aws-cdk/assert/test/canonicalize-assets.test.ts
  packages/@aws-cdk/assert/test/have-output.test.ts
  packages/@aws-cdk/assert/test/have-resource.test.ts
  packages/@aws-cdk/assert/test/synth-utils.test.ts
  packages/aws-cdk-migration/bin/rewrite-imports-v2
Labels: @aws-cdk/assert, aws-cdk-lib, contribution/core

#14173 chore(v2): backport init template updates
  packages/aws-cdk/lib/init-templates/v2/app/csharp/src/%name.PascalCased%/%name.PascalCased%Stack.template.cs
  packages/aws-cdk/lib/init-templates/v2/app/csharp/src/%name.PascalCased%/Program.template.cs
  packages/aws-cdk/lib/init-templates/v2/app/fsharp/src/%name.PascalCased%/%name.PascalCased%Stack.template.fs
  packages/aws-cdk/lib/init-templates/v2/app/fsharp/src/%name.PascalCased%/Program.template.fs
  packages/aws-cdk/lib/init-templates/v2/app/java/pom.template.xml
  packages/aws-cdk/lib/init-templates/v2/app/java/src/main/java/com/myorg/%name.PascalCased%App.template.java
  packages/aws-cdk/lib/init-templates/v2/app/python/%name.PythonModule%/%name.PythonModule%_stack.template.py
  packages/aws-cdk/lib/init-templates/v2/app/python/app.template.py
  packages/aws-cdk/lib/init-templates/v2/sample-app/csharp/src/%name.PascalCased%/%name.PascalCased%Stack.template.cs
  packages/aws-cdk/lib/init-templates/v2/sample-app/csharp/src/%name.PascalCased%/Program.template.cs
  packages/aws-cdk/lib/init-templates/v2/sample-app/fsharp/src/%name.PascalCased%/%name.PascalCased%Stack.template.fs
  packages/aws-cdk/lib/init-templates/v2/sample-app/fsharp/src/%name.PascalCased%/Program.template.fs
  packages/aws-cdk/lib/init-templates/v2/sample-app/java/pom.template.xml
  packages/aws-cdk/lib/init-templates/v2/sample-app/python/%name.PythonModule%/%name.PythonModule%_stack.template.py
  packages/aws-cdk/lib/init-templates/v2/sample-app/python/app.template.py
  packages/aws-cdk/test/integ/run-against-dist.bash
Labels: aws-cdk-lib, contribution/core

#14154 feat(apigateway): integration timeout
  packages/@aws-cdk/aws-apigateway/lib/integration.ts
  packages/@aws-cdk/aws-apigateway/lib/method.ts
  packages/@aws-cdk/aws-apigateway/test/integration.test.ts
Labels: @aws-cdk/aws-apigateway, pr-linter/exempt-readme

#14219 chore(rds): add support for Postgres instance engine version 13
  packages/@aws-cdk/aws-rds/lib/instance-engine.ts
Labels: @aws-cdk/aws-rds

#14190 chore: unexpire some feature flags
  packages/@aws-cdk/aws-dynamodb-global/test/test.dynamodb.global.ts
  packages/@aws-cdk/aws-rds/test/cluster.test.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
  packages/@aws-cdk/aws-rds/test/serverless-cluster.test.ts
  packages/@aws-cdk/core/test/stack.test.ts
  packages/@aws-cdk/cx-api/lib/features.ts
Labels: contribution/core

#13917 feat(appmesh): add Connection Pools for VirtualNode and VirtualGateway
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/private/utils.ts
  packages/@aws-cdk/aws-appmesh/lib/shared-interfaces.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-gateway-listener.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-node-listener.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-gateway.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-node.ts
Labels: @aws-cdk/aws-appmesh

#14229 revert(msk): Break dependency of stable modules
  packages/@aws-cdk/aws-lambda-event-sources/lib/kafka.ts
  packages/@aws-cdk/aws-lambda-event-sources/package.json
  packages/@aws-cdk/aws-lambda-event-sources/test/test.kafka.ts
Labels: @aws-cdk/aws-msk, contribution/core

#14227 chore(stepfunction-tasks/route53-targets/lambda-events-source): break dependencies on experimental modules
  allowed-breaking-changes.txt
  packages/@aws-cdk/aws-events-targets/lib/batch.ts
  packages/@aws-cdk/aws-events-targets/package.json
  packages/@aws-cdk/aws-events-targets/test/batch/batch.test.ts
  packages/@aws-cdk/aws-events-targets/test/batch/integ.job-definition-events.ts
  packages/@aws-cdk/aws-lambda-event-sources/README.md
  packages/@aws-cdk/aws-lambda-event-sources/lib/kafka.ts
  packages/@aws-cdk/aws-lambda-event-sources/package.json
  packages/@aws-cdk/aws-lambda-event-sources/test/test.kafka.ts
  packages/@aws-cdk/aws-route53-targets/README.md
  packages/@aws-cdk/aws-route53-targets/lib/api-gatewayv2-domain-name.ts
  packages/@aws-cdk/aws-route53-targets/package.json
  packages/@aws-cdk/aws-route53-targets/test/apigatewayv2-target.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/apigateway/call-http-api.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/batch/run-batch-job.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/batch/submit-job.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/package.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/apigateway/call-http-api.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/apigateway/integ.call-http-api.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/batch/integ.run-batch-job.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/batch/integ.submit-job.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/batch/run-batch-job.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/batch/submit-job.test.ts
Labels: @aws-cdk/aws-route53-targets, contribution/core, pr/do-not-merge

#14240 chore: remove promiscuous import from `cdk-integ-tools`
  tools/cdk-integ-tools/lib/integ-helpers.ts
Labels: contribution/core

#14239 chore: cdk-integ-tools should not be using `@aws-cdk/assert`
  tools/cdk-integ-tools/bin/cdk-integ-assert.ts
  tools/cdk-integ-tools/package.json
Labels: @aws-cdk/assert, contribution/core

#14135 chore(aws-cdk-lib): extract experimental L2s from aws-cdk-lib
  packages/aws-cdk-lib/package.json
  packages/aws-cdk-lib/scripts/verify-stripped-exp.ts
  tools/cdk-build-tools/bin/cdk-package.ts
  tools/cdk-build-tools/lib/package-info.ts
  tools/ubergen/bin/ubergen.ts
  tools/ubergen/package.json
Labels: aws-cdk-lib, contribution/core

#14251 chore(release): 2.0.0-alpha.11
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#14233 chore: backport test changes while adjusting feature flags in v2
  packages/@aws-cdk/aws-dynamodb-global/test/test.dynamodb.global.ts
  packages/@aws-cdk/aws-rds/test/cluster.test.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
  packages/@aws-cdk/aws-rds/test/serverless-cluster.test.ts
  packages/@aws-cdk/core/test/stack.test.ts
Labels: aws-cdk-lib, contribution/core

#14224 fix(codepipeline): detect the account of the Action from its backing resource's account, not its Stack's account
  packages/@aws-cdk/aws-codepipeline/lib/pipeline.ts
  packages/@aws-cdk/aws-codepipeline/test/cross-env.test.ts
Labels: @aws-cdk/aws-codepipeline, contribution/core

#14246 chore: forward merge 'master' into 'v2-main'
  allowed-breaking-changes.txt
  packages/@aws-cdk/aws-apigateway/lib/integration.ts
  packages/@aws-cdk/aws-apigateway/lib/method.ts
  packages/@aws-cdk/aws-apigateway/test/integration.test.ts
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/private/utils.ts
  packages/@aws-cdk/aws-appmesh/lib/shared-interfaces.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-gateway-listener.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-node-listener.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-gateway.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-node.ts
  packages/@aws-cdk/aws-events-targets/lib/batch.ts
  packages/@aws-cdk/aws-events-targets/package.json
  packages/@aws-cdk/aws-events-targets/test/batch/batch.test.ts
  packages/@aws-cdk/aws-events-targets/test/batch/integ.job-definition-events.ts
  packages/@aws-cdk/aws-lambda-event-sources/README.md
  packages/@aws-cdk/aws-lambda-event-sources/lib/kafka.ts
  packages/@aws-cdk/aws-lambda-event-sources/package.json
  packages/@aws-cdk/aws-lambda-event-sources/test/test.kafka.ts
  packages/@aws-cdk/aws-rds/lib/instance-engine.ts
  packages/@aws-cdk/aws-route53-targets/README.md
  packages/@aws-cdk/aws-route53-targets/lib/api-gatewayv2-domain-name.ts
  packages/@aws-cdk/aws-route53-targets/package.json
  packages/@aws-cdk/aws-route53-targets/test/apigatewayv2-target.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/apigateway/call-http-api.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/batch/run-batch-job.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/batch/submit-job.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/package.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/apigateway/call-http-api.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/apigateway/integ.call-http-api.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/batch/integ.run-batch-job.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/batch/integ.submit-job.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/batch/run-batch-job.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/batch/submit-job.test.ts
  packages/awslint/.eslintrc.js
  packages/awslint/package.json
  tools/cdk-integ-tools/lib/integ-helpers.ts
  tools/pkglint/.eslintrc.js
  tools/pkglint/package.json
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash

#14211 fix(pipelines): incorrect BuildSpec in synth step if synthesized with `--output`
  packages/@aws-cdk/pipelines/lib/synths/simple-synth-action.ts
  packages/@aws-cdk/pipelines/test/builds.test.ts
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline.expected.json
Labels: @aws-cdk/pipelines

#14256 chore(init-templates): relicense Python init-templates to MIT-0
  packages/aws-cdk/lib/init-templates/LICENSE
  packages/aws-cdk/lib/init-templates/v1/app/python/setup.template.py
  packages/aws-cdk/lib/init-templates/v1/sample-app/python/setup.template.py
  packages/aws-cdk/lib/init-templates/v2/app/python/setup.template.py
  packages/aws-cdk/lib/init-templates/v2/sample-app/python/setup.template.py
Labels: pr-linter/exempt-test

#14266 feat(secretsmanager): replicate secrets to multiple regions
  packages/@aws-cdk/aws-secretsmanager/README.md
  packages/@aws-cdk/aws-secretsmanager/lib/secret.ts
  packages/@aws-cdk/aws-secretsmanager/test/integ.replica.expected.json
  packages/@aws-cdk/aws-secretsmanager/test/integ.replica.ts
  packages/@aws-cdk/aws-secretsmanager/test/secret.test.ts
Labels: @aws-cdk/aws-secretsmanager, effort/small, p1

#14255 chore: rewrite imports in READMEs for aws-cdk-lib
  tools/ubergen/bin/ubergen.ts
Labels: aws-cdk-lib, contribution/core

#14268 chore(aws-cdk-migration): update readme title and disable pkglint
  packages/aws-cdk-migration/.no-packagejson-validator
  packages/aws-cdk-migration/README.md
  packages/aws-cdk-migration/package.json
Labels: contribution/core

#14253 chore(merge-back): 1.99.0
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#14226 fix(codebuild): Secret env variable from another account fails on Key decryption
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codebuild/test/test.project.ts
Labels: @aws-cdk/aws-codebuild, @aws-cdk/aws-kms

#14281 chore(merge-back): 1.100.0
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#14267 chore: forward merge 'master' into 'v2-main'
  .github/workflows/yarn-upgrade.yml
  packages/@aws-cdk/aws-codepipeline/lib/pipeline.ts
  packages/@aws-cdk/aws-codepipeline/test/cross-env.test.ts
  packages/@aws-cdk/core/test/stack.test.ts
  packages/@aws-cdk/pipelines/lib/synths/simple-synth-action.ts
  packages/@aws-cdk/pipelines/test/builds.test.ts
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline.expected.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk-lib/scripts/verify-stripped-exp.ts
  packages/aws-cdk/lib/init-templates/LICENSE
  packages/aws-cdk/lib/init-templates/v1/app/python/setup.template.py
  packages/aws-cdk/lib/init-templates/v1/sample-app/python/setup.template.py
  packages/aws-cdk/lib/init-templates/v2/app/python/setup.template.py
  packages/aws-cdk/lib/init-templates/v2/sample-app/python/setup.template.py
  tools/cdk-build-tools/bin/cdk-package.ts
  tools/cdk-build-tools/lib/package-info.ts
  tools/ubergen/bin/ubergen.ts
  tools/ubergen/package.json
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash

#14070 chore: ban @experimental
  packages/awslint/lib/rules/docs.ts
  tools/cfn2ts/lib/codegen.ts
Labels: contribution/core

#14289 chore(release): 2.0.0-alpha.12
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#14260 fix(codepipeline-actions): CodeCommit source action fails when it's cross-account
  packages/@aws-cdk/aws-codepipeline-actions/lib/codecommit/source-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/package.json
  packages/@aws-cdk/aws-codepipeline-actions/test/codecommit/codecommit-source-action.test.ts
Labels: @aws-cdk/aws-codecommit, @aws-cdk/aws-codepipeline-actions, contribution/core

#14299 chore(release): 2.0.0-alpha.13
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#14296 fix(iam): unable to configure name of SAML Provider
  packages/@aws-cdk/aws-iam/lib/saml-provider.ts
  packages/@aws-cdk/aws-iam/test/saml-provider.test.ts
Labels: @aws-cdk/aws-iam

#14271 chore: expire feature flags 'ecs-patterns:removeDefaultDesiredCount' and 'efs:defaultEncryptionAtRest'
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/integ.multiple-application-load-balanced-ecs-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.asset-image.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.circuit-breaker-load-balanced-fargate-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.circuit-breaker-queue-processing-fargate-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.executionrole.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.l3-autocreate.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.l3-vpconly.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.l3.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.load-balanced-fargate-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.multiple-network-load-balanced-fargate-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.queue-processing-fargate-service-isolated.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.queue-processing-fargate-service-public.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.queue-processing-fargate-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.special-listener.expected.json
  packages/@aws-cdk/aws-efs/test/efs-file-system.test.ts
  packages/@aws-cdk/cx-api/lib/features.ts
Labels: @aws-cdk/aws-efs, @aws-cdk/cx-api, contribution/core

#14092 fix(aws-ecs-patterns, aws-elasticloadbalancingv2): Pass TargetGroup P…
  packages/@aws-cdk/aws-ecs-patterns/lib/base/application-load-balanced-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.l3s.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-listener.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/alb/listener.test.ts
Labels: @aws-cdk/aws-elasticloadbalancingv2

#14295 docs(aws-route53-targets): Fixed swapped @param variable name and docstring
  packages/@aws-cdk/aws-route53-targets/lib/api-gatewayv2-domain-name.ts
Labels: @aws-cdk/aws-route53-targets

#14278 chore(prlint): stricter validation around breaking changes
  tools/prlint/index.js
  tools/prlint/package.json
  tools/prlint/test/index.test.js
Labels: contribution/core

#14250 feat(ec2): create NAT Gateways with fixed IPs
  packages/@aws-cdk/aws-ec2/lib/nat.ts
  packages/@aws-cdk/aws-ec2/test/vpc.test.ts
Labels: @aws-cdk/aws-ec2, contribution/core, pr-linter/exempt-readme

#14283 feat(aws-autoscaling): add support for NewInstancesProtectedFromScaleIn
  packages/@aws-cdk/aws-autoscaling/README.md
  packages/@aws-cdk/aws-autoscaling/lib/auto-scaling-group.ts
  packages/@aws-cdk/aws-autoscaling/test/auto-scaling-group.test.ts
Labels: @aws-cdk/aws-autoscaling, pr-linter/exempt-readme

#14280 chore: keep core documentation in sync between @aws-cdk/core and aws-cdk-lib
  packages/@aws-cdk/core/README.md
  packages/aws-cdk-lib/README.md
  tools/pkglint/lib/rules.ts
Labels: @aws-cdk/core, aws-cdk-lib, contribution/core

#14179 fix(ec2): r5ad instance-type has incorrect value
  packages/@aws-cdk/aws-ec2/lib/instance-types.ts
  packages/@aws-cdk/aws-ec2/test/instance.test.ts
Labels: @aws-cdk/aws-ec2

#14304 chore(cdk): remove 'main' from aws-cdk
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/lib/index.ts
  packages/aws-cdk/package.json
  packages/aws-cdk/test/api/deploy-stack.test.ts
  packages/aws-cdk/test/api/sdk-provider.test.ts
  packages/aws-cdk/test/api/toolkit-info.test.ts
  packages/aws-cdk/test/assets.test.ts
  packages/aws-cdk/test/util/mock-sdk.ts
  packages/aws-cdk/test/util/mock-toolkitinfo.ts
Labels: contribution/core

#14205 chore(ssm): latest parameter value with dynamic reference
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.all-service-addons.expected.json
  packages/@aws-cdk-containers/ecs-service-extensions/test/test.firelens.ts
  packages/@aws-cdk/aws-autoscaling/test/auto-scaling-group.test.ts
  packages/@aws-cdk/aws-autoscaling/test/integ.amazonlinux2.expected.json
  packages/@aws-cdk/aws-autoscaling/test/integ.asg-metrics-collections.expected.json
  packages/@aws-cdk/aws-autoscaling/test/integ.asg-w-classic-loadbalancer.expected.json
  packages/@aws-cdk/aws-autoscaling/test/integ.asg-w-elbv2.expected.json
  packages/@aws-cdk/aws-autoscaling/test/integ.custom-scaling.expected.json
  packages/@aws-cdk/aws-autoscaling/test/integ.external-role.expected.json
  packages/@aws-cdk/aws-autoscaling/test/integ.spot-instances.expected.json
  packages/@aws-cdk/aws-autoscaling/test/scheduled-action.test.ts
  packages/@aws-cdk/aws-batch/test/compute-environment.test.ts
  packages/@aws-cdk/aws-codedeploy/test/server/integ.deployment-group.expected.json
  packages/@aws-cdk/aws-ec2/test/bastion-host.test.ts
  packages/@aws-cdk/aws-ec2/test/integ.bastion-host-arm-support.expected.json
  packages/@aws-cdk/aws-ec2/test/integ.bastion-host.expected.json
  packages/@aws-cdk/aws-ec2/test/integ.instance-init.expected.json
  packages/@aws-cdk/aws-ec2/test/integ.instance-multipart-userdata.expected.json
  packages/@aws-cdk/aws-ec2/test/integ.instance.expected.json
  packages/@aws-cdk/aws-ec2/test/launch-template.test.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/integ.multiple-application-load-balanced-ecs-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/integ.scheduled-ecs-task.lit.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.app-mesh-proxy-config.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.bottlerocket.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.clb-host-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.cloudmap-container-port.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.environment-file.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.firelens-s3-config.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.lb-awsvpc-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.lb-bridge-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.sd-awsvpc-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.sd-bridge-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.spot-drain.expected.json
  packages/@aws-cdk/aws-ecs/test/ecs-cluster.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/integ.firelens-cloudwatch.expected.json
  packages/@aws-cdk/aws-eks-legacy/test/integ.eks-cluster.defaults.expected.json
  packages/@aws-cdk/aws-eks-legacy/test/integ.eks-cluster.kubectl-disabled.expected.json
  packages/@aws-cdk/aws-eks-legacy/test/integ.eks-cluster.lit.expected.json
  packages/@aws-cdk/aws-eks-legacy/test/integ.eks-helm.lit.expected.json
  packages/@aws-cdk/aws-eks-legacy/test/integ.eks-kubectl.lit.expected.json
  packages/@aws-cdk/aws-eks-legacy/test/integ.eks-spot.expected.json
  packages/@aws-cdk/aws-eks-legacy/test/test.cluster.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/test.cluster.ts
  packages/@aws-cdk/aws-events-targets/test/ecs/integ.event-ec2-task.lit.expected.json
  packages/@aws-cdk/aws-fsx/test/integ.lustre-file-system.expected.json
  packages/@aws-cdk/aws-globalaccelerator-endpoints/test/integ.globalaccelerator.expected.json
  packages/@aws-cdk/aws-ssm/lib/parameter.ts
  packages/@aws-cdk/aws-ssm/test/integ.parameter-store-string.lit.expected.json
  packages/@aws-cdk/aws-ssm/test/test.parameter-store-string.ts
  packages/@aws-cdk/aws-ssm/test/test.parameter.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/ecs/integ.ec2-run-task.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/ecs/integ.ec2-task.expected.json
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/test/api/deploy-stack.test.ts
Labels: @aws-cdk/aws-ssm

#14301 chore(efs): backport unit test changes
  packages/@aws-cdk/aws-efs/test/efs-file-system.test.ts
Labels: @aws-cdk/aws-efs, contribution/core

#14291 chore(stepfunctions-tasks): move test dependency to devdependencies
  packages/@aws-cdk/aws-stepfunctions-tasks/package.json
Labels: @aws-cdk/aws-stepfunctions-tasks, contribution/core

#14306 chore(cli): backport import statement changes
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/test/api/deploy-stack.test.ts
  packages/aws-cdk/test/api/sdk-provider.test.ts
  packages/aws-cdk/test/api/toolkit-info.test.ts
  packages/aws-cdk/test/assets.test.ts
  packages/aws-cdk/test/util/mock-sdk.ts
  packages/aws-cdk/test/util/mock-toolkitinfo.ts
Labels: contribution/core, package/tools

#14302 chore: add validation for ubergen aws-cdk-lib README import re-writes
  packages/aws-cdk-lib/package.json
  packages/aws-cdk-lib/scripts/verify-readme-import-rewrites.ts
Labels: aws-cdk-lib, contribution/core

#13698 feat(iam): add imported user to a group
  packages/@aws-cdk/aws-iam/README.md
  packages/@aws-cdk/aws-iam/lib/user.ts
  packages/@aws-cdk/aws-iam/test/user.test.ts
Labels: @aws-cdk/aws-iam

#14321 chore(cloudformation-diff): use types provided by the table module
  packages/@aws-cdk/cloudformation-diff/lib/format-table.ts
  packages/@aws-cdk/cloudformation-diff/package.json
  yarn.lock
Labels: @aws-cdk/cloudformation-diff, contribution/core

#14214 chore(v2): re-enable the assert transform for v2 (#14207)
  packages/@aws-cdk/assert/.gitignore
  packages/@aws-cdk/assert/README.md
  packages/@aws-cdk/assert/clone.sh
  packages/@aws-cdk/assert/jest.ts
  packages/@aws-cdk/assert/lib/assertion.ts
  packages/@aws-cdk/assert/lib/assertions/and-assertion.ts
  packages/@aws-cdk/assert/lib/assertions/count-resources.ts
  packages/@aws-cdk/assert/lib/assertions/exist.ts
  packages/@aws-cdk/assert/lib/assertions/have-output.ts
  packages/@aws-cdk/assert/lib/assertions/have-resource-matchers.ts
  packages/@aws-cdk/assert/lib/assertions/have-resource.ts
  packages/@aws-cdk/assert/lib/assertions/have-type.ts
  packages/@aws-cdk/assert/lib/assertions/match-template.ts
  packages/@aws-cdk/assert/lib/assertions/negated-assertion.ts
  packages/@aws-cdk/assert/lib/canonicalize-assets.ts
  packages/@aws-cdk/assert/lib/expect.ts
  packages/@aws-cdk/assert/lib/index.ts
  packages/@aws-cdk/assert/lib/inspector.ts
  packages/@aws-cdk/assert/lib/synth-utils.ts
  packages/@aws-cdk/assert/test/assertions.test.ts
  packages/@aws-cdk/assert/test/canonicalize-assets.test.ts
  packages/@aws-cdk/assert/test/have-output.test.ts
  packages/@aws-cdk/assert/test/have-resource.test.ts
  packages/@aws-cdk/assert/test/synth-utils.test.ts
  packages/aws-cdk-migration/bin/rewrite-imports-v2
Labels: @aws-cdk/assert, aws-cdk-lib, contribution/core

#14329 chore: update node space size for pack.sh
  pack.sh
Labels: contribution/core

#13823 feat(events): API Gateway target
  packages/@aws-cdk/aws-events-targets/README.md
  packages/@aws-cdk/aws-events-targets/lib/api-gateway.ts
  packages/@aws-cdk/aws-events-targets/lib/index.ts
  packages/@aws-cdk/aws-events-targets/package.json
  packages/@aws-cdk/aws-events-targets/test/api-gateway/api-gateway.test.ts
  packages/@aws-cdk/aws-events/lib/rule.ts
  packages/@aws-cdk/aws-events/lib/target.ts
  packages/@aws-cdk/aws-events/package.json
Labels: @aws-cdk/aws-apigateway, @aws-cdk/aws-events, @aws-cdk/aws-events-targets

#13916 feat(custom-resources): AwsSdkCall can assume Role for cross-account custom resources
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.assign-public-ip.expected.json
  packages/@aws-cdk/aws-cognito/test/integ.user-pool-domain-cfdist.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.custom-kms-key.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.unsignedbasicauth.expected.json
  packages/@aws-cdk/aws-events-targets/test/logs/integ.log-group.expected.json
  packages/@aws-cdk/aws-globalaccelerator-endpoints/test/integ.globalaccelerator.expected.json
  packages/@aws-cdk/aws-route53/test/integ.vpc-endpoint-service-domain-name.expected.json
  packages/@aws-cdk/custom-resources/README.md
  packages/@aws-cdk/custom-resources/lib/aws-custom-resource/aws-custom-resource.ts
  packages/@aws-cdk/custom-resources/lib/aws-custom-resource/runtime/index.ts
  packages/@aws-cdk/custom-resources/test/aws-custom-resource/aws-custom-resource.test.ts
Labels: @aws-cdk/custom-resources

#14182 chore: make the new-style synthesis the default in V2
  packages/@aws-cdk/assert-internal/lib/synth-utils.ts
  packages/@aws-cdk/assert-internal/test/assertions.test.ts
  packages/@aws-cdk/assets/test/test.staging.ts
  packages/@aws-cdk/aws-apigateway/test/api-definition.test.ts
  packages/@aws-cdk/aws-cloudformation/test/test.deps.ts
  packages/@aws-cdk/aws-cloudformation/test/test.nested-stack.ts
  packages/@aws-cdk/aws-ec2/test/cfn-init.test.ts
  packages/@aws-cdk/aws-ec2/test/instance.test.ts
  packages/@aws-cdk/aws-ecr-assets/test/image-asset.test.ts
  packages/@aws-cdk/aws-ecs/test/container-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-task-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/ecs-cluster.test.ts
  packages/@aws-cdk/aws-ecs/test/environment-file.test.ts
  packages/@aws-cdk/aws-kinesisanalytics-flink/package.json
  packages/@aws-cdk/aws-kinesisanalytics-flink/test/application.test.ts
  packages/@aws-cdk/aws-lambda/test/code.test.ts
  packages/@aws-cdk/aws-lambda/test/function-hash.test.ts
  packages/@aws-cdk/aws-lambda/test/function.test.ts
  packages/@aws-cdk/aws-lambda/test/layers.test.ts
  packages/@aws-cdk/aws-s3-assets/test/asset.test.ts
  packages/@aws-cdk/aws-s3-deployment/test/bucket-deployment.test.ts
  packages/@aws-cdk/aws-synthetics/package.json
  packages/@aws-cdk/aws-synthetics/test/code.test.ts
  packages/@aws-cdk/cloudformation-include/package.json
  packages/@aws-cdk/cloudformation-include/test/invalid-templates.test.ts
  packages/@aws-cdk/cloudformation-include/test/nested-stacks.test.ts
  packages/@aws-cdk/cloudformation-include/test/serverless-transform.test.ts
  packages/@aws-cdk/core/test/app.test.ts
  packages/@aws-cdk/core/test/assets.test.ts
  packages/@aws-cdk/core/test/cfn-resource.test.ts
  packages/@aws-cdk/core/test/cloudformation-json.test.ts
  packages/@aws-cdk/core/test/context.test.ts
  packages/@aws-cdk/core/test/cross-environment-token.test.ts
  packages/@aws-cdk/core/test/custom-resource-provider/custom-resource-provider.test.ts
  packages/@aws-cdk/core/test/fn.test.ts
  packages/@aws-cdk/core/test/logical-id.test.ts
  packages/@aws-cdk/core/test/resource.test.ts
  packages/@aws-cdk/core/test/stack.test.ts
  packages/@aws-cdk/core/test/stage.test.ts
  packages/@aws-cdk/core/test/staging.test.ts
  packages/@aws-cdk/core/test/synthesis.test.ts
  packages/@aws-cdk/core/test/util.ts
  packages/@aws-cdk/cx-api/lib/features.ts
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets.ts
  packages/@aws-cdk/pipelines/test/integ.pipeline.ts
  packages/decdk/test/synth.test.ts
  tools/cdk-integ-tools/lib/integ-helpers.ts
Labels: aws-cdk-lib, contribution/core

#14328 docs(autoscaling): update default docs for RequestCountScalingProps
  packages/@aws-cdk/aws-autoscaling/lib/auto-scaling-group.ts
Labels: @aws-cdk/aws-autoscaling, contribution/core

#14338 fix(pipelines): Use LinuxBuildImage.STANDARD_5_0 for Assets and UpdatePipeline stages
  packages/@aws-cdk/pipelines/lib/actions/publish-assets-action.ts
  packages/@aws-cdk/pipelines/lib/actions/update-pipeline-action.ts
  packages/@aws-cdk/pipelines/lib/synths/simple-synth-action.ts
  packages/@aws-cdk/pipelines/lib/validation/shell-script-action.ts
  packages/@aws-cdk/pipelines/test/builds.test.ts
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline.expected.json
  packages/@aws-cdk/pipelines/test/pipeline-assets.test.ts
  packages/@aws-cdk/pipelines/test/pipeline.test.ts
  packages/@aws-cdk/pipelines/test/validation.test.ts
Labels: @aws-cdk/assets, @aws-cdk/pipelines

#14349 chore(docs): add a notice to the readme about metrics collection
  README.md
Labels: contribution/core

#14376 chore(aws-ec2): Fix code sample in docs for attaching volumes to EC2
  packages/@aws-cdk/aws-ec2/README.md
Labels: @aws-cdk/aws-ec2

#14354 chore(docs): update contributor guidance
  CONTRIBUTING.md
Labels: contribution/core

#14273 feat(neptune): change InstanceType to class that is built from string
  packages/@aws-cdk/aws-neptune/lib/cluster.ts
  packages/@aws-cdk/aws-neptune/lib/instance.ts
  packages/@aws-cdk/aws-neptune/test/instance.test.ts
Labels: @aws-cdk/aws-neptune, pr-linter/exempt-readme

#14382 chore: validate yarn.lock contains all necessary dependencies
  package.json
  scripts/check-yarn-lock.js
  yarn.lock
Labels: contribution/core

#14389 chore: patch jsii-rosetta to limit the number of worker threads
  patches/README.md
  patches/jsii-rosetta+1.28.0.patch
Labels: contribution/core

#14380 chore(yarn-cling): fix hoisting behavior
  tools/yarn-cling/lib/hoisting.ts
  tools/yarn-cling/lib/index.ts
  tools/yarn-cling/test/hoisting.test.ts
Labels: contribution/core
