Repository aws/aws-cdk, pull requests merged in 2021-01, with the labels that each got.

#12319 chore(merge-back): 1.82.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash

#12325 chore: forward merge 'master' into 'v2-main'
  CHANGELOG.md
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/aws-cdk/package.json
  tools/cdk-build-tools/package.json
  version.v1.json
  yarn.lock
Labels: pr/forward-merge, pr/no-squash

#12311 docs(aws-cloudfront): Fix typo in README, Lambda@Edge
  packages/@aws-cdk/aws-cloudfront/README.md
Labels: @aws-cdk/aws-cloudfront

#12231 feat(aws-cloudfront): support minimum security protocol
  packages/@aws-cdk/aws-cloudfront/README.md
  packages/@aws-cdk/aws-cloudfront/lib/distribution.ts
  packages/@aws-cdk/aws-cloudfront/test/distribution.test.ts
Labels: @aws-cdk/aws-cloudfront

#12224 feat(aws-kms): support waiting period
  packages/@aws-cdk/aws-kms/README.md
  packages/@aws-cdk/aws-kms/lib/key.ts
  packages/@aws-cdk/aws-kms/test/key.test.ts
Labels: @aws-cdk/aws-kms

#12191 chore(route53): doc typo in RecordType
  packages/@aws-cdk/aws-route53/lib/record-set.ts
Labels: @aws-cdk/aws-route53

#12163 feat(cloudfront): allow to specify stack ID for Lambda@Edge
  packages/@aws-cdk/aws-cloudfront/README.md
  packages/@aws-cdk/aws-cloudfront/lib/experimental/edge-function.ts
  packages/@aws-cdk/aws-cloudfront/test/experimental/edge-function.test.ts
  packages/@aws-cdk/aws-cloudfront/test/integ.distribution-lambda-cross-region.expected.json
  packages/@aws-cdk/aws-cloudfront/test/integ.distribution-lambda-cross-region.ts
Labels: @aws-cdk/aws-cloudfront

#12330 chore(cli): IAM differences table printing is broken
  packages/@aws-cdk/cloudformation-diff/lib/format-table.ts
  packages/@aws-cdk/cloudformation-diff/test/iam/broadening.test.ts
Labels: contribution/core, package/tools

#12276 docs(stepfunctions): adding examples to the fromString
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/dynamodb/shared-types.ts
Labels: @aws-cdk/aws-stepfunctions

#12302 feat(ec2): add m6gd and r6gd metadata
  packages/@aws-cdk/aws-ec2/lib/instance-types.ts
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme, pr-linter/exempt-test

#12309 docs(rds): fix a typo in link, Aurora Serverless README
  packages/@aws-cdk/aws-rds/README.md
Labels: @aws-cdk/aws-rds

#12237 fix(rds): add the dependency on proxy targets to ensure dbInstance
  packages/@aws-cdk/aws-rds/lib/proxy.ts
  packages/@aws-cdk/aws-rds/test/test.proxy.ts
Labels: @aws-cdk/aws-rds

#12223 fix(aws-ecs): update desired count to be optional
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-ecs-deploy.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-ecs-separate-source.lit.expected.json
  packages/@aws-cdk/aws-ecs/lib/base/base-service.ts
  packages/@aws-cdk/aws-ecs/lib/ec2/ec2-service.ts
  packages/@aws-cdk/aws-ecs/lib/fargate/fargate-service.ts
  packages/@aws-cdk/aws-ecs/test/ec2/integ.app-mesh-proxy-config.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.app-mesh-proxy-config.ts
  packages/@aws-cdk/aws-ecs/test/ec2/integ.clb-host-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.environment-file.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.firelens-s3-config.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.lb-awsvpc-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.lb-bridge-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.sd-awsvpc-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.sd-bridge-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.spot-drain.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/test.ec2-service.ts
  packages/@aws-cdk/aws-ecs/test/fargate/integ.firelens-cloudwatch.expected.json
  packages/@aws-cdk/aws-ecs/test/fargate/integ.lb-awsvpc-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/fargate/integ.nlb-awsvpc-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/fargate/test.fargate-service.ts
  packages/decdk/test/__snapshots__/synth.test.js.snap
Labels: @aws-cdk/aws-ecs

#12344 chore(eks): remove the property override for CapacityType
  packages/@aws-cdk/aws-eks/lib/managed-nodegroup.ts
Labels: @aws-cdk/aws-eks

#12351 chore: perform Token checks on DefaultSynthesizer parameters
  packages/@aws-cdk/core/lib/stack-synthesizers/default-synthesizer.ts
  packages/@aws-cdk/core/test/stack-synthesis/new-style-synthesis.test.ts
Labels: contribution/core

#12103 fix(cloudfront): cross-region EdgeFunction does not work within a Stage
  packages/@aws-cdk/aws-cloudfront/lib/experimental/edge-function.ts
  packages/@aws-cdk/aws-cloudfront/test/experimental/edge-function.test.ts
Labels: @aws-cdk/aws-cloudfront, contribution/core

#12312 feat(codecommit): HTTPS GRC clone URL
  packages/@aws-cdk/aws-codecommit/README.md
  packages/@aws-cdk/aws-codecommit/lib/repository.ts
  packages/@aws-cdk/aws-codecommit/package.json
  packages/@aws-cdk/aws-codecommit/test/test.codecommit.ts
Labels: @aws-cdk/aws-codecommit

#12356 fix(cloudfront): EdgeFunction fails with newStyleStackSynthesis
  packages/@aws-cdk/aws-cloudfront/README.md
  packages/@aws-cdk/aws-cloudfront/lib/experimental/edge-function.ts
  packages/@aws-cdk/aws-cloudfront/test/experimental/edge-function.test.ts
  packages/@aws-cdk/aws-cloudfront/test/experimental/my-lambda-handler/index.py
Labels: @aws-cdk/aws-cloudfront, contribution/core

#12346 chore(ecs): remove property override
  packages/@aws-cdk/aws-ecs/lib/base/base-service.ts
Labels: @aws-cdk/aws-ecs, review/small

#12364 fix(lambda): make the Version hash calculation stable
  packages/@aws-cdk/aws-cloudformation/test/integ.nested-stack.expected.json
  packages/@aws-cdk/aws-cloudfront/lib/experimental/edge-function.ts
  packages/@aws-cdk/aws-dynamodb/test/integ.global-replicas-provisioned.expected.json
  packages/@aws-cdk/aws-lambda/lib/function-hash.ts
  packages/@aws-cdk/aws-lambda/test/function-hash.test.ts
  packages/@aws-cdk/cfnspec/spec-source/720_Lambda_handler_runtime_patch.json
Labels: @aws-cdk/aws-lambda, contribution/core

#12155 fix(cli): cross account asset upload no longer works
  packages/aws-cdk/lib/util/asset-publishing.ts
  packages/cdk-assets/bin/publish.ts
  packages/cdk-assets/lib/aws.ts
  packages/cdk-assets/lib/private/placeholders.ts
  packages/cdk-assets/test/mock-aws.ts
Labels: package/tools

#12274 feat(cloudwatch): full precision for SingleValueWidgets
  packages/@aws-cdk/aws-cloudwatch/README.md
  packages/@aws-cdk/aws-cloudwatch/lib/graph.ts
  packages/@aws-cdk/aws-cloudwatch/test/integ.alarm-and-dashboard.expected.json
  packages/@aws-cdk/aws-cloudwatch/test/integ.alarm-and-dashboard.ts
  packages/@aws-cdk/aws-cloudwatch/test/test.graphs.ts
Labels: @aws-cdk/aws-cloudwatch

#12228 fix(logs): custom resource Lambda uses old NodeJS version
  packages/@aws-cdk/aws-chatbot/test/integ.chatbot-logretention.expected.json
  packages/@aws-cdk/aws-lambda/test/integ.log-retention.expected.json
  packages/@aws-cdk/aws-logs/lib/log-retention.ts
  packages/@aws-cdk/aws-logs/test/test.log-retention.ts
  packages/@aws-cdk/aws-rds/test/integ.instance.lit.expected.json
Labels: @aws-cdk/aws-logs

#12033 fix(ec2): interface endpoint AZ lookup does not guard against broken situations
  packages/@aws-cdk/aws-ec2/lib/vpc-endpoint.ts
  packages/@aws-cdk/aws-ec2/test/vpc-endpoint.test.ts
Labels: @aws-cdk/aws-ec2

#11855 fix(core): DefaultStackSynthesizer bucket prefix missing for template assets
  packages/@aws-cdk/core/lib/stack-synthesizers/default-synthesizer.ts
  packages/@aws-cdk/core/test/stack-synthesis/new-style-synthesis.test.ts
Labels: @aws-cdk/core

#12378 chore(merge-back): 1.83.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash

#12373 fix(elbv2): can't import two application listeners into the same scope
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-listener.ts
Labels: @aws-cdk/aws-elasticloadbalancingv2, contribution/core, pr-linter/exempt-test

#12400 chore(apigateway): update cloudformation limit in the docs.
  packages/@aws-cdk/aws-apigateway/README.md
Labels: @aws-cdk/aws-apigateway, contribution/core

#12401 fix(apigatewayv2): vpclink - explicit subnet specification still causes private subnets to be included
  packages/@aws-cdk/aws-apigatewayv2/lib/http/vpc-link.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/vpc-link.test.ts
Labels: @aws-cdk/aws-apigatewayv2

#11866 feat(synthetics): Update Cloudwatch Synthetics canaries NodeJS runtimes
  packages/@aws-cdk/aws-synthetics/README.md
  packages/@aws-cdk/aws-synthetics/lib/canary.ts
Labels: @aws-cdk/aws-synthetics, pr-linter/exempt-readme, pr-linter/exempt-test

#12398 chore: forward merge 'master' into 'v2-main'
  CHANGELOG.md
  packages/@aws-cdk/aws-chatbot/test/integ.chatbot-logretention.expected.json
  packages/@aws-cdk/aws-cloudformation/test/integ.nested-stack.expected.json
  packages/@aws-cdk/aws-cloudfront-origins/package.json
  packages/@aws-cdk/aws-cloudfront/README.md
  packages/@aws-cdk/aws-cloudfront/lib/experimental/edge-function.ts
  packages/@aws-cdk/aws-cloudfront/package.json
  packages/@aws-cdk/aws-cloudfront/test/experimental/edge-function.test.ts
  packages/@aws-cdk/aws-cloudfront/test/experimental/my-lambda-handler/index.py
  packages/@aws-cdk/aws-cloudtrail/package.json
  packages/@aws-cdk/aws-cloudwatch/README.md
  packages/@aws-cdk/aws-cloudwatch/lib/graph.ts
  packages/@aws-cdk/aws-cloudwatch/test/integ.alarm-and-dashboard.expected.json
  packages/@aws-cdk/aws-cloudwatch/test/integ.alarm-and-dashboard.ts
  packages/@aws-cdk/aws-cloudwatch/test/test.graphs.ts
  packages/@aws-cdk/aws-codebuild/package.json
  packages/@aws-cdk/aws-codecommit/README.md
  packages/@aws-cdk/aws-codecommit/lib/repository.ts
  packages/@aws-cdk/aws-codecommit/package.json
  packages/@aws-cdk/aws-codecommit/test/test.codecommit.ts
  packages/@aws-cdk/aws-codepipeline-actions/package.json
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-dynamodb/test/integ.global-replicas-provisioned.expected.json
  packages/@aws-cdk/aws-ec2/lib/vpc-endpoint.ts
  packages/@aws-cdk/aws-ec2/test/vpc-endpoint.test.ts
  packages/@aws-cdk/aws-ecs/lib/base/base-service.ts
  packages/@aws-cdk/aws-eks/lib/managed-nodegroup.ts
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-listener.ts
  packages/@aws-cdk/aws-events-targets/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-lambda/lib/function-hash.ts
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-lambda/test/function-hash.test.ts
  packages/@aws-cdk/aws-lambda/test/integ.log-retention.expected.json
  packages/@aws-cdk/aws-logs/lib/log-retention.ts
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/aws-logs/test/test.log-retention.ts
  packages/@aws-cdk/aws-rds/test/integ.instance.lit.expected.json
  packages/@aws-cdk/aws-route53/package.json
  packages/@aws-cdk/aws-sqs/package.json
  packages/@aws-cdk/cfnspec/spec-source/720_Lambda_handler_runtime_patch.json
  packages/@aws-cdk/core/lib/stack-synthesizers/default-synthesizer.ts
  packages/@aws-cdk/core/package.json
  packages/@aws-cdk/core/test/stack-synthesis/new-style-synthesis.test.ts
  packages/@aws-cdk/custom-resources/package.json
  packages/aws-cdk/lib/init-templates/v2/app/java/pom.template.xml
  packages/aws-cdk/lib/init-templates/v2/sample-app/java/pom.template.xml
  packages/aws-cdk/lib/util/asset-publishing.ts
  packages/aws-cdk/package.json
  packages/cdk-assets/bin/publish.ts
  packages/cdk-assets/lib/aws.ts
  packages/cdk-assets/lib/private/placeholders.ts
  packages/cdk-assets/package.json
  packages/cdk-assets/test/mock-aws.ts
  tools/cdk-build-tools/package.json
  version.v1.json
  yarn.lock
Labels: contribution/core, pr/forward-merge, pr/no-squash

#12421 chore(lambda): clean up old escape hatches
  packages/@aws-cdk/aws-lambda/lib/function.ts
  tools/cdk-build-tools/config/eslintrc.js
Labels: @aws-cdk/aws-lambda, contribution/core

#12424 feat(aws-lambda-nodejs): add esbuild `define` bundling option
  packages/@aws-cdk/aws-lambda-nodejs/README.md
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/types.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
Labels: @aws-cdk/aws-lambda-nodejs

#12313 fix(dynamodb): missing grantRead for ConditionCheckItem
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.assign-public-ip.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.api-import.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.auth-apikey.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-iam.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-schema.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql.expected.json
  packages/@aws-cdk/aws-dynamodb/lib/perms.ts
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
  packages/@aws-cdk/aws-dynamodb/test/integ.dynamodb.expected.json
  packages/@aws-cdk/aws-dynamodb/test/integ.dynamodb.sse.expected.json
Labels: @aws-cdk/aws-dynamodb

#12248 fix(stepfunctions-tasks): EvaluateExpression does not support JSON paths with dash
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/evaluate-expression.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/eval-nodejs10.x-handler.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/evaluate-expression.test.ts
Labels: @aws-cdk/aws-stepfunctions-tasks

#12448 chore(s3-deployment): Fix broken links
  packages/@aws-cdk/aws-s3-deployment/README.md
Labels: @aws-cdk/aws-s3-deployment

#12178 feat(cli): `--quiet` does not print template in `cdk synth`
  packages/aws-cdk/README.md
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/test/cdk-toolkit.test.ts
Labels: package/tools

#12259 feat(cdk-assets): add external asset support
  allowed-breaking-changes.txt
  packages/@aws-cdk/cloud-assembly-schema/lib/assets/docker-image-asset.ts
  packages/@aws-cdk/cloud-assembly-schema/lib/assets/file-asset.ts
  packages/@aws-cdk/cloud-assembly-schema/schema/assets.schema.json
  packages/@aws-cdk/cloud-assembly-schema/schema/cloud-assembly.version.json
  packages/@aws-cdk/cloud-assembly-schema/test/assets.test.ts
  packages/@aws-cdk/core/lib/assets.ts
  packages/@aws-cdk/core/lib/stack-synthesizers/default-synthesizer.ts
  packages/@aws-cdk/core/lib/stack-synthesizers/legacy.ts
  packages/cdk-assets/README.md
  packages/cdk-assets/lib/private/handlers/container-images.ts
  packages/cdk-assets/lib/private/handlers/files.ts
  packages/cdk-assets/lib/private/handlers/index.ts
  packages/cdk-assets/test/docker-images.test.ts
  packages/cdk-assets/test/files.test.ts
  packages/cdk-assets/test/mock-child_process.ts
Labels: @aws-cdk/assets

#12388 feat(iam): import users by arn or attributes #12340
  packages/@aws-cdk/aws-iam/README.md
  packages/@aws-cdk/aws-iam/lib/user.ts
  packages/@aws-cdk/aws-iam/test/integ.user.expected.json
  packages/@aws-cdk/aws-iam/test/integ.user.ts
  packages/@aws-cdk/aws-iam/test/user.test.ts
Labels: @aws-cdk/aws-iam

#12394 fix(cli): CLI doesn't read context from ~/.cdk.json
  packages/aws-cdk/lib/settings.ts
  packages/aws-cdk/test/usersettings.test.ts
Labels: package/tools

#12458 chore: forward merge 'master' into 'v2-main'
  .github/workflows/issue-label-assign.yml
  .mergify.yml
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.assign-public-ip.expected.json
  packages/@aws-cdk/app-delivery/package.json
  packages/@aws-cdk/aws-apigateway/README.md
  packages/@aws-cdk/aws-apigatewayv2/lib/http/vpc-link.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/vpc-link.test.ts
  packages/@aws-cdk/aws-applicationautoscaling/package.json
  packages/@aws-cdk/aws-appsync/test/integ.api-import.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.auth-apikey.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-iam.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-schema.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql.expected.json
  packages/@aws-cdk/aws-autoscaling-common/package.json
  packages/@aws-cdk/aws-cloudfront-origins/package.json
  packages/@aws-cdk/aws-cloudfront/package.json
  packages/@aws-cdk/aws-cloudtrail/package.json
  packages/@aws-cdk/aws-codebuild/package.json
  packages/@aws-cdk/aws-codecommit/package.json
  packages/@aws-cdk/aws-dynamodb/lib/perms.ts
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
  packages/@aws-cdk/aws-dynamodb/test/integ.dynamodb.expected.json
  packages/@aws-cdk/aws-dynamodb/test/integ.dynamodb.sse.expected.json
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-events-targets/package.json
  packages/@aws-cdk/aws-lambda-nodejs/README.md
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/types.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
  packages/@aws-cdk/aws-lambda/lib/function.ts
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/aws-route53/package.json
  packages/@aws-cdk/aws-s3-deployment/README.md
  packages/@aws-cdk/aws-sqs/package.json
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/evaluate-expression.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/eval-nodejs10.x-handler.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/evaluate-expression.test.ts
  packages/@aws-cdk/aws-synthetics/README.md
  packages/@aws-cdk/aws-synthetics/lib/canary.ts
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/core/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/aws-cdk/package.json
  packages/cdk-assets/package.json
  tools/cdk-build-tools/config/eslintrc.js
  yarn.lock
Labels: pr/forward-merge, pr/no-squash

#12193 feat(core): validate maximum amount of resources in a stack
  packages/@aws-cdk/core/README.md
  packages/@aws-cdk/core/lib/stack.ts
  packages/@aws-cdk/core/test/stack.test.ts
Labels: @aws-cdk/core

#12420 chore(lambda): throw a relevant error message when asset is used across stacks
  packages/@aws-cdk/aws-lambda/lib/code.ts
  packages/@aws-cdk/aws-lambda/test/code.test.ts
Labels: @aws-cdk/aws-lambda, contribution/core

#12434 feat(codebuild): support Standard 5.0
  packages/@aws-cdk/aws-codebuild/lib/project.ts
Labels: @aws-cdk/aws-codebuild, pr-linter/exempt-readme, pr-linter/exempt-test

#12441 fix(eks): nodegroup synthesis fails when configured with an AMI type that is not compatible to the default instance type
  packages/@aws-cdk/aws-eks/lib/managed-nodegroup.ts
  packages/@aws-cdk/aws-eks/test/test.nodegroup.ts
Labels: @aws-cdk/aws-eks, contribution/core

#11622 fix(elasticsearch): domain fails due to log publishing keys on unsupported cluster versions
  packages/@aws-cdk/aws-elasticsearch/lib/domain.ts
  packages/@aws-cdk/aws-elasticsearch/test/domain.test.ts
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.advancedsecurity.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.custom-kms-key.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.unsignedbasicauth.expected.json
Labels: contribution/core

#12453 feat(eks): spot interruption handler can be disabled for self managed nodes
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/test/test.cluster.ts
Labels: @aws-cdk/aws-eks

#11863 feat(appmesh): add listener TLS certificates for VirtualNodes and VirtualGateways
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/index.ts
  packages/@aws-cdk/aws-appmesh/lib/tls-certificate.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-gateway-listener.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-node-listener.ts
  packages/@aws-cdk/aws-appmesh/package.json
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.expected.json
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-gateway.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-node.ts
Labels: @aws-cdk/aws-appmesh

#12365 fix(aws-ecs): Support configuring Windows capacity for cluster ASGs
  packages/@aws-cdk/aws-ecs/lib/cluster.ts
  packages/@aws-cdk/aws-ecs/test/test.ecs-cluster.ts
Labels: @aws-cdk/aws-ecs

#12480 chore(merge-back): 1.84.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash

#12437 fix(sns): require topic name for fifo topic #12386
  packages/@aws-cdk/aws-sns/README.md
  packages/@aws-cdk/aws-sns/lib/topic.ts
  packages/@aws-cdk/aws-sns/test/integ.sns-fifo.ts
  packages/@aws-cdk/aws-sns/test/test.sns.ts
Labels: @aws-cdk/aws-sns

#12255 fix(appsync): rds data source configured with cluster arn
  packages/@aws-cdk/aws-appsync/lib/data-source.ts
  packages/@aws-cdk/aws-appsync/test/appsync-rds.test.ts
Labels: @aws-cdk/aws-appsync

#12391 fix(s3): Bucket.grantWrite() no longer adds s3:PutObject* permission
  packages/@aws-cdk/aws-codepipeline-actions/lib/s3/deploy-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-s3-deploy.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-s3-deploy.ts
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/aws-s3/lib/perms.ts
  packages/@aws-cdk/aws-s3/package.json
  packages/@aws-cdk/aws-s3/test/bucket.test.ts
  packages/@aws-cdk/cx-api/lib/features.ts
Labels: @aws-cdk/aws-s3, contribution/core

#12471 chore: auto approve v2 release PRs
  .github/workflows/auto-approve-v2-merge-forward.yml
Labels: contribution/core

#12482 chore: backporting changes to merge-forward job from v2 branch
  scripts/merge-forward.sh
Labels: contribution/core

#12483 docs(stepfunctions-tasks): fix code example of glue start job
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
Labels: @aws-cdk/aws-stepfunctions-tasks

#12377 docs(applicationautoscaling): typo in docstring
  packages/@aws-cdk/aws-applicationautoscaling/lib/step-scaling-policy.ts
Labels: @aws-cdk/aws-applicationautoscaling

#12350 docs: clarify egress default for `fromSecurityGroupId`
  packages/@aws-cdk/aws-ec2/lib/security-group.ts
Labels: contribution/core

#12320 chore(appsync): improved example DynamoDB stack in AppSync README.md file
  packages/@aws-cdk/aws-appsync/README.md
Labels: @aws-cdk/aws-appsync

#12495 chore(rds): add missing AuroraPostgresEngineVersions 9.6.18, 9.6.19, 10.13 and 10.14
  packages/@aws-cdk/aws-rds/lib/cluster-engine.ts
Labels: @aws-cdk/aws-rds

#12369 fix(eks): aws-node-termination-handler incorrectly deployed to on-demand instances as well
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/test.cluster.ts
Labels: @aws-cdk/aws-eks

#12426 feat(apigatewayv2): http api - disable execute api endpoint
  packages/@aws-cdk/aws-apigatewayv2/README.md
  packages/@aws-cdk/aws-apigatewayv2/lib/http/api.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/api.test.ts
Labels: @aws-cdk/aws-apigatewayv2

#12182 chore(lambda): update links to language-specific APIs in readme
  packages/@aws-cdk/aws-lambda/README.md
Labels: @aws-cdk/aws-lambda

#12491 fix(s3-deployment): stop using deprecated API's that will cause breakage post 01/31/21
  packages/@aws-cdk/aws-ecs/test/ec2/integ.environment-file.expected.json
  packages/@aws-cdk/aws-s3-deployment/lib/lambda/index.py
  packages/@aws-cdk/aws-s3-deployment/test/integ.bucket-deployment-cloudfront.expected.json
  packages/@aws-cdk/aws-s3-deployment/test/integ.bucket-deployment.expected.json
  packages/@aws-cdk/aws-s3-deployment/test/lambda/test.py
Labels: @aws-cdk/aws-s3-deployment, contribution/core

#12520 chore(merge-back): 1.85.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash

#11964 chore(aws-cdk-lib): minimum supported node version is now v14
  .yarnrc
  tools/pkglint/lib/rules.ts
Labels: aws-cdk-lib, contribution/core

#12509 chore(scripts): compat check will compare against last published version
  scripts/check-api-compatibility.sh
Labels: contribution/core

#12272 chore(eks): updated the eks launch template support topic in the docs
  packages/@aws-cdk/aws-eks/README.md
Labels: @aws-cdk/aws-eks

#12519 chore(pkglint): validate that package `maturity` is correct
  packages/@aws-cdk/alexa-ask/README.md
  packages/@aws-cdk/alexa-ask/package.json
  packages/@aws-cdk/aws-acmpca/README.md
  packages/@aws-cdk/aws-acmpca/package.json
  packages/@aws-cdk/aws-route53resolver/README.md
  packages/@aws-cdk/aws-route53resolver/package.json
  tools/pkglint/lib/rules.ts
Labels: contribution/core

#12539 docs(codebuild): clarify BuildEnvironmentVariable `value` property
  packages/@aws-cdk/aws-codebuild/lib/project.ts
Labels: @aws-cdk/aws-codebuild

#12527 chore(lambda-layer-kubectl): fix readme to refer to the correct module
  packages/@aws-cdk/lambda-layer-kubectl/README.md
Labels: contribution/core

#12565 docs: note that `cdk.context.json` must be committed
  packages/@aws-cdk/aws-ec2/README.md
Labels: contribution/core

#12525 chore(ec2): add c6gn instance type metadata
  packages/@aws-cdk/aws-ec2/lib/instance-types.ts
Labels: @aws-cdk/aws-ec2

#12549 fix(iam): Groups are erroneously accepted as the Principal of a policy (#11479)
  packages/@aws-cdk/aws-iam/lib/policy-statement.ts
  packages/@aws-cdk/aws-iam/test/policy-statement.test.ts
Labels: @aws-cdk/aws-iam

#12455 chore(applicationautoscaling): Add MSK storage scaling predefined metric
  packages/@aws-cdk/aws-applicationautoscaling/lib/target-tracking-scaling-policy.ts
Labels: @aws-cdk/aws-applicationautoscaling

#12569 fix(ec2): Vpc.fromVpcAttributes cannot be used with EKS
  packages/@aws-cdk/aws-ec2/README.md
  packages/@aws-cdk/aws-ec2/lib/vpc.ts
  packages/@aws-cdk/aws-ec2/test/vpc.test.ts
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/test/test.cluster.ts
  packages/@aws-cdk/core/lib/cfn-fn.ts
  packages/@aws-cdk/core/test/fn.test.ts
Labels: @aws-cdk/aws-ec2, contribution/core

#12586 chore: forward merge 'master' into 'v2-main'
  packages/@aws-cdk/aws-applicationautoscaling/lib/target-tracking-scaling-policy.ts
  packages/@aws-cdk/aws-codepipeline-actions/package.json
  packages/@aws-cdk/aws-ec2/lib/instance-types.ts
  packages/@aws-cdk/aws-iam/lib/policy-statement.ts
  packages/@aws-cdk/aws-iam/test/policy-statement.test.ts
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/core/package.json
  packages/@monocdk-experiment/assert/package.json
  packages/@monocdk-experiment/rewrite-imports/package.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/package.json
  packages/cdk-assets/package.json
  packages/monocdk/package.json
  tools/cdk-build-tools/package.json
  tools/eslint-plugin-cdk/package.json
  tools/nodeunit-shim/package.json
  tools/yarn-cling/package.json
  yarn.lock
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash

#12596 chore(core): stack.test.ts is now using jest
  packages/@aws-cdk/core/test/stack.test.ts
Labels: @aws-cdk/core, contribution/core

#12622 chore: compat check does not correctly resolve baseline version in release PRs
  scripts/check-api-compatibility.sh
Labels: contribution/core

#12626 chore: install integ tests dependencies using npm7
  packages/aws-cdk/test/integ/helpers/cdk.ts
  packages/aws-cdk/test/integ/helpers/monorepo.ts
  packages/aws-cdk/test/integ/run-wrappers/repo/npm
Labels: contribution/core

#12627 chore: encode npm disttag in version resolution
  release.json
  scripts/check-api-compatibility.sh
  scripts/resolve-version-lib.js
  scripts/script-tests/resolve-version.test.js
Labels: contribution/core

#12630 chore: npm dist tag "next" for v2 releases
  release.json
Labels: contribution/core

#12625 docs(codepipeline-actions): fix typo in Readme
  packages/@aws-cdk/aws-codepipeline-actions/README.md
Labels: @aws-cdk/aws-codepipeline-actions

#12628 docs(s3-deployment): fix missing brackets in the code example of prune
  packages/@aws-cdk/aws-s3-deployment/README.md
Labels: @aws-cdk/aws-s3-deployment

#12376 feat(s3): Bucket keys
  packages/@aws-cdk/aws-s3/README.md
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/aws-s3/test/bucket.test.ts
Labels: @aws-cdk/aws-s3

#12585 fix(aws-ecs): Invalid user data defined for windows autoscaling groups
  packages/@aws-cdk/aws-ecs/lib/cluster.ts
  packages/@aws-cdk/aws-ecs/test/test.ecs-cluster.ts
Labels: @aws-cdk/aws-ecs

#12505 fix(apigateway): cannot remove first api key from usage plan
  packages/@aws-cdk/aws-apigateway/lib/usage-plan.ts
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.usage-plan.multikey.expected.json
  packages/@aws-cdk/aws-apigateway/test/usage-plan.test.ts
Labels: @aws-cdk/aws-apigateway, contribution/core

#12096 fix(synthetics): default execution role breaks in non aws partitions
  packages/@aws-cdk/aws-synthetics/lib/canary.ts
  packages/@aws-cdk/aws-synthetics/test/integ.canary.expected.json
Labels: @aws-cdk/aws-synthetics

#12074 feat(ec2): Support for new EBS types
  packages/@aws-cdk/aws-autoscaling/lib/volume.ts
  packages/@aws-cdk/aws-ec2/lib/volume.ts
  packages/@aws-cdk/aws-elasticsearch/lib/domain.ts
  packages/@aws-cdk/aws-rds/lib/instance.ts
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme, pr-linter/exempt-test

#12636 chore: forward merge 'master' into 'v2-main'
  packages/@aws-cdk/aws-ec2/README.md
  packages/@aws-cdk/aws-ec2/lib/vpc.ts
  packages/@aws-cdk/aws-ec2/test/vpc.test.ts
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/test/test.cluster.ts
  packages/@aws-cdk/core/lib/cfn-fn.ts
  packages/@aws-cdk/core/test/fn.test.ts
  packages/@aws-cdk/core/test/stack.test.ts
  packages/aws-cdk/test/integ/helpers/cdk.ts
  packages/aws-cdk/test/integ/helpers/monorepo.ts
  packages/aws-cdk/test/integ/run-wrappers/repo/npm
  scripts/check-api-compatibility.sh
  scripts/resolve-version-lib.js
  scripts/script-tests/resolve-version.test.js
Labels: contribution/core, pr/forward-merge, pr/no-squash

#12640 feat(eks): Graduate to stable
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/package.json
Labels: @aws-cdk/aws-eks, contribution/core, pr-linter/exempt-test

#12594 fix(core): modern deployments fail if bootstrap stack is renamed
  packages/@aws-cdk/cloud-assembly-schema/lib/cloud-assembly/artifact-schema.ts
  packages/@aws-cdk/cloud-assembly-schema/schema/cloud-assembly.schema.json
  packages/@aws-cdk/cloud-assembly-schema/schema/cloud-assembly.version.json
  packages/@aws-cdk/core/lib/stack-synthesizers/default-synthesizer.ts
  packages/@aws-cdk/core/lib/stack-synthesizers/stack-synthesizer.ts
  packages/@aws-cdk/core/test/stack-synthesis/new-style-synthesis.test.ts
  packages/@aws-cdk/cx-api/lib/artifacts/asset-manifest-artifact.ts
  packages/@aws-cdk/cx-api/lib/artifacts/cloudformation-artifact.ts
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/lib/api/aws-auth/sdk.ts
  packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml
  packages/aws-cdk/lib/api/bootstrap/deploy-bootstrap.ts
  packages/aws-cdk/lib/api/cloudformation-deployments.ts
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/lib/api/toolkit-info.ts
  packages/aws-cdk/lib/assets.ts
  packages/aws-cdk/lib/settings.ts
  packages/aws-cdk/test/api/bootstrap2.test.ts
  packages/aws-cdk/test/api/cloudformation-deployments.test.ts
  packages/aws-cdk/test/api/deploy-stack.test.ts
  packages/aws-cdk/test/api/toolkit-info.test.ts
  packages/aws-cdk/test/assets.test.ts
  packages/aws-cdk/test/context.test.ts
  packages/aws-cdk/test/integ/cli/bootstrapping.integtest.ts
  packages/aws-cdk/test/util/mock-sdk.ts
  packages/aws-cdk/test/util/mock-toolkitinfo.ts
Labels: @aws-cdk/core, contribution/core

#12639 chore(release): 2.0.0-alpha.1
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#12648 chore(merge-back): 1.86.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash

#12649 chore: temporarily switch back to the old npm disttag
  release.json
Labels: contribution/core

#12642 chore(integtests): make installing NPM7 safe against concurrent calls
  packages/aws-cdk/test/integ/helpers/cdk.ts
  packages/aws-cdk/test/integ/helpers/memoize.ts
Labels: contribution/core

#12545 chore: deprecate app-delivery and EKS-legacy modules
  packages/@aws-cdk/app-delivery/package.json
  packages/@aws-cdk/aws-eks-legacy/package.json
  packages/decdk/package.json
  packages/monocdk/package.json
  tools/ubergen/bin/ubergen.ts
Labels: contribution/core

#12414 fix(s3-deployment): User metadata keys have redundant triple `x-amz` prefix
  packages/@aws-cdk/aws-ecs/test/ec2/integ.environment-file.expected.json
  packages/@aws-cdk/aws-s3-deployment/README.md
  packages/@aws-cdk/aws-s3-deployment/lib/bucket-deployment.ts
  packages/@aws-cdk/aws-s3-deployment/lib/lambda/index.py
  packages/@aws-cdk/aws-s3-deployment/test/bucket-deployment.test.ts
  packages/@aws-cdk/aws-s3-deployment/test/integ.bucket-deployment-cloudfront.expected.json
  packages/@aws-cdk/aws-s3-deployment/test/integ.bucket-deployment.expected.json
  packages/@aws-cdk/aws-s3-deployment/test/lambda/test.py
Labels: @aws-cdk/aws-s3-deployment

#12558 feat(aws-codepipeline-actions): Add Full Clone support for CodeCommit
  packages/@aws-cdk/aws-codepipeline-actions/README.md
  packages/@aws-cdk/aws-codepipeline-actions/lib/codebuild/build-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/codecommit/source-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/codecommit/test.codecommit-source-action.ts
Labels: @aws-cdk/aws-codepipeline-actions

#12658 docs(stepfunctions-tasks): Replace deprecated class name
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
Labels: @aws-cdk/aws-stepfunctions-tasks

#12436 feat(stepfunctions-tasks): EcsRunTask now uses taskDefinition family instead of ARN
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/ecs/run-task.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/ecs/integ.ec2-run-task.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/ecs/integ.fargate-run-task.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/ecs/run-tasks.test.ts
Labels: @aws-cdk/aws-stepfunctions-tasks

#12663 chore: revert "temporarily switch back to the old npm disttag (#12649)"
  release.json
Labels: contribution/core

#12528 fix(apigatewayv2): multiple http integrations are created for each route
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.alb.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.http-proxy.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.lambda-proxy.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.nlb.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.service-discovery.expected.json
  packages/@aws-cdk/aws-apigatewayv2/lib/http/api.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/route.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/route.test.ts
Labels: @aws-cdk/aws-apigatewayv2

#12652 chore: remove unused dependencies on the @aws-cdk/assets module
  packages/@aws-cdk/aws-apigateway/package.json
  packages/@aws-cdk/aws-codebuild/package.json
  packages/@aws-cdk/aws-ec2/package.json
  packages/@aws-cdk/aws-ecs/package.json
  packages/@aws-cdk/aws-stepfunctions-tasks/package.json
Labels: contribution/core

#12645 chore: introduce special logic for unit tests that rely on feature flags
  packages/@aws-cdk/aws-kms/test/key.test.ts
  packages/@aws-cdk/aws-secretsmanager/test/secret.test.ts
  packages/@aws-cdk/core/test/stack.test.ts
  tools/cdk-build-tools/lib/feature-flag.ts
  tools/cdk-build-tools/package.json
Labels: contribution/core

#12379 docs(apigateway): replace AccessLogFormat to the correct AccessLogField in AccessLogFormat.custom reference in README
  packages/@aws-cdk/aws-apigateway/README.md
Labels: @aws-cdk/aws-apigateway

#12665 fix(secretsmanager): fromSecretPartialArn() has incorrect grant policies
  packages/@aws-cdk/aws-secretsmanager/lib/secret.ts
  packages/@aws-cdk/aws-secretsmanager/test/secret.test.ts
Labels: @aws-cdk/aws-secretsmanager, contribution/core

#12688 chore: ability to expire feature flags
  packages/@aws-cdk/core/lib/feature-flags.ts
  packages/@aws-cdk/cx-api/lib/features.ts
Labels: contribution/core

#12679 docs(aws-cloudfront): typo in READMEs
  packages/@aws-cdk/aws-cloudfront-origins/README.md
  packages/@aws-cdk/aws-cloudfront/README.md
Labels: @aws-cdk/aws-cloudfront

#12602 fix(pipelines): can't use CodePipeline variables in Synth environment variables
  packages/@aws-cdk/pipelines/lib/synths/simple-synth-action.ts
  packages/@aws-cdk/pipelines/lib/validation/shell-script-action.ts
  packages/@aws-cdk/pipelines/test/builds.test.ts
  packages/@aws-cdk/pipelines/test/validation.test.ts
Labels: @aws-cdk/pipelines

#12670 chore: deprecate all components and usages of the @aws-cloudformation module
  packages/@aws-cdk/aws-cloudformation/lib/custom-resource.ts
  packages/@aws-cdk/aws-cloudformation/lib/nested-stack.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/cloudformation/pipeline-actions.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/cloudformation/test.cloudformation-pipeline-actions.ts
  packages/@aws-cdk/pipelines/lib/actions/deploy-cdk-stack-action.ts
  packages/@aws-cdk/pipelines/package.json
Labels: contribution/core

#12532 feat(stepfunctions-tasks): support databrew startJobRun task
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/databrew/start-job-run.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/index.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/package.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/databrew/integ.start-job-run.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/databrew/integ.start-job-run.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/databrew/start-job-run.test.ts
Labels: @aws-cdk/aws-stepfunctions-tasks

#12176 docs(route53): Add example of A record for Elastic IP
  packages/@aws-cdk/aws-route53/README.md
Labels: @aws-cdk/aws-route53

#12704 chore(aws-cdk-lib): revert raising the min node version to v14
  .yarnrc
  tools/pkglint/lib/rules.ts
Labels: aws-cdk-lib, contribution/core

#12331 fix(pipelines): unable to publish assets inside VPC
  packages/@aws-cdk/pipelines/lib/pipeline.ts
  packages/@aws-cdk/pipelines/test/builds.test.ts
  packages/@aws-cdk/pipelines/test/pipeline-assets.test.ts
  packages/@aws-cdk/pipelines/test/testutil.ts
Labels: @aws-cdk/pipelines, contribution/core

#12573 fix(pipelines): assets broken in Pipelines synthesized from Windows
  packages/@aws-cdk/pipelines/lib/actions/publish-assets-action.ts
Labels: @aws-cdk/pipelines, contribution/core, pr-linter/exempt-test

#12706 chore: upgrade github-api to mitigate axios security alert
  tools/prlint/package.json
  yarn.lock
Labels: contribution/core

#12711 chore(cdk-build-tools): temporarily disable feature flag test
  tools/cdk-build-tools/lib/feature-flag.ts
Labels: contribution/core

#12531 feat(aws-codebuild): add `enableBatchBuilds()` to Project
  packages/@aws-cdk/aws-codebuild/README.md
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codebuild/lib/source.ts
  packages/@aws-cdk/aws-codebuild/test/integ.github-webhook-batch.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.github-webhook-batch.ts
  packages/@aws-cdk/aws-codebuild/test/test.codebuild.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/codebuild/build-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-build-batch.expected.json
Labels: @aws-cdk/aws-codebuild

#12203 feat(batch): Compute Resources placement group
  packages/@aws-cdk/aws-batch/lib/compute-environment.ts
  packages/@aws-cdk/aws-batch/test/compute-environment.test.ts
Labels: @aws-cdk/aws-batch, pr-linter/exempt-readme

#12722 chore(release): 2.0.0-alpha.2
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#12702 fix(cloudfront): use node addr for edgeStackId name
  packages/@aws-cdk/aws-cloudfront/lib/experimental/edge-function.ts
  packages/@aws-cdk/aws-cloudfront/test/experimental/edge-function.test.ts
Labels: @aws-cdk/aws-cloudfront

#12712 fix(lambda): codeguru profiler not set up for Node runtime
  packages/@aws-cdk/aws-lambda/README.md
  packages/@aws-cdk/aws-lambda/lib/function.ts
  packages/@aws-cdk/aws-lambda/lib/runtime.ts
  packages/@aws-cdk/aws-lambda/test/function.test.ts
Labels: @aws-cdk/aws-lambda, contribution/core

#12709 chore(s3): bucket.test.ts is using jest
  packages/@aws-cdk/aws-s3/test/bucket.test.ts
Labels: @aws-cdk/aws-s3, contribution/core

#12710 feat(elbv2): support for 2020 SSL policy
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/shared/enums.ts
Labels: @aws-cdk/aws-elasticloadbalancingv2, contribution/core, pr-linter/exempt-readme, pr-linter/exempt-test

#12730 chore(merge-back): 1.87.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash

#12680 feat(aws-route53): cross account DNS delegations
  packages/@aws-cdk/aws-route53/.gitignore
  packages/@aws-cdk/aws-route53/.npmignore
  packages/@aws-cdk/aws-route53/README.md
  packages/@aws-cdk/aws-route53/jest.config.js
  packages/@aws-cdk/aws-route53/lib/cross-account-zone-delegation-handler/index.ts
  packages/@aws-cdk/aws-route53/lib/hosted-zone.ts
  packages/@aws-cdk/aws-route53/lib/record-set.ts
  packages/@aws-cdk/aws-route53/package.json
  packages/@aws-cdk/aws-route53/test/cross-account-zone-delegation-handler/index.test.ts
  packages/@aws-cdk/aws-route53/test/hosted-zone-provider.test.ts
  packages/@aws-cdk/aws-route53/test/hosted-zone.test.ts
  packages/@aws-cdk/aws-route53/test/integ.cross-account-zone-delegation.expected.json
  packages/@aws-cdk/aws-route53/test/integ.cross-account-zone-delegation.ts
  packages/@aws-cdk/aws-route53/test/record-set.test.ts
  packages/@aws-cdk/aws-route53/test/route53.test.ts
  packages/@aws-cdk/aws-route53/test/test.hosted-zone.ts
  packages/@aws-cdk/aws-route53/test/util.test.ts
  packages/@aws-cdk/aws-route53/test/vpc-endpoint-service-domain-name.test.ts
Labels: @aws-cdk/aws-route53

#12726 chore: forward merge 'master' into 'v2-main'
  packages/@aws-cdk/aws-batch/lib/compute-environment.ts
  packages/@aws-cdk/aws-batch/test/compute-environment.test.ts
  packages/@aws-cdk/aws-codebuild/README.md
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codebuild/lib/source.ts
  packages/@aws-cdk/aws-codebuild/test/integ.github-webhook-batch.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.github-webhook-batch.ts
  packages/@aws-cdk/aws-codebuild/test/test.codebuild.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/codebuild/build-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-build-batch.expected.json
Labels: contribution/core, pr/forward-merge, pr/no-squash

#12724 fix(iam): cannot use the same Role for multiple Config Rules
  packages/@aws-cdk/aws-iam/lib/role.ts
  packages/@aws-cdk/aws-iam/lib/util.ts
  packages/@aws-cdk/aws-iam/test/role.test.ts
Labels: @aws-cdk/aws-iam, contribution/core

#12746 chore(release): 1.87.1
  CHANGELOG.md
  packages/@aws-cdk/aws-apigateway/lib/usage-plan.ts
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.usage-plan.multikey.expected.json
  packages/@aws-cdk/aws-apigateway/test/usage-plan.test.ts
  version.v1.json
Labels: contribution/core, pr/no-squash

#11978 feat(appmesh): change VirtualService provider to a union-like class
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/appmesh.ts
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/mesh.ts
  packages/@aws-cdk/aws-appmesh/lib/virtual-service.ts
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.expected.json
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.ts
  packages/@aws-cdk/aws-appmesh/test/test.gateway-route.ts
  packages/@aws-cdk/aws-appmesh/test/test.mesh.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-gateway.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-node.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-router.ts
  packages/@aws-cdk/aws-appmesh/test/test.virtual-service.ts
Labels: @aws-cdk/aws-appmesh

#12745 fix(apigateway): stack update fails to replace api key
  packages/@aws-cdk/aws-apigateway/lib/usage-plan.ts
  packages/@aws-cdk/aws-apigateway/test/integ.restapi.expected.json
  packages/@aws-cdk/aws-apigateway/test/integ.usage-plan.multikey.expected.json
  packages/@aws-cdk/aws-apigateway/test/usage-plan.test.ts
Labels: @aws-cdk/aws-apigateway, contribution/core

#12736 fix(codedeploy): wrong syntax on Windows 'installAgent' flag
  packages/@aws-cdk/aws-codedeploy/lib/server/deployment-group.ts
  packages/@aws-cdk/aws-codedeploy/test/server/test.deployment-group.ts
Labels: @aws-cdk/aws-codedeploy, pr-linter/exempt-test

#12761 fix(codepipeline): permission denied for Action-level environment variables
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/codebuild/build-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-commit-build.expected.json
Labels: @aws-cdk/aws-codepipeline, contribution/core

#12753 chore: fix changelog heading so Github publisher will recognize it
  CHANGELOG.md
Labels: contribution/core

#12752 chore(cloudfront): use standard file naming convention for OAI and Web Distribution
  packages/@aws-cdk/aws-cloudfront/lib/index.ts
  packages/@aws-cdk/aws-cloudfront/lib/origin-access-identity.ts
  packages/@aws-cdk/aws-cloudfront/lib/web-distribution.ts
  packages/@aws-cdk/aws-cloudfront/test/web-distribution.test.ts
Labels: @aws-cdk/aws-cloudfront

#12774 chore(merge-back): 1.87.1
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash

#12676 feat(ecs-patterns): Add PlatformVersion option to ScheduledFargateTask props
  packages/@aws-cdk/aws-ecs-patterns/README.md
  packages/@aws-cdk/aws-ecs-patterns/lib/base/scheduled-task-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/scheduled-fargate-task.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.scheduled-fargate-task.ts
Labels: @aws-cdk/aws-ecs-patterns

#12700 chore: add new interfaces for Assets
  packages/@aws-cdk/assets/lib/fs/options.ts
  packages/@aws-cdk/aws-ecr-assets/lib/image-asset.ts
  packages/@aws-cdk/aws-s3-assets/lib/asset.ts
  packages/@aws-cdk/core/lib/fs/options.ts
Labels: contribution/core

#12775 feat(ecr): Public Gallery authorization token
  packages/@aws-cdk/aws-ecr/README.md
  packages/@aws-cdk/aws-ecr/lib/auth-token.ts
  packages/@aws-cdk/aws-ecr/test/test.auth-token.ts
Labels: @aws-cdk/aws-ecr, contribution/core

#12758 fix(cfn-include): AWS::CloudFormation resources fail in monocdk
  packages/aws-cdk/test/integ/uberpackage/cfn-include-app/example-template.json
  tools/ubergen/bin/ubergen.ts
Labels: @aws-cdk/cloudformation-include, contribution/core

#12097 fix(efs): EFS fails to create when using a VPC with multiple subnets per availability zone
  packages/@aws-cdk/aws-efs/lib/efs-file-system.ts
  packages/@aws-cdk/aws-efs/test/efs-file-system.test.ts
Labels: @aws-cdk/aws-efs
