Repository aws/aws-cdk, pull requests merged in 2021-02, with the labels that each got.

#12598 docs(lambda): Example to guarantee new version creation
  packages/@aws-cdk/aws-lambda/README.md
Labels: @aws-cdk/aws-lambda

#12777 feat(iam): Permissions Boundaries
  packages/@aws-cdk/assert/lib/assertions/have-resource.ts
  packages/@aws-cdk/aws-codebuild/lib/index.ts
  packages/@aws-cdk/aws-codebuild/lib/untrusted-code-boundary-policy.ts
  packages/@aws-cdk/aws-codebuild/test/test.untrusted-code-boundary.ts
  packages/@aws-cdk/aws-ecs/test/ec2/test.ec2-task-definition.ts
  packages/@aws-cdk/aws-ecs/test/test.aws-log-driver.ts
  packages/@aws-cdk/aws-iam/README.md
  packages/@aws-cdk/aws-iam/lib/index.ts
  packages/@aws-cdk/aws-iam/lib/permissions-boundary.ts
  packages/@aws-cdk/aws-iam/test/permissions-boundary.test.ts
Labels: @aws-cdk/aws-iam, contribution/core

#12778 feat(core): `stack.exportValue()` can be used to solve "deadly embrace"
  packages/@aws-cdk/core/README.md
  packages/@aws-cdk/core/lib/private/refs.ts
  packages/@aws-cdk/core/lib/stack.ts
  packages/@aws-cdk/core/lib/token.ts
  packages/@aws-cdk/core/test/stack.test.ts
Labels: @aws-cdk/core, contribution/core

#12713 docs(lambda): recommend NODEJS_12_X instead of NODEJS_10_X
  packages/@aws-cdk/aws-lambda/lib/runtime.ts
Labels: @aws-cdk/aws-lambda

#12771 fix(cli, codepipeline): renamed bootstrap stack still not supported
  packages/@aws-cdk/aws-codepipeline/test/cross-env.test.ts
  packages/@aws-cdk/core/lib/stack-synthesizers/bootstrapless-synthesizer.ts
  packages/aws-cdk/lib/api/cloudformation-deployments.ts
  packages/aws-cdk/lib/api/cxapp/exec.ts
  packages/aws-cdk/test/api/cloudformation-deployments.test.ts
  packages/aws-cdk/test/integ/cli/bootstrapping.integtest.ts
Labels: contribution/core

#12805 docs(route53): route53 fromHostedZoneId doc error
  packages/@aws-cdk/aws-route53/README.md
Labels: @aws-cdk/aws-route53

#12809 chore(eslint-plugin-cdk): tests for rule no-qualified-construct
  tools/eslint-plugin-cdk/test/rules/eslintrc.js
  tools/eslint-plugin-cdk/test/rules/fixtures.test.ts
  tools/eslint-plugin-cdk/test/rules/fixtures/no-qualified-construct/qualified-heritage.expected.ts
  tools/eslint-plugin-cdk/test/rules/fixtures/no-qualified-construct/qualified-heritage.ts
  tools/eslint-plugin-cdk/test/rules/fixtures/no-qualified-construct/qualified-usage.expected.ts
  tools/eslint-plugin-cdk/test/rules/fixtures/no-qualified-construct/qualified-usage.ts
  tools/eslint-plugin-cdk/test/rules/no-core-construct.test.ts
Labels: contribution/core

#12824 chore(stepfunctions): Fix examples
  packages/@aws-cdk/aws-stepfunctions/README.md
Labels: @aws-cdk/aws-stepfunctions

#12826 chore(s3): Remove unused KMS key in example
  packages/@aws-cdk/aws-s3/README.md
Labels: @aws-cdk/aws-s3

#12832 revert: revert "chore: add new interfaces for Assets (#12700)"
  packages/@aws-cdk/assets/lib/fs/options.ts
  packages/@aws-cdk/aws-ecr-assets/lib/image-asset.ts
  packages/@aws-cdk/aws-s3-assets/lib/asset.ts
  packages/@aws-cdk/core/lib/fs/options.ts
Labels: contribution/core

#12840 chore(release): 2.0.0-alpha.3
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#12743 feat(cloudfront): add PublicKey and KeyGroup L2 constructs
  packages/@aws-cdk/aws-cloudfront/README.md
  packages/@aws-cdk/aws-cloudfront/lib/index.ts
  packages/@aws-cdk/aws-cloudfront/lib/key-group.ts
  packages/@aws-cdk/aws-cloudfront/lib/public-key.ts
  packages/@aws-cdk/aws-cloudfront/package.json
  packages/@aws-cdk/aws-cloudfront/test/integ.cloudfront-key-group.expected.json
  packages/@aws-cdk/aws-cloudfront/test/integ.cloudfront-key-group.ts
  packages/@aws-cdk/aws-cloudfront/test/key-group.test.ts
  packages/@aws-cdk/aws-cloudfront/test/public-key.test.ts
Labels: @aws-cdk/aws-cloudfront

#12785 feat(apigateway): import an existing Resource
  packages/@aws-cdk/aws-apigateway/lib/resource.ts
  packages/@aws-cdk/aws-apigateway/test/resource.test.ts
Labels: @aws-cdk/aws-apigateway, pr-linter/exempt-readme

#12788 feat(lambda): inline code for Python 3.8
  packages/@aws-cdk/aws-lambda/lib/runtime.ts
  packages/@aws-cdk/aws-lambda/test/integ.runtime.inlinecode.expected.json
  packages/@aws-cdk/aws-lambda/test/integ.runtime.inlinecode.ts
Labels: @aws-cdk/aws-lambda, pr-linter/exempt-readme, pr-linter/exempt-test

#12786 feat(apigateway): cognito user pool authorizer
  packages/@aws-cdk/aws-apigateway/README.md
  packages/@aws-cdk/aws-apigateway/lib/authorizers/cognito.ts
  packages/@aws-cdk/aws-apigateway/lib/authorizers/index.ts
  packages/@aws-cdk/aws-apigateway/package.json
  packages/@aws-cdk/aws-apigateway/test/authorizers/cognito.test.ts
  packages/@aws-cdk/aws-apigateway/test/authorizers/integ.cognito-authorizer.expected.json
  packages/@aws-cdk/aws-apigateway/test/authorizers/integ.cognito-authorizer.ts
Labels: @aws-cdk/aws-apigateway

#12860 chore(merge-back): 1.88.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash

#12792 feat(lambda): layer version removal policy
  packages/@aws-cdk/aws-lambda/README.md
  packages/@aws-cdk/aws-lambda/lib/layers.ts
  packages/@aws-cdk/aws-lambda/test/layers.test.ts
Labels: @aws-cdk/aws-lambda

#12813 fix(core): incorrect GetParameter permissions in nonstandard partitions
  packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml
Labels: @aws-cdk/core, pr-linter/exempt-test

#12738 chore(core): minor typo in Names.ts in core
  packages/@aws-cdk/core/lib/names.ts
Labels: @aws-cdk/core

#12863 chore: update error message with the correct property name
  packages/@aws-cdk/aws-lambda/lib/function-base.ts
Labels: contribution/core

#12765 fix(core): append file extension to s3 asset key in new style synthesizer
  packages/@aws-cdk/core/lib/stack-synthesizers/default-synthesizer.ts
  packages/@aws-cdk/core/test/stack-synthesis/new-style-synthesis.test.ts
Labels: @aws-cdk/core

#12861 feat(lambda): nodejs14.x runtime
  packages/@aws-cdk/aws-lambda/lib/runtime.ts
Labels: @aws-cdk/aws-lambda, pr-linter/exempt-readme, pr-linter/exempt-test

#12847 feat(cloudfront): add support for TrustedKeyGroups in Distribution and CloudFrontWebDistribution
  packages/@aws-cdk/aws-cloudfront/README.md
  packages/@aws-cdk/aws-cloudfront/lib/distribution.ts
  packages/@aws-cdk/aws-cloudfront/lib/private/cache-behavior.ts
  packages/@aws-cdk/aws-cloudfront/lib/web-distribution.ts
  packages/@aws-cdk/aws-cloudfront/test/integ.distribution-key-group.expected.json
  packages/@aws-cdk/aws-cloudfront/test/integ.distribution-key-group.ts
  packages/@aws-cdk/aws-cloudfront/test/private/cache-behavior.test.ts
  packages/@aws-cdk/aws-cloudfront/test/web-distribution.test.ts
Labels: @aws-cdk/aws-cloudfront

#12867 chore(eslint-plugin-cdk): clean up around tests
  tools/eslint-plugin-cdk/lib/rules/construct-import-order.ts
  tools/eslint-plugin-cdk/test/rules/fixtures.test.ts
Labels: contribution/core

#12880 chore(core): fix bug introduced in recent PR
  packages/@aws-cdk/core/lib/stack-synthesizers/default-synthesizer.ts
  packages/@aws-cdk/core/test/stack-synthesis/new-style-synthesis.test.ts
Labels: @aws-cdk/core, contribution/core

#12385 feat(ec2): can define Launch Templates (not use them yet)
  packages/@aws-cdk/aws-ec2/README.md
  packages/@aws-cdk/aws-ec2/lib/index.ts
  packages/@aws-cdk/aws-ec2/lib/instance.ts
  packages/@aws-cdk/aws-ec2/lib/launch-template.ts
  packages/@aws-cdk/aws-ec2/lib/private/ebs-util.ts
  packages/@aws-cdk/aws-ec2/lib/volume.ts
  packages/@aws-cdk/aws-ec2/test/launch-template.test.ts
Labels: @aws-cdk/aws-ec2

#12910 chore(deps): Yarn upgrade workflow is failing
  .github/workflows/yarn-upgrade.yml
Labels: contribution/core

#12889 chore: run pkglint via Github actions for v2 pull requests
  .github/workflows/auto-approve-v2-merge-forward.yml
  .github/workflows/v2-pull-request.yml
Labels: contribution/core

#12919 chore: fix github actions name and dependencies
  .github/workflows/v2-pull-request.yml
Labels: contribution/core

#12934 fix(lambda-python): cryptography >= 3.4 is not supported by older pip version
  packages/@aws-cdk/aws-lambda-python/lib/Dockerfile.dependencies
  packages/@aws-cdk/aws-lambda-python/test/integ.function.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.poetry.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.project.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.py38.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.requirements.removed.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.vpc.expected.json
Labels: @aws-cdk/aws-lambda-python, contribution/core, pr-linter/exempt-test

#12923 fix(ec2): VpnConnection fails if `ip` is a Token
  packages/@aws-cdk/aws-ec2/lib/vpn.ts
  packages/@aws-cdk/aws-ec2/test/vpn.test.ts
Labels: @aws-cdk/aws-ec2

#12878 fix(ec2): Subnet cidr missing for Vpc.from_lookup()
  packages/@aws-cdk/aws-ec2/lib/vpc.ts
  packages/@aws-cdk/aws-ec2/test/vpc.from-lookup.test.ts
Labels: @aws-cdk/aws-ec2

#12925 fix(kms): cross-environment usage fails when trustAccountIdentities is set
  packages/@aws-cdk/aws-kms/lib/key.ts
  packages/@aws-cdk/aws-kms/test/key.test.ts
Labels: @aws-cdk/aws-kms, contribution/core

#12660 feat(core): configure bundling docker entrypoint
  packages/@aws-cdk/aws-s3-assets/README.md
  packages/@aws-cdk/core/lib/bundling.ts
  packages/@aws-cdk/core/test/bundling.test.ts
Labels: @aws-cdk/core

#12546 fix(ec2): MachineImage.genericLinux/Windows don't work in environment-agnostic stacks
  packages/@aws-cdk/aws-ec2/README.md
  packages/@aws-cdk/aws-ec2/lib/machine-image.ts
  packages/@aws-cdk/aws-ec2/test/machine-image.test.ts
Labels: @aws-cdk/aws-ec2

#12821 fix(ec2): volume props validations are incorrect
  packages/@aws-cdk/aws-ec2/lib/volume.ts
  packages/@aws-cdk/aws-ec2/test/volume.test.ts
Labels: @aws-cdk/aws-ec2

#12924 chore(codepipeline): migrate pipeline.test.ts to use jest
  packages/@aws-cdk/aws-codepipeline/test/pipeline.test.ts
Labels: @aws-cdk/aws-codepipeline, contribution/core

#12336 fix(tools): doc block links not clickable in VS Code
  tools/cfn2ts/lib/codegen.ts
Labels: package/tools, pr-linter/exempt-test

#12683 feat(cli): change set name is now a constant, and --no-execute will always produce one (even if empty)
  packages/aws-cdk/README.md
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/test/api/bootstrap.test.ts
  packages/aws-cdk/test/api/deploy-stack.test.ts
Labels: package/tools

#12784 feat(redshift): add missing current generation RA3 NodeTypes
  packages/@aws-cdk/aws-redshift/lib/cluster.ts
Labels: @aws-cdk/aws-redshift, pr-linter/exempt-readme, pr-linter/exempt-test

#12944 chore(merge-back): 1.89.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash

#12737 docs(s3): explicitly call out the Bucket.grantWrite() change in the docs
  CHANGELOG.md
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/cx-api/lib/features.ts
Labels: @aws-cdk/aws-s3, contribution/core

#12888 chore(rds): add AuroraPostgresEngineVersion 12.4
  packages/@aws-cdk/aws-rds/lib/cluster-engine.ts
Labels: @aws-cdk/aws-rds

#12959 chore(release): 2.0.0-alpha.4
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#12942 chore(ec2): migrate volume.test.ts to use jest
  packages/@aws-cdk/aws-ec2/test/volume.test.ts
Labels: @aws-cdk/aws-ec2, contribution/core

#12961 chore: forward merge 'master' into 'v2-main'
  .github/workflows/auto-approve-v2-merge-forward.yml
  .github/workflows/v2-pull-request.yml
  CHANGELOG.md
  packages/@aws-cdk/aws-codepipeline/test/pipeline.test.ts
  packages/@aws-cdk/aws-ec2/README.md
  packages/@aws-cdk/aws-ec2/lib/machine-image.ts
  packages/@aws-cdk/aws-ec2/lib/volume.ts
  packages/@aws-cdk/aws-ec2/lib/vpc.ts
  packages/@aws-cdk/aws-ec2/lib/vpn.ts
  packages/@aws-cdk/aws-ec2/test/machine-image.test.ts
  packages/@aws-cdk/aws-ec2/test/volume.test.ts
  packages/@aws-cdk/aws-ec2/test/vpc.from-lookup.test.ts
  packages/@aws-cdk/aws-ec2/test/vpn.test.ts
  packages/@aws-cdk/aws-kinesisanalytics-flink/.eslintrc.js
  packages/@aws-cdk/aws-kinesisanalytics-flink/.gitignore
  packages/@aws-cdk/aws-kinesisanalytics-flink/.npmignore
  packages/@aws-cdk/aws-kinesisanalytics-flink/LICENSE
  packages/@aws-cdk/aws-kinesisanalytics-flink/NOTICE
  packages/@aws-cdk/aws-kinesisanalytics-flink/README.md
  packages/@aws-cdk/aws-kinesisanalytics-flink/jest.config.js
  packages/@aws-cdk/aws-kinesisanalytics-flink/lib/application-code.ts
  packages/@aws-cdk/aws-kinesisanalytics-flink/lib/application.ts
  packages/@aws-cdk/aws-kinesisanalytics-flink/lib/index.ts
  packages/@aws-cdk/aws-kinesisanalytics-flink/lib/private/environment-properties.ts
  packages/@aws-cdk/aws-kinesisanalytics-flink/lib/private/flink-application-configuration.ts
  packages/@aws-cdk/aws-kinesisanalytics-flink/lib/private/validation.ts
  packages/@aws-cdk/aws-kinesisanalytics-flink/lib/types.ts
  packages/@aws-cdk/aws-kinesisanalytics-flink/package.json
  packages/@aws-cdk/aws-kinesisanalytics-flink/test/application.test.ts
  packages/@aws-cdk/aws-kinesisanalytics-flink/test/code-asset/WordCount.jar
  packages/@aws-cdk/aws-kinesisanalytics-flink/test/integ.application-code-from-bucket.lit.expected.json
  packages/@aws-cdk/aws-kinesisanalytics-flink/test/integ.application-code-from-bucket.lit.ts
  packages/@aws-cdk/aws-kinesisanalytics-flink/test/integ.application.lit.expected.json
  packages/@aws-cdk/aws-kinesisanalytics-flink/test/integ.application.lit.ts
  packages/@aws-cdk/aws-kinesisanalytics/README.md
  packages/@aws-cdk/aws-kms/lib/key.ts
  packages/@aws-cdk/aws-kms/test/key.test.ts
  packages/@aws-cdk/aws-rds/lib/cluster-engine.ts
  packages/@aws-cdk/aws-redshift/lib/cluster.ts
  packages/@aws-cdk/aws-s3-assets/README.md
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/core/lib/bundling.ts
  packages/@aws-cdk/core/test/bundling.test.ts
  packages/@aws-cdk/cx-api/lib/features.ts
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/README.md
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/test/api/bootstrap.test.ts
  packages/aws-cdk/test/api/deploy-stack.test.ts
  packages/decdk/package.json
  packages/monocdk/package.json
  tools/cfn2ts/lib/codegen.ts
  version.v1.json
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash

#12922 chore: prepare tests to expire feature flag 'kms:defaultKeyPolicies'
  packages/@aws-cdk/aws-glue/test/table.test.ts
  packages/@aws-cdk/aws-kinesis/test/stream.test.ts
  packages/@aws-cdk/aws-s3/test/bucket.test.ts
Labels: @aws-cdk/aws-glue, @aws-cdk/aws-kinesis, @aws-cdk/aws-s3, contribution/core

#12941 chore: start token identifiers at a random number
  packages/@aws-cdk/aws-apigatewayv2-authorizers/test/http/integ.user-pool.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.alb.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.http-proxy.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.lambda-proxy.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.nlb.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.service-discovery.expected.json
  packages/@aws-cdk/aws-apigatewayv2/lib/http/api.ts
  packages/@aws-cdk/aws-batch/test/job-definition.test.ts
  packages/@aws-cdk/aws-certificatemanager/test/util.test.ts
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
  packages/@aws-cdk/aws-ec2/test/userdata.test.ts
  packages/@aws-cdk/core/lib/private/token-map.ts
Labels: contribution/core

#12911 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/app-delivery/package.json
  packages/@aws-cdk/assert/package.json
  packages/@aws-cdk/assets/package.json
  packages/@aws-cdk/aws-applicationautoscaling/package.json
  packages/@aws-cdk/aws-autoscaling-common/package.json
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-cloudformation/package.json
  packages/@aws-cdk/aws-dynamodb-global/lambda-packages/aws-global-table-coordinator/package.json
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-iam/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/aws-route53/package.json
  packages/@aws-cdk/aws-s3-deployment/package.json
  packages/@aws-cdk/aws-sam/package.json
  packages/@aws-cdk/cdk-assets-schema/package.json
  packages/@aws-cdk/cloud-assembly-schema/NOTICE
  packages/@aws-cdk/cloud-assembly-schema/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/cloudformation-include/package.json
  packages/@aws-cdk/core/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/@aws-cdk/cx-api/NOTICE
  packages/@aws-cdk/cx-api/package.json
  packages/@aws-cdk/yaml-cfn/package.json
  packages/@monocdk-experiment/assert/package.json
  packages/@monocdk-experiment/rewrite-imports/package.json
  packages/aws-cdk-lib/NOTICE
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/package.json
  packages/aws-cdk/test/integ/github-helpers.ts
  packages/awslint/package.json
  packages/cdk-assets/package.json
  packages/cdk-dasm/package.json
  packages/decdk/package.json
  packages/monocdk/NOTICE
  packages/monocdk/package.json
  tools/cdk-build-tools/package.json
  tools/cdk-integ-tools/bin/cdk-integ.ts
  tools/cdk-integ-tools/package.json
  tools/cfn2ts/package.json
  tools/eslint-plugin-cdk/package.json
  tools/nodeunit-shim/package.json
  tools/pkglint/bin/pkglint.ts
  tools/pkglint/package.json
  tools/pkgtools/package.json
  tools/yarn-cling/package.json
  yarn.lock
Labels: contribution/core, dependencies, oncall

#12857 chore(s3): fix typo in comment in notifications resource handler
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.s3.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/integ.notifications.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/lambda/integ.bucket-notifications.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/sns/integ.sns-bucket-notifications.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/sqs/integ.bucket-notifications.expected.json
  packages/@aws-cdk/aws-s3/lib/notifications-resource/notifications-resource-handler.ts
Labels: @aws-cdk/aws-s3

#12969 docs(cognito): Correct incorrect attribute names in the docs
  packages/@aws-cdk/aws-cognito/lib/user-pool-idps/base.ts
Labels: @aws-cdk/aws-cognito

#12904 feat(elasticsearch): add custom endpoint options
  packages/@aws-cdk/aws-elasticsearch/README.md
  packages/@aws-cdk/aws-elasticsearch/lib/domain.ts
  packages/@aws-cdk/aws-elasticsearch/package.json
  packages/@aws-cdk/aws-elasticsearch/test/domain.test.ts
Labels: @aws-cdk/aws-elasticsearch

#12830 feat(stepfunctions): Implement IGrantable
  packages/@aws-cdk/aws-stepfunctions/README.md
  packages/@aws-cdk/aws-stepfunctions/lib/state-machine.ts
  packages/@aws-cdk/aws-stepfunctions/package.json
  packages/@aws-cdk/aws-stepfunctions/test/state-machine.test.ts
Labels: @aws-cdk/aws-stepfunctions

#12966 chore: prepare tests to expire feature flag 'kms:defaultKeyPolicies'
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
  packages/@aws-cdk/aws-ec2/test/volume.test.ts
  packages/@aws-cdk/aws-s3-notifications/test/queue.test.ts
  packages/@aws-cdk/aws-ses-actions/test/actions.test.ts
Labels: contribution/core

#12902 docs(aws-cloudfront): Correct logging prop names in CloudFront docs
  packages/@aws-cdk/aws-cloudfront/README.md
Labels: @aws-cdk/aws-cloudfront

#12782 fix(codedeploy): allow the install agent script's commands to exit with errors
  packages/@aws-cdk/aws-codedeploy/lib/server/deployment-group.ts
  packages/@aws-cdk/aws-codedeploy/test/server/integ.deployment-group.expected.json
  packages/@aws-cdk/aws-codedeploy/test/server/test.deployment-group.ts
Labels: @aws-cdk/aws-codedeploy, contribution/core

#12995 chore: upgrade graceful-fs to v4.2.6
  package.json
  packages/@aws-cdk/core/.vscode/tasks.json
  yarn.lock
Labels: contribution/core

#12997 chore: forward merge 'master' into 'v2-main'
  package.json
  packages/@aws-cdk/assert/package.json
  packages/@aws-cdk/aws-cloudfront-origins/package.json
  packages/@aws-cdk/aws-cloudfront/package.json
  packages/@aws-cdk/aws-cloudtrail/package.json
  packages/@aws-cdk/aws-codebuild/package.json
  packages/@aws-cdk/aws-codecommit/package.json
  packages/@aws-cdk/aws-codedeploy/lib/server/deployment-group.ts
  packages/@aws-cdk/aws-codedeploy/test/server/integ.deployment-group.expected.json
  packages/@aws-cdk/aws-codedeploy/test/server/test.deployment-group.ts
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-events-targets/package.json
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/aws-route53/package.json
  packages/@aws-cdk/aws-sam/package.json
  packages/@aws-cdk/aws-sqs/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/cloudformation-include/package.json
  packages/@aws-cdk/core/.vscode/tasks.json
  packages/@aws-cdk/custom-resources/package.json
  packages/@monocdk-experiment/assert/package.json
  packages/aws-cdk/package.json
  packages/cdk-assets/package.json
  tools/cdk-build-tools/package.json
  yarn.lock
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash

#12954 fix(cfn2ts): correctly choose between string and object without required properties in a union
  packages/@aws-cdk/aws-sam/test/application.test.ts
  packages/@aws-cdk/aws-sam/test/function.test.ts
  tools/cfn2ts/lib/codegen.ts
Labels: contribution/core

#12998 chore(rds): add PG12.5 and deprecate PG9.5 and PG9.6
  packages/@aws-cdk/aws-rds/lib/instance-engine.ts
  packages/@aws-cdk/aws-rds/test/test.instance.ts
Labels: @aws-cdk/aws-rds

#13006 chore: forward merge 'master' into 'v2-main'
  packages/@aws-cdk/aws-rds/lib/instance-engine.ts
  packages/@aws-cdk/aws-rds/test/test.instance.ts
  packages/@aws-cdk/aws-sam/test/application.test.ts
  packages/@aws-cdk/aws-sam/test/function.test.ts
  tools/cfn2ts/lib/codegen.ts
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash

#13012 chore(core): export jsii runtime information in Tree Metadata
  packages/@aws-cdk/core/lib/private/tree-metadata.ts
  packages/@aws-cdk/core/test/private/tree-metadata.test.ts
  packages/@aws-cdk/core/test/synthesis.test.ts
Labels: @aws-cdk/core, contribution/core

#13018 fix(codepipeline-actions): use BatchGetBuildBatches permission for batch builds
  packages/@aws-cdk/aws-codepipeline-actions/lib/codebuild/build-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-build-batch.expected.json
Labels: @aws-cdk/aws-codepipeline-actions

#13022 fix(cfn-diff): correctly handle version strings like '0.0.0'
  packages/@aws-cdk/cloudformation-diff/lib/diff/util.ts
  packages/@aws-cdk/cloudformation-diff/test/diff-template.test.ts
Labels: contribution/core

#13036 chore(lambda): invalid python sample code generated
  packages/@aws-cdk/aws-lambda/test/integ.autoscaling.lit.expected.json
  packages/@aws-cdk/aws-lambda/test/integ.autoscaling.lit.ts
Labels: @aws-cdk/aws-lambda, contribution/core

#13034 chore: forward merge 'master' into 'v2-main'
  packages/@aws-cdk/aws-codepipeline-actions/lib/codebuild/build-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-build-batch.expected.json
  packages/@aws-cdk/cloudformation-diff/lib/diff/util.ts
  packages/@aws-cdk/cloudformation-diff/test/diff-template.test.ts
  packages/@aws-cdk/core/lib/private/tree-metadata.ts
  packages/@aws-cdk/core/test/private/tree-metadata.test.ts
  packages/@aws-cdk/core/test/synthesis.test.ts
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash

#13038 chore(lambda): invalid python sample code generated
  packages/@aws-cdk/aws-lambda/README.md
Labels: @aws-cdk/aws-lambda, contribution/core

#13019 chore: fix CHANGELOG generation for v2 branch
  CHANGELOG.v2.md
  scripts/bump.js
Labels: contribution/core

#13046 chore(apigatewayv2): remove cognito dependency
  packages/@aws-cdk/aws-apigatewayv2/package.json
Labels: @aws-cdk/aws-apigatewayv2, contribution/core

#13049 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/app-delivery/package.json
  packages/@aws-cdk/aws-applicationautoscaling/package.json
  packages/@aws-cdk/aws-autoscaling-common/package.json
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-cloudformation/package.json
  packages/@aws-cdk/aws-dynamodb-global/lambda-packages/aws-global-table-coordinator/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/core/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/@monocdk-experiment/rewrite-imports/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-assets/package.json
  packages/cdk-dasm/package.json
  packages/decdk/package.json
  tools/cdk-build-tools/package.json
  tools/cfn2ts/package.json
  tools/eslint-plugin-cdk/package.json
  tools/nodeunit-shim/package.json
  tools/pkglint/package.json
  tools/ubergen/package.json
  tools/yarn-cling/package.json
  yarn.lock
Labels: contribution/core, dependencies

#12862 docs(route53): Fix new Cross Account DNS Record Delegation documentation
  packages/@aws-cdk/aws-route53/README.md
  packages/@aws-cdk/aws-route53/test/hosted-zone.test.ts
Labels: @aws-cdk/aws-route53

#12644 feat: future flags 'core:enableStackNameDuplicates', 'aws-secretsmanager:parseOwnedSecretName' and 'aws-kms:defaultKeyPolicies' are no longer supported
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.cfn-template-from-repo.lit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.lambda-deployed-through-codepipeline.lit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.lambda-pipeline.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-alexa-deploy.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-cfn.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-commit-build.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-commit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-events.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-stepfunctions.expected.json
  packages/@aws-cdk/aws-docdb/test/integ.cluster.expected.json
  packages/@aws-cdk/aws-dynamodb/test/integ.dynamodb.sse.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.custom-kms-key.expected.json
  packages/@aws-cdk/aws-events-targets/test/codepipeline/integ.pipeline-event-target.expected.json
  packages/@aws-cdk/aws-glue/test/integ.table.expected.json
  packages/@aws-cdk/aws-kms/test/integ.key-sharing.lit.expected.json
  packages/@aws-cdk/aws-kms/test/integ.key.expected.json
  packages/@aws-cdk/aws-rds/test/integ.cluster-s3.expected.json
  packages/@aws-cdk/aws-rds/test/integ.cluster.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/sqs/integ.bucket-notifications.expected.json
  packages/@aws-cdk/aws-s3/test/integ.bucket-grantdelete-kms.expected.json
  packages/@aws-cdk/aws-s3/test/integ.bucket.expected.json
  packages/@aws-cdk/aws-secretsmanager/test/integ.secret-name-parsed.ts
  packages/@aws-cdk/aws-ses-actions/test/integ.actions.expected.json
  packages/@aws-cdk/aws-sns/test/integ.sns.expected.json
  packages/@aws-cdk/aws-sqs/test/integ.sqs.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/integ.call-sagemaker.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/integ.create-training-job.expected.json
  packages/@aws-cdk/cx-api/lib/features.ts
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline.expected.json
  packages/decdk/test/__snapshots__/synth.test.js.snap
  tools/cdk-build-tools/lib/feature-flag.ts
Labels: contribution/core, pr-linter/exempt-readme

#13010 fix(apigatewayv2): HttpApi and Route in different stacks creates cycles
  packages/@aws-cdk/aws-apigatewayv2-authorizers/test/http/integ.user-pool.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.alb.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.http-proxy.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.lambda-proxy.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.nlb.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/integ.service-discovery.expected.json
  packages/@aws-cdk/aws-apigatewayv2/lib/http/api.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/route.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/route.test.ts
Labels: @aws-cdk/aws-apigatewayv2

#13011 chore(apigateway): remove extraneous dot from integration status context string
  packages/@aws-cdk/aws-apigateway/lib/access-log.ts
Labels: @aws-cdk/aws-apigateway

#13055 fix(cloudfront): EdgeFunction us-east-1 stack created in different account
  packages/@aws-cdk/aws-cloudfront/lib/experimental/edge-function.ts
  packages/@aws-cdk/aws-cloudfront/test/experimental/edge-function.test.ts
Labels: @aws-cdk/aws-cloudfront, contribution/core

#12450 feat(glue): SecurityConfiguration construct
  packages/@aws-cdk/aws-glue/README.md
  packages/@aws-cdk/aws-glue/lib/index.ts
  packages/@aws-cdk/aws-glue/lib/security-configuration.ts
  packages/@aws-cdk/aws-glue/test/integ.security-configuration.expected.json
  packages/@aws-cdk/aws-glue/test/integ.security-configuration.ts
  packages/@aws-cdk/aws-glue/test/security-configuration.test.ts
Labels: @aws-cdk/aws-glue

#12953 fix(rds): proxy cannot connect to cluster/instance
  packages/@aws-cdk/aws-rds/lib/proxy.ts
  packages/@aws-cdk/aws-rds/test/integ.proxy.expected.json
  packages/@aws-cdk/aws-rds/test/integ.proxy.ts
  packages/@aws-cdk/aws-rds/test/test.proxy.ts
Labels: @aws-cdk/aws-rds, contribution/core

#13071 chore(core): add monocdk to reporting
  packages/@aws-cdk/core/lib/private/runtime-info.ts
Labels: @aws-cdk/core, contribution/core

#13066 fix(codecommit): take the region and account of an imported Repository from its ARN
  packages/@aws-cdk/aws-codecommit/lib/repository.ts
  packages/@aws-cdk/aws-codecommit/test/test.codecommit.ts
Labels: @aws-cdk/aws-codecommit, contribution/core

#13077 chore(rds): use nodeunit-shim
  packages/@aws-cdk/aws-rds/.gitignore
  packages/@aws-cdk/aws-rds/.npmignore
  packages/@aws-cdk/aws-rds/jest.config.js
  packages/@aws-cdk/aws-rds/package.json
  packages/@aws-cdk/aws-rds/test/cluster-engine.test.ts
  packages/@aws-cdk/aws-rds/test/cluster.test.ts
  packages/@aws-cdk/aws-rds/test/database-secret.test.ts
  packages/@aws-cdk/aws-rds/test/database-secretmanager.test.ts
  packages/@aws-cdk/aws-rds/test/instance-engine.test.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
  packages/@aws-cdk/aws-rds/test/option-group.test.ts
  packages/@aws-cdk/aws-rds/test/parameter-group.test.ts
  packages/@aws-cdk/aws-rds/test/proxy.test.ts
  packages/@aws-cdk/aws-rds/test/serverless-cluster.test.ts
  packages/@aws-cdk/aws-rds/test/sql-server/sql-server.instance-engine.test.ts
  packages/@aws-cdk/aws-rds/test/subnet-group.test.ts
Labels: @aws-cdk/aws-rds, contribution/core

#13082 chore: backport CHANGELOG generation fix
  scripts/bump.js
Labels: contribution/core

#13052 fix(core): `exportValue()` does not work with resource names
  packages/@aws-cdk/aws-s3/test/bucket.test.ts
  packages/@aws-cdk/core/README.md
  packages/@aws-cdk/core/lib/resource.ts
  packages/@aws-cdk/core/lib/token.ts
  packages/@aws-cdk/core/test/cross-environment-token.test.ts
Labels: @aws-cdk/core, contribution/core

#13056 chore(cdk-build-tools): backport feature flag based conditional from v2-main
  tools/cdk-build-tools/lib/feature-flag.ts
Labels: contribution/core

#13084 chore: update contribution guide with feature flag support for v2
  CONTRIBUTING.md
  packages/@aws-cdk/cx-api/test/features.test.ts
Labels: contribution/core

#12416 fix(aws-rds): correct Policy resource for Proxy::grantConnect()
  packages/@aws-cdk/aws-rds/README.md
  packages/@aws-cdk/aws-rds/lib/proxy.ts
  packages/@aws-cdk/aws-rds/test/proxy.test.ts
Labels: @aws-cdk/aws-rds

#12893 feat(ecs): support Fargate and Fargate spot capacity providers
  design/aws-ecs/aws-ecs-fargate-capacity-providers.md
  packages/@aws-cdk/aws-ecs/README.md
  packages/@aws-cdk/aws-ecs/lib/base/base-service.ts
  packages/@aws-cdk/aws-ecs/lib/cluster.ts
  packages/@aws-cdk/aws-ecs/lib/fargate/fargate-service.ts
  packages/@aws-cdk/aws-ecs/test/ec2/integ.app-mesh-proxy-config.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.bottlerocket.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.clb-host-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.firelens-s3-config.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.lb-awsvpc-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.lb-bridge-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.sd-awsvpc-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.sd-bridge-nw.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.spot-drain.expected.json
  packages/@aws-cdk/aws-ecs/test/fargate/integ.capacity-providers.expected.json
  packages/@aws-cdk/aws-ecs/test/fargate/integ.capacity-providers.ts
  packages/@aws-cdk/aws-ecs/test/fargate/test.fargate-service.ts
  packages/@aws-cdk/aws-ecs/test/test.ecs-cluster.ts
Labels: @aws-cdk/aws-ecs, contribution/core

#12604 feat(ecs-patterns): Add support for taskSubnets and securityGroups on QueueProcessingFagateService
  packages/@aws-cdk/aws-ecs-patterns/README.md
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/queue-processing-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.queue-processing-fargate-service-isolated.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.queue-processing-fargate-service-isolated.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.queue-processing-fargate-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.queue-processing-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.queue-processing-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/sqs-reader/Dockerfile
  packages/@aws-cdk/aws-ecs-patterns/test/sqs-reader/index.py
Labels: @aws-cdk/aws-ecs-patterns

#13100 chore(release): 2.0.0-alpha.5
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/auto-approve

#13097 docs: fix typos in DESIGN_GUIDELINES
  DESIGN_GUIDELINES.md
Labels: contribution/core, docs/repo-general, review/small

#13087 fix(cloudfront): bucket policy for Origin Access Identities is overly permissive
  packages/@aws-cdk/aws-cloudfront-origins/lib/s3-origin.ts
  packages/@aws-cdk/aws-cloudfront-origins/package.json
  packages/@aws-cdk/aws-cloudfront-origins/test/integ.origin-group.expected.json
  packages/@aws-cdk/aws-cloudfront-origins/test/integ.s3-origin.expected.json
  packages/@aws-cdk/aws-cloudfront-origins/test/s3-origin.test.ts
  packages/@aws-cdk/aws-cloudfront/lib/web-distribution.ts
  packages/@aws-cdk/aws-cloudfront/test/integ.cloudfront-s3.expected.json
  packages/@aws-cdk/aws-cloudfront/test/web-distribution.test.ts
Labels: contribution/core

#13105 chore: actions in issue label assignment workflows are using the now illegal short sha
  .github/workflows/issue-label-assign.yml
Labels: contribution/core

#13111 chore: fix unmatched parenthesis in issue-label-assign
  .github/workflows/issue-label-assign.yml
Labels: contribution/core

#12444 feat(glue): Connection construct
  packages/@aws-cdk/aws-glue/README.md
  packages/@aws-cdk/aws-glue/lib/connection.ts
  packages/@aws-cdk/aws-glue/lib/index.ts
  packages/@aws-cdk/aws-glue/package.json
  packages/@aws-cdk/aws-glue/test/connection.test.ts
  packages/@aws-cdk/aws-glue/test/integ.connection.expected.json
  packages/@aws-cdk/aws-glue/test/integ.connection.ts
Labels: @aws-cdk/aws-glue

#13110 chore: enable feature flags on all integ tests
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.cfn-template-from-repo.lit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.lambda-deployed-through-codepipeline.lit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.lambda-pipeline.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-alexa-deploy.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-cfn.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-commit-build.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-commit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-events.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-stepfunctions.expected.json
  packages/@aws-cdk/aws-docdb/test/integ.cluster.expected.json
  packages/@aws-cdk/aws-dynamodb/test/integ.dynamodb.sse.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.custom-kms-key.expected.json
  packages/@aws-cdk/aws-events-targets/test/codepipeline/integ.pipeline-event-target.expected.json
  packages/@aws-cdk/aws-glue/test/integ.security-configuration.expected.json
  packages/@aws-cdk/aws-glue/test/integ.table.expected.json
  packages/@aws-cdk/aws-kms/test/integ.key-sharing.lit.expected.json
  packages/@aws-cdk/aws-kms/test/integ.key.expected.json
  packages/@aws-cdk/aws-rds/test/integ.cluster-s3.expected.json
  packages/@aws-cdk/aws-rds/test/integ.cluster.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/sqs/integ.bucket-notifications.expected.json
  packages/@aws-cdk/aws-s3/test/integ.bucket-grantdelete-kms.expected.json
  packages/@aws-cdk/aws-s3/test/integ.bucket.expected.json
  packages/@aws-cdk/aws-secretsmanager/test/integ.secret-name-parsed.ts
  packages/@aws-cdk/aws-ses-actions/test/integ.actions.expected.json
  packages/@aws-cdk/aws-sns/test/integ.sns.expected.json
  packages/@aws-cdk/aws-sqs/test/integ.sqs.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/integ.call-sagemaker.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/integ.create-training-job.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline.expected.json
  packages/decdk/test/__snapshots__/synth.test.js.snap
  packages/decdk/test/synth.test.ts
  tools/cdk-integ-tools/lib/integ-helpers.ts
Labels: contribution/core

#13076 feat(core): customize bundling output packaging
  packages/@aws-cdk/aws-s3-assets/README.md
  packages/@aws-cdk/aws-s3-assets/lib/asset.ts
  packages/@aws-cdk/core/lib/asset-staging.ts
  packages/@aws-cdk/core/lib/bundling.ts
  packages/@aws-cdk/core/test/archive/archive.zip
  packages/@aws-cdk/core/test/docker-stub.sh
  packages/@aws-cdk/core/test/staging.test.ts
Labels: @aws-cdk/core

#13115 chore(ecr-assets): migrate image-asset.test.ts to use jest
  packages/@aws-cdk/aws-ecr-assets/test/image-asset.test.ts
Labels: @aws-cdk/assets, @aws-cdk/aws-ecr-assets, contribution/core

#13126 chore(merge-back): 1.90.0
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#13103 fix(eks): Deployment fails for the first deployment in an account
  packages/@aws-cdk/aws-eks/lib/cluster-resource.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster-handlers-vpc.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster-private-endpoint.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/integ.fargate-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/test.cluster.ts
  packages/@aws-cdk/aws-eks/test/test.fargate.ts
Labels: @aws-cdk/aws-eks, contribution/core

#13125 docs(rds): fix weird rendering of socketAddress property in Endpoint
  packages/@aws-cdk/aws-docdb/lib/endpoint.ts
Labels: @aws-cdk/aws-rds, contribution/core

#13116 docs: fix typos in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: contribution/core, docs/repo-general, review/small

#12258 feat(lambda): Code.fromDockerBuildAsset
  packages/@aws-cdk/aws-lambda-nodejs/README.md
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
  packages/@aws-cdk/aws-lambda/README.md
  packages/@aws-cdk/aws-lambda/lib/code.ts
  packages/@aws-cdk/aws-lambda/test/code.test.ts
  packages/@aws-cdk/aws-lambda/test/docker-build-lambda/Dockerfile
  packages/@aws-cdk/aws-lambda/test/docker-build-lambda/index.ts
  packages/@aws-cdk/aws-s3-assets/README.md
  packages/@aws-cdk/core/lib/bundling.ts
  packages/@aws-cdk/core/test/bundling.test.ts
Labels: @aws-cdk/aws-lambda

#13136 docs(s3-deployment): Reflect new stability of CloudFront and completion of a roadmap issue
  packages/@aws-cdk/aws-s3-deployment/README.md
Labels: @aws-cdk/aws-cloudfront, @aws-cdk/aws-s3-deployment

#13133 chore: enable feature flags on all integ tests
  packages/@aws-cdk/app-delivery/test/integ.cicd.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.caching.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.project-buildspec-artifacts.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.project-logging.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.project-secondary-sources-artifacts.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.cfn-template-from-repo.lit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.lambda-deployed-through-codepipeline.lit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.lambda-pipeline.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-alexa-deploy.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-cfn-cross-region.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-cfn-with-action-role.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-cfn.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-build-batch.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-build-multiple-inputs-outputs.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-commit-build.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-commit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-deploy-ecs.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-deploy.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-ecr-source.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-ecs-deploy.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-ecs-separate-source.lit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-events.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-jenkins.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-manual-approval.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-s3-deploy.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-stepfunctions.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.environment-file.expected.json
  packages/@aws-cdk/aws-events-targets/test/codepipeline/integ.pipeline-event-target.expected.json
  packages/@aws-cdk/aws-events-targets/test/kinesis-firehose/integ.kinesis-firehose-stream.expected.json
  packages/@aws-cdk/aws-glue/test/integ.table.expected.json
  packages/@aws-cdk/aws-rds/test/integ.cluster-s3.expected.json
  packages/@aws-cdk/aws-rds/test/integ.instance-s3.expected.json
  packages/@aws-cdk/aws-s3-deployment/test/integ.bucket-deployment-cloudfront.expected.json
  packages/@aws-cdk/aws-s3-deployment/test/integ.bucket-deployment.expected.json
  packages/@aws-cdk/aws-s3/test/integ.bucket-sharing.lit.expected.json
  packages/@aws-cdk/aws-s3/test/integ.bucket.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/integ.call-sagemaker.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/integ.create-training-job.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline.expected.json
  packages/decdk/test/__snapshots__/synth.test.js.snap
  packages/decdk/test/synth.test.ts
  tools/cdk-integ-tools/lib/integ-helpers.ts
Labels: contribution/core

#13122 feat(ecs-patterns): Add support for assignPublicIp for QueueProcessingFargateService
  packages/@aws-cdk/aws-ecs-patterns/README.md
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/queue-processing-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.queue-processing-fargate-service-public.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.queue-processing-fargate-service-public.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.queue-processing-fargate-service.ts
Labels: @aws-cdk/aws-ecs-patterns

#13145 fix(core): ENOTDIR invalid cwd on "cdk deploy"
  allowed-breaking-changes.txt
  packages/@aws-cdk/aws-lambda-nodejs/README.md
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
  packages/@aws-cdk/aws-lambda/README.md
  packages/@aws-cdk/aws-lambda/lib/code.ts
  packages/@aws-cdk/aws-lambda/test/code.test.ts
  packages/@aws-cdk/aws-lambda/test/docker-build-lambda/Dockerfile
  packages/@aws-cdk/aws-lambda/test/docker-build-lambda/index.ts
  packages/@aws-cdk/aws-s3-assets/README.md
  packages/@aws-cdk/aws-s3-assets/lib/asset.ts
  packages/@aws-cdk/core/lib/asset-staging.ts
  packages/@aws-cdk/core/lib/bundling.ts
  packages/@aws-cdk/core/test/archive/archive.zip
  packages/@aws-cdk/core/test/bundling.test.ts
  packages/@aws-cdk/core/test/docker-stub.sh
  packages/@aws-cdk/core/test/staging.test.ts
Labels: @aws-cdk/core, contribution/core

#13148 chore(release): 1.90.1
  CHANGELOG.md
  allowed-breaking-changes.txt
  packages/@aws-cdk/aws-s3-assets/README.md
  packages/@aws-cdk/aws-s3-assets/lib/asset.ts
  packages/@aws-cdk/core/lib/asset-staging.ts
  packages/@aws-cdk/core/lib/bundling.ts
  packages/@aws-cdk/core/test/archive/archive.zip
  packages/@aws-cdk/core/test/docker-stub.sh
  packages/@aws-cdk/core/test/staging.test.ts
  version.v1.json
Labels: contribution/core, pr/no-squash

#13085 chore(cdk): remove expired feature flags from init templates
  packages/@aws-cdk/cx-api/lib/features.ts
  packages/aws-cdk/lib/init.ts
  packages/aws-cdk/test/init.test.ts
Labels: contribution/core

#12975 fix(cfn-diff): handle Fn::If inside policies and statements
  packages/@aws-cdk/cloudformation-diff/lib/diffable.ts
  packages/@aws-cdk/cloudformation-diff/lib/iam/iam-changes.ts
  packages/@aws-cdk/cloudformation-diff/lib/iam/managed-policy.ts
  packages/@aws-cdk/cloudformation-diff/lib/iam/statement.ts
  packages/@aws-cdk/cloudformation-diff/test/iam/detect-changes.test.ts
Labels: contribution/core

#12855 docs(appsync): fix argument in Values.projecting() call
  packages/@aws-cdk/aws-appsync/README.md
Labels: @aws-cdk/aws-appsync, contribution/core

#12575 feat(aws-appsync): add databaseName to rdsDataSource
  packages/@aws-cdk/aws-appsync/README.md
  packages/@aws-cdk/aws-appsync/lib/data-source.ts
  packages/@aws-cdk/aws-appsync/lib/graphqlapi-base.ts
  packages/@aws-cdk/aws-appsync/test/appsync-rds.test.ts
Labels: @aws-cdk/aws-appsync

#13165 chore: adjust changelog
  CHANGELOG.md
Labels: contribution/core, pr/do-not-merge

#13166 chore(merge-back): 1.90.1
  CHANGELOG.md
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#13168 chore: forward merge 'master' into 'v2-main'
  CHANGELOG.md
  packages/@aws-cdk/aws-appsync/README.md
  packages/@aws-cdk/aws-appsync/lib/data-source.ts
  packages/@aws-cdk/aws-appsync/lib/graphqlapi-base.ts
  packages/@aws-cdk/aws-appsync/test/appsync-rds.test.ts
  packages/@aws-cdk/aws-cloudfront-origins/package.json
  packages/@aws-cdk/aws-cloudfront/package.json
  packages/@aws-cdk/aws-cloudtrail/package.json
  packages/@aws-cdk/aws-codebuild/package.json
  packages/@aws-cdk/aws-codecommit/package.json
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-events-targets/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/aws-route53/package.json
  packages/@aws-cdk/aws-sqs/package.json
  packages/@aws-cdk/cloudformation-diff/lib/diffable.ts
  packages/@aws-cdk/cloudformation-diff/lib/iam/iam-changes.ts
  packages/@aws-cdk/cloudformation-diff/lib/iam/managed-policy.ts
  packages/@aws-cdk/cloudformation-diff/lib/iam/statement.ts
  packages/@aws-cdk/cloudformation-diff/test/iam/detect-changes.test.ts
  packages/@aws-cdk/core/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/@aws-cdk/cx-api/lib/features.ts
  packages/@monocdk-experiment/assert/package.json
  packages/@monocdk-experiment/rewrite-imports/package.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/lib/init.ts
  packages/aws-cdk/package.json
  packages/aws-cdk/test/init.test.ts
  packages/cdk-assets/package.json
  packages/monocdk/package.json
  tools/eslint-plugin-cdk/package.json
  tools/nodeunit-shim/package.json
  tools/yarn-cling/package.json
  version.v1.json
  yarn.lock
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash

#13177 chore: forward merge 'master' into 'v2-main'
  packages/@aws-cdk/aws-codepipeline-actions/package.json
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/core/package.json
  yarn.lock
Labels: pr/auto-approve, pr/forward-merge, pr/no-squash

#13178 fix(eks): `KubectlProvider` creates un-necessary security group
  packages/@aws-cdk/aws-eks/lib/kubectl-provider.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster-handlers-vpc.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster-private-endpoint.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/integ.fargate-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/test.cluster.ts
  packages/@aws-cdk/custom-resources/lib/provider-framework/provider.ts
  packages/@aws-cdk/custom-resources/test/provider-framework/provider.test.ts
Labels: @aws-cdk/aws-eks, contribution/core

#13143 docs(s3-deployment): cleanup
  packages/@aws-cdk/aws-s3-deployment/README.md
Labels: @aws-cdk/aws-s3-deployment

#13182 chore(eks): Misplaced paragraph about endpoint access in the README
  packages/@aws-cdk/aws-eks/README.md
Labels: @aws-cdk/aws-eks, contribution/core

#12983 chore(s3): Default value documentation of `blockPublicAccess` is misleading
  packages/@aws-cdk/aws-s3/lib/bucket.ts
Labels: @aws-cdk/aws-s3, contribution/core

#12907 feat(synthetics): Update CloudWatch Synthetics NodeJS runtimes
  packages/@aws-cdk/aws-synthetics/README.md
  packages/@aws-cdk/aws-synthetics/lib/canary.ts
  packages/@aws-cdk/aws-synthetics/test/canary.test.ts
Labels: @aws-cdk/aws-synthetics

#12973 fix(appsync): revert to allow resolver creation from data source
  packages/@aws-cdk/aws-appsync/lib/data-source.ts
  packages/@aws-cdk/aws-appsync/test/appsync.test.ts
  packages/@aws-cdk/aws-appsync/test/integ.api-import.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.auth-apikey.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-iam.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql.expected.json
Labels: @aws-cdk/aws-appsync, response-requested

#13190 chore: npm-check-updates && yarn upgrade
  yarn.lock
Labels: contribution/core

#13047 chore: do not use Dependabot for npm dependencies
  .dependabot/config.yml
  .github/dependabot.yml
  .github/workflows/auto-approve-dependabot.yml
  .github/workflows/auto-approve.yml
  .github/workflows/v2-pull-request.yml
  .github/workflows/yarn-upgrade.yml
Labels: contribution/core

#13194 chore: fix invalid dependabot config
  .github/dependabot.yml
Labels: @aws-cdk/aws-config, contribution/core

#13198 chore(ecs): migrate tests to jest
  packages/@aws-cdk/aws-ecs/.gitignore
  packages/@aws-cdk/aws-ecs/.npmignore
  packages/@aws-cdk/aws-ecs/jest.config.js
  packages/@aws-cdk/aws-ecs/package.json
  packages/@aws-cdk/aws-ecs/test/app-mesh-proxy-configuration.test.ts
  packages/@aws-cdk/aws-ecs/test/aws-log-driver.test.ts
  packages/@aws-cdk/aws-ecs/test/container-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/cross-stack.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-service.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-task-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/ecs-cluster.test.ts
  packages/@aws-cdk/aws-ecs/test/environment-file.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-service.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-task-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/firelens-log-driver.test.ts
  packages/@aws-cdk/aws-ecs/test/fluentd-log-driver.test.ts
  packages/@aws-cdk/aws-ecs/test/gelf-log-driver.test.ts
  packages/@aws-cdk/aws-ecs/test/images/tag-parameter-container-image.test.ts
  packages/@aws-cdk/aws-ecs/test/journald-log-driver.test.ts
  packages/@aws-cdk/aws-ecs/test/json-file-log-driver.test.ts
  packages/@aws-cdk/aws-ecs/test/splunk-log-driver.test.ts
  packages/@aws-cdk/aws-ecs/test/syslog-log-driver.test.ts
  packages/@aws-cdk/aws-ecs/test/task-definition.test.ts
Labels: contribution/core

#13199 docs(aws-kms): Use back tickets in documentation
  packages/@aws-cdk/aws-kms/lib/key.ts
Labels: @aws-cdk/aws-kms

#12727 docs(stepfunctions-task): fix sagemaker training job example
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
Labels: @aws-cdk/aws-sagemaker, @aws-cdk/aws-stepfunctions-tasks

#13206 fix(aws-appsync): use serverlessCluster on rdsDataSource
  packages/@aws-cdk/aws-appsync/README.md
  packages/@aws-cdk/aws-appsync/lib/data-source.ts
  packages/@aws-cdk/aws-appsync/lib/graphqlapi-base.ts
  packages/@aws-cdk/aws-appsync/test/appsync-rds.test.ts
Labels: @aws-cdk/aws-appsync

#12779 feat(stepfunctions-tasks): add EKS call to SFN-tasks
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/eks/call.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/index.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/package.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/eks/call.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/eks/integ.call.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/eks/integ.call.ts
Labels: @aws-cdk/aws-stepfunctions-tasks

#12404 fix(lambda-nodejs): invalid sample in documentation
  packages/@aws-cdk/aws-lambda-nodejs/README.md
Labels: @aws-cdk/aws-lambda-nodejs, pr-linter/exempt-test

#12804 feat(aws-s3): adds s3 bucket AWS FSBP option
  packages/@aws-cdk/aws-s3/README.md
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/aws-s3/test/bucket.test.ts
Labels: @aws-cdk/aws-s3

#13212 chore(codepipeline-actions,rds): migrate tests to jest
  packages/@aws-cdk/aws-codepipeline-actions/.gitignore
  packages/@aws-cdk/aws-codepipeline-actions/.npmignore
  packages/@aws-cdk/aws-codepipeline-actions/jest.config.js
  packages/@aws-cdk/aws-codepipeline-actions/package.json
  packages/@aws-cdk/aws-codepipeline-actions/test/bitbucket/bitbucket-source-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/cloudformation/cloudformation-pipeline-actions.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/cloudformation/pipeline-actions.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/codebuild/codebuild-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/codecommit/codecommit-source-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/codedeploy/ecs-deploy-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/ecr/ecr-source-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/ecs/ecs-deploy-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/github/github-source-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/lambda/lambda-invoke-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/manual-approval.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/pipeline.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/s3/s3-deploy-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/s3/s3-source-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/servicecatalog/servicecatalog-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/stepfunctions/stepfunctions-invoke-actions.test.ts
  packages/@aws-cdk/aws-rds/test/cluster.test.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
Labels: @aws-cdk/aws-codepipeline-actions, @aws-cdk/aws-rds, contribution/core

#13214 chore: fix auto-approve workflow
  .github/workflows/auto-approve.yml
Labels: contribution/core

#12807 docs: recommend lambda runtime nodejs12.x
  packages/@aws-cdk/aws-apigateway/README.md
  packages/@aws-cdk/aws-cloudfront/README.md
  packages/@aws-cdk/aws-cloudtrail/README.md
  packages/@aws-cdk/aws-codepipeline-actions/README.md
  packages/@aws-cdk/aws-cognito/README.md
  packages/@aws-cdk/aws-config/README.md
  packages/@aws-cdk/aws-lambda/README.md
  packages/@aws-cdk/aws-rds/README.md
  packages/@aws-cdk/aws-sns-subscriptions/README.md
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
  packages/aws-cdk/README.md
Labels: @aws-cdk/aws-lambda

#13174 docs(cognito): Fix type names for with*Attributes methods in docs
  packages/@aws-cdk/aws-cognito/README.md
Labels: @aws-cdk/aws-cognito

#13024 feat(cli): Configurable --change-set-name CLI flag
  packages/aws-cdk/README.md
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/lib/api/cloudformation-deployments.ts
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/test/integ/cli/cli.integtest.ts
Labels: package/tools

#13227 docs(stepfunctions-tasks): EvaluateExpression only supports NODEJS_10_X
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
Labels: @aws-cdk/aws-stepfunctions-tasks

#13074 fix(custom-resources): unable to use a resource attributes as dictionary keys in AwsCustomResource
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.all-service-addons.expected.json
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.assign-public-ip.expected.json
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.multiple-environments.expected.json
  packages/@aws-cdk/aws-codedeploy/test/lambda/test.custom-deployment-config.ts
  packages/@aws-cdk/aws-cognito/test/integ.user-pool-domain-cfdist.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/domain.test.ts
  packages/@aws-cdk/aws-elasticsearch/test/elasticsearch-access-policy.test.ts
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.custom-kms-key.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.unsignedbasicauth.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/log-group-resource-policy.test.ts
  packages/@aws-cdk/aws-events-targets/test/aws-api/integ.aws-api.expected.json
  packages/@aws-cdk/aws-events-targets/test/codepipeline/integ.pipeline-event-target.expected.json
  packages/@aws-cdk/aws-events-targets/test/ecs/integ.event-ec2-task.lit.expected.json
  packages/@aws-cdk/aws-events-targets/test/ecs/integ.event-fargate-task.expected.json
  packages/@aws-cdk/aws-events-targets/test/kinesis-firehose/integ.kinesis-firehose-stream.expected.json
  packages/@aws-cdk/aws-events-targets/test/kinesis/integ.kinesis-stream.expected.json
  packages/@aws-cdk/aws-events-targets/test/lambda/integ.events.expected.json
  packages/@aws-cdk/aws-events-targets/test/logs/integ.log-group.expected.json
  packages/@aws-cdk/aws-events-targets/test/logs/log-group-resource-policy.test.ts
  packages/@aws-cdk/aws-globalaccelerator/test/globalaccelerator-security-group.test.ts
  packages/@aws-cdk/aws-route53/test/integ.vpc-endpoint-service-domain-name.expected.json
  packages/@aws-cdk/aws-route53/test/vpc-endpoint-service-domain-name.test.ts
  packages/@aws-cdk/core/lib/cfn-json.ts
  packages/@aws-cdk/custom-resources/lib/aws-custom-resource/aws-custom-resource.ts
  packages/@aws-cdk/custom-resources/lib/aws-custom-resource/runtime/index.ts
  packages/@aws-cdk/custom-resources/test/aws-custom-resource/aws-custom-resource-provider.test.ts
  packages/@aws-cdk/custom-resources/test/aws-custom-resource/aws-custom-resource.test.ts
  packages/@aws-cdk/custom-resources/test/aws-custom-resource/integ.aws-custom-resource.expected.json
Labels: @aws-cdk/custom-resources, contribution/core

#12984 fix(lambda-python): asset hash is non-deterministic
  packages/@aws-cdk/aws-lambda-python/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-python/lib/function.ts
  packages/@aws-cdk/aws-lambda-python/test/bundling.test.ts
  packages/@aws-cdk/aws-lambda-python/test/function.test.ts
  packages/@aws-cdk/aws-lambda-python/test/integ.function.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.pipenv.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.poetry.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.project.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.py38.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.requirements.removed.expected.json
  packages/@aws-cdk/aws-lambda-python/test/integ.function.vpc.expected.json
  packages/@aws-cdk/aws-lambda-python/test/layer.test.ts
  packages/@aws-cdk/core/lib/bundling.ts
  packages/@aws-cdk/core/test/bundling.test.ts
Labels: @aws-cdk/aws-lambda-python, contribution/core

#13217 chore: update unit tests and assertions to support feature flag expiry in CDKv2
  packages/@aws-cdk/aws-codepipeline-actions/package.json
  packages/@aws-cdk/aws-codepipeline-actions/test/lambda/lambda-invoke-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/s3/s3-deploy-action.test.ts
  packages/@aws-cdk/aws-ec2/package.json
  packages/@aws-cdk/aws-ec2/test/volume.test.ts
  packages/@aws-cdk/aws-ecr-assets/test/image-asset.test.ts
  packages/@aws-cdk/aws-ecr-assets/test/integ.assets-docker.ts
  packages/@aws-cdk/aws-ecr-assets/test/integ.nested-stacks-docker.ts
  packages/@aws-cdk/aws-ecs/package.json
  packages/@aws-cdk/aws-ecs/test/container-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-task-definition.test.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/alb/load-balancer.test.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/nlb/load-balancer.test.ts
  packages/@aws-cdk/aws-glue/package.json
  packages/@aws-cdk/aws-glue/test/table.test.ts
  packages/@aws-cdk/aws-kinesis/package.json
  packages/@aws-cdk/aws-kinesis/test/stream.test.ts
  packages/@aws-cdk/aws-kms/test/key.test.ts
  packages/@aws-cdk/aws-lambda/test/code.test.ts
  packages/@aws-cdk/aws-rds/package.json
  packages/@aws-cdk/aws-rds/test/cluster.test.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
  packages/@aws-cdk/aws-s3-deployment/package.json
  packages/@aws-cdk/aws-s3-deployment/test/bucket-deployment.test.ts
  packages/@aws-cdk/aws-s3/test/bucket.test.ts
Labels: contribution/core

#13251 feat(apigateway): integrate with aws services in a different region
  packages/@aws-cdk/aws-apigateway/README.md
  packages/@aws-cdk/aws-apigateway/lib/integrations/aws.ts
  packages/@aws-cdk/aws-apigateway/test/method.test.ts
Labels: @aws-cdk/aws-apigateway

#13216 chore(merge-back): 1.91.0
  .github/workflows/auto-approve.yml
  CHANGELOG.md
  packages/@aws-cdk/aws-events-targets/test/kinesis-firehose/integ.kinesis-firehose-stream.expected.json
  packages/@aws-cdk/aws-rds/test/cluster.test.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
  version.v1.json
Labels: pr/auto-approve, pr/no-squash

#13142 feat(elasticloadbalancingv2): Add support for application cookies
  packages/@aws-cdk/aws-elasticloadbalancingv2/README.md
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-listener.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-target-group.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/alb/listener.test.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/alb/target-group.test.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/integ.alb.expected.json
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/integ.alb.ts
Labels: @aws-cdk/aws-elasticloadbalancingv2

#13263 chore(elasticloadbalancingv2): Add stickiness cookie duration checks
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-target-group.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/alb/target-group.test.ts
Labels: @aws-cdk/aws-elasticloadbalancingv2

#13130 feat(ecs-patterns): remove default desiredCount to align with cfn behaviour (under feature flag)
  packages/@aws-cdk/aws-ecs-patterns/README.md
  packages/@aws-cdk/aws-ecs-patterns/lib/base/application-load-balanced-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/base/application-multiple-target-groups-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/base/network-load-balanced-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/base/network-multiple-target-groups-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/base/queue-processing-service-base.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/application-load-balanced-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/application-multiple-target-groups-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/network-load-balanced-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/network-multiple-target-groups-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/queue-processing-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/application-load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/application-multiple-target-groups-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/network-load-balanced-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/network-multiple-target-groups-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/fargate/queue-processing-fargate-service.ts
  packages/@aws-cdk/aws-ecs-patterns/package.json
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/integ.multiple-application-load-balanced-ecs-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/integ.scheduled-ecs-task.lit.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.l3s.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/test.queue-processing-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.asset-image.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.executionrole.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.l3-autocreate.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.l3-vpconly.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.l3.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.load-balanced-fargate-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.multiple-network-load-balanced-fargate-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.queue-processing-fargate-service-isolated.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.queue-processing-fargate-service-public.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.queue-processing-fargate-service.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/integ.special-listener.expected.json
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/test.queue-processing-fargate-service.ts
  packages/@aws-cdk/cx-api/lib/features.ts
Labels: @aws-cdk/aws-ecs-patterns, contribution/core

#13268 fix(lambda-nodejs): 'must use "outdir"' error with spaces in paths
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
Labels: @aws-cdk/aws-lambda-nodejs

#12656 feat(lambda): code signing config
  packages/@aws-cdk/aws-lambda/README.md
  packages/@aws-cdk/aws-lambda/lib/code-signing-config.ts
  packages/@aws-cdk/aws-lambda/lib/function.ts
  packages/@aws-cdk/aws-lambda/lib/index.ts
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-lambda/test/code-signing-config.test.ts
  packages/@aws-cdk/aws-lambda/test/function.test.ts
  packages/@aws-cdk/aws-signer/README.md
  packages/@aws-cdk/aws-signer/lib/index.ts
  packages/@aws-cdk/aws-signer/lib/signing-profile.ts
  packages/@aws-cdk/aws-signer/package.json
  packages/@aws-cdk/aws-signer/test/signer.test.ts
  packages/@aws-cdk/aws-signer/test/signing-profile.test.ts
Labels: @aws-cdk/aws-lambda

#13255 fix: incorrect peerDependency on "constructs"
  packages/@monocdk-experiment/assert/package.json
  packages/aws-cdk-lib/package.json
  scripts/check-pack-prerequisites.sh
  tools/pkglint/lib/rules.ts
Labels: contribution/core, pr-linter/exempt-readme, pr-linter/exempt-test

#13275 feat(core): `description` parameter in the CustomResourceProvider
  packages/@aws-cdk/core/README.md
  packages/@aws-cdk/core/lib/custom-resource-provider/custom-resource-provider.ts
  packages/@aws-cdk/core/test/custom-resource-provider/custom-resource-provider.test.ts
Labels: @aws-cdk/core

#13283 chore: properly record merge-back history from 1.91.0
  CHANGELOG.md
  packages/@aws-cdk/aws-rds/test/instance.test.ts
Labels: contribution/core, pr/no-squash

#13260 fix(events): cannot trigger multiple Lambdas from the same Rule
  packages/@aws-cdk/aws-events-targets/lib/util.ts
  packages/@aws-cdk/aws-events-targets/test/aws-api/integ.aws-api.expected.json
  packages/@aws-cdk/aws-events-targets/test/lambda/integ.events.expected.json
  packages/@aws-cdk/aws-events-targets/test/lambda/lambda.test.ts
  packages/@aws-cdk/aws-lambda-destinations/test/integ.lambda-chain.expected.json
  packages/@aws-cdk/aws-rds/test/integ.instance.lit.expected.json
Labels: @aws-cdk/aws-events, contribution/core
