Repository aws/aws-cdk, pull requests merged in 2022-01, with the labels that each got.

#18195 docs(cli): improve upgrade message
  packages/aws-cdk/lib/util/npm.ts
  packages/aws-cdk/lib/version.ts
  packages/aws-cdk/test/version.test.ts
Labels: package/tools

#18153 fix(events): event bus name only generated if no props passed
  packages/@aws-cdk/aws-events/lib/event-bus.ts
  packages/@aws-cdk/aws-events/test/event-bus.test.ts
Labels: @aws-cdk/aws-events, contribution/core

#18097 feat(custom-resources): NoEcho for sensitive data in provider framework
  packages/@aws-cdk/custom-resources/README.md
  packages/@aws-cdk/custom-resources/lib/provider-framework/runtime/framework.ts
  packages/@aws-cdk/custom-resources/lib/provider-framework/types.d.ts
  packages/@aws-cdk/custom-resources/test/provider-framework/runtime.test.ts
Labels: @aws-cdk/custom-resources

#18056 chore(core): Pass Lambda Context to custom resource handler
  packages/@aws-cdk/core/lib/custom-resource-provider/nodejs-entrypoint.ts
  packages/@aws-cdk/core/test/custom-resource-provider/nodejs-entrypoint.test.ts
Labels: @aws-cdk/core

#18243 fix(core): `Duration.toString()` throws an error
  packages/@aws-cdk/core/lib/duration.ts
  packages/@aws-cdk/core/test/duration.test.ts
Labels: @aws-cdk/core, contribution/core

#18244 docs(pipelines): add philosophy disclaimer
  packages/@aws-cdk/pipelines/README.md
Labels: contribution/core, @aws-cdk/pipelines

#17990 fix(cli): cannot use CA bundle and proxy at the same time
  .gitignore
  packages/aws-cdk/lib/api/aws-auth/sdk-provider.ts
Labels: package/tools

#18230 feat(cli): show how long `cdk deploy` steps take
  packages/aws-cdk/lib/cdk-toolkit.ts
Labels: package/tools, contribution/core, pr-linter/exempt-readme, pr-linter/exempt-test

#18087 feat(iot): Action to send messages to SQS queues
  packages/@aws-cdk/aws-iot-actions/README.md
  packages/@aws-cdk/aws-iot-actions/lib/index.ts
  packages/@aws-cdk/aws-iot-actions/lib/sqs-queue-action.ts
  packages/@aws-cdk/aws-iot-actions/package.json
  packages/@aws-cdk/aws-iot-actions/test/sqs/integ.sqs-queue-action.expected.json
  packages/@aws-cdk/aws-iot-actions/test/sqs/integ.sqs-queue-action.ts
  packages/@aws-cdk/aws-iot-actions/test/sqs/sqs-queue-action.test.ts
Labels: @aws-cdk/aws-iot, @aws-cdk/aws-iot-actions

#17994 feat(bootstrap): ECR `ScanOnPush` is now enabled by default
  packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml
Labels: package/tools, pr-linter/exempt-readme, pr-linter/exempt-test

#18257 chore(sqs): remove extra unnecessary semicolon
  packages/@aws-cdk/aws-sqs/lib/queue.ts
Labels: @aws-cdk/aws-sqs, contribution/core

#18232 feat(sqs): add DLQ readonly property to Queue
  packages/@aws-cdk/aws-sqs/lib/queue.ts
  packages/@aws-cdk/aws-sqs/test/sqs.test.ts
Labels: @aws-cdk/aws-sqs, pr-linter/exempt-readme

#17351 feat(pipelines): support timeout in CodeBuildStep
  packages/@aws-cdk/pipelines/README.md
  packages/@aws-cdk/pipelines/lib/codepipeline/_codebuild-factory.ts
  packages/@aws-cdk/pipelines/lib/codepipeline/codebuild-step.ts
  packages/@aws-cdk/pipelines/lib/codepipeline/codepipeline.ts
  packages/@aws-cdk/pipelines/rosetta/default.ts-fixture
  packages/@aws-cdk/pipelines/test/codepipeline/codebuild-step.test.ts
Labels: @aws-cdk/pipelines

#18256 feat(pipelines): step dependencies
  packages/@aws-cdk/pipelines/README.md
  packages/@aws-cdk/pipelines/lib/blueprint/step.ts
  packages/@aws-cdk/pipelines/test/blueprint/helpers-internal/pipeline-graph.test.ts
  packages/@aws-cdk/pipelines/test/blueprint/stack-deployment.test.ts
Labels: contribution/core, @aws-cdk/pipelines

#18255 fix(lambda): imported Function still has region and account from its Stack, instead of its ARN
  packages/@aws-cdk/aws-cloudfront/test/web-distribution.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/lambda/lambda-invoke-action.test.ts
  packages/@aws-cdk/aws-lambda/lib/function.ts
  packages/@aws-cdk/aws-lambda/test/function.test.ts
Labels: @aws-cdk/aws-lambda, contribution/core

#18233 chore(cfnspec): update canned metrics
  packages/@aws-cdk/aws-dynamodb/lib/table.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/nlb/network-load-balancer.ts
  packages/@aws-cdk/aws-kinesis/lib/kinesis-fixed-canned-metrics.ts
  packages/@aws-cdk/aws-kinesisfirehose/lib/delivery-stream.ts
  packages/@aws-cdk/aws-kinesisfirehose/test/delivery-stream.test.ts
  packages/@aws-cdk/aws-stepfunctions/lib/state-machine.ts
  packages/@aws-cdk/aws-synthetics/lib/canary.ts
  packages/@aws-cdk/cfnspec/build-tools/update-metrics.sh
  packages/@aws-cdk/cfnspec/lib/canned-metrics/README.md
  packages/@aws-cdk/cfnspec/lib/canned-metrics/services.json
  tools/@aws-cdk/cfn2ts/lib/canned-metrics-generator.ts
Labels: contribution/core, @aws-cdk/cfnspec

#18194 fix(codebuild): setting Cache.none() renders nothing in the template
  packages/@aws-cdk/aws-codebuild/lib/cache.ts
  packages/@aws-cdk/aws-codebuild/test/codebuild.test.ts
  packages/@aws-cdk/aws-codebuild/test/integ.aws-deep-learning-container-build-image.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.defaults.lit.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.docker-asset.lit.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.docker-registry.lit.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.ecr.lit.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.github-webhook-batch.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.github.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.project-bucket.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.project-buildspec-artifacts.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.project-file-system-location.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.project-logging.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.project-notification.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.project-secondary-sources-artifacts.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.project-vpc.expected.json
  packages/@aws-cdk/aws-codebuild/test/project.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.lambda-deployed-through-codepipeline.lit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-build-batch.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-build-multiple-inputs-outputs.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-commit-build.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-ecs-deploy.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-ecs-separate-source.lit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-events.expected.json
  packages/@aws-cdk/aws-events-targets/test/codebuild/integ.project-events.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/codebuild/integ.start-build.expected.json
  packages/@aws-cdk/pipelines/test/integ.newpipeline-with-vpc.expected.json
  packages/@aws-cdk/pipelines/test/integ.newpipeline.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-security.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets-single-upload.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline.expected.json
  packages/decdk/test/__snapshots__/synth.test.js.snap
Labels: @aws-cdk/aws-codebuild, contribution/core

#18263 chore(merge-back): 1.138.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash, auto-approve

#18215 fix(logs): respect region when importing log group
  packages/@aws-cdk/aws-logs/lib/log-group.ts
  packages/@aws-cdk/aws-logs/test/loggroup.test.ts
Labels: @aws-cdk/aws-logs

#17837 fix(route53): support multiple cross account DNS delegations
  packages/@aws-cdk/aws-route53/lib/record-set.ts
  packages/@aws-cdk/aws-route53/test/integ.cross-account-zone-delegation.expected.json
  packages/@aws-cdk/aws-route53/test/record-set.test.ts
Labels: @aws-cdk/aws-route53

#18274 feat(cfnspec): cloudformation spec v51.0.0
  packages/@aws-cdk/cfnspec/CHANGELOG.md
  packages/@aws-cdk/cfnspec/spec-source/specification/100_sam/000_official/spec.json
Labels: pr-linter/exempt-test, @aws-cdk/cfnspec, auto-approve

#18275 fix(cfn2ts): some property times have behavioral-interface names
  tools/@aws-cdk/cfn2ts/lib/codegen.ts
Labels: contribution/core, pr-linter/exempt-test

#18144 chore: update node version in readme
  CONTRIBUTING.md
  README.md
Labels: contribution/core

#18221 fix(aws-kinesis): remove default shard count when stream mode is on-demand and set default mode to provisioned
  packages/@aws-cdk/aws-dynamodb/test/integ.dynamodb.kinesis-stream.expected.json
  packages/@aws-cdk/aws-events-targets/test/kinesis/integ.kinesis-stream.expected.json
  packages/@aws-cdk/aws-kinesis/lib/stream.ts
  packages/@aws-cdk/aws-kinesis/test/integ.stream-dashboard.expected.json
  packages/@aws-cdk/aws-kinesis/test/integ.stream.expected.json
  packages/@aws-cdk/aws-kinesis/test/stream.test.ts
  packages/@aws-cdk/aws-kinesisfirehose/test/integ.delivery-stream.source-stream.expected.json
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.kinesis.expected.json
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.kinesiswithdlq.expected.json
Labels: @aws-cdk/aws-kinesis

#18286 chore: forward merge 'master' into 'v2-main'
  CONTRIBUTING.md
  README.md
  packages/@aws-cdk/aws-dynamodb/test/integ.dynamodb.kinesis-stream.expected.json
  packages/@aws-cdk/aws-events-targets/test/kinesis/integ.kinesis-stream.expected.json
  packages/@aws-cdk/aws-kinesis/lib/stream.ts
  packages/@aws-cdk/aws-kinesis/test/integ.stream-dashboard.expected.json
  packages/@aws-cdk/aws-kinesis/test/integ.stream.expected.json
  packages/@aws-cdk/aws-kinesis/test/stream.test.ts
  packages/@aws-cdk/aws-kinesisfirehose/test/integ.delivery-stream.source-stream.expected.json
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.kinesis.expected.json
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.kinesiswithdlq.expected.json
Labels: pr/no-squash, pr/forward-merge, auto-approve

#18289 chore(merge-back): 2.4.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/no-squash, auto-approve

#18264 chore(cloudfront): encryption and enforceSSL on distribution s3 loggingBucket
  packages/@aws-cdk/aws-cloudfront/lib/distribution.ts
  packages/@aws-cdk/aws-cloudfront/lib/web-distribution.ts
  packages/@aws-cdk/aws-cloudfront/test/integ.cloudfront-bucket-logging.expected.json
  packages/@aws-cdk/aws-cloudfront/test/integ.distribution-extensive.expected.json
Labels: @aws-cdk/aws-cloudfront

#18271 chore(ec2): enforceSSL on flowLog s3 bucket
  packages/@aws-cdk/aws-ec2/lib/vpc-flow-logs.ts
  packages/@aws-cdk/aws-ec2/test/integ.vpc-flow-logs.expected.json
Labels: @aws-cdk/aws-ec2

#18268 chore(codepipeline): enforce SSL on implicitly-created S3 buckets
  packages/@aws-cdk/aws-codepipeline-actions/test/cloudformation/cloudformation-pipeline-actions.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.cfn-template-from-repo.lit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.lambda-deployed-through-codepipeline.lit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.lambda-pipeline.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-alexa-deploy.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-cfn.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-commit-build.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-commit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-events.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-stepfunctions.expected.json
  packages/@aws-cdk/aws-codepipeline/lib/pipeline.ts
  packages/@aws-cdk/aws-codepipeline/lib/private/cross-region-support-stack.ts
  packages/@aws-cdk/aws-events-targets/test/codepipeline/integ.pipeline-event-target.expected.json
  packages/@aws-cdk/pipelines/test/integ.newpipeline-with-vpc.expected.json
  packages/@aws-cdk/pipelines/test/integ.newpipeline.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-security.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets-single-upload.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline.expected.json
  packages/decdk/test/__snapshots__/synth.test.js.snap
Labels: @aws-cdk/aws-codepipeline

#18265 fix(appmesh): allow a Virtual Node have as a backend a Virtual Service whose provider is that Node
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.all-service-addons.expected.json
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/shared-interfaces.ts
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.expected.json
  packages/@aws-cdk/aws-appmesh/test/mesh.test.ts
  packages/@aws-cdk/aws-appmesh/test/virtual-node.test.ts
Labels: @aws-cdk/aws-appmesh

#18306 fix(lambda-python): asset files are generated inside the 'asset-input' folder
  packages/@aws-cdk/aws-lambda-python/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-python/test/bundling.test.ts
Labels: contribution/core, @aws-cdk/aws-lambda-python

#18308 chore(release): 1.138.1
  CHANGELOG.md
  packages/@aws-cdk/aws-lambda-python/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-python/test/bundling.test.ts
  version.v1.json
Labels: contribution/core, pr/no-squash

#18310 chore(merge-back): 1.138.1
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash, auto-approve

#17965 fix(aws-lambda-event-sources): unsupported properties for SelfManagedKafkaEventSource and ManagedKafkaEventSource
  allowed-breaking-changes.txt
  packages/@aws-cdk/aws-lambda-event-sources/lib/kafka.ts
  packages/@aws-cdk/aws-lambda-event-sources/lib/stream.ts
Labels: pr-linter/exempt-test, @aws-cdk/aws-lambda-event-sources

#18315 fix(apigatewayv2-authorizers): incorrect `identitySource` default for `WebSocketLambdaAuthorizer`
  packages/@aws-cdk/aws-apigatewayv2-authorizers/lib/websocket/lambda.ts
  packages/@aws-cdk/aws-apigatewayv2-authorizers/test/websocket/lambda.test.ts
Labels: contribution/core, @aws-cdk/aws-apigatewayv2-authorizers

#17912 docs: Add urls for blog posts
  README.md
Labels: documentation

#18324 fix(cli): breaks due to faulty version of `colors`
  package.json
  packages/@aws-cdk/aws-cloudtrail/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  tools/@aws-cdk/cdk-build-tools/package.json
  tools/@aws-cdk/pkglint/package.json
  yarn.lock
Labels: package/tools, pr-linter/exempt-readme, pr-linter/exempt-test, @aws-cdk/aws-workspaces

#18328 fix(cli): breaks due to faulty version of `colors` (#18324)
  package.json
  packages/@aws-cdk/aws-cloudtrail/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  tools/@aws-cdk/cdk-build-tools/package.json
  tools/@aws-cdk/pkglint/package.json
  yarn.lock
Labels: package/tools, contribution/core, pr-linter/exempt-readme, pr-linter/exempt-test

#18327 chore(release): 1.138.2
  CHANGELOG.md
  package.json
  packages/@aws-cdk/aws-cloudtrail/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  tools/@aws-cdk/cdk-build-tools/package.json
  tools/@aws-cdk/pkglint/package.json
  version.v1.json
  yarn.lock
Labels: contribution/core, pr/no-squash

#18330 chore(release): 2.5.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  CONTRIBUTING.md
  README.md
  package.json
  packages/@aws-cdk/aws-cloudtrail/package.json
  packages/@aws-cdk/aws-dynamodb/test/integ.dynamodb.kinesis-stream.expected.json
  packages/@aws-cdk/aws-events-targets/test/kinesis/integ.kinesis-stream.expected.json
  packages/@aws-cdk/aws-kinesis/lib/stream.ts
  packages/@aws-cdk/aws-kinesis/test/integ.stream-dashboard.expected.json
  packages/@aws-cdk/aws-kinesis/test/integ.stream.expected.json
  packages/@aws-cdk/aws-kinesis/test/stream.test.ts
  packages/@aws-cdk/aws-kinesisfirehose/test/integ.delivery-stream.source-stream.expected.json
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.kinesis.expected.json
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.kinesiswithdlq.expected.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  tools/@aws-cdk/cdk-build-tools/package.json
  tools/@aws-cdk/pkglint/package.json
  version.v2.json
  yarn.lock
Labels: pr/no-squash, auto-approve

#18334 chore(merge-back): 2.5.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/no-squash, auto-approve

#18336 chore(merge-back): 1.138.2
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash, auto-approve

#18313 fix(pipelines): `DockerCredential.dockerHub()` silently fails auth
  packages/@aws-cdk/pipelines/lib/docker-credentials.ts
  packages/@aws-cdk/pipelines/test/docker-credentials.test.ts
  packages/cdk-assets/bin/docker-credential-cdk-assets.ts
  packages/cdk-assets/lib/private/docker-credentials.ts
  packages/cdk-assets/lib/private/docker.ts
  packages/cdk-assets/test/private/docker-credentials.test.ts
Labels: contribution/core, @aws-cdk/pipelines

#18109 feat(eks): cluster tagging (#4995)
  packages/@aws-cdk/aws-eks/lib/cluster-resource.ts
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.ts
Labels: @aws-cdk/aws-eks, pr-linter/exempt-readme

#18304 chore: forward merge 'master' into 'v2-main'
  .github/workflows/yarn-upgrade.yml
  CONTRIBUTING.md
  README.md
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.all-service-addons.expected.json
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/shared-interfaces.ts
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.expected.json
  packages/@aws-cdk/aws-appmesh/test/mesh.test.ts
  packages/@aws-cdk/aws-appmesh/test/virtual-node.test.ts
  packages/@aws-cdk/aws-cloudfront/lib/distribution.ts
  packages/@aws-cdk/aws-cloudfront/lib/web-distribution.ts
  packages/@aws-cdk/aws-cloudfront/test/integ.cloudfront-bucket-logging.expected.json
  packages/@aws-cdk/aws-cloudfront/test/integ.distribution-extensive.expected.json
  packages/@aws-cdk/aws-cloudtrail/package.json
  packages/@aws-cdk/aws-codepipeline-actions/test/cloudformation/cloudformation-pipeline-actions.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.cfn-template-from-repo.lit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.lambda-deployed-through-codepipeline.lit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.lambda-pipeline.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-alexa-deploy.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-cfn.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-commit-build.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-commit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-events.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-stepfunctions.expected.json
  packages/@aws-cdk/aws-codepipeline/lib/pipeline.ts
  packages/@aws-cdk/aws-codepipeline/lib/private/cross-region-support-stack.ts
  packages/@aws-cdk/aws-ec2/lib/vpc-flow-logs.ts
  packages/@aws-cdk/aws-ec2/test/integ.vpc-flow-logs.expected.json
  packages/@aws-cdk/aws-events-targets/test/codepipeline/integ.pipeline-event-target.expected.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/pipelines/test/integ.newpipeline-with-vpc.expected.json
  packages/@aws-cdk/pipelines/test/integ.newpipeline.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-security.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets-single-upload.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline.expected.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/decdk/test/__snapshots__/synth.test.js.snap
  tools/@aws-cdk/cdk-build-tools/package.json
Labels: pr/no-squash, pr/forward-merge, auto-approve

#18342 docs(core): errors will fail deployment, not synthesis
  packages/@aws-cdk/core/lib/annotations.ts
Labels: @aws-cdk/core, contribution/core

#18277 feat(cli): diff now uses the lookup Role for new-style synthesis
  packages/@aws-cdk/cloud-assembly-schema/lib/cloud-assembly/artifact-schema.ts
  packages/@aws-cdk/cloud-assembly-schema/schema/cloud-assembly.schema.json
  packages/@aws-cdk/cloud-assembly-schema/schema/cloud-assembly.version.json
  packages/@aws-cdk/core/lib/stack-synthesizers/default-synthesizer.ts
  packages/@aws-cdk/core/lib/stack-synthesizers/stack-synthesizer.ts
  packages/@aws-cdk/cx-api/lib/artifacts/cloudformation-artifact.ts
  packages/aws-cdk/lib/api/aws-auth/sdk-provider.ts
  packages/aws-cdk/lib/api/bootstrap/deploy-bootstrap.ts
  packages/aws-cdk/lib/api/cloudformation-deployments.ts
  packages/aws-cdk/lib/api/hotswap-deployments.ts
  packages/aws-cdk/lib/api/toolkit-info.ts
  packages/aws-cdk/lib/context-providers/ami.ts
  packages/aws-cdk/lib/context-providers/availability-zones.ts
  packages/aws-cdk/lib/context-providers/endpoint-service-availability-zones.ts
  packages/aws-cdk/lib/context-providers/hosted-zones.ts
  packages/aws-cdk/lib/context-providers/keys.ts
  packages/aws-cdk/lib/context-providers/load-balancers.ts
  packages/aws-cdk/lib/context-providers/security-groups.ts
  packages/aws-cdk/lib/context-providers/ssm-parameters.ts
  packages/aws-cdk/lib/context-providers/vpcs.ts
  packages/aws-cdk/lib/util/asset-publishing.ts
  packages/aws-cdk/test/api/cloudformation-deployments.test.ts
  packages/aws-cdk/test/api/sdk-provider.test.ts
  packages/aws-cdk/test/cdk-toolkit.test.ts
  packages/aws-cdk/test/context-providers/load-balancers.test.ts
  packages/aws-cdk/test/util/cloudformation.test.ts
  packages/aws-cdk/test/util/mock-sdk.ts
  packages/aws-cdk/test/util/mock-toolkitinfo.ts
Labels: package/tools, contribution/core, pr-linter/exempt-readme, @aws-cdk/cloud-assembly-schema

#18340 fix(cli): assets are KMS-encrypted using wrong key
  packages/cdk-assets/lib/private/handlers/files.ts
  packages/cdk-assets/test/files.test.ts
Labels: package/tools, contribution/core

#18020 chore: make examples compile
  packages/@aws-cdk/aws-backup/README.md
  packages/@aws-cdk/aws-backup/package.json
  packages/@aws-cdk/aws-backup/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-backup/rosetta/with-plan.ts-fixture
  packages/@aws-cdk/aws-cloudtrail/README.md
  packages/@aws-cdk/aws-cloudtrail/package.json
  packages/@aws-cdk/aws-cloudtrail/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-config/README.md
  packages/@aws-cdk/aws-config/package.json
  packages/@aws-cdk/aws-config/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-s3-assets/README.md
  packages/@aws-cdk/aws-s3-assets/lib/asset.ts
  packages/@aws-cdk/aws-s3-assets/package.json
  packages/@aws-cdk/aws-s3-assets/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-s3-deployment/README.md
  packages/@aws-cdk/aws-s3-deployment/package.json
  packages/@aws-cdk/aws-s3-deployment/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-s3-notifications/README.md
  packages/@aws-cdk/aws-s3-notifications/package.json
  packages/@aws-cdk/aws-s3-notifications/rosetta/default.ts-fixture
  packages/@aws-cdk/custom-resources/README.md
  packages/@aws-cdk/custom-resources/package.json
  packages/@aws-cdk/custom-resources/rosetta/default.ts-fixture
Labels: contribution/core, @aws-cdk/aws-s3-notifications

#18335 fix(lambda-python): bundle asset files correctly
  packages/@aws-cdk/aws-lambda-python/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-python/test/bundling.test.ts
Labels: @aws-cdk/aws-lambda-python

#17920 feat(lambda-event-sources): adds `AuthenticationMethod.CLIENT_CERTIFICATE_TLS_AUTH` to kafka
  packages/@aws-cdk/aws-lambda-event-sources/lib/kafka.ts
  packages/@aws-cdk/aws-lambda-event-sources/test/kafka.test.ts
  packages/@aws-cdk/aws-lambda/lib/event-source-mapping.ts
Labels: pr-linter/exempt-readme, @aws-cdk/aws-lambda-event-sources

#18269 chore(synthetics): enforceSSL on canary s3 ArtifactsBucket
  packages/@aws-cdk/aws-synthetics/lib/canary.ts
  packages/@aws-cdk/aws-synthetics/test/integ.canary.expected.json
Labels: @aws-cdk/aws-synthetics

#18349 chore: make even more examples compile
  packages/@aws-cdk/aws-apprunner/README.md
  packages/@aws-cdk/aws-apprunner/package.json
  packages/@aws-cdk/aws-apprunner/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-codecommit/README.md
  packages/@aws-cdk/aws-codecommit/package.json
  packages/@aws-cdk/aws-codecommit/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-ecr-assets/README.md
  packages/@aws-cdk/aws-ecr-assets/package.json
  packages/@aws-cdk/aws-ecr-assets/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-fsx/README.md
  packages/@aws-cdk/aws-fsx/package.json
  packages/@aws-cdk/aws-fsx/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-globalaccelerator/README.md
  packages/@aws-cdk/aws-globalaccelerator/package.json
  packages/@aws-cdk/aws-globalaccelerator/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-iot-actions/README.md
  packages/@aws-cdk/aws-iot-actions/package.json
  packages/@aws-cdk/aws-iot-actions/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-iot/README.md
  packages/@aws-cdk/aws-iot/package.json
  packages/@aws-cdk/aws-iot/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-route53resolver/README.md
  packages/@aws-cdk/aws-route53resolver/package.json
  packages/@aws-cdk/aws-route53resolver/rosetta/default.ts-fixture
Labels: contribution/core

#17622 feat(aws-ecs): support runtime platform property for create fargate windows runtime.
  packages/@aws-cdk/aws-ecs/README.md
  packages/@aws-cdk/aws-ecs/lib/base/task-definition.ts
  packages/@aws-cdk/aws-ecs/lib/fargate/fargate-task-definition.ts
  packages/@aws-cdk/aws-ecs/lib/index.ts
  packages/@aws-cdk/aws-ecs/lib/runtime-platform.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-task-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/integ.runtime.expected.json
  packages/@aws-cdk/aws-ecs/test/fargate/integ.runtime.ts
Labels: @aws-cdk/aws-ecs

#18180 feat(iam): generate AccessKeys
  packages/@aws-cdk/aws-apigatewayv2-authorizers/test/http/integ.iam.expected.json
  packages/@aws-cdk/aws-apigatewayv2-authorizers/test/http/integ.iam.ts
  packages/@aws-cdk/aws-iam/README.md
  packages/@aws-cdk/aws-iam/lib/access-key.ts
  packages/@aws-cdk/aws-iam/lib/index.ts
  packages/@aws-cdk/aws-iam/package.json
  packages/@aws-cdk/aws-iam/test/access-key.test.ts
  packages/@aws-cdk/aws-iam/test/integ.access-key.expected.json
  packages/@aws-cdk/aws-iam/test/integ.access-key.ts
  packages/@aws-cdk/aws-secretsmanager/lib/secret.ts
  packages/@aws-cdk/aws-secretsmanager/test/integ.secret.lit.expected.json
  packages/@aws-cdk/aws-secretsmanager/test/integ.secret.lit.ts
  packages/@aws-cdk/aws-secretsmanager/test/secret.test.ts
Labels: @aws-cdk/aws-iam

#16636 feat(apigatewayv2): websocket api: api keys
  packages/@aws-cdk/aws-apigatewayv2/README.md
  packages/@aws-cdk/aws-apigatewayv2/lib/websocket/api.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/websocket/route.ts
  packages/@aws-cdk/aws-apigatewayv2/test/websocket/api.test.ts
  packages/@aws-cdk/aws-apigatewayv2/test/websocket/integ.api-apikey.expected.json
  packages/@aws-cdk/aws-apigatewayv2/test/websocket/integ.api-apikey.ts
  packages/@aws-cdk/aws-apigatewayv2/test/websocket/route.test.ts
Labels: @aws-cdk/aws-apigatewayv2

#18363 chore: transition from using colors to chalk
  package.json
  packages/@aws-cdk/aws-cloudtrail/package.json
  packages/@aws-cdk/cloudformation-diff/lib/format-table.ts
  packages/@aws-cdk/cloudformation-diff/lib/format.ts
  packages/@aws-cdk/cloudformation-diff/lib/iam/iam-changes.ts
  packages/@aws-cdk/cloudformation-diff/lib/network/security-group-changes.ts
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/lib/api/cxapp/cloud-assembly.ts
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/lib/api/hotswap-deployments.ts
  packages/aws-cdk/lib/api/toolkit-info.ts
  packages/aws-cdk/lib/api/util/cloudformation/stack-activity-monitor.ts
  packages/aws-cdk/lib/assets.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/lib/commands/context.ts
  packages/aws-cdk/lib/commands/docs.ts
  packages/aws-cdk/lib/commands/doctor.ts
  packages/aws-cdk/lib/diff.ts
  packages/aws-cdk/lib/init.ts
  packages/aws-cdk/lib/logging.ts
  packages/aws-cdk/lib/os.ts
  packages/aws-cdk/lib/plugin.ts
  packages/aws-cdk/lib/util/console-formatters.ts
  packages/aws-cdk/lib/version.ts
  packages/aws-cdk/package.json
  packages/aws-cdk/test/api/stack-activity-monitor.test.ts
  packages/aws-cdk/test/util/console-formatters.test.ts
  packages/awslint/bin/awslint.ts
  packages/awslint/package.json
  packages/decdk/bin/decdk.ts
  packages/decdk/lib/cdk-schema.ts
  tools/@aws-cdk/cdk-build-tools/lib/os.ts
  tools/@aws-cdk/cdk-build-tools/package.json
  tools/@aws-cdk/pkglint/lib/packagejson.ts
  tools/@aws-cdk/pkglint/package.json
  yarn.lock
Labels: contribution/core

#18365 chore: skip post_build on build failure
  buildspec.yaml
Labels: @aws-cdk/aws-codebuild, contribution/core

#18356 fix(iot): `FirehoseStreamAction` is now called `FirehosePutRecordAction`
  packages/@aws-cdk/aws-iot-actions/README.md
  packages/@aws-cdk/aws-iot-actions/lib/firehose-put-record-action.ts
  packages/@aws-cdk/aws-iot-actions/lib/index.ts
  packages/@aws-cdk/aws-iot-actions/test/kinesis-firehose/firehose-put-record-action.test.ts
  packages/@aws-cdk/aws-iot-actions/test/kinesis-firehose/integ.firehose-put-record-action.expected.json
  packages/@aws-cdk/aws-iot-actions/test/kinesis-firehose/integ.firehose-put-record-action.ts
Labels: @aws-cdk/aws-iot

#18366 chore(merge-back): 1.139.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash, auto-approve

#18346 feat(lambda-nodejs): ES modules
  packages/@aws-cdk/aws-lambda-nodejs/README.md
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/function.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/types.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/function.test.handler3.mjs
  packages/@aws-cdk/aws-lambda-nodejs/test/function.test.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/integ-handlers/esm.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/integ.esm.expected.json
  packages/@aws-cdk/aws-lambda-nodejs/test/integ.esm.ts
Labels: @aws-cdk/aws-lambda-nodejs

#18372 chore(release): 2.6.0
  .github/workflows/yarn-upgrade.yml
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  CONTRIBUTING.md
  README.md
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.all-service-addons.expected.json
  packages/@aws-cdk/aws-appmesh/README.md
  packages/@aws-cdk/aws-appmesh/lib/shared-interfaces.ts
  packages/@aws-cdk/aws-appmesh/test/integ.mesh.expected.json
  packages/@aws-cdk/aws-appmesh/test/mesh.test.ts
  packages/@aws-cdk/aws-appmesh/test/virtual-node.test.ts
  packages/@aws-cdk/aws-cloudfront/lib/distribution.ts
  packages/@aws-cdk/aws-cloudfront/lib/web-distribution.ts
  packages/@aws-cdk/aws-cloudfront/test/integ.cloudfront-bucket-logging.expected.json
  packages/@aws-cdk/aws-cloudfront/test/integ.distribution-extensive.expected.json
  packages/@aws-cdk/aws-cloudtrail/package.json
  packages/@aws-cdk/aws-codepipeline-actions/test/cloudformation/cloudformation-pipeline-actions.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.cfn-template-from-repo.lit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.lambda-deployed-through-codepipeline.lit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.lambda-pipeline.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-alexa-deploy.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-cfn.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-commit-build.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-code-commit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-events.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-stepfunctions.expected.json
  packages/@aws-cdk/aws-codepipeline/lib/pipeline.ts
  packages/@aws-cdk/aws-codepipeline/lib/private/cross-region-support-stack.ts
  packages/@aws-cdk/aws-ec2/lib/vpc-flow-logs.ts
  packages/@aws-cdk/aws-ec2/test/integ.vpc-flow-logs.expected.json
  packages/@aws-cdk/aws-events-targets/test/codepipeline/integ.pipeline-event-target.expected.json
  packages/@aws-cdk/aws-lambda-python/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-python/test/bundling.test.ts
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/pipelines/test/integ.newpipeline-with-vpc.expected.json
  packages/@aws-cdk/pipelines/test/integ.newpipeline.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-security.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets-single-upload.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-assets.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline.expected.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/decdk/test/__snapshots__/synth.test.js.snap
  tools/@aws-cdk/cdk-build-tools/package.json
  version.v2.json
Labels: pr/no-squash, auto-approve

#18374 chore: fix short-circuit of post_build step
  buildspec.yaml
Labels: @aws-cdk/aws-codebuild, contribution/core

#18225 feat(aws-s3): support number of newer versions to retain in lifecycle policy
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/aws-s3/lib/rule.ts
  packages/@aws-cdk/aws-s3/test/rules.test.ts
Labels: @aws-cdk/aws-s3, pr-linter/exempt-readme

#18377 chore(merge-back): 2.6.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/no-squash, auto-approve

#18378 chore(cli): bootstrap stack downgrading is no longer an error
  packages/aws-cdk/lib/api/bootstrap/deploy-bootstrap.ts
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/lib/api/hotswap-deployments.ts
  packages/aws-cdk/test/api/bootstrap2.test.ts
Labels: package/tools, contribution/core

#18379 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/app-delivery/package.json
  packages/@aws-cdk/aws-applicationautoscaling/package.json
  packages/@aws-cdk/aws-autoscaling-common/package.json
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-dynamodb-global/lambda-packages/aws-global-table-coordinator/package.json
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/cloud-assembly-schema/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/core/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-assets/package.json
  packages/cdk-dasm/package.json
  packages/decdk/package.json
  tools/@aws-cdk/cdk-build-tools/package.json
  tools/@aws-cdk/cfn2ts/package.json
  yarn.lock
Labels: dependencies, contribution/core, auto-approve

#18154 feat(apigatewayv2): HttpRouteIntegration supports AWS services integrations
  packages/@aws-cdk/aws-apigatewayv2-integrations/lib/http/lambda.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/integration.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/parameter-mapping.ts
  packages/@aws-cdk/aws-apigatewayv2/test/http/route.test.ts
Labels: pr-linter/exempt-readme, @aws-cdk/aws-apigatewayv2

#18385 chore(merge-back): 2.7.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/no-squash, auto-approve

#18129 feat(apigatewayv2): support for mock integration type
  packages/@aws-cdk/aws-apigatewayv2-integrations/lib/websocket/index.ts
  packages/@aws-cdk/aws-apigatewayv2-integrations/lib/websocket/mock.ts
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/websocket/integ.mock.expected.json
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/websocket/integ.mock.ts
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/websocket/mock.test.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/websocket/integration.ts
Labels: pr-linter/exempt-readme, @aws-cdk/aws-apigatewayv2

#18159 feat(cli): watch streams resources' CloudWatch logs to the terminal
  packages/aws-cdk/README.md
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/lib/api/aws-auth/sdk.ts
  packages/aws-cdk/lib/api/cloudformation-deployments.ts
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/lib/api/evaluate-cloudformation-template.ts
  packages/aws-cdk/lib/api/hotswap-deployments.ts
  packages/aws-cdk/lib/api/hotswap/code-build-projects.ts
  packages/aws-cdk/lib/api/hotswap/common.ts
  packages/aws-cdk/lib/api/hotswap/ecs-services.ts
  packages/aws-cdk/lib/api/hotswap/lambda-functions.ts
  packages/aws-cdk/lib/api/hotswap/s3-bucket-deployments.ts
  packages/aws-cdk/lib/api/hotswap/stepfunctions-state-machines.ts
  packages/aws-cdk/lib/api/logs/find-cloudwatch-logs.ts
  packages/aws-cdk/lib/api/logs/logs-monitor.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/test/api/logs/find-cloudwatch-logs.test.ts
  packages/aws-cdk/test/api/logs/logs-monitor.test.ts
  packages/aws-cdk/test/util/mock-sdk.ts
Labels: package/tools, contribution/core

#17802 chore(ecs-service-extensions): Deprecate scale on CPU utilization extension
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/scale-on-cpu-utilization.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/service.ts
  packages/@aws-cdk-containers/ecs-service-extensions/test/appmesh.test.ts
  packages/@aws-cdk-containers/ecs-service-extensions/test/scale-on-cpu-utilization.test.ts
Labels: @aws-cdk-containers/ecs-service-extensions

#17817 feat(ecs-service-extensions): Enable default logging to CloudWatch for extensions (under feature flag)
  packages/@aws-cdk-containers/ecs-service-extensions/README.md
  packages/@aws-cdk-containers/ecs-service-extensions/lib/extensions/container.ts
  packages/@aws-cdk-containers/ecs-service-extensions/lib/service.ts
  packages/@aws-cdk-containers/ecs-service-extensions/package.json
  packages/@aws-cdk-containers/ecs-service-extensions/test/appmesh.test.ts
  packages/@aws-cdk-containers/ecs-service-extensions/test/cloudwatch-agent.test.ts
  packages/@aws-cdk-containers/ecs-service-extensions/test/container.test.ts
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.assign-public-ip.expected.json
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.custom-service-extension.expected.json
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.imported-environment.expected.json
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.multiple-environments.expected.json
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.publish-subscribe.expected.json
  packages/@aws-cdk-containers/ecs-service-extensions/test/service.test.ts
  packages/@aws-cdk/cx-api/lib/features.ts
Labels: @aws-cdk/aws-cloudwatch, @aws-cdk-containers/ecs-service-extensions

#18212 fix(ecs): respect LogGroup's region for aws-log-driver
  packages/@aws-cdk/aws-ecs/lib/log-drivers/aws-log-driver.ts
  packages/@aws-cdk/aws-ecs/test/aws-log-driver.test.ts
Labels: @aws-cdk/aws-ecs

#18394 feat(aws-neptune): add autoMinorVersionUpgrade to cluster props
  packages/@aws-cdk/aws-neptune/README.md
  packages/@aws-cdk/aws-neptune/lib/cluster.ts
  packages/@aws-cdk/aws-neptune/test/cluster.test.ts
  packages/@aws-cdk/aws-neptune/test/integ.cluster.expected.json
  packages/@aws-cdk/aws-neptune/test/integ.cluster.ts
Labels: contribution/core, @aws-cdk/aws-neptune

#18403 chore(cdk-assets): fix test issue
  packages/cdk-assets/test/mock-aws.ts
  packages/cdk-assets/test/private/docker-credentials.test.ts
Labels: @aws-cdk/aws-lambda, contribution/core

#18412 chore(s3-deployment): removed obsolete experimental notice
  packages/@aws-cdk/aws-s3-deployment/README.md
Labels: contribution/core, @aws-cdk/aws-s3-deployment

#18413 docs(s3-deployment): clarify section around key updates
  packages/@aws-cdk/aws-s3-deployment/README.md
Labels: contribution/core, @aws-cdk/aws-s3-deployment

#18419 chore(merge-back): 2.8.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/no-squash, auto-approve

#18407 fix(apigateway): `enabled` property of `ApiKeyProps` is ignored
  packages/@aws-cdk/aws-apigateway/lib/api-key.ts
  packages/@aws-cdk/aws-apigateway/test/api-key.test.ts
Labels: @aws-cdk/aws-apigateway, contribution/core

#16190 feat(cognito): identity pools
  packages/@aws-cdk/aws-cognito-identitypool/.eslintrc.js
  packages/@aws-cdk/aws-cognito-identitypool/.gitignore
  packages/@aws-cdk/aws-cognito-identitypool/.npmignore
  packages/@aws-cdk/aws-cognito-identitypool/LICENSE
  packages/@aws-cdk/aws-cognito-identitypool/NOTICE
  packages/@aws-cdk/aws-cognito-identitypool/README.md
  packages/@aws-cdk/aws-cognito-identitypool/jest.config.js
  packages/@aws-cdk/aws-cognito-identitypool/lib/identitypool-role-attachment.ts
  packages/@aws-cdk/aws-cognito-identitypool/lib/identitypool-user-pool-authentication-provider.ts
  packages/@aws-cdk/aws-cognito-identitypool/lib/identitypool.ts
  packages/@aws-cdk/aws-cognito-identitypool/lib/index.ts
  packages/@aws-cdk/aws-cognito-identitypool/package.json
  packages/@aws-cdk/aws-cognito-identitypool/test/identitypool.test.ts
  packages/@aws-cdk/aws-cognito-identitypool/test/integ.identitypool.expected.json
  packages/@aws-cdk/aws-cognito-identitypool/test/integ.identitypool.ts
  packages/@aws-cdk/aws-cognito/README.md
  packages/aws-cdk-lib/package.json
  packages/decdk/package.json
  packages/monocdk/package.json
  yarn.lock
Labels: @aws-cdk/aws-cognito, effort/large

#18432 feat(opensearch): added opensearch 1.1 to engineversion
  packages/@aws-cdk/aws-opensearchservice/lib/version.ts
Labels: pr-linter/exempt-readme, pr-linter/exempt-test, @aws-cdk/aws-opensearch

#18319 feat(cli): support hotswapping Lambda functions that use Docker images
  packages/aws-cdk/README.md
  packages/aws-cdk/lib/api/hotswap/lambda-functions.ts
  packages/aws-cdk/test/api/hotswap/lambda-functions-docker-hotswap-deployments.test.ts
Labels: package/tools

#18085 fix(applicationautoscaling): typo in `DYANMODB_WRITE_CAPACITY_UTILIZATION`
  packages/@aws-cdk/aws-applicationautoscaling/lib/target-tracking-scaling-policy.ts
  packages/@aws-cdk/aws-applicationautoscaling/package.json
  packages/@aws-cdk/aws-applicationautoscaling/test/target-tracking.test.ts
  packages/@aws-cdk/aws-dynamodb/lib/scalable-table-attribute.ts
Labels: @aws-cdk/aws-applicationautoscaling, pr-linter/exempt-test

#18441 chore: fix CloudFormation spec generation
  tools/@aws-cdk/cfn2ts/lib/genspec.ts
  tools/@aws-cdk/pkglint/lib/library-creation.ts
Labels: contribution/core, @aws-cdk/aws-inspector

#18117 feat(ec2): add support for al2022 and amzn2 with kernel 5.x
  packages/@aws-cdk/aws-ec2/README.md
  packages/@aws-cdk/aws-ec2/lib/machine-image.ts
  packages/@aws-cdk/aws-ec2/test/example.images.lit.ts
  packages/@aws-cdk/aws-ec2/test/machine-image.test.ts
Labels: @aws-cdk/aws-ec2

#18474 fix(elbv2): BaseLoadBalancer.vpc is not optional
  allowed-breaking-changes.txt
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/shared/base-load-balancer.ts
Labels: contribution/core, pr-linter/exempt-test, @aws-cdk/aws-elasticloadbalancingv2

#18469 feat(assertions): support for parameters
  packages/@aws-cdk/assertions/lib/private/parameters.ts
  packages/@aws-cdk/assertions/lib/private/template.ts
  packages/@aws-cdk/assertions/lib/template.ts
  packages/@aws-cdk/assertions/test/template.test.ts
Labels: contribution/core, pr-linter/exempt-readme, pr-linter/exempt-test, @aws-cdk/assertions

#18480 feat(cfnspec): cloudformation spec v53.0.0
  packages/@aws-cdk/cfnspec/CHANGELOG.md
Labels: pr-linter/exempt-test, @aws-cdk/cfnspec, auto-approve

#17812 fix(secretsmanager): Secret requires KMS key for some same-account access
  packages/@aws-cdk/aws-secretsmanager/lib/secret.ts
  packages/@aws-cdk/aws-secretsmanager/test/secret.test.ts
Labels: @aws-cdk/aws-kms, @aws-cdk/aws-secretsmanager

#17766 fix(ec2): launch template names in imdsv2 not unique across stacks (under feature flag)
  packages/@aws-cdk/aws-ec2/lib/aspects/require-imdsv2-aspect.ts
  packages/@aws-cdk/aws-ec2/test/aspects/require-imdsv2-aspect.test.ts
  packages/@aws-cdk/cx-api/lib/features.ts
Labels: @aws-cdk/aws-ec2

#18482 chore(kinesis): migrated tests to `assertions`
  packages/@aws-cdk/aws-kinesis/package.json
  packages/@aws-cdk/aws-kinesis/test/stream.test.ts
Labels: @aws-cdk/aws-kinesis, contribution/core

#18481 chore(ses): migrated tests to `assertions`
  packages/@aws-cdk/aws-ses/package.json
  packages/@aws-cdk/aws-ses/test/receipt-filter.test.ts
  packages/@aws-cdk/aws-ses/test/receipt-rule-set.test.ts
  packages/@aws-cdk/aws-ses/test/receipt-rule.test.ts
Labels: @aws-cdk/aws-ses, contribution/core

#18472 chore(ses-actions): migrated tests to `assertions`
  packages/@aws-cdk/aws-ses-actions/package.json
  packages/@aws-cdk/aws-ses-actions/test/actions.test.ts
Labels: contribution/core, @aws-cdk/aws-ses-actions

#18471 chore(assets): migrated tests to `assertions`
  packages/@aws-cdk/assets/package.json
  packages/@aws-cdk/assets/test/compat.test.ts
  packages/@aws-cdk/assets/test/staging.test.ts
Labels: @aws-cdk/assets, contribution/core

#18467 chore(s3-deployment): migrated tests to `assertions`
  packages/@aws-cdk/aws-s3-deployment/package.json
  packages/@aws-cdk/aws-s3-deployment/test/bucket-deployment.test.ts
Labels: contribution/core, @aws-cdk/aws-s3-deployment

#18465 chore(s3-notifications): migrated tests to `assertions`
  packages/@aws-cdk/aws-s3-notifications/package.json
  packages/@aws-cdk/aws-s3-notifications/test/lambda/lambda.test.ts
  packages/@aws-cdk/aws-s3-notifications/test/notifications.test.ts
  packages/@aws-cdk/aws-s3-notifications/test/queue.test.ts
  packages/@aws-cdk/aws-s3-notifications/test/sns.test.ts
Labels: contribution/core, @aws-cdk/aws-s3-notifications

#18442 chore(stepfunctions): fix readme example
  packages/@aws-cdk/aws-stepfunctions/README.md
  packages/@aws-cdk/aws-stepfunctions/rosetta/default.ts-fixture
Labels: @aws-cdk/aws-stepfunctions, contribution/core

#18487 chore: prevent empty zip uploads
  packages/cdk-assets/lib/private/handlers/files.ts
  packages/cdk-assets/test/fake-listener.ts
  packages/cdk-assets/test/files.test.ts
Labels: contribution/core

#18489 fix(cli): warning to upgrade to bootstrap version >= undefined
  packages/aws-cdk/lib/api/cloudformation-deployments.ts
  packages/aws-cdk/test/cdk-toolkit.test.ts
Labels: package/tools, contribution/core, pr-linter/exempt-test

#18490 chore(fsx): migrate tests to `assertions`
  packages/@aws-cdk/aws-fsx/package.json
  packages/@aws-cdk/aws-fsx/test/lustre-file-system.test.ts
Labels: contribution/core, @aws-cdk/aws-fsx

#18497 chore(lambda-nodejs): migrate tests to `assertions`
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-lambda-nodejs/test/function.test.ts
Labels: contribution/core, @aws-cdk/aws-lambda-nodejs

#18498 chore(cloudformation): migrate tests to `assertions`
  packages/@aws-cdk/aws-cloudformation/package.json
  packages/@aws-cdk/aws-cloudformation/test/deps.test.ts
  packages/@aws-cdk/aws-cloudformation/test/nested-stack.test.ts
  packages/@aws-cdk/aws-cloudformation/test/resource.test.ts
Labels: contribution/core, @aws-cdk/assertions

#18500 chore(logs-destinations): migrate tests to `assertions`
  packages/@aws-cdk/aws-logs-destinations/package.json
  packages/@aws-cdk/aws-logs-destinations/test/kinesis.test.ts
  packages/@aws-cdk/aws-logs-destinations/test/lambda.test.ts
Labels: contribution/core, @aws-cdk/aws-logs-destinations

#18499 chore(lambda-layer-awscli): migrate tests to `assertions`
  packages/@aws-cdk/lambda-layer-awscli/package.json
  packages/@aws-cdk/lambda-layer-awscli/test/awscli-layer.test.ts
Labels: contribution/core, @aws-cdk/aws-lambda-layer-awscli

#18501 chore(custom-resources): migrate tests to `assertions`
  packages/@aws-cdk/custom-resources/package.json
  packages/@aws-cdk/custom-resources/test/aws-custom-resource/aws-custom-resource.test.ts
  packages/@aws-cdk/custom-resources/test/provider-framework/provider.test.ts
  packages/@aws-cdk/custom-resources/test/provider-framework/waiter-state-machine.test.ts
Labels: contribution/core, @aws-cdk/custom-resources

#18502 chore(apprunner): migrate tests to `assertions`
  packages/@aws-cdk/aws-apprunner/test/service.test.ts
Labels: contribution/core, @aws-cdk/aws-apprunner

#18504 chore(signer): migrate tests to `assertions`
  packages/@aws-cdk/aws-signer/package.json
  packages/@aws-cdk/aws-signer/test/signing-profile.test.ts
Labels: contribution/core, @aws-cdk/aws-signer

#18486 fix(cli): `cdk watch` constantly prints 'messages suppressed'
  packages/aws-cdk/lib/api/logs/logs-monitor.ts
  packages/aws-cdk/test/api/logs/logs-monitor.test.ts
Labels: package/tools, contribution/core

#18476 chore(rds): deprecate SqlServerEngineVersion VER_14_00_3192_2_V1
  packages/@aws-cdk/aws-rds/lib/instance-engine.ts
Labels: @aws-cdk/aws-rds

#18450 fix(pipelines): graphnode dependencies can have duplicates
  packages/@aws-cdk/pipelines/lib/helpers-internal/graph.ts
  packages/@aws-cdk/pipelines/test/blueprint/helpers-internal/dependencies.test.ts
Labels: contribution/core, @aws-cdk/pipelines

#18408 feat(cli): support hotswapping Lambda functions with inline code
  packages/aws-cdk/README.md
  packages/aws-cdk/lib/api/hotswap/lambda-functions.ts
  packages/aws-cdk/test/api/hotswap/lambda-functions-inline-hotswap-deployments.test.ts
Labels: package/tools

#18509 chore(codeguruprofiler): migrate to Assertions
  packages/@aws-cdk/aws-codeguruprofiler/package.json
  packages/@aws-cdk/aws-codeguruprofiler/test/codeguruprofiler.test.ts
  packages/@aws-cdk/aws-codeguruprofiler/test/profiling-group.test.ts
Labels: contribution/core, @aws-cdk/aws-codeguruprofiler

#18510 chore(codestarnotifications): migrate to Assertions
  packages/@aws-cdk/aws-codestarnotifications/package.json
  packages/@aws-cdk/aws-codestarnotifications/test/notification-rule.test.ts
Labels: contribution/core, @aws-cdk/aws-codestarnotifications

#18511 chore(autoscaling): finish migrating autoscaling modules to Assertions
  packages/@aws-cdk/aws-applicationautoscaling/package.json
  packages/@aws-cdk/aws-applicationautoscaling/test/scalable-target.test.ts
  packages/@aws-cdk/aws-applicationautoscaling/test/step-scaling-policy.test.ts
  packages/@aws-cdk/aws-applicationautoscaling/test/target-tracking.test.ts
  packages/@aws-cdk/aws-autoscaling-common/package.json
  packages/@aws-cdk/aws-autoscaling-common/test/intervals.test.ts
Labels: @aws-cdk/aws-autoscaling, contribution/core

#18512 chore(acmpca): migrate to Assertions
  packages/@aws-cdk/aws-acmpca/package.json
  packages/@aws-cdk/aws-acmpca/test/acmpca.test.ts
Labels: contribution/core, @aws-cdk/aws-acmpca

#18513 chore(yaml-cfn): migrate to Assertions
  packages/@aws-cdk/yaml-cfn/package.json
  packages/@aws-cdk/yaml-cfn/test/deserialization.test.ts
  packages/@aws-cdk/yaml-cfn/test/serialization.test.ts
Labels: contribution/core, @aws-cdk/aws-yaml-cfn

#18515 chore(dynamodb-global): migrate to Assertions
  packages/@aws-cdk/aws-dynamodb-global/package.json
  packages/@aws-cdk/aws-dynamodb-global/test/dynamodb-global.test.ts
Labels: contribution/core, @aws-cdk/aws-dynamodb-global

#18516 chore(ecs): migrate to Assertions
  packages/@aws-cdk/aws-ecs/package.json
  packages/@aws-cdk/aws-ecs/test/app-mesh-proxy-configuration.test.ts
  packages/@aws-cdk/aws-ecs/test/aws-log-driver.test.ts
  packages/@aws-cdk/aws-ecs/test/cluster.test.ts
  packages/@aws-cdk/aws-ecs/test/container-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/cross-stack.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-service.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-task-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/environment-file.test.ts
  packages/@aws-cdk/aws-ecs/test/external/external-service.test.ts
  packages/@aws-cdk/aws-ecs/test/external/external-task-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-service.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-task-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/firelens-log-driver.test.ts
  packages/@aws-cdk/aws-ecs/test/fluentd-log-driver.test.ts
  packages/@aws-cdk/aws-ecs/test/gelf-log-driver.test.ts
  packages/@aws-cdk/aws-ecs/test/images/tag-parameter-container-image.test.ts
  packages/@aws-cdk/aws-ecs/test/journald-log-driver.test.ts
  packages/@aws-cdk/aws-ecs/test/json-file-log-driver.test.ts
  packages/@aws-cdk/aws-ecs/test/splunk-log-driver.test.ts
  packages/@aws-cdk/aws-ecs/test/syslog-log-driver.test.ts
  packages/@aws-cdk/aws-ecs/test/task-definition.test.ts
Labels: @aws-cdk/aws-ecs, contribution/core

#18321 feat(iot): add Action to put record to Kinesis Data stream
  packages/@aws-cdk/aws-iot-actions/README.md
  packages/@aws-cdk/aws-iot-actions/lib/index.ts
  packages/@aws-cdk/aws-iot-actions/lib/kinesis-put-record-action.ts
  packages/@aws-cdk/aws-iot-actions/package.json
  packages/@aws-cdk/aws-iot-actions/test/kinesis-stream/integ.kinesis-put-record-action.expected.json
  packages/@aws-cdk/aws-iot-actions/test/kinesis-stream/integ.kinesis-put-record-action.ts
  packages/@aws-cdk/aws-iot-actions/test/kinesis-stream/kinesis-put-record-action.test.ts
Labels: @aws-cdk/aws-iot

#18517 chore(logs): migrate all tests to assertions
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/aws-logs/test/destination.test.ts
  packages/@aws-cdk/aws-logs/test/log-retention.test.ts
  packages/@aws-cdk/aws-logs/test/loggroup.test.ts
  packages/@aws-cdk/aws-logs/test/logstream.test.ts
  packages/@aws-cdk/aws-logs/test/metricfilter.test.ts
  packages/@aws-cdk/aws-logs/test/pattern.test.ts
  packages/@aws-cdk/aws-logs/test/policy.test.ts
  packages/@aws-cdk/aws-logs/test/subscriptionfilter.test.ts
Labels: @aws-cdk/aws-logs, contribution/core

#18524 feat(cfnspec): cloudformation spec v53.0.0
  packages/@aws-cdk/cfnspec/CHANGELOG.md
Labels: pr-linter/exempt-test, @aws-cdk/cfnspec, auto-approve

#18507 revert(s3): add EventBridge bucket notifications (#18150)
  allowed-breaking-changes.txt
  packages/@aws-cdk/aws-lambda-event-sources/test/integ.s3.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/integ.notifications.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/lambda/integ.bucket-notifications.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/lambda/integ.bucket-notifications.ts
  packages/@aws-cdk/aws-s3-notifications/test/sns/integ.sns-bucket-notifications.expected.json
  packages/@aws-cdk/aws-s3-notifications/test/sqs/integ.bucket-notifications.expected.json
  packages/@aws-cdk/aws-s3/README.md
  packages/@aws-cdk/aws-s3/lib/bucket.ts
  packages/@aws-cdk/aws-s3/lib/notifications-resource/lambda/index.py
  packages/@aws-cdk/aws-s3/lib/notifications-resource/notifications-resource.ts
  packages/@aws-cdk/aws-s3/test/integ.bucket.notifications.expected.json
  packages/@aws-cdk/aws-s3/test/integ.bucket.notifications.ts
  packages/@aws-cdk/aws-s3/test/notification.test.ts
  packages/@aws-cdk/aws-s3/test/notifications-resource-handler/test_index.py
Labels: @aws-cdk/aws-s3, pr-linter/exempt-breaking-change

#18525 fix(assertions): object partiality is dropped passing through arrays
  packages/@aws-cdk/assertions/lib/match.ts
  packages/@aws-cdk/assertions/test/match.test.ts
Labels: contribution/core, @aws-cdk/assertions

#18248 feat(ec2): create Peers via security group ids
  packages/@aws-cdk/aws-ec2/lib/peer.ts
  packages/@aws-cdk/aws-ec2/test/security-group.test.ts
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme

#18485 chore(docs): improve and clean up CONTRIBUTING for feature flags
  CONTRIBUTING.md
Labels: contribution/core, aws-cdk-lib

#18445 feat(ec2): add Hpc6a instances
  packages/@aws-cdk/aws-ec2/lib/instance-types.ts
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme, pr-linter/exempt-test

#18520 chore(ecs-patterns): migrate to Assertions
  packages/@aws-cdk/aws-ecs-patterns/package.json
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/l3s-v2.test.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/l3s.test.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/queue-processing-ecs-service.test.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/scheduled-ecs-task.test.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/load-balanced-fargate-service-v2.test.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/load-balanced-fargate-service.test.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/queue-processing-fargate-service.test.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/scheduled-fargate-task.test.ts
Labels: @aws-cdk/aws-ecs-patterns, contribution/core

#18528 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/assert-internal/package.json
  packages/@aws-cdk/assert/package.json
  packages/@aws-cdk/assertions/package.json
  packages/@aws-cdk/aws-apigatewayv2-authorizers/package.json
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-cloudformation/package.json
  packages/@aws-cdk/aws-cognito-identitypool/package.json
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-ec2/package.json
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-iam/package.json
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/aws-route53/package.json
  packages/@aws-cdk/aws-s3/package.json
  packages/@aws-cdk/aws-sam/package.json
  packages/@aws-cdk/aws-ses/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/cloudformation-include/package.json
  packages/@aws-cdk/core/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/@monocdk-experiment/assert/package.json
  packages/aws-cdk/package.json
  tools/@aws-cdk/cdk-build-tools/package.json
  yarn.lock
Labels: dependencies, contribution/core, auto-approve

#18518 chore(docdb): migrate tests to use the Assertions module
  packages/@aws-cdk/aws-docdb/package.json
  packages/@aws-cdk/aws-docdb/test/cluster.test.ts
  packages/@aws-cdk/aws-docdb/test/instance.test.ts
  packages/@aws-cdk/aws-docdb/test/parameter-group.test.ts
Labels: contribution/core, @aws-cdk/aws-docdb

#18533 chore(config): migrate tests to `assertions`
  packages/@aws-cdk/aws-config/package.json
  packages/@aws-cdk/aws-config/test/managed-rules.test.ts
  packages/@aws-cdk/aws-config/test/rule.test.ts
Labels: contribution/core, @aws-cdk/assertions

#18532 chore(globalaccelerator): migrate tests to `assertions`
  packages/@aws-cdk/aws-globalaccelerator-endpoints/package.json
  packages/@aws-cdk/aws-globalaccelerator-endpoints/test/endpoints.test.ts
  packages/@aws-cdk/aws-globalaccelerator/package.json
  packages/@aws-cdk/aws-globalaccelerator/test/globalaccelerator-security-group.test.ts
  packages/@aws-cdk/aws-globalaccelerator/test/globalaccelerator.test.ts
Labels: contribution/core, @aws-cdk/aws-globalaccelerator

#18539 chore(cloudwatch-actions): migrate to Assertions
  packages/@aws-cdk/aws-cloudwatch-actions/package.json
  packages/@aws-cdk/aws-cloudwatch-actions/test/appscaling.test.ts
  packages/@aws-cdk/aws-cloudwatch-actions/test/ec2.test.ts
  packages/@aws-cdk/aws-cloudwatch-actions/test/scaling.test.ts
  packages/@aws-cdk/aws-cloudwatch-actions/test/sns.test.ts
Labels: contribution/core, @aws-cdk/aws-cloudwatch-actions

#18529 chore: move decdk to cdklabs
  packages/decdk/.gitignore
  packages/decdk/.npmignore
  packages/decdk/README.md
  packages/decdk/bin/decdk
  packages/decdk/bin/decdk-schema
  packages/decdk/bin/decdk-schema.ts
  packages/decdk/bin/decdk.ts
  packages/decdk/cloudformation.schema.json
  packages/decdk/deps.js
  packages/decdk/examples/apigw.json
  packages/decdk/examples/ecs.json
  packages/decdk/examples/lambda-events.json
  packages/decdk/examples/lambda-topic.json
  packages/decdk/examples/pipeline.json
  packages/decdk/examples/pure-cfn.json
  packages/decdk/examples/queue-kms.json
  packages/decdk/examples/vpc.json
  packages/decdk/jest.config.js
  packages/decdk/lib/cdk-schema.ts
  packages/decdk/lib/declarative-stack.ts
  packages/decdk/lib/index.ts
  packages/decdk/lib/jsii2schema.ts
  packages/decdk/lib/util.ts
  packages/decdk/package.json
  packages/decdk/test/__snapshots__/synth.test.js.snap
  packages/decdk/test/fixture/index.ts
  packages/decdk/test/fixture/package.json
  packages/decdk/test/fixture/tsconfig.json
  packages/decdk/test/sanity.test.ts
  packages/decdk/test/schema.test.ts
  packages/decdk/test/synth.test.ts
  packages/decdk/tsconfig.json
Labels: contribution/core

#18537 chore(cfn-include): migrate all tests to Assertions
  packages/@aws-cdk/cloudformation-include/package.json
  packages/@aws-cdk/cloudformation-include/test/invalid-templates.test.ts
  packages/@aws-cdk/cloudformation-include/test/nested-stacks.test.ts
  packages/@aws-cdk/cloudformation-include/test/serverless-transform.test.ts
  packages/@aws-cdk/cloudformation-include/test/test-templates/fn-sub-map-dotted-attributes.json
  packages/@aws-cdk/cloudformation-include/test/test-templates/resource-attribute-update-policy.json
  packages/@aws-cdk/cloudformation-include/test/valid-templates.test.ts
  packages/@aws-cdk/cloudformation-include/test/yaml-templates.test.ts
Labels: contribution/core

#18545 chore(codepipeline): migrate tests to assertions
  packages/@aws-cdk/aws-codepipeline/package.json
  packages/@aws-cdk/aws-codepipeline/test/action.test.ts
  packages/@aws-cdk/aws-codepipeline/test/artifacts.test.ts
  packages/@aws-cdk/aws-codepipeline/test/cross-env.test.ts
  packages/@aws-cdk/aws-codepipeline/test/general-validation.test.ts
  packages/@aws-cdk/aws-codepipeline/test/notification-rule.test.ts
  packages/@aws-cdk/aws-codepipeline/test/pipeline.test.ts
  packages/@aws-cdk/aws-codepipeline/test/stages.test.ts
  packages/@aws-cdk/aws-codepipeline/test/variables.test.ts
Labels: @aws-cdk/aws-codepipeline, contribution/core

#18538 chore(ecr): migrate to Assertions
  packages/@aws-cdk/aws-ecr/package.json
  packages/@aws-cdk/aws-ecr/test/auth-token.test.ts
  packages/@aws-cdk/aws-ecr/test/repository.test.ts
Labels: @aws-cdk/aws-ecr, contribution/core

#18541 chore(servicediscovery): migrate to Assertions
  packages/@aws-cdk/aws-servicediscovery/package.json
  packages/@aws-cdk/aws-servicediscovery/test/instance.test.ts
  packages/@aws-cdk/aws-servicediscovery/test/namespace.test.ts
  packages/@aws-cdk/aws-servicediscovery/test/service.test.ts
Labels: @aws-cdk/aws-servicediscovery, contribution/core

#18548 chore(codecommit): migrate tests to use the Assertions module
  packages/@aws-cdk/aws-codecommit/package.json
  packages/@aws-cdk/aws-codecommit/test/codecommit.test.ts
  packages/@aws-cdk/aws-codecommit/test/notification-rule.test.ts
Labels: @aws-cdk/aws-codecommit, contribution/core

#18551 feat(cfnspec): cloudformation spec v53.0.0
  packages/@aws-cdk/cfnspec/CHANGELOG.md
Labels: pr-linter/exempt-test, @aws-cdk/cfnspec, auto-approve

#18552 chore(events): migrate tests to `assertions`
  packages/@aws-cdk/aws-events-targets/package.json
  packages/@aws-cdk/aws-events-targets/test/api-gateway/api-gateway.test.ts
  packages/@aws-cdk/aws-events-targets/test/aws-api/aws-api.test.ts
  packages/@aws-cdk/aws-events-targets/test/batch/batch.test.ts
  packages/@aws-cdk/aws-events-targets/test/codebuild/codebuild.test.ts
  packages/@aws-cdk/aws-events-targets/test/codepipeline/pipeline.test.ts
  packages/@aws-cdk/aws-events-targets/test/ecs/event-rule-target.test.ts
  packages/@aws-cdk/aws-events-targets/test/event-bus/event-rule-target.test.ts
  packages/@aws-cdk/aws-events-targets/test/kinesis-firehose/kinesis-firehose-stream.test.ts
  packages/@aws-cdk/aws-events-targets/test/kinesis/kinesis-stream.test.ts
  packages/@aws-cdk/aws-events-targets/test/lambda/lambda.test.ts
  packages/@aws-cdk/aws-events-targets/test/logs/log-group-resource-policy.test.ts
  packages/@aws-cdk/aws-events-targets/test/logs/log-group.test.ts
  packages/@aws-cdk/aws-events-targets/test/sns/sns.test.ts
  packages/@aws-cdk/aws-events-targets/test/sqs/sqs.test.ts
  packages/@aws-cdk/aws-events-targets/test/stepfunctions/statemachine.test.ts
Labels: @aws-cdk/aws-events, contribution/core

#18491 feat(assertions): `stringLikeRegexp()` matcher
  packages/@aws-cdk/assertions/NOTICE
  packages/@aws-cdk/assertions/README.md
  packages/@aws-cdk/assertions/lib/match.ts
  packages/@aws-cdk/assertions/lib/template.ts
  packages/@aws-cdk/assertions/test/match.test.ts
Labels: contribution/core, @aws-cdk/assertions

#18554 fix(ec2): interface endpoints do not work with `Vpc.fromLookup()`
  packages/@aws-cdk/aws-ec2/lib/vpc-endpoint.ts
  packages/@aws-cdk/aws-ec2/lib/vpc.ts
  packages/@aws-cdk/aws-ec2/test/vpc-endpoint.test.ts
Labels: @aws-cdk/aws-ec2, contribution/core

#18559 chore(codepipeline-actions): migrate tests to `assertions`
  packages/@aws-cdk/aws-codepipeline-actions/package.json
  packages/@aws-cdk/aws-codepipeline-actions/test/bitbucket/bitbucket-source-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/cloudformation/cloudformation-pipeline-actions.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/cloudformation/pipeline-actions.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/codebuild/codebuild-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/codecommit/codecommit-source-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/codedeploy/ecs-deploy-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/codestar-connections/codestar-connections-source-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/ecr/ecr-source-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/ecs/ecs-deploy-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/github/github-source-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/lambda/lambda-invoke-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/manual-approval.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/pipeline.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/s3/s3-deploy-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/s3/s3-source-action.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/servicecatalog/servicecatalog-deploy-action-beta1.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/stepfunctions/stepfunctions-invoke-actions.test.ts
Labels: contribution/core, @aws-cdk/aws-codepipeline-actions

#18205 chore: migrate kaizen3031593's modules to assertions
  packages/@aws-cdk/aws-appmesh/package.json
  packages/@aws-cdk/aws-appmesh/test/gateway-route.test.ts
  packages/@aws-cdk/aws-appmesh/test/health-check.test.ts
  packages/@aws-cdk/aws-appmesh/test/mesh.test.ts
  packages/@aws-cdk/aws-appmesh/test/route.test.ts
  packages/@aws-cdk/aws-appmesh/test/virtual-gateway.test.ts
  packages/@aws-cdk/aws-appmesh/test/virtual-node.test.ts
  packages/@aws-cdk/aws-appmesh/test/virtual-router.test.ts
  packages/@aws-cdk/aws-appmesh/test/virtual-service.test.ts
  packages/@aws-cdk/aws-chatbot/package.json
  packages/@aws-cdk/aws-chatbot/test/slack-channel-configuration.test.ts
  packages/@aws-cdk/aws-ecr-assets/package.json
  packages/@aws-cdk/aws-ecr-assets/test/image-asset.test.ts
  packages/@aws-cdk/aws-ecr-assets/test/tarball-asset.test.ts
  packages/@aws-cdk/aws-elasticsearch/package.json
  packages/@aws-cdk/aws-elasticsearch/test/domain.test.ts
  packages/@aws-cdk/aws-elasticsearch/test/elasticsearch-access-policy.test.ts
  packages/@aws-cdk/aws-elasticsearch/test/log-group-resource-policy.test.ts
  packages/@aws-cdk/aws-lambda-destinations/package.json
  packages/@aws-cdk/aws-lambda-destinations/test/destinations.test.ts
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-lambda/test/alias.test.ts
  packages/@aws-cdk/aws-lambda/test/code-signing-config.test.ts
  packages/@aws-cdk/aws-lambda/test/code.test.ts
  packages/@aws-cdk/aws-lambda/test/event-source-mapping.test.ts
  packages/@aws-cdk/aws-lambda/test/function-hash.test.ts
  packages/@aws-cdk/aws-lambda/test/function.test.ts
  packages/@aws-cdk/aws-lambda/test/lambda-insights.test.ts
  packages/@aws-cdk/aws-lambda/test/lambda-version.test.ts
  packages/@aws-cdk/aws-lambda/test/layers.test.ts
  packages/@aws-cdk/aws-lambda/test/runtime.test.ts
  packages/@aws-cdk/aws-lambda/test/singleton-lambda.test.ts
  packages/@aws-cdk/aws-lambda/test/vpc-lambda.test.ts
  packages/@aws-cdk/aws-opensearchservice/package.json
  packages/@aws-cdk/aws-opensearchservice/test/domain.test.ts
  packages/@aws-cdk/aws-opensearchservice/test/log-group-resource-policy.test.ts
  packages/@aws-cdk/aws-opensearchservice/test/opensearch-access-policy.test.ts
  packages/@aws-cdk/lambda-layer-kubectl/package.json
  packages/@aws-cdk/lambda-layer-kubectl/test/kubectl-layer.test.ts
  packages/@aws-cdk/lambda-layer-node-proxy-agent/package.json
  packages/@aws-cdk/lambda-layer-node-proxy-agent/test/proxy-agent-layer.test.ts
Labels: contribution/core, @aws-cdk/assertions

#18574 chore(app-delivery): migrate unit tests to Assertions
  packages/@aws-cdk/app-delivery/package.json
  packages/@aws-cdk/app-delivery/test/pipeline-deploy-stack-action.test.ts
Labels: contribution/core, @aws-cdk/app-delivery

#18576 chore(merge-back): 1.140.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash, auto-approve

#18496 fix(ecs): only works in 'aws' partition
  packages/@aws-cdk/aws-ecs/lib/base/base-service.ts
  packages/@aws-cdk/aws-ecs/lib/container-definition.ts
  packages/@aws-cdk/aws-ecs/test/container-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-service.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-task-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/integ.environment-file.expected.json
  packages/@aws-cdk/aws-ecs/test/ec2/integ.exec-command.expected.json
  packages/@aws-cdk/aws-ecs/test/external/external-task-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-service.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/integ.exec-command.expected.json
Labels: @aws-cdk/aws-ecs

#18492 fix(pipelines): CodeBuild projects are hard to tell apart
  packages/@aws-cdk/pipelines/lib/codepipeline/_codebuild-factory.ts
  packages/@aws-cdk/pipelines/test/codepipeline/codebuild-step.test.ts
  packages/@aws-cdk/pipelines/test/integ.newpipeline-with-vpc.expected.json
  packages/@aws-cdk/pipelines/test/integ.newpipeline.expected.json
  packages/@aws-cdk/pipelines/test/testhelpers/matchers.ts
Labels: contribution/core, @aws-cdk/pipelines

#18300 chore(region-info): ap-southeast-3 (Jakarta) ELBV2_ACCOUNT
  packages/@aws-cdk/region-info/build-tools/fact-tables.ts
Labels: @aws-cdk/region-info
