Repository aws/aws-cdk, pull requests merged in 2022-03, with the labels that each got.

#19194 chore: forward merge 'master' into 'v2-main'
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/function.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/package-manager.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/types.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/package-manager.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/aws-sdk/call-aws-service.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/aws-sdk/call-aws-service.test.ts
Labels: pr/no-squash, pr/forward-merge, auto-approve

#19198 chore(merge-back): 1.147.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash, auto-approve

#19199 chore(merge-back): 2.15.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/no-squash, auto-approve

#19100 docs(elasticloadbalancingv2): describe healthCheck default value
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-listener.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/nlb/network-listener.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/shared/base-target-group.ts
Labels: @aws-cdk/aws-elasticloadbalancingv2

#19082 fix(efs): fix bug when setting both lifecyclePolicy and outOfInfrequentAccessPolicy
  packages/@aws-cdk/aws-efs/lib/efs-file-system.ts
  packages/@aws-cdk/aws-efs/test/efs-file-system.test.ts
Labels: @aws-cdk/aws-efs

#19202 fix(rds): read replica instance cannot join domain
  packages/@aws-cdk/aws-rds/lib/instance.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
Labels: @aws-cdk/aws-rds

#19175 fix(rds): allow cluster from snapshot to enable encrypted storage
  packages/@aws-cdk/aws-rds/lib/cluster.ts
  packages/@aws-cdk/aws-rds/test/cluster.test.ts
Labels: @aws-cdk/aws-rds

#19204 feat(servicecatalog): Service Catalog is now in Developer Preview
  packages/@aws-cdk/aws-servicecatalog/README.md
  packages/@aws-cdk/aws-servicecatalog/package.json
Labels: pr-linter/exempt-test, @aws-cdk/aws-servicecatalog

#19216 fix(cli): deprecated stack ids printed at the end of synth
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/test/cdk-toolkit.test.ts
Labels: contribution/core

#18971 chore(lambda): corrected documentation on the event source maximum batch size for SQS
  packages/@aws-cdk/aws-lambda/lib/event-source-mapping.ts
Labels: @aws-cdk/aws-lambda, @aws-cdk/aws-sqs

#15833 feat(aws-s3objectlambda): add L2 construct for S3 Object Lambda
  packages/@aws-cdk/aws-s3objectlambda/README.md
  packages/@aws-cdk/aws-s3objectlambda/lib/access-point.ts
  packages/@aws-cdk/aws-s3objectlambda/lib/index.ts
  packages/@aws-cdk/aws-s3objectlambda/package.json
  packages/@aws-cdk/aws-s3objectlambda/test/integ.s3objectlambda.expected.json
  packages/@aws-cdk/aws-s3objectlambda/test/integ.s3objectlambda.ts
  packages/@aws-cdk/aws-s3objectlambda/test/s3objectlambda.test.ts
Labels: p2, pr/needs-tests, effort/medium, @aws-cdk/aws-s3objectlambda

#16192 fix(lambda-python): docker image gets built even when we don't need to bundle assets
  packages/@aws-cdk/aws-lambda-python/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-python/lib/function.ts
  packages/@aws-cdk/aws-lambda-python/lib/layer.ts
  packages/@aws-cdk/aws-lambda-python/test/bundling.test.ts
  packages/@aws-cdk/aws-lambda-python/test/function.test.ts
  packages/@aws-cdk/aws-lambda-python/test/layer.test.ts
  packages/@aws-cdk/core/lib/asset-staging.ts
  packages/@aws-cdk/core/lib/stack.ts
  packages/@aws-cdk/core/test/stack.test.ts
Labels: p2, effort/medium, @aws-cdk/aws-lambda-python

#19221 feat(lambda-nodejs): support esbuild inject
  packages/@aws-cdk/aws-lambda-nodejs/README.md
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/types.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
Labels: @aws-cdk/aws-lambda-nodejs

#18796 docs(ec2): document how to correctly make cross stack connection calls
  packages/@aws-cdk/aws-ec2/README.md
Labels: @aws-cdk/aws-ec2, contribution/core

#19241 fix(cli): `watch` logs always end with the 'truncated' message
  packages/aws-cdk/lib/api/logs/logs-monitor.ts
  packages/aws-cdk/test/api/logs/logs-monitor.test.ts
Labels: package/tools, contribution/core

#18892 feat(aws-apigateway): add ability to include authorizer context in apigw sfn integration
  packages/@aws-cdk/aws-apigateway/README.md
  packages/@aws-cdk/aws-apigateway/lib/integrations/stepfunctions.ts
  packages/@aws-cdk/aws-apigateway/lib/integrations/stepfunctions.vtl
  packages/@aws-cdk/aws-apigateway/lib/stepfunctions-api.ts
  packages/@aws-cdk/aws-apigateway/test/integ.stepfunctions-api.expected.json
  packages/@aws-cdk/aws-apigateway/test/integrations/stepfunctions.test.ts
  packages/@aws-cdk/aws-apigateway/test/stepfunctions-api.test.ts
Labels: @aws-cdk/aws-apigateway

#18869 feat(iotevents): support actions
  packages/@aws-cdk/aws-iotevents-actions/README.md
  packages/@aws-cdk/aws-iotevents-actions/lib/index.ts
  packages/@aws-cdk/aws-iotevents-actions/lib/lambda-invoke-action.ts
  packages/@aws-cdk/aws-iotevents-actions/package.json
  packages/@aws-cdk/aws-iotevents-actions/test/iotevents-actions.test.ts
  packages/@aws-cdk/aws-iotevents-actions/test/lambda/integ.lambda-invoke-action.expected.json
  packages/@aws-cdk/aws-iotevents-actions/test/lambda/integ.lambda-invoke-action.ts
  packages/@aws-cdk/aws-iotevents-actions/test/lambda/lambda-invoke-action.test.ts
  packages/@aws-cdk/aws-iotevents/README.md
  packages/@aws-cdk/aws-iotevents/lib/action.ts
  packages/@aws-cdk/aws-iotevents/lib/detector-model.ts
  packages/@aws-cdk/aws-iotevents/lib/event.ts
  packages/@aws-cdk/aws-iotevents/lib/index.ts
  packages/@aws-cdk/aws-iotevents/lib/state.ts
  packages/@aws-cdk/aws-iotevents/test/detector-model.test.ts
  tools/@aws-cdk/pkglint/lib/rules.ts
Labels: @aws-cdk/aws-iotevents

#19248 chore(lambda): explain to not use `Version`
  packages/@aws-cdk/aws-lambda/lib/lambda-version.ts
Labels: @aws-cdk/aws-lambda, contribution/core

#19250 feat(s3): add `s3:ObjectRestore:Delete` to `EventType` for notification
  packages/@aws-cdk/aws-s3/lib/bucket.ts
Labels: @aws-cdk/aws-s3, pr-linter/exempt-readme, pr-linter/exempt-test

#19260 chore(pipelines): ecr source attributes
  packages/@aws-cdk/pipelines/lib/codepipeline/codepipeline-source.ts
Labels: @aws-cdk/pipelines

#19253 fix(aws-apigateway): missing comma to make failure response payload valid json
  packages/@aws-cdk/aws-apigateway/lib/integrations/stepfunctions.ts
  packages/@aws-cdk/aws-apigateway/test/integ.stepfunctions-api.expected.json
  packages/@aws-cdk/aws-apigateway/test/integrations/stepfunctions.test.ts
  packages/@aws-cdk/aws-apigateway/test/stepfunctions-api.test.ts
Labels: @aws-cdk/aws-apigateway

#19251 feat(eks): Service Account names validation
  packages/@aws-cdk/aws-eks/lib/service-account.ts
  packages/@aws-cdk/aws-eks/test/service-account.test.ts
Labels: @aws-cdk/aws-eks, pr-linter/exempt-readme

#19226 fix(cli): notices refresh doesn't respect the --no-notices flag
  packages/aws-cdk/lib/cli.ts
  packages/aws-cdk/lib/notices.ts
  packages/aws-cdk/test/integ/cli/cli.integtest.ts
Labels: package/tools, contribution/core

#19266 fix(lambda-nodejs): local tsc detection with pre compilation
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
Labels: @aws-cdk/aws-lambda-nodejs

#19052 feat(codebuild): improved support for ARM build images
  packages/@aws-cdk/aws-codebuild/README.md
  packages/@aws-cdk/aws-codebuild/lib/index.ts
  packages/@aws-cdk/aws-codebuild/lib/linux-arm-build-image.ts
  packages/@aws-cdk/aws-codebuild/lib/project.ts
  packages/@aws-cdk/aws-codebuild/test/linux-arm-build-image.test.ts
Labels: p1, feature-request

#19268 chore: allow `yarn` as a canary installer
  packages/aws-cdk/test/integ/run-against-release
Labels: contribution/core, @aws-cdk/aws-synthetics

#19178 chore(aws-events-targets): fix StepFunctions doc & tests role usage
  packages/@aws-cdk/aws-events-targets/README.md
  packages/@aws-cdk/aws-events-targets/test/stepfunctions/statemachine.test.ts
Labels: @aws-cdk/aws-events-targets

#19279 chore(ec2): add isolated subnets to the dummy VpcContextResponse
  packages/@aws-cdk/aws-ec2/lib/vpc.ts
Labels: @aws-cdk/aws-ec2, contribution/core

#18716 fix(apigatewayv2-integrations): in case of multiple routes, only one execute permission is created
  packages/@aws-cdk/aws-apigatewayv2-integrations/lib/http/lambda.ts
  packages/@aws-cdk/aws-apigatewayv2-integrations/test/http/lambda.test.ts
  packages/@aws-cdk/aws-apigatewayv2/lib/http/integration.ts
Labels: contribution/core, @aws-cdk/aws-apigatewayv2-integrations

#19270 fix(lambda-python): asset bundling fails on windows
  packages/@aws-cdk/aws-lambda-python/lib/bundling.ts
Labels: contribution/core, pr-linter/exempt-test, @aws-cdk/aws-lambda-python

#19237 fix(rds): subnet selection not respected for multi user secret rotation
  packages/@aws-cdk/aws-rds/lib/cluster.ts
  packages/@aws-cdk/aws-rds/lib/instance.ts
  packages/@aws-cdk/aws-rds/lib/private/util.ts
  packages/@aws-cdk/aws-rds/lib/props.ts
  packages/@aws-cdk/aws-rds/lib/serverless-cluster.ts
  packages/@aws-cdk/aws-rds/test/cluster.test.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
Labels: bug, p1

#19249 feat(iotevents): support setting Events on input and exit for State
  packages/@aws-cdk/aws-iotevents-actions/test/lambda/integ.lambda-invoke-action.expected.json
  packages/@aws-cdk/aws-iotevents/README.md
  packages/@aws-cdk/aws-iotevents/lib/state.ts
  packages/@aws-cdk/aws-iotevents/test/detector-model.test.ts
  packages/@aws-cdk/aws-iotevents/test/integ.detector-model.expected.json
  packages/@aws-cdk/aws-iotevents/test/integ.detector-model.ts
Labels: @aws-cdk/aws-iotevents

#19290 docs(aws-rds): Specify that `grantConnect()` does not work
  packages/@aws-cdk/aws-rds/README.md
  packages/@aws-cdk/aws-rds/lib/instance.ts
Labels: @aws-cdk/aws-rds

#19294 chore(rds): remove unused code from test
  packages/@aws-cdk/aws-rds/test/instance.test.ts
Labels: @aws-cdk/aws-rds

#15876 feat(elasticsearch): Decouple setting access policies from domain constructor
  packages/@aws-cdk/aws-elasticsearch/README.md
  packages/@aws-cdk/aws-elasticsearch/lib/domain.ts
  packages/@aws-cdk/aws-elasticsearch/lib/elasticsearch-access-policy.ts
  packages/@aws-cdk/aws-elasticsearch/test/domain.test.ts
  packages/@aws-cdk/aws-elasticsearch/test/elasticsearch-access-policy.test.ts
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.custom-kms-key.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.expected.json
  packages/@aws-cdk/aws-elasticsearch/test/integ.elasticsearch.unsignedbasicauth.expected.json
  packages/@aws-cdk/aws-opensearchservice/README.md
  packages/@aws-cdk/aws-opensearchservice/lib/domain.ts
  packages/@aws-cdk/aws-opensearchservice/lib/opensearch-access-policy.ts
  packages/@aws-cdk/aws-opensearchservice/test/domain.test.ts
  packages/@aws-cdk/aws-opensearchservice/test/integ.opensearch.custom-kms-key.expected.json
  packages/@aws-cdk/aws-opensearchservice/test/integ.opensearch.expected.json
  packages/@aws-cdk/aws-opensearchservice/test/integ.opensearch.unsignedbasicauth.expected.json
  packages/@aws-cdk/aws-opensearchservice/test/opensearch-access-policy.test.ts
Labels: p1, effort/small, @aws-cdk/aws-elasticsearch

#19306 docs(aws-cognito): fix link to aws-cognito-identitypool-alpha module
  packages/@aws-cdk/aws-cognito/README.md
Labels: p2, contribution/core

#18804 fix(aws-route53-targets): add support for custom cname_prefix urls in elastic beanstalk environment endpoint target
  packages/@aws-cdk/aws-route53-targets/lib/elastic-beanstalk-environment-target.ts
  packages/@aws-cdk/aws-route53-targets/test/elastic-beanstalk-environment-target.test.ts
Labels: @aws-cdk/aws-route53-targets

#19312 chore: add triggers to automation
  .github/workflows/issue-label-assign.yml
Labels: contribution/core

#19288 docs(pipelines): add examples for pipeline variables
  packages/@aws-cdk/pipelines/lib/codepipeline/codebuild-step.ts
  packages/@aws-cdk/pipelines/lib/codepipeline/codepipeline-source.ts
Labels: feature-request, contribution/core

#17788 feat(aws-lambda-nodejs): support additional esbuild configurations
  packages/@aws-cdk/aws-lambda-nodejs/README.md
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/types.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
Labels: p2, feature-request, contribution/core

#19323 chore(merge-back): 1.148.0
  CHANGELOG.md
  tools/@aws-cdk/node-bundle/.projen/tasks.json
  tools/@aws-cdk/node-bundle/.projenrc.js
  version.v1.json
Labels: pr/no-squash, auto-approve

#19144 feat(lambda): dotnet6 runtime
  packages/@aws-cdk/aws-lambda/lib/runtime.ts
Labels: @aws-cdk/aws-lambda, pr-linter/exempt-readme, pr-linter/exempt-test

#19317 fix(lambda-event-sources): increase batch size restriction
  packages/@aws-cdk/aws-lambda-event-sources/lib/dynamodb.ts
  packages/@aws-cdk/aws-lambda-event-sources/test/dynamo.test.ts
Labels: effort/small, contribution/core, @aws-cdk/aws-lambda-event-sources

#19338 fix(cli): failure to load malformed YAML is swallowed
  packages/aws-cdk/lib/serialize.ts
Labels: package/tools, contribution/core, pr-linter/exempt-test

#19305 feat(iotevents): support SetVariable action
  packages/@aws-cdk/aws-iotevents-actions/README.md
  packages/@aws-cdk/aws-iotevents-actions/lib/index.ts
  packages/@aws-cdk/aws-iotevents-actions/lib/set-variable-action.ts
  packages/@aws-cdk/aws-iotevents-actions/test/iot/integ.set-variable-action.expected.json
  packages/@aws-cdk/aws-iotevents-actions/test/iot/integ.set-variable-action.ts
  packages/@aws-cdk/aws-iotevents-actions/test/iot/set-variable-action.test.ts
Labels: @aws-cdk/aws-iotevents

#19343 fix(lambda-nodejs): cannot use esbuildArgs with older esbuild versions
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
Labels: @aws-cdk/aws-lambda-nodejs

#19334 feat(ec2): add support for x2idn and x2iedn instances
  packages/@aws-cdk/aws-ec2/lib/instance-types.ts
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme, pr-linter/exempt-test

#19340 chore: change the owner of the AppMesh module
  .github/workflows/issue-label-assign.yml
Labels: contribution/core

#19336 chore(release-check): add retries
  scripts/find-latest-release.js
Labels: contribution/core

#19298 fix(stepfunctions-tasks): migrate from deprecated batch properties
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/batch/submit-job.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/apigateway/integ.call-http-api.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/apigateway/integ.call-rest-api.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/batch/integ.run-batch-job.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/batch/integ.submit-job.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/batch/submit-job.test.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/ecs/integ.ec2-run-task.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/ecs/integ.ec2-task.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/eks/integ.call.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emrcontainers/integ.job-submission-workflow.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emrcontainers/integ.start-job-run.expected.json
Labels: bug, p1, contribution/core

#19097 chore(cloudfront): encryption on distribution s3 loggingBucket
  packages/@aws-cdk/aws-cloudfront/lib/distribution.ts
  packages/@aws-cdk/aws-cloudfront/lib/web-distribution.ts
  packages/@aws-cdk/aws-cloudfront/test/integ.cloudfront-bucket-logging.expected.json
  packages/@aws-cdk/aws-cloudfront/test/integ.distribution-extensive.expected.json
Labels: @aws-cdk/aws-cloudfront

#19362 chore(cli): fix test failing in CI
  packages/aws-cdk/test/cdk-toolkit.test.ts
Labels: package/tools, contribution/core

#19366 chore(merge-back): 2.16.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/no-squash, auto-approve

#19211 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/aws-apigatewayv2-authorizers/package.json
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-cloudformation/package.json
  packages/@aws-cdk/aws-codepipeline-actions/package.json
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-ec2/package.json
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-iam/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/aws-route53/package.json
  packages/@aws-cdk/aws-s3/package.json
  packages/@aws-cdk/aws-ses/package.json
  packages/@aws-cdk/cfnspec/package.json
  packages/@aws-cdk/core/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/THIRD_PARTY_LICENSES
  packages/aws-cdk/package.json
  tools/@aws-cdk/node-bundle/package.json
  yarn.lock
Labels: dependencies, contribution/core, auto-approve

#19376 docs(aws-cognito): Docstring naming for userpool interface property
  packages/@aws-cdk/aws-cognito/lib/user-pool.ts
Labels: @aws-cdk/aws-cognito

#19197 chore(aws-events): add warning when minute is not defined
  packages/@aws-cdk/aws-applicationautoscaling/lib/scalable-target.ts
  packages/@aws-cdk/aws-applicationautoscaling/lib/schedule.ts
  packages/@aws-cdk/aws-applicationautoscaling/test/scalable-target.test.ts
  packages/@aws-cdk/aws-autoscaling/lib/schedule.ts
  packages/@aws-cdk/aws-autoscaling/lib/scheduled-action.ts
  packages/@aws-cdk/aws-autoscaling/test/scheduled-action.test.ts
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/base/scheduled-task-base.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/scheduled-ecs-task.test.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/scheduled-fargate-task.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-service.test.ts
  packages/@aws-cdk/aws-events/lib/rule.ts
  packages/@aws-cdk/aws-events/lib/schedule.ts
  packages/@aws-cdk/aws-events/test/rule.test.ts
  packages/@aws-cdk/aws-lambda/test/alias.test.ts
Labels: p1, feature-request, contribution/core

#19367 feat(cli): parallel asset publishing
  packages/aws-cdk/lib/util/asset-publishing.ts
  packages/cdk-assets/lib/publishing.ts
  packages/cdk-assets/test/progress.test.ts
Labels: package/tools, pr-linter/exempt-readme

#19358 docs(custom-resources): clarify that AwsCustomResource uses SingletonFunction
  packages/@aws-cdk/custom-resources/lib/aws-custom-resource/aws-custom-resource.ts
Labels: @aws-cdk/custom-resources

#19385 feat(elbv2): add name validation for target group and load balancer names
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/shared/base-load-balancer.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/shared/base-target-group.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/nlb/load-balancer.test.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/nlb/target-group.test.ts
Labels: pr-linter/exempt-readme, @aws-cdk/aws-elasticloadbalancingv2

#19297 chore(cx-api): allow disabling version check on manifest load
  packages/@aws-cdk/cloud-assembly-schema/lib/manifest.ts
  packages/@aws-cdk/cloud-assembly-schema/test/manifest.test.ts
  packages/@aws-cdk/cx-api/lib/cloud-assembly.ts
Labels: contribution/core, @aws-cdk/cx-api

#19292 chore: document pkglint rules
  tools/@aws-cdk/pkglint/README.md
  tools/@aws-cdk/pkglint/lib/packagejson.ts
Labels: contribution/core

#19393 chore: use new github token in yarn-upgrade workflow
  .github/workflows/yarn-upgrade.yml
Labels: @aws-cdk/aws-secretsmanager, contribution/core

#19330 feat(assertions): Add the `hasNoXXX` methods.
  packages/@aws-cdk/assertions/README.md
  packages/@aws-cdk/assertions/lib/annotations.ts
  packages/@aws-cdk/assertions/lib/private/messages.ts
  packages/@aws-cdk/assertions/lib/private/section.ts
  packages/@aws-cdk/assertions/test/annotations.test.ts
Labels: @aws-cdk/assertions

#19402 chore: allow opt-out of test.concurrent in integ tests
  packages/aws-cdk/test/integ/cli/cli.integtest.ts
  packages/aws-cdk/test/integ/helpers/test-helpers.ts
  packages/aws-cdk/tsconfig.json
Labels: contribution/core

#19296 chore(elasticsearch): deprecate all APIs except `ElasticsearchVersion`
  packages/@aws-cdk/aws-appsync/test/appsync-elasticsearch.test.ts
  packages/@aws-cdk/aws-elasticsearch/README.md
  packages/@aws-cdk/aws-elasticsearch/lib/domain.ts
  packages/@aws-cdk/aws-elasticsearch/package.json
  packages/@aws-cdk/aws-elasticsearch/test/domain.test.ts
  tools/@aws-cdk/pkglint/lib/rules.ts
Labels: p1, contribution/core

#18447 feat(synthetics): add vpc configuration
  packages/@aws-cdk/aws-synthetics/README.md
  packages/@aws-cdk/aws-synthetics/lib/canary.ts
  packages/@aws-cdk/aws-synthetics/package.json
  packages/@aws-cdk/aws-synthetics/test/canary.test.ts
  packages/@aws-cdk/aws-synthetics/test/integ.asset.expected.json
  packages/@aws-cdk/aws-synthetics/test/integ.vpc.expected.json
  packages/@aws-cdk/aws-synthetics/test/integ.vpc.ts
  packages/aws-cdk-lib/package.json
Labels: p1, feature-request, @aws-cdk/aws-synthetics

#19422 chore(cfnspec): delete extraneous file introduced in #16529
  packages/@aws-cdk/cfnspec/spec-source/903_AppSync_OpenSearch_DataSource_patch.json
Labels: contribution/core, @aws-cdk/cfnspec

#19324 chore(cli): reorganize CLI code
  packages/aws-cdk/THIRD_PARTY_LICENSES
  packages/aws-cdk/lib/api/aws-auth/_env.ts
  packages/aws-cdk/lib/api/aws-auth/account-cache.ts
  packages/aws-cdk/lib/api/aws-auth/awscli-compatible.ts
  packages/aws-cdk/lib/api/aws-auth/cached.ts
  packages/aws-cdk/lib/api/aws-auth/credential-plugins.ts
  packages/aws-cdk/lib/api/aws-auth/credentials.ts
  packages/aws-cdk/lib/api/aws-auth/sdk-provider.ts
  packages/aws-cdk/lib/api/aws-auth/sdk.ts
  packages/aws-cdk/lib/api/plugin/_env.ts
  packages/aws-cdk/lib/api/plugin/context-provider-plugin.ts
  packages/aws-cdk/lib/api/plugin/credential-provider-source.ts
  packages/aws-cdk/lib/api/plugin/index.ts
  packages/aws-cdk/lib/api/plugin/plugin.ts
  packages/aws-cdk/lib/cli.ts
  packages/aws-cdk/lib/context-providers/ami.ts
  packages/aws-cdk/lib/context-providers/availability-zones.ts
  packages/aws-cdk/lib/context-providers/endpoint-service-availability-zones.ts
  packages/aws-cdk/lib/context-providers/hosted-zones.ts
  packages/aws-cdk/lib/context-providers/index.ts
  packages/aws-cdk/lib/context-providers/keys.ts
  packages/aws-cdk/lib/context-providers/load-balancers.ts
  packages/aws-cdk/lib/context-providers/security-groups.ts
  packages/aws-cdk/lib/context-providers/ssm-parameters.ts
  packages/aws-cdk/lib/context-providers/vpcs.ts
  packages/aws-cdk/lib/index.ts
  packages/aws-cdk/test/api/sdk-provider.test.ts
  packages/aws-cdk/test/context-providers/generic.test.ts
Labels: package/tools, contribution/core

#19439 chore: regenerate attributions on automatic dependency upgrades
  .github/workflows/yarn-upgrade.yml
Labels: package/tools, contribution/core

#19444 chore(merge-back): 1.149.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash, auto-approve

#19177 chore: remove 'ubergen exclude' from example package
  packages/@aws-cdk/example-construct-library/package.json
  tools/@aws-cdk/pkglint/lib/rules.ts
  tools/@aws-cdk/ubergen/bin/ubergen.ts
Labels: contribution/core, aws-cdk-lib

#19441 fix(events): cannot have more than one cross-account Rule
  packages/@aws-cdk/aws-events/lib/rule.ts
  packages/@aws-cdk/aws-events/test/rule.test.ts
Labels: bug, p1, @aws-cdk/aws-events

#19448 chore: get rid of an `instanceof`
  packages/@aws-cdk/core/lib/stack-synthesizers/_shared.ts
Labels: contribution/core

#19446 fix(bootstrap): rebootstrap breaks container Functions
  packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml
Labels: package/tools, contribution/core, pr-linter/exempt-readme, pr-linter/exempt-test

#19368 feat(appsync): support custom domain mappings
  packages/@aws-cdk/aws-appsync/README.md
  packages/@aws-cdk/aws-appsync/lib/graphqlapi.ts
  packages/@aws-cdk/aws-appsync/package.json
  packages/@aws-cdk/aws-appsync/test/appsync.test.ts
Labels: p1, feature-request, @aws-cdk/aws-appsync

#18078 fix(ecr): setting imageScanningConfiguration to false does nothing on existing repository
  packages/@aws-cdk/aws-batch/test/integ.batch.expected.json
  packages/@aws-cdk/aws-codebuild/test/integ.ecr.lit.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-ecr-source.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-ecs-deploy.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.pipeline-ecs-separate-source.lit.expected.json
  packages/@aws-cdk/aws-ecr/lib/repository.ts
  packages/@aws-cdk/aws-ecr/test/integ.basic.expected.json
  packages/@aws-cdk/aws-ecr/test/repository.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-task-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/external/external-task-definition.test.ts
Labels: bug, p2, contribution/core

#19410 chore: update autolabeler keywords for alpha packages
  .github/workflows/issue-label-assign.yml
Labels: contribution/core

#19176 chore(pipelines): reference `discoverReferencedOutputs` in error message
  packages/@aws-cdk/pipelines/README.md
  packages/@aws-cdk/pipelines/lib/blueprint/step.ts
  packages/@aws-cdk/pipelines/lib/helpers-internal/step-output.ts
Labels: bug, p2, contribution/core

#19427 chore: add documentation around adding new dependencies
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: contribution/core

#19406 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/app-delivery/package.json
  packages/@aws-cdk/aws-applicationautoscaling/package.json
  packages/@aws-cdk/aws-autoscaling-common/package.json
  packages/@aws-cdk/aws-codepipeline-actions/package.json
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-lambda/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/core/package.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/THIRD_PARTY_LICENSES
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-dasm/package.json
  tools/@aws-cdk/cdk-build-tools/package.json
  tools/@aws-cdk/cdk-release/package.json
  tools/@aws-cdk/cfn2ts/package.json
  tools/@aws-cdk/node-bundle/package.json
  yarn.lock
Labels: dependencies, contribution/core, auto-approve

#19429 feat(synthetics): add support for puppeteer 3.4 runtime
  packages/@aws-cdk/aws-synthetics/README.md
  packages/@aws-cdk/aws-synthetics/lib/runtime.ts
Labels: pr-linter/exempt-test, @aws-cdk/aws-synthetics

#19440 chore(v2): only advertise alpha packages with L2s
  tools/@aws-cdk/ubergen/bin/ubergen.ts
Labels: contribution/core

#19466 chore(s3): migrate tests to use assertions' annotations class
  packages/@aws-cdk/aws-s3/test/aspect.test.ts
Labels: @aws-cdk/aws-s3, contribution/core

#19435 chore(cli): order attributions document
  packages/aws-cdk/THIRD_PARTY_LICENSES
  tools/@aws-cdk/node-bundle/src/api/_attributions.ts
Labels: package/tools, contribution/core

#19482 fix(cli): templates don't include `.gitignore`
  tools/@aws-cdk/node-bundle/src/api/bundle.ts
  tools/@aws-cdk/node-bundle/test/api/bundle.test.ts
Labels: package/tools, contribution/core

#19470 docs(sqs): fix mistake in sqs queue removalPolicy docstring
  packages/@aws-cdk/aws-sqs/lib/queue.ts
Labels: @aws-cdk/aws-sqs

#19478 docs(iot): add example import
  packages/@aws-cdk/aws-iot/README.md
Labels: @aws-cdk/aws-iot

#19445 chore(prlint): add integration test check for feature request PRs
  tools/@aws-cdk/prlint/lint.ts
  tools/@aws-cdk/prlint/test/lint.test.ts
Labels: contribution/core

#19458 docs(aws-custom-resource): explain deviating policy names
  packages/@aws-cdk/custom-resources/README.md
  packages/@aws-cdk/custom-resources/lib/aws-custom-resource/aws-custom-resource.ts
Labels: contribution/core

#19469 docs: add integration testing guide
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  INTEGRATION_TESTS.md
Labels: contribution/core

#19486 fix(apigateway): `StepFunctionsIntegration` does not create required role and responses
  packages/@aws-cdk/aws-apigateway/lib/integrations/stepfunctions.ts
  packages/@aws-cdk/aws-apigateway/lib/method.ts
  packages/@aws-cdk/aws-apigateway/lib/stepfunctions-api.ts
  packages/@aws-cdk/aws-apigateway/test/integ.stepfunctions-api.expected.json
  packages/@aws-cdk/aws-apigateway/test/stepfunctions-api.test.ts
Labels: @aws-cdk/aws-apigateway

#19454 feat(cli): support SSO
  packages/aws-cdk/README.md
  packages/aws-cdk/THIRD_PARTY_LICENSES
  packages/aws-cdk/lib/api/aws-auth/awscli-compatible.ts
  packages/aws-cdk/package.json
  packages/aws-cdk/test/context-providers/amis.test.ts
  packages/aws-cdk/test/context-providers/asymmetric-vpcs.test.ts
  packages/aws-cdk/test/util/awscli-compatible.test.ts
  packages/cdk-assets/package.json
  yarn.lock
Labels: package/tools, contribution/core, pr-linter/exempt-test, pr-linter/exempt-integ-test

#19490 fix(secretsmanager): secret rotation uses old application versions
  packages/@aws-cdk/aws-docdb/test/integ.cluster-rotation.lit.expected.json
  packages/@aws-cdk/aws-rds/test/integ.cluster-rotation.lit.expected.json
  packages/@aws-cdk/aws-rds/test/integ.instance.lit.expected.json
  packages/@aws-cdk/aws-secretsmanager/lib/secret-rotation.ts
Labels: @aws-cdk/aws-secretsmanager

#19465 chore(events-targets): migrate a test to use assertions' annotations class
  packages/@aws-cdk/aws-events-targets/test/aws-api/aws-api.test.ts
Labels: contribution/core, @aws-cdk/aws-events-targets

#19311 chore(node-bundle): README touchups
  tools/@aws-cdk/node-bundle/README.md
Labels: contribution/core

#19498 chore: add rosetta to example construct library
  packages/@aws-cdk/example-construct-library/rosetta/default.ts-fixture
Labels: contribution/core

#19499 chore(custom-resources): update and fix integ test
  packages/@aws-cdk/custom-resources/test/provider-framework/integ.provider.expected.json
  packages/@aws-cdk/custom-resources/test/provider-framework/integ.provider.ts
  packages/@aws-cdk/custom-resources/test/provider-framework/integration-test-fixtures/s3-file.ts
Labels: contribution/core

#19491 fix(core): Aspects from symlinked modules are not applied
  packages/@aws-cdk/core/lib/aspect.ts
Labels: @aws-cdk/core, contribution/core, pr-linter/exempt-test

#16613 chore(cloudwatch): make constructor private on Color utility class
  packages/@aws-cdk/aws-cloudwatch/lib/graph.ts
Labels: @aws-cdk/aws-cloudwatch, contribution/core

#19521 chore: fix prlinter integ test check
  tools/@aws-cdk/prlint/lint.ts
Labels: contribution/core

#19524 chore(pipelines): predefined source attributes
  packages/@aws-cdk/pipelines/lib/codepipeline/codepipeline-source.ts
Labels: @aws-cdk/pipelines

#19526 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/app-delivery/package.json
  packages/@aws-cdk/aws-applicationautoscaling/package.json
  packages/@aws-cdk/aws-autoscaling-common/package.json
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/core/package.json
  packages/aws-cdk/THIRD_PARTY_LICENSES
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-dasm/package.json
  tools/@aws-cdk/cdk-build-tools/package.json
  tools/@aws-cdk/cfn2ts/package.json
  tools/@aws-cdk/node-bundle/package.json
  tools/@aws-cdk/pkglint/package.json
  yarn.lock
Labels: dependencies, contribution/core, auto-approve

#19527 chore(events-targets): update lambda annotation test
  packages/@aws-cdk/aws-events-targets/test/lambda/lambda.test.ts
Labels: contribution/core, @aws-cdk/aws-events-targets

#19518 chore(cdk-cli-wrapper): create a cli wrapper for invoking the cdk
  packages/cdk-cli-wrapper/.eslintrc.js
  packages/cdk-cli-wrapper/.gitignore
  packages/cdk-cli-wrapper/.npmignore
  packages/cdk-cli-wrapper/LICENSE
  packages/cdk-cli-wrapper/NOTICE
  packages/cdk-cli-wrapper/README.md
  packages/cdk-cli-wrapper/jest.config.js
  packages/cdk-cli-wrapper/lib/cdk-wrapper.ts
  packages/cdk-cli-wrapper/lib/commands/common.ts
  packages/cdk-cli-wrapper/lib/commands/deploy.ts
  packages/cdk-cli-wrapper/lib/commands/destroy.ts
  packages/cdk-cli-wrapper/lib/commands/index.ts
  packages/cdk-cli-wrapper/lib/commands/list.ts
  packages/cdk-cli-wrapper/lib/commands/synth.ts
  packages/cdk-cli-wrapper/lib/index.ts
  packages/cdk-cli-wrapper/lib/utils.ts
  packages/cdk-cli-wrapper/package.json
  packages/cdk-cli-wrapper/test/cdk-wrapper.test.ts
Labels: package/tools, contribution/core

#19530 chore: introduce pr-triage-manager to pr-labeler workflow
  .github/workflows/pr-labeler.yml
Labels: p2, contribution/core

#19214 feat(autoscaling): support warm pools
  packages/@aws-cdk/aws-autoscaling/README.md
  packages/@aws-cdk/aws-autoscaling/lib/auto-scaling-group.ts
  packages/@aws-cdk/aws-autoscaling/lib/index.ts
  packages/@aws-cdk/aws-autoscaling/lib/warm-pool.ts
  packages/@aws-cdk/aws-autoscaling/package.json
  packages/@aws-cdk/aws-autoscaling/test/integ.warm-pool.expected.json
  packages/@aws-cdk/aws-autoscaling/test/integ.warm-pool.ts
  packages/@aws-cdk/aws-autoscaling/test/warm-pool.test.ts
Labels: p1, feature-request, @aws-cdk/aws-autoscaling

#19517 feat(ec2): add support for x2iezn instances
  packages/@aws-cdk/aws-ec2/lib/instance-types.ts
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme, pr-linter/exempt-test, pr-linter/exempt-integ-test

#19387 feat(cloudwatch): Additional Properties for Cloudwatch AlarmStatusWidget
  packages/@aws-cdk/aws-cloudwatch/README.md
  packages/@aws-cdk/aws-cloudwatch/lib/alarm-status-widget.ts
  packages/@aws-cdk/aws-cloudwatch/test/alarm-status-widget.test.ts
  packages/@aws-cdk/aws-cloudwatch/test/integ.alarm-and-dashboard.expected.json
  packages/@aws-cdk/aws-cloudwatch/test/integ.alarm-and-dashboard.ts
Labels: @aws-cdk/aws-cloudwatch

#19318 fix(lambda): support Lambda's new `Invoke` with `Qualifier` authorization strategy
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.assign-public-ip.expected.json
  packages/@aws-cdk/aws-apigateway/lib/authorizers/lambda.ts
  packages/@aws-cdk/aws-apigateway/test/authorizers/integ.token-authorizer-iam-role.expected.json
  packages/@aws-cdk/aws-apigateway/test/authorizers/lambda.test.ts
  packages/@aws-cdk/aws-appsync/test/integ.appsync-lambda.expected.json
  packages/@aws-cdk/aws-cloudfront/lib/experimental/edge-function.ts
  packages/@aws-cdk/aws-codedeploy/test/lambda/deployment-group.test.ts
  packages/@aws-cdk/aws-codedeploy/test/lambda/integ.deployment-group.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/lib/lambda/invoke-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/integ.lambda-pipeline.expected.json
  packages/@aws-cdk/aws-eks/test/integ.alb-controller.expected.json
  packages/@aws-cdk/aws-iotevents-actions/test/lambda/integ.lambda-invoke-action.expected.json
  packages/@aws-cdk/aws-iotevents-actions/test/lambda/lambda-invoke-action.test.ts
  packages/@aws-cdk/aws-kinesisfirehose-destinations/test/integ.s3-bucket.lit.expected.json
  packages/@aws-cdk/aws-kinesisfirehose-destinations/test/s3-bucket.test.ts
  packages/@aws-cdk/aws-lambda-destinations/test/destinations.test.ts
  packages/@aws-cdk/aws-lambda-destinations/test/integ.destinations.expected.json
  packages/@aws-cdk/aws-lambda/lib/function-base.ts
  packages/@aws-cdk/aws-lambda/lib/function.ts
  packages/@aws-cdk/aws-lambda/lib/singleton-lambda.ts
  packages/@aws-cdk/aws-lambda/test/function.test.ts
  packages/@aws-cdk/aws-lambda/test/singleton-lambda.test.ts
  packages/@aws-cdk/aws-redshift/test/integ.database.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/evaluate-expression.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/lambda/invoke-function.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/lambda/invoke.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/lambda/run-lambda-task.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emrcontainers/integ.start-job-run.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/integ.evaluate-expression.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/integ.invoke-function.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/integ.invoke.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/integ.invoke.payload.only.expected.json
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/integ.run-lambda.expected.json
  packages/@aws-cdk/custom-resources/lib/provider-framework/waiter-state-machine.ts
  packages/@aws-cdk/custom-resources/test/provider-framework/integ.provider.expected.json
  packages/@aws-cdk/custom-resources/test/provider-framework/waiter-state-machine.test.ts
  packages/@aws-cdk/lambda-layer-awscli/test/integ.awscli-layer.expected.json
  packages/@aws-cdk/pipelines/test/compliance/security-check.test.ts
  packages/@aws-cdk/pipelines/test/integ.pipeline-security.expected.json
Labels: @aws-cdk/aws-lambda, contribution/core, pr-linter/exempt-readme, pr-linter/exempt-integ-test

#19540 chore(ubergen): Revert "chore: remove 'ubergen exclude' from example package (#19177)"
  packages/@aws-cdk/example-construct-library/package.json
  packages/cdk-cli-wrapper/package.json
  tools/@aws-cdk/pkglint/lib/rules.ts
  tools/@aws-cdk/ubergen/bin/ubergen.ts
Labels: p2, contribution/core, aws-cdk-lib

#19547 chore(iot): remove `-alpha` from import in the README
  packages/@aws-cdk/aws-iot/README.md
Labels: contribution/core

#19545 chore: fix tests that use node.metadataentry
  packages/@aws-cdk/aws-applicationautoscaling/test/scalable-target.test.ts
  packages/@aws-cdk/aws-autoscaling/test/aspects/require-imdsv2-aspect.test.ts
  packages/@aws-cdk/aws-autoscaling/test/auto-scaling-group.test.ts
  packages/@aws-cdk/aws-ec2/test/aspects/require-imdsv2-aspect.test.ts
  packages/@aws-cdk/aws-ec2/test/instance.test.ts
  packages/@aws-cdk/aws-ec2/test/launch-template.test.ts
  packages/@aws-cdk/aws-ec2/test/vpc.test.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/scheduled-ecs-task.test.ts
  packages/@aws-cdk/aws-ecs-patterns/test/fargate/scheduled-fargate-task.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-service.test.ts
  packages/@aws-cdk/aws-ecs/test/ec2/ec2-task-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/external/external-task-definition.test.ts
  packages/@aws-cdk/aws-ecs/test/fargate/fargate-service.test.ts
  packages/@aws-cdk/aws-events/test/rule.test.ts
Labels: bug, p1, effort/small, contribution/core

#19560 chore: alpha package versions should be have the suffix `-rc.0-alpha.0` for testing
  packages/aws-cdk/test/integ/helpers/sam.ts
  tools/@aws-cdk/individual-pkg-gen/package.json
  tools/@aws-cdk/individual-pkg-gen/transform-packages.ts
Labels: p2, contribution/core, @aws-cdk/aws-lambda-go

#19548 chore: deprecate qualifier parameter for lambda integrations
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/lambda/invoke.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/lambda/run-lambda-task.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/invoke.test.ts
Labels: p1, contribution/core

#19570 chore: pr-labeler action runs on pull_request_target rather than pull_request
  .github/workflows/pr-labeler.yml
Labels: contribution/core

#19573 chore: revert the alpha version computation and change the required version in the sam test
  packages/aws-cdk/test/integ/helpers/sam.ts
  tools/@aws-cdk/individual-pkg-gen/package.json
  tools/@aws-cdk/individual-pkg-gen/transform-packages.ts
Labels: p2, @aws-cdk/aws-sam, contribution/core

#19574 chore: forward merge 'master' into 'v2-main'
  .github/workflows/pr-labeler.yml
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/lambda/invoke.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/lambda/run-lambda-task.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/lambda/invoke.test.ts
  packages/aws-cdk/test/integ/helpers/sam.ts
  tools/@aws-cdk/individual-pkg-gen/package.json
  tools/@aws-cdk/individual-pkg-gen/transform-packages.ts
Labels: pr/no-squash, pr/forward-merge, auto-approve

#19579 chore(merge-back): 1.150.0
  CHANGELOG.md
  version.v1.json
Labels: p2, pr/no-squash, auto-approve

#19519 feat(cognito): configure SNS region for UserPool SMS messages
  packages/@aws-cdk/aws-cognito/lib/user-pool.ts
  packages/@aws-cdk/aws-cognito/test/integ.user-pool-explicit-props.expected.json
  packages/@aws-cdk/aws-cognito/test/integ.user-pool-explicit-props.ts
  packages/@aws-cdk/aws-cognito/test/user-pool.test.ts
Labels: p2, @aws-cdk/aws-cognito, effort/small, contribution/core, pr-linter/exempt-readme

#19587 chore(cfnspec): reintroduce Lex 'CloudWatch' property
  packages/@aws-cdk/cfnspec/spec-source/specification/000_cfn/1002_Lex_BotAlias_TextLogDestination_patch.json
Labels: bug, p1, contribution/core

#19595 chore: forward merge 'master' into 'v2-main'
  .github/workflows/yarn-upgrade.yml
  CHANGELOG.md
  packages/@aws-cdk/aws-cognito/lib/user-pool.ts
  packages/@aws-cdk/aws-cognito/test/integ.user-pool-explicit-props.expected.json
  packages/@aws-cdk/aws-cognito/test/integ.user-pool-explicit-props.ts
  packages/@aws-cdk/aws-cognito/test/user-pool.test.ts
  packages/@aws-cdk/lambda-layer-awscli/layer/requirements.txt
  version.v1.json
Labels: p2, pr/no-squash, pr/forward-merge, auto-approve

#19596 chore: use -alpha.0 version suffix when installing alpha packages in the v2-release pipeline
  packages/aws-cdk/test/integ/helpers/sam.ts
Labels: p1, package/tools, contribution/core

#19597 chore: forward merge 'master' into 'v2-main'
  packages/@aws-cdk/cfnspec/spec-source/specification/000_cfn/1002_Lex_BotAlias_TextLogDestination_patch.json
  packages/aws-cdk/test/integ/helpers/sam.ts
Labels: p2, pr/no-squash, pr/forward-merge, auto-approve

#19600 chore(release): 2.18.0
  .github/workflows/yarn-upgrade.yml
  CHANGELOG.md
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  packages/@aws-cdk/aws-cognito/lib/user-pool.ts
  packages/@aws-cdk/aws-cognito/test/integ.user-pool-explicit-props.expected.json
  packages/@aws-cdk/aws-cognito/test/integ.user-pool-explicit-props.ts
  packages/@aws-cdk/aws-cognito/test/user-pool.test.ts
  packages/@aws-cdk/cfnspec/spec-source/specification/000_cfn/1002_Lex_BotAlias_TextLogDestination_patch.json
  packages/@aws-cdk/lambda-layer-awscli/layer/requirements.txt
  packages/aws-cdk/test/integ/helpers/sam.ts
  version.v1.json
Labels: p2, pr/no-squash, auto-approve

#19602 chore(merge-back): 2.18.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: p2, pr/no-squash, auto-approve

#19555 fix(docdb): DB Instance ARN uses 'docdb' as the service component instead of 'rds'
  packages/@aws-cdk/aws-docdb/lib/instance.ts
  packages/@aws-cdk/aws-docdb/test/instance.test.ts
Labels: bug, p1, effort/small, contribution/core, @aws-cdk/aws-docdb

#19601 docs(lambda): remove references to deprecated addVersion()
  packages/@aws-cdk/aws-applicationautoscaling/README.md
  packages/@aws-cdk/aws-codedeploy/README.md
  packages/@aws-cdk/aws-codepipeline-actions/README.md
  packages/@aws-cdk/aws-lambda/lib/alias.ts
Labels: p1, feature-request, @aws-cdk/aws-lambda, effort/small, contribution/core

#19567 chore(core): change FeatureFlags to use constructs.IConstruct
  packages/@aws-cdk/core/lib/feature-flags.ts
Labels: p2, @aws-cdk/core, contribution/core

#19511 chore(cx-api): remove more `instanceof`s
  packages/@aws-cdk/aws-ecr-assets/test/image-asset.test.ts
  packages/@aws-cdk/aws-s3-assets/test/asset.test.ts
  packages/@aws-cdk/cx-api/lib/artifacts/asset-manifest-artifact.ts
  packages/aws-cdk/lib/api/cloudformation-deployments.ts
Labels: bug, p1, effort/small, @aws-cdk/cx-api

#19437 feat(aws-ec2): Enable/disable EC2 "Detailed Monitoring"
  packages/@aws-cdk/aws-ec2/README.md
  packages/@aws-cdk/aws-ec2/lib/instance.ts
  packages/@aws-cdk/aws-ec2/test/instance.test.ts
  packages/@aws-cdk/aws-ec2/test/integ.instance.expected.json
  packages/@aws-cdk/aws-ec2/test/integ.instance.ts
  packages/@aws-cdk/aws-ec2/test/userdata.test.ts
  packages/aws-cdk-lib/package.json
Labels: @aws-cdk/aws-ec2

#19494 fix(aws-cdk): include nested stacks when building changesets
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/test/api/deploy-stack.test.ts
  packages/aws-cdk/test/integ/cli/cli.integtest.ts
  packages/aws-cdk/test/integ/helpers/cdk.ts
Labels: package/tools, contribution/core, pr-linter/exempt-test, pr-linter/exempt-integ-test

#19500 chore(rds): add PostgreSQL 14.2, 13.6, 12.10, 11.15, and 10.20 versions
  packages/@aws-cdk/aws-rds/lib/instance-engine.ts
Labels: p2, @aws-cdk/aws-rds

#19613 chore(rds): add MySQL 5.7.35, 5.7.36, 5.7.37, 8.0.27, 8.0.28 versions
  packages/@aws-cdk/aws-rds/lib/instance-engine.ts
Labels: p2, @aws-cdk/aws-rds

#19618 chore(aws-cdk): Revert "fix(aws-cdk): include nested stacks when building changesets …
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/test/api/deploy-stack.test.ts
  packages/aws-cdk/test/integ/cli/cli.integtest.ts
  packages/aws-cdk/test/integ/helpers/cdk.ts
Labels: p2, contribution/core

#18970 docs(ec2): remove references to deprecated allowAllTraffic parameter
  packages/@aws-cdk/aws-ec2/README.md
Labels: p2, @aws-cdk/aws-ec2, contribution/core

#19630 chore: apply v2 trove classifier on v2 python packages
  tools/@aws-cdk/pkglint/lib/rules.ts
Labels: p2, contribution/core

#18991 chore(lambda): fix addPermission function name in docs
  packages/@aws-cdk/aws-lambda/lib/permission.ts
Labels: p2, @aws-cdk/aws-lambda, effort/small

#19635 chore: forward merge 'master' into 'v2-main'
  packages/@aws-cdk/aws-lambda/lib/permission.ts
  packages/aws-cdk/lib/api/cxapp/exec.ts
Labels: p2, pr/no-squash, pr/forward-merge, auto-approve

#15113 fix(apigateway): id in schema model maps to $id
  packages/@aws-cdk/aws-apigateway/lib/util.ts
  packages/@aws-cdk/aws-apigateway/test/util.test.ts
Labels: bug, p2, @aws-cdk/aws-apigateway, effort/small

#19464 feat(lambda): warn if you use `function.grantInvoke` while also using `currentVersion`
  packages/@aws-cdk/aws-lambda/lib/function-base.ts
  packages/@aws-cdk/aws-lambda/lib/function.ts
  packages/@aws-cdk/aws-lambda/test/function.test.ts
Labels: p2, @aws-cdk/aws-lambda, contribution/core, pr-linter/exempt-readme, pr-linter/exempt-integ-test

#19510 fix(eks): incorrect version of aws-node-termination-handler
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
Labels: @aws-cdk/aws-eks, contribution/core

#19622 fix(aws-cognito): Lambda::Permission of lambdaTrigger should have a SourceArn
  packages/@aws-cdk/aws-cognito/lib/user-pool.ts
  packages/@aws-cdk/aws-cognito/test/integ.user-pool-custom-sender.expected.json
  packages/@aws-cdk/aws-cognito/test/integ.user-pool-explicit-props.expected.json
  packages/@aws-cdk/aws-cognito/test/user-pool.test.ts
Labels: bug, p1, @aws-cdk/aws-cognito, effort/small

#19612 feat(ecs-patterns): PlacementStrategy and PlacementConstraint for many patterns
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/application-load-balanced-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/application-multiple-target-groups-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/network-load-balanced-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/network-multiple-target-groups-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/lib/ecs/queue-processing-ecs-service.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/l3s-v2.test.ts
  packages/@aws-cdk/aws-ecs-patterns/test/ec2/queue-processing-ecs-service.test.ts
Labels: p2, feature-request, @aws-cdk/aws-ecs, effort/medium, @aws-cdk/aws-ecs-patterns, pr-linter/exempt-readme, pr-linter/exempt-integ-test

#19599 feat(kinesisanalytics-flink): Add metrics to Flink applications
  packages/@aws-cdk/aws-kinesisanalytics-flink/README.md
  packages/@aws-cdk/aws-kinesisanalytics-flink/lib/application.ts
  packages/@aws-cdk/aws-kinesisanalytics-flink/package.json
  packages/@aws-cdk/aws-kinesisanalytics-flink/test/application.test.ts
  packages/@aws-cdk/aws-kinesisanalytics-flink/test/integ.application.lit.expected.json
  packages/@aws-cdk/aws-kinesisanalytics-flink/test/integ.application.lit.ts
Labels: p2, @aws-cdk/aws-kinesisanalytics-flink

#19585 chore(ssm): fix removed API ParameterStoreString
  packages/@aws-cdk/aws-ssm/README.md
Labels: p2, @aws-cdk/aws-ssm

#19289 fix(elbv2): unable to add multiple certificates to NLB
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/nlb/network-listener-certificate.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/nlb/network-listener.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/nlb/listener.test.ts
Labels: bug, p2, effort/small, contribution/core

#19293 feat(elbv2): use `addAction()` on an imported application listener
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-listener.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/alb/listener.test.ts
Labels: p1, feature-request, effort/medium, contribution/core, pr-linter/exempt-readme, pr-linter/exempt-integ-test

#19650 chore(core): improve token error for Duration and Size
  packages/@aws-cdk/core/lib/duration.ts
  packages/@aws-cdk/core/lib/size.ts
  packages/@aws-cdk/core/test/duration.test.ts
  packages/@aws-cdk/core/test/size.test.ts
Labels: p2, @aws-cdk/core, contribution/core

#19653 feat(eks): alb-controller v2.4.1
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/addons/alb-iam_policy-v2.4.1.json
  packages/@aws-cdk/aws-eks/lib/alb-controller.ts
  packages/@aws-cdk/aws-eks/test/alb-controller.test.ts
  packages/@aws-cdk/aws-eks/test/cluster.test.ts
  packages/@aws-cdk/aws-eks/test/integ.alb-controller.expected.json
  packages/@aws-cdk/aws-eks/test/integ.alb-controller.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-inference.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-inference.ts
Labels: p2, @aws-cdk/aws-eks

#19633 chore: set aws-cdk-owners as reviewer for all PRs
  .github/workflows/issue-label-assign.yml
Labels: p2, contribution/core
