Repository aws/aws-cdk, pull requests merged in 2022-02, with the labels that each got.

#17793 feat(ecs): expose image name in container definition
  packages/@aws-cdk/aws-ecs/lib/container-definition.ts
  packages/@aws-cdk/aws-ecs/test/container-definition.test.ts
Labels: @aws-cdk/aws-ecs, pr-linter/exempt-readme

#17841 docs(ecs): correct comment documentation for NetworkMode
  packages/@aws-cdk/aws-ecs/lib/ec2/ec2-task-definition.ts
Labels: @aws-cdk/aws-ecs

#18760 chore: remove reliance on `decdk` in build system
  packages/@aws-cdk/cfnspec/build-tools/create-missing-libraries.ts
  packages/@aws-cdk/cfnspec/build-tools/update.sh
  packages/@aws-cdk/cloudformation-include/build.js
  scripts/align-version.sh
  scripts/compile-samples
  scripts/list-deprecated-apis.js
  scripts/run-rosetta.sh
Labels: contribution/core, aws-cdk-lib

#18326 feat(ec2): support KMS keys for block device mappings for both instances and launch templates
  packages/@aws-cdk/aws-ec2/README.md
  packages/@aws-cdk/aws-ec2/lib/private/ebs-util.ts
  packages/@aws-cdk/aws-ec2/lib/volume.ts
  packages/@aws-cdk/aws-ec2/test/instance.test.ts
  packages/@aws-cdk/aws-ec2/test/launch-template.test.ts
Labels: @aws-cdk/aws-ec2

#18772 revert: "chore(cloudfront): encryption and enforceSSL on distribution s3 loggingBucket (#18264)"
  packages/@aws-cdk/aws-cloudfront/lib/distribution.ts
  packages/@aws-cdk/aws-cloudfront/lib/web-distribution.ts
  packages/@aws-cdk/aws-cloudfront/test/integ.cloudfront-bucket-logging.expected.json
  packages/@aws-cdk/aws-cloudfront/test/integ.distribution-extensive.expected.json
Labels: @aws-cdk/aws-cloudfront, contribution/core

#16923 feat(cloudwatch-actions): add ssm opsitem action for cloudwatch alarm
  packages/@aws-cdk/aws-cloudwatch-actions/README.md
  packages/@aws-cdk/aws-cloudwatch-actions/lib/index.ts
  packages/@aws-cdk/aws-cloudwatch-actions/lib/ssm.ts
  packages/@aws-cdk/aws-cloudwatch-actions/test/ssm.test.ts
Labels: @aws-cdk/aws-cloudwatch-actions

#18719 feat(dynamodb): allow setting TableClass for a Table
  packages/@aws-cdk/aws-dynamodb/README.md
  packages/@aws-cdk/aws-dynamodb/lib/table.ts
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
Labels: @aws-cdk/aws-dynamodb

#18598 feat(amplify): support performance mode in Branch
  packages/@aws-cdk/aws-amplify/README.md
  packages/@aws-cdk/aws-amplify/lib/branch.ts
  packages/@aws-cdk/aws-amplify/test/branch.test.ts
Labels: @aws-cdk/aws-amplify

#18626 feat(fsx): add support for FSx Lustre Persistent_2 deployment type
  packages/@aws-cdk/aws-fsx/lib/lustre-file-system.ts
  packages/@aws-cdk/aws-fsx/test/lustre-file-system.test.ts
Labels: pr-linter/exempt-readme, @aws-cdk/aws-fsx

#18784 chore(release): 2.10.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash, auto-approve

#18780 chore(lambda-layer-awscli): add update mechanism for AWS CLI
  packages/@aws-cdk/lambda-layer-awscli/awscli.version
  packages/@aws-cdk/lambda-layer-awscli/build-tools/bump-awscli-version.sh
  packages/@aws-cdk/lambda-layer-awscli/layer/Dockerfile
  packages/@aws-cdk/lambda-layer-awscli/layer/build.sh
Labels: contribution/core, @aws-cdk/aws-lambda-layer-awscli

#18791 chore(merge-back): 1.143.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash, auto-approve

#18207 feat(cli): `cdk diff` works for Nested Stacks
  packages/aws-cdk/lib/api/cloudformation-deployments.ts
  packages/aws-cdk/lib/api/hotswap-deployments.ts
  packages/aws-cdk/lib/cdk-toolkit.ts
  packages/aws-cdk/test/api/cloudformation-deployments.test.ts
  packages/aws-cdk/test/diff-nested-stacks-templates/one-output-one-param-stack.nested.template.json
  packages/aws-cdk/test/diff-nested-stacks-templates/one-resource-one-stack-stack.nested.template.json
  packages/aws-cdk/test/diff-nested-stacks-templates/one-resource-stack.nested.template.json
  packages/aws-cdk/test/diff-nested-stacks-templates/one-resource-two-stacks-stack.nested.template.json
  packages/aws-cdk/test/diff.test.ts
  packages/aws-cdk/test/util.ts
Labels: package/tools, contribution/core, pr-linter/exempt-readme

#18687 docs(core): clarify that `addOverride` does not change property casing
  packages/@aws-cdk/core/lib/cfn-resource.ts
Labels: @aws-cdk/core, contribution/core

#18767 chore(cx-api): break circular dependencies
  packages/@aws-cdk/cx-api/lib/artifacts/cloudformation-artifact.ts
  packages/@aws-cdk/cx-api/lib/artifacts/nested-cloud-assembly-artifact-aug.ts
  packages/@aws-cdk/cx-api/lib/artifacts/nested-cloud-assembly-artifact.ts
  packages/@aws-cdk/cx-api/lib/cloud-artifact-aug.ts
  packages/@aws-cdk/cx-api/lib/cloud-artifact.ts
  packages/@aws-cdk/cx-api/lib/index.ts
  packages/@aws-cdk/cx-api/package.json
  yarn.lock
Labels: contribution/core

#18617 feat(iotevents): add grant method to Input class
  packages/@aws-cdk/aws-iotevents/README.md
  packages/@aws-cdk/aws-iotevents/lib/detector-model.ts
  packages/@aws-cdk/aws-iotevents/lib/expression.ts
  packages/@aws-cdk/aws-iotevents/lib/input.ts
  packages/@aws-cdk/aws-iotevents/lib/state.ts
  packages/@aws-cdk/aws-iotevents/test/input.test.ts
Labels: @aws-cdk/aws-iotevents

#18709 chore(cxapi): plugin context provider limited by cx schema
  packages/@aws-cdk/cloud-assembly-schema/lib/cloud-assembly/context-queries.ts
  packages/@aws-cdk/cloud-assembly-schema/schema/cloud-assembly.schema.json
  packages/@aws-cdk/cloud-assembly-schema/schema/cloud-assembly.version.json
  packages/@aws-cdk/core/lib/context-provider.ts
  packages/@aws-cdk/core/test/context.test.ts
  packages/aws-cdk/lib/context-providers/index.ts
  packages/aws-cdk/lib/plugin.ts
  packages/aws-cdk/test/context-providers/generic.test.ts
Labels: contribution/core, @aws-cdk/cx-api

#18765 fix(aws-appsync): Strip unsupported characters from Lambda DataSource
  packages/@aws-cdk/aws-appsync/lib/data-source.ts
  packages/@aws-cdk/aws-appsync/test/appsync-lambda.test.ts
Labels: @aws-cdk/aws-appsync

#18800 chore(lambda-layer-awscli): install awscli with pip and requirements.txt
  packages/@aws-cdk/lambda-layer-awscli/README.md
  packages/@aws-cdk/lambda-layer-awscli/awscli.version
  packages/@aws-cdk/lambda-layer-awscli/build-tools/bump-awscli-version.sh
  packages/@aws-cdk/lambda-layer-awscli/layer/Dockerfile
  packages/@aws-cdk/lambda-layer-awscli/layer/build.sh
  packages/@aws-cdk/lambda-layer-awscli/layer/requirements.txt
  packages/@aws-cdk/lambda-layer-awscli/lib/awscli-layer.ts
  packages/@aws-cdk/lambda-layer-awscli/package.json
  packages/@aws-cdk/lambda-layer-awscli/test/integ.awscli-layer.expected.json
  packages/@aws-cdk/lambda-layer-awscli/test/integ.awscli-layer.ts
  packages/@aws-cdk/lambda-layer-awscli/test/lambda-handler/index.py
Labels: contribution/core

#18832 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/package.json
  packages/@aws-cdk/aws-dynamodb-global/lambda-packages/aws-global-table-coordinator/package.json
  packages/@aws-cdk/aws-dynamodb/package.json
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-events-targets/package.json
  packages/@aws-cdk/aws-globalaccelerator-endpoints/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/@aws-cdk/aws-logs/package.json
  packages/@aws-cdk/custom-resources/package.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/package.json
  yarn.lock
Labels: dependencies, contribution/core, auto-approve

#18455 fix(tooling): update vscode devcontainer image
  .devcontainer.json
Labels: pr-linter/exempt-test

#18842 chore(eks): deprecate older versions of EKS
  packages/@aws-cdk/aws-eks/lib/cluster.ts
Labels: @aws-cdk/aws-eks

#18838 chore(contributing-guide): update contributing guide with latest philosophy on rosetta fixtures
  CONTRIBUTING.md
Labels: contribution/core

#18849 chore: fix new ecs test to use v2 asset style
  packages/@aws-cdk/aws-ecs/test/container-definition.test.ts
Labels: @aws-cdk/aws-ecs, contribution/core

#18114 feat(assets): support networking mode for DockerImageAsset
  packages/@aws-cdk/aws-ecr-assets/README.md
  packages/@aws-cdk/aws-ecr-assets/lib/image-asset.ts
  packages/@aws-cdk/aws-ecr-assets/test/image-asset.test.ts
  packages/@aws-cdk/cloud-assembly-schema/lib/assets/docker-image-asset.ts
  packages/@aws-cdk/cloud-assembly-schema/lib/cloud-assembly/metadata-schema.ts
  packages/@aws-cdk/cloud-assembly-schema/schema/assets.schema.json
  packages/@aws-cdk/cloud-assembly-schema/schema/cloud-assembly.schema.json
  packages/@aws-cdk/core/lib/assets.ts
  packages/@aws-cdk/core/lib/stack-synthesizers/default-synthesizer.ts
  packages/@aws-cdk/core/lib/stack-synthesizers/legacy.ts
  packages/aws-cdk/lib/assets.ts
  packages/cdk-assets/lib/private/docker.ts
  packages/cdk-assets/lib/private/handlers/container-images.ts
  packages/cdk-assets/test/docker-images.test.ts
Labels: @aws-cdk/assets

#18850 chore: fix build with new jsii version
  packages/@aws-cdk/aws-ec2/lib/vpc-endpoint-service.ts
  packages/awslint/tsconfig.json
  tools/@aws-cdk/ubergen/bin/ubergen.ts
Labels: contribution/core

#18833 chore: allow dependabot to manage pip upgrades for lambda-layer-awscli
  .github/dependabot.yml
Labels: contribution/core, @aws-cdk/aws-lambda-layer-awscli

#18860 chore(assertions): add `.test` to the annotation test file name
  packages/@aws-cdk/assertions/test/annotations.test.ts
Labels: @aws-cdk/assertions

#18768 feat(iotevents): support transition events
  packages/@aws-cdk/aws-iotevents/README.md
  packages/@aws-cdk/aws-iotevents/lib/detector-model.ts
  packages/@aws-cdk/aws-iotevents/lib/state.ts
  packages/@aws-cdk/aws-iotevents/test/detector-model.test.ts
  packages/@aws-cdk/aws-iotevents/test/integ.detector-model.expected.json
  packages/@aws-cdk/aws-iotevents/test/integ.detector-model.ts
Labels: @aws-cdk/aws-iotevents

#18411 chore(cxapi): reduce merge conflicts in feature flags
  packages/@aws-cdk/core/test/feature-flags.test.ts
  packages/@aws-cdk/cx-api/lib/features.ts
  packages/@aws-cdk/cx-api/test/features.test.ts
Labels: contribution/core, @aws-cdk/cx-api

#18867 chore(events): `RuleTargetInput.fromText()` is not for JSON
  packages/@aws-cdk/aws-events/lib/input.ts
Labels: @aws-cdk/aws-events, contribution/core

#18871 chore: pin aws-sdk-mock to 5.6.0
  .github/workflows/yarn-upgrade.yml
Labels: contribution/core

#18873 chore(pipelines): clarify when not to use the modern synthesis flag
  packages/@aws-cdk/pipelines/README.md
Labels: contribution/core, @aws-cdk/pipelines

#18878 chore(merge-back): 2.11.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/no-squash, auto-approve

#18884 chore(merge-back): 1.144.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash, auto-approve

#18889 chore(merge-back): 2.12.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/no-squash, auto-approve

#18890 feat(config): S3_BUCKET_LEVEL_PUBLIC_ACCESS_PROHIBITED managed rule
  packages/@aws-cdk/aws-config/lib/rule.ts
  packages/@aws-cdk/aws-config/test/managed-rules.test.ts
Labels: pr-linter/exempt-readme

#18834 fix(cli): handle attributes of AWS::Events::EventBus when hotswapping
  packages/aws-cdk/lib/api/evaluate-cloudformation-template.ts
  packages/aws-cdk/test/api/hotswap/state-machine-hotswap-deployments.test.ts
Labels: package/tools, contribution/core

#18897 chore: npm-check-updates && yarn upgrade
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/aws-lambda-nodejs/package.json
  packages/aws-cdk-lib/package.json
  tools/@aws-cdk/cdk-build-tools/package.json
  yarn.lock
Labels: dependencies, contribution/core, auto-approve

#18839 feat(iot-actions): add SNS publish action
  packages/@aws-cdk/aws-iot-actions/README.md
  packages/@aws-cdk/aws-iot-actions/lib/index.ts
  packages/@aws-cdk/aws-iot-actions/lib/sns-topic-action.ts
  packages/@aws-cdk/aws-iot-actions/package.json
  packages/@aws-cdk/aws-iot-actions/test/sns/integ.sns-topic-action.expected.json
  packages/@aws-cdk/aws-iot-actions/test/sns/integ.sns-topic-action.ts
  packages/@aws-cdk/aws-iot-actions/test/sns/sns-topic-action.test.ts
  packages/@aws-cdk/aws-sns/lib/topic-base.ts
  packages/@aws-cdk/aws-sns/lib/topic.ts
  packages/@aws-cdk/aws-sns/test/sns.test.ts
Labels: @aws-cdk/aws-iot-actions

#18904 docs: make error message more descriptive
  packages/@aws-cdk/aws-efs/lib/access-point.ts
  packages/@aws-cdk/aws-efs/test/access-point.test.ts
Labels: contribution/core

#18915 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/aws-eks/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-dasm/package.json
  tools/@aws-cdk/cdk-build-tools/package.json
  tools/@aws-cdk/cfn2ts/package.json
  yarn.lock
Labels: dependencies, contribution/core, auto-approve

#18937 chore(cli): check for undefined instead of falsey
  packages/aws-cdk/bin/cdk.ts
Labels: contribution/core

#18922 fix(core): undeployable due to invalid mapping
  packages/@aws-cdk/aws-lambda/test/integ.lambda-insights-mapping.expected.json
  packages/@aws-cdk/aws-lambda/test/lambda-insights.test.ts
  packages/@aws-cdk/core/lib/cfn-mapping.ts
  packages/@aws-cdk/core/lib/private/region-lookup.ts
  packages/@aws-cdk/core/test/mappings.test.ts
Labels: @aws-cdk/core, contribution/core

#18923 docs(pipelines): add section for using a different deployment engine
  packages/@aws-cdk/pipelines/README.md
  packages/@aws-cdk/pipelines/lib/blueprint/shell-step.ts
Labels: contribution/core, @aws-cdk/pipelines

#18943 chore(cli): check if returnValue is undefined
  packages/aws-cdk/bin/cdk.ts
Labels: contribution/core

#18835 docs(cloudfront): add migration guide to modern distribution api
  packages/@aws-cdk/aws-cloudfront/README.md
Labels: @aws-cdk/aws-cloudfront, contribution/core

#18948 fix(assertions): incorrect assertions when >1 messages on a resource
  packages/@aws-cdk/assertions/lib/annotations.ts
  packages/@aws-cdk/assertions/lib/private/message.ts
  packages/@aws-cdk/assertions/lib/private/messages.ts
  packages/@aws-cdk/assertions/test/annotations.test.ts
Labels: contribution/core, @aws-cdk/assertions

#18946 fix(synthetics): generated role has incorrect permissions for cloudwatch logs
  packages/@aws-cdk/aws-synthetics/lib/canary.ts
  packages/@aws-cdk/aws-synthetics/test/canary.test.ts
  packages/@aws-cdk/aws-synthetics/test/integ.canary.expected.json
Labels: contribution/core, @aws-cdk/aws-synthetics

#18955 feat(ec2): allow imdsv2 usage on bastion host
  packages/@aws-cdk/aws-ec2/lib/bastion-host.ts
  packages/@aws-cdk/aws-ec2/test/bastion-host.test.ts
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-readme

#18932 docs(ec2): Clarify `vpcName` documentation for VPC
  packages/@aws-cdk/aws-ec2/lib/vpc.ts
Labels: @aws-cdk/aws-ec2

#18881 feat(cli): hotswap for appsync vtl mapping template changes
  packages/aws-cdk/README.md
  packages/aws-cdk/lib/api/aws-auth/sdk.ts
  packages/aws-cdk/lib/api/evaluate-cloudformation-template.ts
  packages/aws-cdk/lib/api/hotswap-deployments.ts
  packages/aws-cdk/lib/api/hotswap/appsync-mapping-templates.ts
  packages/aws-cdk/test/api/hotswap/appsync-mapping-templates-hotswap-deployments.test.ts
  packages/aws-cdk/test/api/hotswap/hotswap-test-setup.ts
  packages/aws-cdk/test/util/mock-sdk.ts
Labels: package/tools

#18126 feat(rds): simpler way to configure parameters for instance and cluster
  packages/@aws-cdk/aws-rds/README.md
  packages/@aws-cdk/aws-rds/lib/cluster.ts
  packages/@aws-cdk/aws-rds/lib/instance.ts
  packages/@aws-cdk/aws-rds/lib/props.ts
  packages/@aws-cdk/aws-rds/test/cluster.test.ts
  packages/@aws-cdk/aws-rds/test/instance.test.ts
Labels: @aws-cdk/aws-rds

#14225 feat(codepipeline): add support for CloudFormation StackSet actions
  packages/@aws-cdk/aws-codepipeline-actions/README.md
  packages/@aws-cdk/aws-codepipeline-actions/lib/cloudformation/index.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/cloudformation/pipeline-actions.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/cloudformation/private/singleton-policy.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/cloudformation/stackinstances-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/cloudformation/stackset-action.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/cloudformation/stackset-types.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/common.ts
  packages/@aws-cdk/aws-codepipeline-actions/lib/index.ts
  packages/@aws-cdk/aws-codepipeline-actions/package.json
  packages/@aws-cdk/aws-codepipeline-actions/test/cloudformation/cloudformation-pipeline-actions.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/cloudformation/cloudformation-stackset-pipeline-actions.test.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/cloudformation/integ.stacksets.expected.json
  packages/@aws-cdk/aws-codepipeline-actions/test/cloudformation/integ.stacksets.ts
  packages/@aws-cdk/aws-codepipeline-actions/test/cloudformation/test-artifact/template.yaml
  packages/@aws-cdk/aws-codepipeline-actions/test/cloudformation/test-fixture.ts
  packages/@aws-cdk/aws-iam/lib/role.ts
  packages/@aws-cdk/aws-iam/test/role.from-role-arn.test.ts
Labels: p1, @aws-cdk/aws-codepipeline, effort/medium

#18972 fix(stepfunctions-tasks): EMR Create Cluster does not support dynamic allocation of step concurrency level
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/emr/emr-create-cluster.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/emr/emr-create-cluster.test.ts
Labels: @aws-cdk/aws-stepfunctions-tasks

#13729 feat(events): API Destinations
  packages/@aws-cdk/aws-events-targets/README.md
  packages/@aws-cdk/aws-events-targets/lib/api-destination.ts
  packages/@aws-cdk/aws-events-targets/lib/index.ts
  packages/@aws-cdk/aws-events-targets/rosetta/default.ts-fixture
  packages/@aws-cdk/aws-events-targets/test/api-destination/api-destination.test.ts
  packages/@aws-cdk/aws-events/README.md
  packages/@aws-cdk/aws-events/lib/api-destination.ts
  packages/@aws-cdk/aws-events/lib/connection.ts
  packages/@aws-cdk/aws-events/lib/index.ts
  packages/@aws-cdk/aws-events/lib/rule.ts
  packages/@aws-cdk/aws-events/lib/target.ts
  packages/@aws-cdk/aws-events/package.json
  packages/@aws-cdk/aws-events/test/api-destination.test.ts
  packages/@aws-cdk/aws-events/test/connection.test.ts
Labels: @aws-cdk/aws-events

#18990 chore: npm-check-updates && yarn upgrade
  package.json
  packages/@aws-cdk/app-delivery/package.json
  packages/@aws-cdk/aws-applicationautoscaling/package.json
  packages/@aws-cdk/aws-autoscaling-common/package.json
  packages/@aws-cdk/aws-eks/package.json
  packages/@aws-cdk/cfnspec/package.json
  packages/@aws-cdk/cloudformation-diff/package.json
  packages/@aws-cdk/core/package.json
  packages/aws-cdk-lib/package.json
  packages/aws-cdk/package.json
  packages/awslint/package.json
  packages/cdk-dasm/package.json
  packages/monocdk/package.json
  tools/@aws-cdk/cdk-build-tools/package.json
  tools/@aws-cdk/cfn2ts/package.json
  yarn.lock
Labels: dependencies, contribution/core, auto-approve

#18979 fix(lambda): unlock use case for cross-account functions w/ preconfigured permissions
  packages/@aws-cdk/aws-lambda/README.md
  packages/@aws-cdk/aws-lambda/lib/function-base.ts
  packages/@aws-cdk/aws-lambda/lib/function.ts
  packages/@aws-cdk/aws-lambda/test/function.test.ts
Labels: @aws-cdk/aws-lambda, contribution/core

#18865 chore(cli): explain when `--toolkit-stack-name` applies
  packages/aws-cdk/bin/cdk.ts
Labels: package/tools, contribution/core

#17396 fix(aws-cdk): include nested stacks when building changesets
  packages/aws-cdk/lib/api/deploy-stack.ts
  packages/aws-cdk/test/api/deploy-stack.test.ts
Labels: package/tools

#18681 chore(init-templates): READMEs produce markdownlint errors
  packages/aws-cdk/lib/init-templates/v1/app/javascript/README.md
  packages/aws-cdk/lib/init-templates/v1/app/typescript/README.md
  packages/aws-cdk/lib/init-templates/v1/lib/typescript/README.template.md
  packages/aws-cdk/lib/init-templates/v1/sample-app/javascript/README.template.md
  packages/aws-cdk/lib/init-templates/v1/sample-app/typescript/README.template.md
  packages/aws-cdk/lib/init-templates/v2/app/javascript/README.md
  packages/aws-cdk/lib/init-templates/v2/app/typescript/README.md
  packages/aws-cdk/lib/init-templates/v2/lib/typescript/README.template.md
  packages/aws-cdk/lib/init-templates/v2/sample-app/javascript/README.template.md
  packages/aws-cdk/lib/init-templates/v2/sample-app/typescript/README.template.md
Labels: package/tools

#18754 fix: python3 version check with Python 3.10
  scripts/check-build-prerequisites.sh
  scripts/check-pack-prerequisites.sh
Labels: pr-linter/exempt-test

#18174 feat(ecs): support version stages and ids for Secrets
  packages/@aws-cdk/aws-ecs/README.md
  packages/@aws-cdk/aws-ecs/lib/container-definition.ts
  packages/@aws-cdk/aws-ecs/test/container-definition.test.ts
Labels: @aws-cdk/aws-ecs

#18998 chore(assertions): partially revert #18948
  packages/@aws-cdk/assertions/lib/private/messages.ts
  packages/@aws-cdk/assertions/test/annotations.test.ts
Labels: contribution/core, aws-cdk-lib

#19002 chore(codepipeline-actions): change `cdk.Construct` to `Construct`
  packages/@aws-cdk/aws-codepipeline-actions/lib/cloudformation/private/singleton-policy.ts
Labels: contribution/core

#18999 chore(cli): export from index.js
  packages/aws-cdk/bin/cdk.ts
  packages/aws-cdk/lib/cli.ts
  packages/aws-cdk/lib/index.ts
Labels: package/tools, contribution/core

#19009 fix(assertions): 'pattern.indexOf' is not a function
  packages/@aws-cdk/assertions/lib/private/cyclic.ts
Labels: contribution/core, pr-linter/exempt-readme, pr-linter/exempt-test, @aws-cdk/assertions

#18788 chore(lambda-layer-proxyagent): autobump mechanism
  packages/@aws-cdk/lambda-layer-node-proxy-agent/.no-packagejson-validator
  packages/@aws-cdk/lambda-layer-node-proxy-agent/README.md
  packages/@aws-cdk/lambda-layer-node-proxy-agent/layer/Dockerfile
  packages/@aws-cdk/lambda-layer-node-proxy-agent/layer/build.sh
  packages/@aws-cdk/lambda-layer-node-proxy-agent/layer/package-lock.json
  packages/@aws-cdk/lambda-layer-node-proxy-agent/layer/package.json
Labels: contribution/core

#18976 feat(aws-stepfunctions-tasks): add environment property for SageMakerCreateTrainingJob
  packages/@aws-cdk/aws-stepfunctions-tasks/README.md
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/sagemaker/create-training-job.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/sagemaker/create-transform-job.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/sagemaker/private/utils.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/sagemaker/create-training-job.test.ts
Labels: @aws-cdk/aws-stepfunctions-tasks

#19019 docs(elasticloadbalancingv2): clarify the behavior of the `open` listener property
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-listener.ts
Labels: contribution/core, @aws-cdk/aws-elasticloadbalancingv2

#17970 fix(lambda): Validate Lambda "functionName" parameter
  packages/@aws-cdk/aws-lambda/lib/function.ts
  packages/@aws-cdk/aws-lambda/test/function.test.ts
Labels: p2, @aws-cdk/aws-lambda, effort/small

#19026 fix(stepfunctions): imported State Machine sill has region and account from its Stack, instead of its ARN
  packages/@aws-cdk/aws-stepfunctions/lib/state-machine.ts
  packages/@aws-cdk/aws-stepfunctions/test/state-machine.test.ts
Labels: contribution/core

#19033 chore: version check rejects non-monorepo package.jsons
  scripts/align-version.sh
  scripts/retain-public.js
Labels: contribution/core, @aws-cdk/aws-workspaces

#18963 feat(core): stack synthesizer that uses CLI credentials
  packages/@aws-cdk/core/README.md
  packages/@aws-cdk/core/lib/assets.ts
  packages/@aws-cdk/core/lib/stack-synthesizers/_asset-manifest-builder.ts
  packages/@aws-cdk/core/lib/stack-synthesizers/_shared.ts
  packages/@aws-cdk/core/lib/stack-synthesizers/bootstrapless-synthesizer.ts
  packages/@aws-cdk/core/lib/stack-synthesizers/cli-credentials-synthesizer.ts
  packages/@aws-cdk/core/lib/stack-synthesizers/default-synthesizer.ts
  packages/@aws-cdk/core/lib/stack-synthesizers/index.ts
  packages/@aws-cdk/core/lib/stack-synthesizers/legacy.ts
  packages/@aws-cdk/core/lib/stack-synthesizers/nested.ts
  packages/@aws-cdk/core/lib/stack-synthesizers/stack-synthesizer.ts
  packages/@aws-cdk/core/rosetta/default.ts-fixture
  packages/@aws-cdk/core/test/stack-synthesis/clicreds-synthesis.test.ts
  packages/aws-cdk-lib/README.md
Labels: @aws-cdk/core, contribution/core

#19040 chore(rds): Added missing AuroraMysqlEngineVersion version 2.10.2
  packages/@aws-cdk/aws-rds/lib/cluster-engine.ts
Labels: @aws-cdk/aws-rds

#18837 feat(cloudfront-origins): extend max keepaliveTimeout of HttpOrigin to 180
  packages/@aws-cdk/aws-cloudfront-origins/README.md
  packages/@aws-cdk/aws-cloudfront-origins/lib/http-origin.ts
  packages/@aws-cdk/aws-cloudfront-origins/test/http-origin.test.ts
Labels: @aws-cdk/aws-cloudfront, @aws-cdk/aws-cloudfront-origins

#19047 fix(route53): fix cross account delegation deployment dependency
  packages/@aws-cdk/aws-route53/lib/record-set.ts
  packages/@aws-cdk/aws-route53/test/integ.cross-account-zone-delegation.expected.json
  packages/@aws-cdk/aws-route53/test/record-set.test.ts
Labels: @aws-cdk/aws-route53

#19043 fix(elasticloadbalancingv2): validate port/protocol are not provided for lambda targets
  packages/@aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-target-group.ts
  packages/@aws-cdk/aws-elasticloadbalancingv2/test/alb/target-group.test.ts
Labels: contribution/core, @aws-cdk/aws-elasticloadbalancingv2

#19017 chore: compat checks fail if a release has happened
  scripts/check-api-compatibility.sh
Labels: contribution/core

#19011 feat: triggers
  packages/@aws-cdk/triggers/.eslintrc.js
  packages/@aws-cdk/triggers/.gitignore
  packages/@aws-cdk/triggers/.npmignore
  packages/@aws-cdk/triggers/LICENSE
  packages/@aws-cdk/triggers/NOTICE
  packages/@aws-cdk/triggers/README.md
  packages/@aws-cdk/triggers/jest.config.js
  packages/@aws-cdk/triggers/lib/index.ts
  packages/@aws-cdk/triggers/lib/lambda/.gitignore
  packages/@aws-cdk/triggers/lib/lambda/index.ts
  packages/@aws-cdk/triggers/lib/trigger-function.ts
  packages/@aws-cdk/triggers/lib/trigger.ts
  packages/@aws-cdk/triggers/package.json
  packages/@aws-cdk/triggers/test/integ.triggers.expected.json
  packages/@aws-cdk/triggers/test/integ.triggers.ts
  packages/@aws-cdk/triggers/test/trigger-handler.test.ts
  packages/@aws-cdk/triggers/test/triggers.test.ts
Labels: contribution/core

#19070 chore: revert "chore: compat checks fail if a release has happened"
  scripts/check-api-compatibility.sh
Labels: contribution/core, @aws-cdk/pipelines

#19071 chore(pipelines): remove confusing versioning section
  packages/@aws-cdk/pipelines/README.md
Labels: contribution/core, @aws-cdk/pipelines

#19076 feat(lambda): add a fromFunctionName() method
  packages/@aws-cdk/aws-lambda/README.md
  packages/@aws-cdk/aws-lambda/lib/function.ts
  packages/@aws-cdk/aws-lambda/test/function.test.ts
  packages/@aws-cdk/core/lib/arn.ts
Labels: @aws-cdk/aws-lambda, contribution/core

#18953 fix(cloudfront): trim autogenerated cache policy name
  packages/@aws-cdk/aws-cloudfront/lib/cache-policy.ts
  packages/@aws-cdk/aws-cloudfront/lib/distribution.ts
  packages/@aws-cdk/aws-cloudfront/test/cache-policy.test.ts
Labels: @aws-cdk/aws-cloudfront

#19089 chore: mocking the version number to make the tests deterministic
  packages/aws-cdk/test/notices.test.ts
Labels: package/tools, contribution/core

#19069 fix: API compatibility check fails in CI pipeline
  package.json
  scripts/check-api-compatibility.sh
  scripts/find-latest-release.js
Labels: contribution/core, pr-linter/exempt-readme, pr-linter/exempt-test, @aws-cdk/pipelines

#18989 fix(s3-notifications): notifications allowed with imported kms keys
  packages/@aws-cdk/aws-s3-notifications/README.md
  packages/@aws-cdk/aws-s3-notifications/lib/sqs.ts
  packages/@aws-cdk/aws-s3-notifications/package.json
  packages/@aws-cdk/aws-s3-notifications/test/queue.test.ts
Labels: @aws-cdk/aws-s3-notifications

#17413 feat(rds): make VPC optional for serverless Clusters
  packages/@aws-cdk/aws-rds/README.md
  packages/@aws-cdk/aws-rds/lib/serverless-cluster.ts
  packages/@aws-cdk/aws-rds/test/integ.serverless-cluster-no-vpc.expected.json
  packages/@aws-cdk/aws-rds/test/integ.serverless-cluster-no-vpc.ts
  packages/@aws-cdk/aws-rds/test/serverless-cluster.test.ts
Labels: @aws-cdk/aws-rds

#19093 chore(cloudfront): update cloudfront docs to show allowlist functionality
  packages/@aws-cdk/aws-cloudfront/README.md
Labels: @aws-cdk/aws-cloudfront

#19112 chore(cli): some errors are not being caught when fetching notices
  packages/aws-cdk/lib/notices.ts
  packages/aws-cdk/test/notices.test.ts
Labels: package/tools, contribution/core

#18958 feat(apigatewayv2): Import existing WebSocketApi from attributes
  packages/@aws-cdk/aws-apigatewayv2/README.md
  packages/@aws-cdk/aws-apigatewayv2/lib/websocket/api.ts
  packages/@aws-cdk/aws-apigatewayv2/test/websocket/api.test.ts
Labels: @aws-cdk/aws-apigatewayv2

#19121 chore: forward merge 'master' into 'v2-main'
  packages/@aws-cdk/aws-apigatewayv2/README.md
  packages/@aws-cdk/aws-apigatewayv2/lib/websocket/api.ts
  packages/@aws-cdk/aws-apigatewayv2/test/websocket/api.test.ts
  packages/@aws-cdk/aws-eks/lib/cluster.ts
  packages/@aws-cdk/aws-eks/test/integ.eks-cluster.expected.json
  packages/aws-cdk/lib/notices.ts
  packages/aws-cdk/test/notices.test.ts
Labels: pr/no-squash, pr/forward-merge, auto-approve

#19024 feat(pipelines): step outputs
  packages/@aws-cdk/pipelines/README.md
  packages/@aws-cdk/pipelines/lib/blueprint/manual-approval.ts
  packages/@aws-cdk/pipelines/lib/blueprint/shell-step.ts
  packages/@aws-cdk/pipelines/lib/blueprint/step.ts
  packages/@aws-cdk/pipelines/lib/codepipeline/codebuild-step.ts
  packages/@aws-cdk/pipelines/lib/codepipeline/codepipeline-action-factory.ts
  packages/@aws-cdk/pipelines/lib/codepipeline/codepipeline-source.ts
  packages/@aws-cdk/pipelines/lib/codepipeline/codepipeline.ts
  packages/@aws-cdk/pipelines/lib/codepipeline/private/buildspecs.ts
  packages/@aws-cdk/pipelines/lib/codepipeline/private/codebuild-factory.ts
  packages/@aws-cdk/pipelines/lib/codepipeline/private/outputs.ts
  packages/@aws-cdk/pipelines/lib/helpers-internal/index.ts
  packages/@aws-cdk/pipelines/lib/helpers-internal/step-output.ts
  packages/@aws-cdk/pipelines/test/codepipeline/codebuild-step.test.ts
  packages/@aws-cdk/pipelines/test/codepipeline/codepipeline-sources.test.ts
  packages/@aws-cdk/pipelines/test/integ.newpipeline-with-vpc.expected.json
  packages/@aws-cdk/pipelines/test/integ.newpipeline.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-variables.expected.json
  packages/@aws-cdk/pipelines/test/integ.pipeline-with-variables.ts
Labels: contribution/core

#19123 chore(lambda): fix double import
  packages/@aws-cdk/aws-lambda/test/function.test.ts
Labels: @aws-cdk/aws-lambda, contribution/core

#19124 chore(s3-deployment): fix double import
  packages/@aws-cdk/aws-s3-deployment/lib/bucket-deployment.ts
Labels: contribution/core, @aws-cdk/aws-s3-deployment

#18667 feat(cli): bundle dependencies
  packages/@aws-cdk/cloudformation-diff/lib/format-table.ts
  packages/@aws-cdk/cloudformation-diff/lib/iam/statement.ts
  packages/aws-cdk/NOTICE
  packages/aws-cdk/THIRD_PARTY_LICENSES
  packages/aws-cdk/lib/api/bootstrap/bootstrap-environment.ts
  packages/aws-cdk/lib/api/cloudformation-deployments.ts
  packages/aws-cdk/lib/api/cxapp/cloud-assembly.ts
  packages/aws-cdk/lib/api/cxapp/environments.ts
  packages/aws-cdk/lib/api/hotswap/lambda-functions.ts
  packages/aws-cdk/lib/api/util/display.ts
  packages/aws-cdk/lib/cli.ts
  packages/aws-cdk/lib/command-api.ts
  packages/aws-cdk/lib/init.ts
  packages/aws-cdk/lib/logging.ts
  packages/aws-cdk/lib/util/directories.ts
  packages/aws-cdk/lib/version.ts
  packages/aws-cdk/package.json
  packages/aws-cdk/test/integ/helpers/cdk.ts
  packages/aws-cdk/test/integ/helpers/monorepo.ts
  packages/cdk-assets/lib/private/archive.ts
  tools/@aws-cdk/cdk-build-tools/bin/cdk-package.ts
  tools/@aws-cdk/cdk-build-tools/lib/package-info.ts
  tools/@aws-cdk/cdk-build-tools/package.json
  tools/@aws-cdk/node-bundle/.eslintrc.json
  tools/@aws-cdk/node-bundle/.gitattributes
  tools/@aws-cdk/node-bundle/.gitignore
  tools/@aws-cdk/node-bundle/.npmignore
  tools/@aws-cdk/node-bundle/.projen/deps.json
  tools/@aws-cdk/node-bundle/.projen/files.json
  tools/@aws-cdk/node-bundle/.projen/tasks.json
  tools/@aws-cdk/node-bundle/.projenrc.js
  tools/@aws-cdk/node-bundle/LICENSE
  tools/@aws-cdk/node-bundle/README.md
  tools/@aws-cdk/node-bundle/bin/node-bundle
  tools/@aws-cdk/node-bundle/package.json
  tools/@aws-cdk/node-bundle/src/api/_attributions.ts
  tools/@aws-cdk/node-bundle/src/api/_shell.ts
  tools/@aws-cdk/node-bundle/src/api/bundle.ts
  tools/@aws-cdk/node-bundle/src/api/index.ts
  tools/@aws-cdk/node-bundle/src/api/violation.ts
  tools/@aws-cdk/node-bundle/src/cli.ts
  tools/@aws-cdk/node-bundle/src/index.ts
  tools/@aws-cdk/node-bundle/test/_package.ts
  tools/@aws-cdk/node-bundle/test/api/bundle.test.ts
  tools/@aws-cdk/node-bundle/test/cli.test.ts
  tools/@aws-cdk/node-bundle/tsconfig.dev.json
  tools/@aws-cdk/node-bundle/tsconfig.json
  tools/@aws-cdk/pkglint/lib/rules.ts
  tools/@aws-cdk/pkglint/package.json
  yarn.lock
Labels: package/tools, contribution/core, pr-linter/exempt-readme

#18547 feat(eks): Allow helm pull from OCI repositories
  packages/@aws-cdk/aws-eks/README.md
  packages/@aws-cdk/aws-eks/lib/kubectl-handler/helm/__init__.py
  packages/@aws-cdk/aws-eks/lib/kubectl-provider.ts
  packages/@aws-cdk/aws-eks/test/cluster.test.ts
Labels: @aws-cdk/aws-eks

#19086 chore(mergify): add TheRealAmazonKendra as core contributor in mergify
  .mergify.yml
Labels: @aws-cdk/core, contribution/core

#19081 fix(cli): hotswapping is slow for many resources deployed at once
  packages/aws-cdk/lib/api/evaluate-cloudformation-template.ts
  packages/aws-cdk/test/api/lazy-list-stack-resources.test.ts
Labels: package/tools, contribution/core

#19139 chore(node-bundle): mark private
  tools/@aws-cdk/node-bundle/.projenrc.js
  tools/@aws-cdk/node-bundle/package.json
Labels: contribution/core

#19023 fix(aws-apigateway): api gateway usage plan
  packages/@aws-cdk/aws-apigateway/lib/usage-plan.ts
  packages/@aws-cdk/aws-apigateway/lib/util.ts
  packages/@aws-cdk/aws-apigateway/test/usage-plan.test.ts
Labels: @aws-cdk/aws-apigateway

#19102 fix(dynamodb): `Table.grantWriteData()` doesn't include enough KMS permissions
  packages/@aws-cdk/aws-dynamodb/lib/table.ts
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
Labels: @aws-cdk/aws-dynamodb

#19104 fix(apigateway): fix strange vtl template for cors preflight request
  packages/@aws-cdk/aws-apigateway/lib/resource.ts
  packages/@aws-cdk/aws-apigateway/test/cors.test.ts
  packages/@aws-cdk/aws-apigateway/test/integ.cors.expected.json
Labels: @aws-cdk/aws-apigateway

#19129 fix(dynamodb): `grant*Data()` methods are missing the `dynamodb:DescribeTable` permission
  packages/@aws-cdk-containers/ecs-service-extensions/test/integ.assign-public-ip.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.api-import.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.auth-apikey.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-iam.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql-schema.expected.json
  packages/@aws-cdk/aws-appsync/test/integ.graphql.expected.json
  packages/@aws-cdk/aws-dynamodb/lib/perms.ts
  packages/@aws-cdk/aws-dynamodb/lib/table.ts
  packages/@aws-cdk/aws-dynamodb/test/dynamodb.test.ts
  packages/@aws-cdk/aws-dynamodb/test/integ.dynamodb.expected.json
  packages/@aws-cdk/aws-dynamodb/test/integ.dynamodb.sse.expected.json
Labels: @aws-cdk/aws-dynamodb

#19149 chore(merge-back): 2.14.0
  CHANGELOG.v2.alpha.md
  CHANGELOG.v2.md
  version.v2.json
Labels: pr/no-squash, auto-approve

#19150 chore(merge-back): 1.146.0
  CHANGELOG.md
  version.v1.json
Labels: pr/no-squash, auto-approve

#19145 fix(rds): MySQL Cluster version 8.0 uses wrong Parameter for S3 import
  packages/@aws-cdk/aws-rds/lib/cluster-engine.ts
  packages/@aws-cdk/aws-rds/test/cluster.test.ts
Labels: @aws-cdk/aws-rds, contribution/core

#18950 feat(cli): hotswap support for resources in nested stacks
  packages/aws-cdk/README.md
  packages/aws-cdk/lib/api/cloudformation-deployments.ts
  packages/aws-cdk/lib/api/evaluate-cloudformation-template.ts
  packages/aws-cdk/lib/api/hotswap-deployments.ts
  packages/aws-cdk/lib/api/logs/find-cloudwatch-logs.ts
  packages/aws-cdk/lib/api/nested-stack-helpers.ts
  packages/aws-cdk/test/api/hotswap/hotswap-deployments.test.ts
  packages/aws-cdk/test/api/hotswap/hotswap-test-setup.ts
  packages/aws-cdk/test/api/hotswap/nested-stacks-hotswap.test.ts
  packages/aws-cdk/test/api/hotswap/state-machine-hotswap-deployments.test.ts
  packages/aws-cdk/test/nested-stack-templates/one-lambda-one-stack-stack-with-asset-parameters.nested.template.json
  packages/aws-cdk/test/nested-stack-templates/one-lambda-one-stack-stack.nested.template.json
  packages/aws-cdk/test/nested-stack-templates/one-lambda-stack-with-asset-parameters.nested.template.json
  packages/aws-cdk/test/nested-stack-templates/one-lambda-stack.nested.template.json
  packages/aws-cdk/test/nested-stack-templates/one-lambda-version-stack.nested.template.json
  packages/aws-cdk/test/nested-stack-templates/one-output-one-param-stack.nested.template.json
  packages/aws-cdk/test/nested-stack-templates/one-resource-one-stack-stack.nested.template.json
  packages/aws-cdk/test/nested-stack-templates/one-resource-stack.nested.template.json
  packages/aws-cdk/test/nested-stack-templates/one-resource-two-stacks-stack.nested.template.json
  packages/aws-cdk/test/nested-stack-templates/one-unnamed-lambda-stack.nested.template.json
  packages/aws-cdk/test/nested-stack-templates/one-unnamed-lambda-two-stacks-stack.nested.template.json
  packages/aws-cdk/test/util.ts
Labels: package/tools, contribution/core

#18630 fix(custom-resources): physical resource id must be determined before isComplete
  packages/@aws-cdk/custom-resources/lib/provider-framework/runtime/framework.ts
  packages/@aws-cdk/custom-resources/lib/provider-framework/types.d.ts
  packages/@aws-cdk/custom-resources/test/provider-framework/runtime.test.ts
Labels: @aws-cdk/custom-resources

#18725 fix: construct paths are not printed for nested stacks in CLI output
  packages/@aws-cdk/cx-api/lib/artifacts/cloudformation-artifact.ts
  packages/@aws-cdk/cx-api/test/cloud-assembly.test.ts
  packages/@aws-cdk/cx-api/test/fixtures/nested-stacks/manifest.json
  packages/@aws-cdk/cx-api/test/fixtures/nested-stacks/nestedStack.template.json
  packages/@aws-cdk/cx-api/test/fixtures/nested-stacks/nestedStackWithStackName.template.json
  packages/@aws-cdk/cx-api/test/fixtures/nested-stacks/topLevelStack.template.json
Labels: package/tools

#19168 fix(triggers): not published as part of v2
  packages/@aws-cdk/triggers/package.json
  packages/aws-cdk-lib/package.json
  packages/monocdk/package.json
Labels: contribution/core, pr-linter/exempt-test, aws-cdk-lib

#19169 chore: remove triggers from v2 changelog
  CHANGELOG.v2.md
Labels: contribution/core, aws-cdk-lib

#19180 fix(eks): Helm charts fail to install when provided as an asset
  packages/@aws-cdk/aws-eks/lib/kubectl-handler/helm/__init__.py
  packages/@aws-cdk/aws-eks/test/integ.eks-helm-asset.expected.json
  packages/@aws-cdk/aws-eks/test/integ.eks-helm-asset.ts
Labels: @aws-cdk/aws-eks, contribution/core

#19181 fix(cli): cdk version displays notices
  packages/aws-cdk/lib/cli.ts
  packages/aws-cdk/test/integ/cli/cli.integtest.ts
Labels: package/tools, contribution/core

#19113 feat(ec2): add c6a instances
  packages/@aws-cdk/aws-ec2/README.md
  packages/@aws-cdk/aws-ec2/lib/instance-types.ts
Labels: @aws-cdk/aws-ec2, pr-linter/exempt-test

#19143 fix(aws-lambda-python): skip default docker build when image passed
  packages/@aws-cdk/aws-lambda-python/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-python/test/bundling.test.ts
Labels: @aws-cdk/aws-lambda-python

#19187 fix(cli): long connection timeout slows the CLI down
  packages/aws-cdk/lib/notices.ts
  packages/aws-cdk/test/notices.test.ts
Labels: package/tools, contribution/core

#18456 fix(lambda-nodejs): `logLevel` property of `BundlingOptions` is ignored when `nodeModules` are defined
  packages/@aws-cdk/aws-lambda-nodejs/lib/bundling.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/function.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/package-manager.ts
  packages/@aws-cdk/aws-lambda-nodejs/lib/types.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/bundling.test.ts
  packages/@aws-cdk/aws-lambda-nodejs/test/package-manager.test.ts
Labels: @aws-cdk/aws-lambda-nodejs

#19186 fix(stepfunctions-tasks): RUN_JOB integration pattern not supported for CallAwsService
  packages/@aws-cdk/aws-stepfunctions-tasks/lib/aws-sdk/call-aws-service.ts
  packages/@aws-cdk/aws-stepfunctions-tasks/test/aws-sdk/call-aws-service.test.ts
Labels: @aws-cdk/aws-stepfunctions-tasks
